[2022-01-05 22:28] jcdr428 commented on #505
@xavery it might be again a problem of locale (fps=29,97 in .meta)...

[2022-01-06 05:41] 775405984 opened #537 "Dark Mode please！"
I usually do video editing work at night, the all white UI is just too bright for my eyes.

So, can you guys make a dark mode version?

Also, the UI is relatively small, not very friendly for high DPI screens even in a high Scaling.
So, I was woundering if the buttons and tabs can be bigger.

[2022-01-06 13:45] justdan96 commented on #537
Which OS are you using?

[2022-01-06 14:33] 775405984 commented on #537
Windows 10 64bit

[2022-01-06 17:03] justdan96 commented on #537
I think for Windows the DPI settings can be changed by command line arguments, can you please try opening the tsMuxerGUI with `-platform windows:dpiawareness=0`? You can then try 0, 1 and 2 for the options to see if the behaviour changes at all.

You can also try playing with the following environment variables to see if they change the behaviour at all:
[code]

You can read more here: https://doc

[2022-01-06 18:59] justdan96 commented on #537
We have yet to develop a dark mode - but you can also specify a stylesheet on the command line using the `-stylesheet` option, so we can use this to try out dark mode themed stylesheet. I've created a minimal style sheet from [here](https://github.com/Alexhuszagh/BreezeStyleSheets), you can try it out by downloading the attachment, renaming it to "dark.css" and supplying it on the command line, i.

[2022-01-08 08:15] SubJunk commented on #443
@justdan96 this is still happening in the latest releases. I'm downloading the assets from the GitHub releases page, is that the right source?

[2022-01-08 11:21] 1shepard opened #538 "srt to sup (horizontal move option)"
Hi there. i noticed an issue when creating the srt to sup it creates these green lines from one side to the other side of the screen and when i want to move the subtitles right or left it doesn't allow me. Is that fixable? Please check the screenshot. Right are subs created with goSUP_0.1 and left created with tsmuxer. Left I am trying to move some subtitles horizontal with BDSup2Sub512 but i can'

[2022-01-08 15:39] xavery commented on #505
Unfortunately, even running with `LC_ALL=ru_RU.UTF-8 LANG=ru_RU.UTF-8` doesn't change the behaviour at all, i.e. there's no crash.

The only thing that we can - perhaps - take from all this is to treat unparsable float/double values as an error and quit right away. This would eliminate the confusing "H.264 manual defined fps doesn't equal to stream fps. Change H.264 fps from 29.97 to 29" if you've

[2022-01-08 16:02] Randrianasulu commented on #505
backtrace probably specific to libc++ (clang/llvm)

[code]

[2022-01-09 03:18] SubJunk opened #539 "Library not found on macOS"
This problem has resurfaced which makes the macOS release not work unless the machine also has freetype installed. It got fixed last year but maybe that fix didn't make it into the releases or something, the previous issue is at https://github.com/justdan96/tsMuxer/issues/443

[2022-01-09 09:40] jcdr428 commented on #505
@Randrianasulu there seems to be a problems with the nightly uploads, please tests latest build for your platform from https://github.com/justdan96/tsMuxer/actions

[2022-01-09 13:02] Randrianasulu commented on #505
new gdb log
https://cloud.mail.ru/public/V3qA/82dq56Cvb

[2022-01-09 13:33] xavery commented on #505
So it's not an ordinary ARM build, but a build running for Android specifically on top of that. Thanks.

[2022-01-09 13:33] jcdr428 commented on #505
Bizarre... metaDemuxer.cpp line 481, tsMuxer shouldn't even go there unless there is a mov/mp4/m4v/m4a in the meta file ?

[2022-01-09 13:36] xavery commented on #539
The documentation now explicitly requests macOS users to install Freetype via Homebrew.

There is a [pull request](https://github.com/justdan96/tsMuxer/pull/496) which will make the binary 100% static without any external dependencies but it's still pending review and approval.

[2022-01-09 16:24] xavery commented on #505
Running a build compiled with clang and using libc++ similarly yields no crash under x86-64. Running such a build with valgrind reports no issues.
I presume the issue as described here might be caused by our own code, or it might be related to that specific ARM build or that specific clang/libc++ combination which said build uses when running. Perhaps tsmuxer was built with headers for a different

[2022-01-09 21:06] SubJunk commented on #539
@xavery thanks for your response. Is there anything I can do to help that PR move forward? I'm a developer of a media server that bundles tsMuxeR so it's not that practical to get our users to run a Homebrew command

[2022-01-09 22:41] xavery commented on #539
@justdan96 Do you mind having a look?

[2022-01-10 13:50] GrzeWier opened #540 "Some files with Dolby TrueHD audio report track unknown error."
Hi
When opening in the GUI some files with Dolby TrueHD audio report "track unknown" error.
Any such file is fine (it plays in all common media players) and can be processed in other AV tools (like eac3to, MKVToolnix, ffmpeg) without issues.
One thing in common for all such cases seems to be: there is no core AC3 track inside the TrueHD track.

Sample of such file:
https://www.demolandia.net/downl

[2022-01-11 09:12] medikoo opened #541 "Missing "UHD .. " options in GUI"
I've just downloaded latest nightly release and I don't see "UHD Blu-ray ISO" and "UHD Blu-ray folder" options in GUI.

What do I miss?

<img width="1132" alt="Screenshot 2022-01-11 at 10 11 30" src="https://user-images.githubusercontent.com/122434/148913872-b7af9caa-c2ca-4892-8853-06fd6329a15a.png">

[2022-01-11 14:54] medikoo commented on #541
@xavery great thanks for clarifications! That's good news.

In light of that it'll be probably good to update the screenshot in the main readme, and add some notes about such detection (?)

[2022-01-12 11:39] #462 closed

[2022-01-12 11:45] xavery commented on #539
@SubJunk Dan seems to be missing in action, so I went ahead and merged that PR seeing how it's blocking an actual issue.

The changes will be incorporated into today's nightly build, or you can try out the [per-commit build](https://github.com/justdan96/tsMuxer/suites/4909690497/artifacts/141305394) if you don't want to wait. Please test and report back.

[2022-01-12 13:04] justdan96 commented on #539
Sorry the only M1 Mac I have access to is my partner's and she has been using it a lot recently! I'll check if the finished build still works okay on her M1 Mac.

[2022-01-12 13:36] justdan96 commented on #541
That's a good suggestion, should be easy enough to make those changes. You even supplied an updated screenshot for us to use! :)

[2022-01-12 13:39] justdan96 commented on #537
Apparently the stylesheet is quite complicated on Windows, it might require a good deal of development to create. For now I might suggest we create a simple one, add it to the repo and update the docs on how to use it.

[2022-01-12 17:34] #515 closed

[2022-01-12 18:02] xavery commented on #541
I updated the README to point to the new screenshot. Also added a note about GUI usage and `--blu-ray-v3`.

[2022-01-12 18:02] #541 closed

[2022-01-12 18:11] jcdr428 commented on #541
Hi @xavery, actually the V3 is automatically set when detecting HEVC. It might or might not be UHD...
The manual option is left if somebody wants to mux AVC or MEPG-2 to V3. E.g. many blurays include main movie in hevc and bonuses in avc, however all files must be V3 format.

[2022-01-12 18:13] xavery commented on #541
Corrected, thanks.

[2022-01-12 21:48] xavery commented on #293
I think the past almost 2 years have shown that not a lot has changed and Qt lives on. Some distros have adopted building Qt 5.15 with patches from the KDE tree instead of waiting for official updates. Meanwhile, projects have moved to Qt 6 without much fanfare. tsMuxer itself has been buildable with Qt 6 since c2de3db345aff0e75ba3ec6484fd2d0c8e5078a7, but we're currently sticking with Qt 5.6 due

[2022-01-12 21:48] #293 closed

[2022-01-12 21:59] justdan96 commented on #293
Agree with all those points, thanks @xavery

[2022-01-12 22:05] SubJunk commented on #539
Thanks guys, I really appreciate this :)

[2022-01-13 11:56] justdan96 commented on #539
I'm seeing this output from latest Mac binary on M1 Mac:

![tsmuxer_mac_screenshot](https://user-images.githubusercontent.com/503722/149325904-7c3770d0-2e96-4c6e-bb8d-9be396dec5d0.jpg)

[2022-01-13 18:21] justdan96 commented on #539
I think we are okay to close.

[2022-01-13 18:21] #539 closed

[2022-01-13 19:33] SubJunk commented on #539
Thanks again!

[2022-01-13 20:21] momuskk opened #542 "Wrong Dolby Vision profile aftter muxing"
Hi,
I found a bug in "Nightly build from 2022-01-10-02-10-24" (ab2e101) [windows version]. After muxing streams from direct mkv file or from separates files demuxed by ffmpeg (to hevc and ac3 file) there is problem with Dolby Vision profile. I've tested it with TS Muxer and M2TS muxer, both files after muxing with this version, reports wrong Dolby Vision profile.
Last version that I'm sure that wo

[2022-01-14 10:44] justdan96 commented on #489
Are you able to test against the latest code base? We have merged some Mac-related changes.

[2022-01-14 14:42] axledentaldj commented on #489
I have to edit the build_macos_native.sh script to build each the GUi or the executable separately in order to compile. Other wise I get this with only the GUI that compiles and that GUI launches but has no tsmuxer executable inside it:
darrensolomon@DARRENs-Mac-mini tsmuxer_build % /Users/darrensolomon/tsmuxer_build/build_macos_native.sh
+ set -e
+ export MACOSX_DEPLOYMENT_TARGET=10.15
+ MACOSX_D

[2022-01-14 17:21] jcdr428 commented on #542
Fixed by commit 6575bbb.

[2022-01-14 17:21] #542 closed

[2022-01-14 21:03] axledentaldj commented on #489
And as usual, I edited the build_macos_native.sh file again since it looks like its a path error for libpng.a so I changed it to this:
cmake -DCMAKE_BUILD_TYPE=Release -DTSMUXER_STATIC_BUILD=TRUE \
  '-DFREETYPE_LDFLAGS=bz2;/opt/homebrew/lib/libpng.a' -DTSMUXER_GUI=TRUE \
  -DWITHOUT_PKGCONFIG=TRUE ..

__________
Because my homebrew path for all the compiling that works and with QT is at:

PATH=/o

[2022-01-14 23:21] justdan96 commented on #489
I'm finding the same issues as you, I think the main problem is actually with `macdeployqt`. I'll try a patched version first and after that maybe try the packaging method we use for osxcross instead to see if that works.

[2022-01-14 23:45] axledentaldj commented on #489
OK.. I've tried rebuild_osxcross_with_gui.sh and its even worse on nits script needing the right paths for my MacOS M1.
Way too much going on to even begin on what to fix in that script.

darrensolomon@DARRENs-Mac-mini tsmuxer_build % /Users/darrensolomon/tsmuxer_build/rebuild_osxcross_with_gui.sh
ls: /usr/lib/osxcross/bin/x86_64-apple-darwin*-wrapper: No such file or directory
/Users/darrensolomo

[2022-01-15 00:04] justdan96 commented on #489
I'll see if I can find some time this week to develop something.

@xavery we might be able to learn some things from how Strawberry does it: https://github.com/strawberrymusicplayer/strawberry/wiki/Compile-and-install-on-macOS-using-homebrew

[2022-01-15 00:25] xavery commented on #489
I wish I could have something more of value to add, but without an actual testing environment (i.e. an actual M1 Mac or a virtual machine emulating it) I'm simply left with guessing, which I don't want to do.

[2022-01-17 15:39] justdan96 commented on #489
I managed to make a little more progress, some observations:

* Homebrew installs to a different path depending on if the host system is x86_64 or arm64. To allow the same script to be used for both we can just adjust this line https://github.com/justdan96/tsMuxer/blob/938eefbc6c7776c5af932cdd0c3fe857e191db95/build_macos_native.sh#L14 to reference the library path as `"$(brew --prefix)/lib/libpng.

[2022-01-17 19:27] mbentley opened #543 "Build failing on Alpine Linux"
This is probably some sort of dependency issue or something I'm not changing since some updates but I've been building tsMuxer using Alpine Linux for an image that runs Universal Media Server on Alpine.  The last tag where the build function is `nightly-2022-01-11-02-11-13`.  Using `master`, `nightly-2022-01-13-02-13-31`, and `nightly-2022-01-15-02-09-45` all fail:

[code]

`e654d6331fbaebde3d1da4

[2022-01-17 22:06] axledentaldj commented on #489
I need exact syntax guys. I will be a guessing game for me to try this new patch script. Not to mention when I uninstall QT6 I broke its QT Creator, I think QT sux, and re-install and uninstall and X11 stuff still gives me a brew install error for it.
Anyway, I get a function tsmuxerGUI, but not with its tsmuxer executable.

`darrensolomon@DARRENs-Mac-mini tsmuxer_build % /Users/darrensolomon/tsmu

[2022-01-17 22:42] justdan96 commented on #489
Sorry that wasn't an instruction, I was just putting notes into the ticket. I think now I have some working steps so I can create a PR to update the documentation and put a slight change to the build script.

[2022-01-17 22:45] justdan96 commented on #543
Maybe try using clang over gcc? Clang is better at handling all-static builds so I'd probably recommend that for Alpine.

[2022-01-17 22:51] axledentaldj commented on #489
OK, I was stopping troubleshooting today anyway. I did get aqtinstall installed via python3 pip in my terminal. I had to google how to install in via pip.

Successfully installed aqtinstall-2.0.5 beautifulsoup4-4.10.0 brotli-1.0.9 bs4-0.0.1 certifi-2021.10.8 charset-normalizer-2.0.10 idna-3.3 multivolumefile-0.2.3 patch-1.16 py7zr-0.17.2 pybcj-0.5.0 pycryptodomex-3.12.0 pyppmd-0.17.3 pyzstd-0.15.1

[2022-01-18 00:23] mbentley commented on #543
Thanks for the tip.  Looks like I'm not making much progress although I'm typically not compiling programs so I may be doing something wrong.   I'm installing `clang` and then exporting `CC=/usr/bin/clang` and `CXX=/usr/bin/clang++` to point to their paths and it looks like it is picked up but not difference on the output related to the errors:

[code]

 I was able to find something that helps wit

[2022-01-18 03:43] qyot27 commented on #543
Generally, the way to define compilers with CMake is `-DCMAKE_C_COMPILER=clang` and `-DCMAKE_CXX_COMPILER=clang++` (assuming, of course, that clang was installed to the $PATH as standard).  CC= and CXX= environment variables do work, but there might be cases where they might not get picked up and used by the build (or environment variables end up omitted from build logs when showing the actual con

[2022-01-18 12:19] mbentley commented on #543
Thanks for the tip on properly using CMake to specify the compiler.  It looks like it is showing the dependencies so I may have to do what you suggested:
[code]

I should probably check out the Ubuntu build to compare to what I am seeing with Alpine.

Thanks for the quick assistance, especially for an issue that is likely just user error 😄

[2022-01-18 14:00] mbentley commented on #543
Well, I can at least build it just fine as is when disabling a static build (via `-DTSMUXER_STATIC_BUILD=OFF`) which is fine since I am running the resulting binary it on alpine as well.  Sorry for the noise and thanks again for the assistance!

[2022-01-18 14:00] #543 closed

[2022-01-18 22:28] justdan96 commented on #489
Should be resolve by #544

[2022-01-18 22:32] justdan96 commented on #405
Should be solved after #544 is merged

[2022-01-18 23:01] axledentaldj commented on #489
Tested the new branch for macos-native-enhancements that has the new COMPILING.md and build_macos_native.sh files , and get the regression back to that same deflated QTwidget Junk for the tsmuxer GUI that fails to launch. So close, at least on the current master, it builds the tsmuxer GUI and gives 2 errors but no tsmuxer executable. Which I can compile separately.

______
Here's the terminal stuf

[2022-01-18 23:43] justdan96 commented on #489
I think you need to uninstall Qt from Homebrew, reboot, install Qt from aqtinstall, reboot again and then try the build again.

[2022-01-19 00:14] axledentaldj commented on #489
uninstall aqtinstall, uninstall any qt/qt5/qt6 via new uninstall. Ran brew list. No QT. ran brew doctor, updated X11 command-line-tools to 13.2. Rebooted twice Mac Mini M1, ran brew doctor, it stated ready to brew.

Re-ran twice, branch for macos-native-enhancements:

________

Last login: Tue Jan 18 19:07:38 on ttys000
darrensolomon@DARRENs-Mac-mini tsmuxer_build % cd tsmuxer_build
cd: no such fi

[2022-01-19 22:23] axledentaldj commented on #489
Another day, tinkered with trying to get pip working and I did, Brew pip, and its dependency and permissions I now got pip cli to work. so I un-installed qt, qt5,qt6, rebooted. pip install aqtinstall twice, rebooted, checked brew doctor, brew list, brew upgrade and its read. And it kills my prior tsmuxerGUI builds so, when I run this build_macos_native.sh from tsMuxer-macos-native-enhancements tha

[2022-01-20 13:27] ted423 opened #545 "can't Use Nightly build from 2022-01-15-02-09-45 on Ubuntu 20.04 LTS"
Nightly build from 2022-01-13-02-13-31 worked
tsmuxer can't run
and I use  2022-01-15-02-09-45's tsMuxerGUI-938eefb-x86_64.AppImage with  2022-01-13-02-13-31's tsmuxer still show can't find tsmuxer.

[2022-01-20 18:54] justdan96 commented on #545
Can you please paste the full error logs?

[2022-01-20 18:59] justdan96 commented on #489
It looks like Homebrew Qt is still in your PATH, I remember having a similar issue where you have to run `brew uninstall` multiple times. I can't see the official Qt install, did you follow the steps in COMPILING.md under "install Qt to /opt/qt".

[2022-01-20 20:51] jcdr428 commented on #540
@GrzeWier please try [this fix](https://github.com/jcdr428/tsMuxer/suites/5006139587/artifacts/146949189) and confirm it works as expected.

[2022-01-20 22:05] axledentaldj commented on #489
Well that's new to me, I'm working on understanding what I need to do in the info in COMPILING.MD file for Mac OS Native.
I already brew uninstalled qt and qt5 and pip uninstalled aqtinstall, and checked for their folders and they are gone and rebooted twice and then re-install pip install aqtinstall but then read the COMPILING.MD, OMG.. I don't know if I understand it all.. working on it now. Tha

[2022-01-20 22:29] axledentaldj commented on #489
WTF, I think I got somewhere!!
After reading the script code in COMPILING.md for MacOS Native qt install procedure for aqtinstall to be install in a new opt/qt dir after it was downloaded.. all procedure looked correct as I did it twice to understand it. Brewlist doesn't show art, but tinker tool lets me show hidden files in MacOS Finder so, its in there and I can act CLI in terminal and that work

[2022-01-20 22:58] caelar commented on #489
Looks promising, when I get some free time later tn I'll give this a try and see what its looking like on my MBP.

[2022-01-20 23:40] axledentaldj commented on #489
I also noticed that the tsmuxerGUI top part is lined up better in the tabs. This wasnt present in my Jan. 14th 2022 build, which no longer launches. Good luck, let me know how yours turns out.

Here's my Jan. 20th 2022 Build: https://mega.nz/file/QMgQxDSS#y9WB-8KqZr5mMTMLb1e5iFg1EYwptgx7swslC11dFKo

[2022-01-21 02:43] ted423 commented on #545
the tsMuseR show no such file or folder when I run.but the old one show the command line help
the gui worked , but when select mpls it show can't find tsMuseR

[2022-01-21 18:36] jcdr428 commented on #256
Fixed by be59064

[2022-01-21 18:36] #256 closed

[2022-01-21 18:36] jcdr428 commented on #270
Fixed by be59064

[2022-01-21 18:36] #270 closed

[2022-01-21 19:06] jcdr428 commented on #447
Fixed by be59064

[2022-01-21 19:06] #447 closed

[2022-01-21 19:10] jcdr428 commented on #540
Fixed by be590646

[2022-01-21 19:10] #540 closed

[2022-01-21 19:25] jcdr428 commented on #455
Fixed by be590646

[2022-01-21 19:26] #455 closed

[2022-01-24 10:37] GrzeWier commented on #540
Yes it is fixed, thanks

Sent from mobile

On Thu, 20 Jan 2022, 21:51 jcdr428, ***@***.***> wrote:

[2022-01-25 05:23] lonecrane opened #549 "inconsistent language information detected"
Hi, I have obtained a bd source, whose information detected by tsMuxeR is different from those reported by other tools.
Track ID: 0x1102

Potplayer reports that the language of this track is 'Chinese', as expected.
![Untitled1](https://user-images.githubusercontent.com/36885830/150915545-74dd9ba7-60d9-4eb4-9801-ab3e4ed66f1e.png)

BDinfo also reports 'Chinese', as expected.
![Untitled2](https://use

[2022-01-25 19:49] jcdr428 commented on #549
@lonecrane there are language descriptors in the m2ts (just open the m2ts file with an Hex editor, you will see the "eng" at the beginning). For blu-rays, there should be no language descriptor in the m2ts so the blu-ray files are not compliant.

This said, I would have thought that if there was language in both the m2ts and the mpls, tsMuxer would default to the mpls: this is obviously not the ca

[2022-01-25 20:04] #549 closed

[2022-01-26 12:03] andrej-peterka commented on #545
@justdan96 I believe this is a problem for linux builds. I'm having the same issue. See logs below.

I suspect this is because the binary is now dynamically linked. I think previously it was static?

[code]

[2022-01-26 12:11] andrej-peterka commented on #545
Fyi, as a workaround I had to do:

[code]

Then I can run it. I found a hint to this here: https://stackoverflow.com/a/13990567

[2022-01-26 23:15] caelar commented on #489
So didn't get a chance to test until today but using the most recent nightly it did build successfully. GUI runs fine and is able to mux file without issue. I did get what looks like the same errors as axledentaldj  but not sure if and how those errors may be affecting the application but at first glance nothing seems critical. None the less looks like things are moving in the right direction. I'l

[2022-01-27 18:32] justdan96 commented on #545
I'm assuming the builds from OBS are working okay? I'll have to check our latest Linux build logs to see if something isn't working quite right.

[2022-01-27 18:44] andrej-peterka commented on #545
What is OBS? Where can i test them?

[2022-01-27 20:25] andrej-peterka commented on #545
If i build via docker, e654d6331fbaebde3d1da42fefb15eba02020328 is the latest that works for me.

[2022-01-28 19:56] imhh1 opened #550 "Add language tag in filename when demuxing"
Not an issue but please it would be very practical to add a language tag in the filename when we demux instead of just ''track 1,2,3 ...''

Batman.1989.track_6.ac3
Batman.1989.track_7.sup

Batman.1989.track_6_ENG.ac3
Batman.1989.track_7_SPA.sup

thank you

[2022-01-28 23:53] caelar commented on #489
So can confirm that the errors are something important as all the files I used to test last night fail at some point on my Sony x700.

[2022-01-29 00:01] axledentaldj commented on #489
Maybe not. I am aware that this build and prior builds do NOT make a playable BD/UHD BD ISO on my Oppo-203. I tell it to output to BDMV then I use DVDFab 11.x to do a Full Disc copy to ISO and then my Oppo-203 will play the ISO. I do this often from a 4K UHD BD mkv. My Oppo-203 has a custom JB firmware on it.

[2022-01-29 08:18] ted423 commented on #545
here the Nightly build from 2022-01-26-02-08-33 can't work too
libpng16-16 installed before

[2022-01-29 08:19] ted423 commented on #545
worked after use
`ln -s /lib64/ld-linux-x86-64.so.2 /lib/ld64.so.1`

[2022-01-29 20:28] #550 closed

[2022-02-03 22:27] caelar commented on #489
Not sure if our issues are related as I'm muxing to m2ts but certainly could be. It appears that the issue does lie somewhere in the current build though as running the intel version does still create an erroneous file that fails at the same point as it did with the native build. Definently not the player as all my old files ripped on my intel machine play back just fine. Im going to try some olde

[2022-02-04 00:04] axledentaldj commented on #489
I did some more tests. I ran my VM of Windows 10 (Arm via Parallels) for the tsmuxer_nightly-2022-01-30-02-00-52 64 build and used a movie that I demuxed the  BL and EL and stuff and remuxed back into a UHD BD ISO with that above nightly build of tsmuxer. Now, I haven't watched the whole movie or skipped through every chapter, but the movie DID play on my Oppo-203.

Im now building from todays mas

[2022-02-04 00:47] caelar commented on #489
Alrighty so did some more testing. Issue does appear to be with the most recent couple nightlys from the 26th and 30th and is not an ARM specific issue. Playback stalls at the same point when M2TS file is created on either an intel or ARM machine on both these builds.

Anything before the update on the 13th creates an error on ARM machines as theres some kind of problem with finding the dependency

[2022-02-10 03:58] leonard4546 opened #552 "tsMuxeR Not Found - Nightly build from 2022-01-30-02-00-52"
![image](https://user-images.githubusercontent.com/61791543/153334396-150b43ba-a960-468d-8018-12d9ca120a92.png)

i'm facing this error in latest portable version.

tsMuxeR and app image are in same folder.

![image](https://user-images.githubusercontent.com/61791543/153334465-122bdbcd-4b9c-4275-b4da-ce9abc74741b.png)

[2022-02-10 04:23] #552 closed

[2022-02-15 00:18] cob66 opened #554 "Video artifacts in last 3 relases (24-30 Jan)"
Video artifacts in UHD DV mux. The January 23 release is the last good one (without these artifacts). I also noticed periods of silence in the audio (DTS-HD) on the example of the movie The Piano (UHD DV)

[2022-02-17 00:47] Alextrain26 commented on #537
Hi everyone,
FIY, MKVToolNix GUI V43.0.0 follows automatically if dark theme of W10 selected and is perfectly readable.
Bye
Alex

[2022-02-17 13:48] j68k commented on #554
I'm also seeing errors in files produced with the latest nightly acde33a/nightly-2022-01-30-02-00-52

Testing my output streams with ffmpeg is showing corrupt packets warnings like:
```[mpegts @ 000001e2d3b38800] Packet corrupt (stream = 0, dts = 44866082)..39x```
which are then followed by various errors in the hevc/truehd decoders

If you happen to have the UHDBD disc of _Back to the Future Part

[2022-02-17 15:36] wer767 opened #555 "tsMuxer"
封装4K对比原盘码率少了不少，有损封装吗

[2022-02-17 19:03] jcdr428 commented on #554
Hi @j68k , can you please post the full ffmpeg log with errors ?

[2022-02-18 12:35] j68k commented on #554
Hi, here's the -report log:
[ffmpeg-20220218-114138.zip](https://github.com/justdan96/tsMuxer/files/8097118/ffmpeg-20220218-114138.zip)

Thanks very much. Please let me know if there's anything else useful I can provide.

[2022-02-20 19:31] jcdr428 commented on #554
@j68k @cob66 please try https://github.com/justdan96/tsMuxer/suites/5380077077/artifacts/169106760 (win64 version) -or wait for tomorrow's release-, and confirm whether it is fixed.

[2022-02-21 22:13] j68k commented on #554
Thank you very much for the fix @jcdr428. I re-did my _Back to the Future Part II_ ffmpeg test, and it passed with zero errors, and only the expected warnings at the beginning of the file that also happen on the original stream from the disc.

Just a heads up that the upload of last night's nightly builds seems to have failed (apart from the macOS build) so please re-trigger that build if possible

[2022-02-22 06:43] jcdr428 commented on #554
Hi @justdan96 @xavery, any way to manually launch the nightly release ?

[2022-02-22 18:34] justdan96 commented on #554
Once I am home I can try to re-trigger those jobs.

[2022-02-22 18:45] xavery commented on #554
Yup, that [worked](https://github.com/justdan96/tsMuxer/releases/tag/nightly-2022-02-22-18-30-10). For future reference, if a build fails, you can trigger a new one by going to Actions, selecting the latest or failed "Nightly Releases" workflow run, clicking on it and selecting "Re-run all jobs".
Before you do that, though, you need to remove the already existing (incomplete) tag and release - oth

[2022-02-22 21:05] jcdr428 commented on #554
Thanks @xavery, I did try the re-run but I didn't know I had to remove the former jobs.

[2022-02-22 21:05] #554 closed

[2022-02-22 21:09] jcdr428 commented on #555
@wer767 can you please try with latest (22-Feb) release and report.

[2022-02-22 21:20] jcdr428 commented on #452
IMO this is not feasible. Mpeg-TS uses ISO 639-2 language codes.

[2022-02-22 21:28] xavery commented on #477
Not reproducible with current HEAD - closing.

[2022-02-22 21:28] #477 closed

[2022-02-22 22:33] KSSW commented on #452
OK

---Original---
From: ***@***.***&gt;
Date: Wed, Feb 23, 2022 05:20 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [justdan96/tsMuxer] Can you add a title function to the codingand language in tsmuxrr (#452)

IMO this is not feasible. Mpeg-TS uses ISO 639-2 language codes.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go wi

[2022-02-23 19:54] jcdr428 commented on #444
Vvc has been included in tsMuxer. Closing.

[2022-02-23 19:54] #444 closed

[2022-02-23 19:57] gacopl commented on #545
i have built by latest docker and still had the issue ln -s fixed it thank you !!!!

[2022-02-24 15:59] Cedvano opened #556 "Dolby vision only for M2TS, not in Bluray folder option"
Hi,
When I remux a MKV to M2TS, I have:
_Dolby Vision, Version 1.0, dvhe.08.06, BL+RPU, HDR10 compatible / SMPTE ST 2086, HDR10 compatible_

But when I create a Bluray folder, I have only :
_SMPTE ST 2086, HDR10 compatible_

He lost the Dolby Vision with the last release **nightly-2022-02-22-18-30-10** · Commit: **f4fa419**

Thanks.

[2022-02-24 16:52] dts24436 commented on #445
Maybe there's another issue with relation to this CBR muxing issue. No matter which muxing-rate mode I used in the most recent nightly build (git-f4fa419), including VBR, VBR (max bitrate restricted) and CBR mentioned above, I always get files result in a "maximum overall bitrate" of "35.5Mbps", which I'm so confused in as I can see playback realtime statistics showing bitrates peaking above some

[2022-02-26 17:39] Cedvano commented on #556
@jcdr428 same result with other version.

[2022-02-26 18:59] jcdr428 commented on #556
@Cedvano with Blu-rays the Dolby Vision info is in the mpls/bdmv files, not in the m2ts.

[2022-02-27 08:35] Cedvano commented on #556
@jcdr428 same result in mpls and test clpi too. Not playable in Dolby Vision.

[2022-02-27 08:36] jcdr428 commented on #556
@Cadvano can you please test an original Blu-ray rip and advose of any difference.

[2022-02-27 13:52] Cedvano commented on #556
I tested with the original bluray and it works. But impossible with an MKV. However, impossible to determine if this is due to my LG UP970 player (which is not the best). So I'm going to do it differently. Thank you for your help.

[2022-02-27 18:07] DinoTymo opened #557 "Encountering error code -2 "Reading buffer overflow. Possible container streams are not syncronized." all the time, need help!"
Hi!
I'm trying to burn some MKVs on a Blu-ray. That's why I'm trying to create an ISO using tsMuxeR.
My problem is that every attempt ends with the following error:

![image](https://user-images.githubusercontent.com/64032626/155893724-40cd7239-1bad-4577-aecf-b09495a184e9.png)

I unchecked the named file and the same error occurred but with another file. I have no clue what I'm doing wrong.

Here'

[2022-02-28 05:36] jcdr428 commented on #557
Hi @DinoTymo, please provide a sample.

[2022-03-04 18:34] DinoTymo commented on #557
Here's a sample:
https://user-images.githubusercontent.com/64032626/156820205-914ed35b-71cd-412e-aad1-fc497cd8a4db.mp4

[To prevent incompatibilities (AAC codec and Win 11) I convert the videos to AC3 (MKV)](https://we.tl/t-eScvujSSth)

[2022-03-05 08:48] jcdr428 commented on #557
Ok, thanks @DinoTymo. The desynchronization comes from the fact that the 59.94 fps is not detected, I'll try to find out the reason.

[2022-03-05 09:11] #556 closed

[2022-03-05 09:12] jcdr428 commented on #555
No reply, closing. Can be reopened upon request.

[2022-03-05 09:12] #555 closed

[2022-03-05 19:20] DinoTymo commented on #557
It worked!
Thanks a lot!! ^^

[2022-03-05 19:20] #557 closed

[2022-03-05 23:56] droopified opened #558 "2in1? or ADD vs Join?"
i have a bluray that has theatrical and alternative endings. i know the two playlist but instead of having to demux them 1 at a time, should i do a ADD or JOIN? not sure if i understand what the difference.

[2022-03-06 08:25] jcdr428 commented on #558
@droopified not sure to understand: do you want to remux each movie in separate m2ts, or do you want to demux the elementary streams ?

[2022-03-07 22:53] droopified commented on #558
trying to remux a bluray disk which has two playlist (theatrical, alternative ending) into 1 mkv with two video streams.

[2022-03-08 08:35] jcdr428 commented on #558
Have you tried Xin1generator ? Just does what you want (mkv ordered chapters).

[2022-03-08 19:08] kingpost opened #561 "No length/duration info in mux"
Hi, great software, I use it often -- thanks for making it. My possible issue is this:

I did a mux with the latest W64 nightly build, 2022-02-27* to a Blu-ray folder output. Checking the resulting .m2ts file in MediaInfo, I noticed it does not report the length of any of the contained video or audio streams, as I normally expect to find.

Specifically, for video, there is no "Duration" or "FrameC

[2022-03-17 07:55] medikoo opened #562 "Demuxed channels cannot be muxed again"
I'm re-muxing now some Studio Ghilbi BD's from Japan, and they have some special characteristics which introduce errors in an app.

When I demux BD and I try to remux exactly same channels I get following error:

<img width="610" alt="Screenshot 2022-03-17 at 08 51 51" src="https://user-images.githubusercontent.com/122434/158762414-c3352f90-5df5-4f31-b877-e3d0bd2654a3.png">

But when I try to mux

[2022-03-18 09:44] jcdr428 commented on #562
@medikoo can we please have a sample (50 MB) of the m2ts.

[2022-03-18 11:33] medikoo commented on #562
You mean starting 50MB of `m2ts`?

[2022-03-18 21:27] wolflopnew opened #563 "not enough buffer for parse video stream"
Here is the message txmuxer gives me

[[](url)](https://abload.de/img/screenshot2022-03-15229ks9.jpg)

Hope you can fix this or give me a help to solve the problem...

wolflop

[2022-03-19 11:39] medikoo commented on #562
@jcdr428 you can download it from here: https://home.medyk.org/sharing/nGMA8b4HI

If you need larger file, let me know

[2022-03-20 05:52] 775405984 opened #564 "Set output folder as same as source folder"
Can you guys set output folder as same as source folder? Just like HandBrake:

![image](https://user-images.githubusercontent.com/7196377/159150068-2e3585a8-1743-4301-ae9d-a3b66ae95115.png)

[2022-03-21 16:25] imhh1 commented on #564
We can already do that unless I misunderstand you?
https://i.ibb.co/Cn2tHTV/Capture.jpg

[2022-03-22 00:48] 775405984 commented on #564
Switch to Demux, see what happens. It automatically change output folder to program folder.

https://user-images.githubusercontent.com/7196377/159385773-d5d22ebc-864b-49a7-afb2-c8baa770feda.mp4

[2022-03-22 01:49] imhh1 commented on #564
ha, yes, you have to import the file first, then select demux.

[2022-03-22 01:51] 775405984 commented on #564
thank you.

[2022-03-28 21:26] jcdr428 commented on #561
@kingpost can you please try the latest nightly 2022-03-28 and report whether the bug has been solved ?

[2022-03-28 22:04] jcdr428 commented on #562
@medikoo I can reproduce the bug, I'll have a look.
In the mean time, you don't need to use insertSEI and constSPS options with Blu-rays.

[2022-03-28 22:06] jcdr428 commented on #563
@wolflopnew we need the mkv to reproduce the bug and be able to debug. Please see whether you can post a link.

[2022-03-28 22:10] jcdr428 commented on #564
@775405984 until the input file is selected, tsMuxer has no way to know the output folder and selects the program folder by default. I close, if somebody has a suggestion for better behavior he can request re-opening of the issue.

[2022-03-28 22:10] #564 closed

[2022-03-30 13:20] justdan96 commented on #545
Sorry for the long delay on this one - I will do some testing and let you know where the issue is.

[2022-03-30 14:46] #545 closed

[2022-03-30 14:51] #405 closed

[2022-03-30 14:52] justdan96 commented on #489
With the merge of #544 we should see compiling for Mac native work straight from the master branch.

[2022-03-30 19:42] wolflopnew commented on #563
the MKV file to be processed is 73 GB in size. I cannot upload this size.

[2022-03-30 22:13] CAPRICORNX10X opened #567 "Add more languages"
for example I would like the Hebrew language

[2022-03-31 00:41] axledentaldj commented on #489
Tested master branch, still compiles with sane parsing errors but tsmuxergui works (MacOS 11.6.5 Arm). Although,
tsmuxer still muxes a BD ISO that fails to play on my Oppo-203. It says, File Not Supported. A BDMV folder doesn't play either. Hmm my previous build, BDMV folders did play. This will not replace my CloneBD s/w.

Last login: Wed Mar 30 17:33:24 on console
darrensolomon@DARRENs-Mac-mini

[2022-03-31 10:32] justdan96 commented on #567
If you would like to add Hebrew please have a look at https://github.com/justdan96/tsMuxer/tree/master/tsMuxerGUI/translations to see how others have added a new language. We rely on volunteers to provide translations.

[2022-03-31 10:40] justdan96 commented on #563
You can cut the source video into smaller parts using HxD on Windows or the `head` command on Linux or Mac.

[2022-03-31 13:02] #489 closed

[2022-04-01 10:06] justdan96 commented on #505
Coming back to this one - for a quick fix shall we just replace commas with full stops for the FPS parameter?

[2022-04-01 10:07] justdan96 commented on #499
Closing as this is a duplicate of #494

[2022-04-01 10:07] #499 closed

[2022-04-01 10:15] justdan96 commented on #471
I am going to (hopefully) be pushing a large update to the Docker container we use to generate the nightly builds. In this update we will be using Ubuntu 18.04 with cmake 3.14.5 and Apple Clang 12 so if all our builds work in that container we should be able to also use the same steps on your Ubuntu 18.04 machine.

[2022-04-01 11:26] justdan96 commented on #467
Once our Docker container is fully updated I will also update the nightly release code to create a separate artefact for just the AppImage.

[2022-04-02 07:49] GabeBlincoln commented on #271
I know this is old, but I'd suggest closing this.
Dolby's 9/16/2019 documents simply say, "Note: Profiles 0–3 and 6 are not supported for new applications."
Regardless of whether it works on old devices or even current ones, two HEVC layers (whatever their track layout) still requires the hardware to have a second HEVC decoder chip, and almost nothing currently made has this.   Nearly anything pla

[2022-04-02 09:44] jcdr428 commented on #271
@GabeBlincoln ok, I close.

[2022-04-02 09:44] #271 closed

[2022-04-03 00:43] ValZapod commented on #556
Yes, because there is no official support for mkv. Only mp4, it works, including FEL on C9. mkv Dolby spec was created by mkver.

[2022-04-03 01:34] ValZapod commented on #505
You do understand the actual fps is 30/1.001? That (30000/1001) is what we use in ffmoeg and it is different.

[2022-04-03 11:42] ValZapod commented on #448
Yep, w64 is a good idea.

[2022-04-04 12:24] medikoo commented on #562
Thanks @jcdr428!

Thanks, I'll turn it off. Still, this option is on by default (I've never set it, and I even don't understand what it does). Maybe in such a case, it'll be good to have it off by default?

[2022-04-04 20:54] jcdr428 commented on #562
@medikoo indeed: with commit [5421531](https://github.com/justdan96/tsMuxer/commit/54215310a09e15f1448670b54d5aa39bee6a2c08) option is now off by default.

[2022-04-05 19:46] jcdr428 commented on #561
@kingpost please confirm whether the bug has been fixed.

[2022-04-05 19:46] #558 closed

[2022-04-05 21:16] wolflopnew commented on #563
I have  smal sample.iso of the file 7GB Size. Where can send the link?

[2022-04-06 11:36] FilipeAmadeuO opened #572 "Bitstream exception std::exception Error"
When opening the 00504.m2ts from the UHD movie Knives Out i get the following error

![image](https://user-images.githubusercontent.com/28999876/161965945-626e5a50-e176-4431-be82-0a044af8486d.png)

When demuxing at 87,5% i get the error:

Bitstream exception std::exception. It does not have to be! Please contact application support team for more information.

What can be the problem ?
Thanks

[2022-04-06 15:11] justdan96 commented on #572
Would it be possible to extract the original video from 85% to 90% duration? Just so we can try to test that section in isolation.

[2022-04-06 15:14] justdan96 commented on #563
7GB is still pretty large - is there any way to cut it down further or compress it? If it isn't possible you would have to try uploading the sample to a site that allows files that large - you can check the list from here: https://multiup.org/en/upload/from-computer

[2022-04-06 15:55] FilipeAmadeuO commented on #572
Please download here the complete file. Maybe it´s better to check
https://www.dropbox.com/s/33x2ad5sevz3v3k/00504.m2ts?dl=0

[2022-04-06 17:24] justdan96 commented on #572
Can you also please paste everything from the "meta file" pane?

[2022-04-06 18:05] FilipeAmadeuO commented on #572
CLPINF and MPLS files ? Included here:
https://www.dropbox.com/s/1wx3qql5pygwwf5/00504.zip?dl=0

[2022-04-06 20:09] jcdr428 commented on #572
Hi @FilipeAmadeuO , when demuxing the second hevc stream with ffmepg `ffmpeg.exe -i 00504.m2ts -map 0:1 -c:v copy output.hevc`, ffmepg reports:
[code]
so basically the dv hevc stream is corrupt, which creates the bitstream exception due to bad parsing of the hevc stream.

[2022-04-06 21:45] cob66 opened #573 "Issue with remux 3d - only 2d comes out"
Issue with remux 3d - only 2d comes out (regardless of SEI or SPS settings). This bug has been fixed before (a few months ago) and has reappeared in the last (at least) 2 Releases. Win 64bit

[2022-04-07 07:25] jcdr428 commented on #563
@wolflopnew if you use Windows just use your OneDrive.

[2022-04-07 07:43] 8Dataman8 opened #574 "Menu support?"
Hello. I was wondering if menu support exists already or if it could be added. Thank you, otherwise, the project looks great.

[2022-04-08 06:45] ipid opened #575 "tsMuxer reports strange error on my `.ts` file, but FFmpeg and PotPlayer can normally handle it"
I recently had to deal with a '.ts' video clip that was recorded from a Japanese TV channel. I tried to use tsMuxer for demuxing but found that the `.ts` file is unable to open in the tsMuxer GUI. It reports such an error:

![tsmuxer-nightly-error](https://user-images.githubusercontent.com/5251264/162379004-5f7e4d36-af56-4d3d-a045-fe6695372f2a.png)

However, I found that I can playback the file in

[2022-04-08 16:01] CAPRICORNX10X commented on #567
I just want to change the caption of the subtitles.
Instead of English - the word in the Hebrew language
Instead of Hebrew - the word in the Hebrew language
![‏‏צילום מסך777 (15)](https://user-images.githubusercontent.com/102700898/162479508-6f5f5d97-c24c-45fd-9e4f-556da21393cc.png)

[2022-04-09 12:27] MINIXJR commented on #575
I also can confirm this, but it's not a problem of the latest version, I have seen this before with Debian packages from deb-multimedia.org.
The version "2.6.16~20210801.git2aa293b" is still working for me.
The files I'm using are records done with [VDR](http://www.tvdr.de/)
Error git76ce1e6:
[code]
Working git2aa293b:
[code]
If you need additional samples, please let me know.
Just a guess, the er

[2022-04-11 13:50] CAPRICORNX10X opened #576 "add a minor translation"
I just want to change the caption of the subtitles.
Instead of English - the word in the Hebrew language
Instead of Hebrew - the word in the Hebrew language
![162479508-6f5f5d97-c24c-45fd-9e4f-556da21393cc](https://user-images.githubusercontent.com/102700898/162754083-3b914ce3-7dc2-47d8-8bb3-cfe3fc02a5d6.png)

[2022-04-13 20:19] jcdr428 commented on #575
@ipid thanks for highlighting the bug. Can you please try tomorrow's release and report.

[2022-04-14 20:22] Randrianasulu opened #577 "can <filesystem> usage be optional?"
Tried to compile tsmuxer git on my portable Slackware system (custom), neraly everything was working with clang 10 installed separately, but at very end usage of this (c++17?) feature errored out.

I killed usage with hack like this:

[code]

mostly because i am not really familiar with c++

but this is only one file, so failing whole build over two lines is nit very nice..

also, linking need "-l

[2022-04-15 16:45] ipid commented on #575
It works like a magic! Thank you!

[2022-04-15 16:45] #575 closed

[2022-04-15 19:03] cob66 commented on #573
issue fixed in Nightly build from 2022-04-14-02-47-42
thx :)

[2022-04-17 06:34] wolflopnew commented on #563
Hello here is the google drive link
https://drive.google.com/file/d/1adrTWeVeJx3rXXnrwYtdOL_bCAw8Vp0b/view?usp=sharing

wolflop
Meet Google Drive – One place for all your files<https://drive.google.com/file/d/1adrTWeVeJx3rXXnrwYtdOL_bCAw8Vp0b/view?usp=sharing>
Google Drive is a free way to keep your files backed up and easy to reach from any phone, tablet, or computer. Start with 15GB of Google st

[2022-04-17 08:06] jcdr428 commented on #577
Hi @Randrianasulu , maybe you can use boost filesystem::experimental instead of std::filesystem on C++11.

[2022-04-17 08:08] #573 closed

[2022-04-17 08:40] jcdr428 commented on #563
@wolflopnew you should have received an email from OneDrive to give me access.

[2022-04-17 10:28] Randrianasulu commented on #577
well, I personally can use any kind of hack - I just thought knowing
upstream views on this might be helpful...

anaway, thanks for your work - I think even as is tsmuxer is great (ffmpeg
still not quite here when it comes to BD muxing). I  tried to integrate
tsmuxer into cinelerra-gg, but so far we build for Linux and BSDvs
(experimentally, with out-of-tree patches ir manual patching.). 2 years a

[2022-04-17 16:21] qyot27 commented on #577
The solution we used when getting AviSynth+ building on systems that lacked an easy way to use a C++17 compiler¹ or that ship with a default setup that lacks C++17 filesystem support in libc++², was to use https://github.com/gulrak/filesystem as a submodule, and just conditionally enable `std::filesystem` through that on setups that couldn't do it the proper way.  At least it's not overkill like h

[2022-04-17 16:30] Randrianasulu commented on #577
@qyot27, thanks a lot, will try to add this to default clean tsmuxer sources and see how it goes!

[2022-04-21 23:03] lucasmz1 opened #578 "error during build process"
I'm having an error during the process of building from the source code when it's 95 per cent give me an error that is missing a header
include filesystem.
how do I install this file system or even point it to textSubtitlesRenderFT.cpp in osdep folder ?

[2022-04-22 05:23] Randrianasulu commented on #577
@qyot27, @jcdr428

i tried to add github.com/gulrak/filesystem to my build like this

[code]

and it produced x86  executable (not yet tested with real muxing)

[2022-04-22 05:23] Randrianasulu commented on #578
@lucasmz1  see my last note at https://github.com/justdan96/tsMuxer/issues/577

[2022-04-22 12:53] justdan96 commented on #577
I think I've seen other projects try to detect which filesystem header and namespace to use, I'll have a look if CMake can do that for us.

[2022-04-22 19:40] wolflopnew commented on #563
Did you found something.  Have the same problem with another movie. No muxxable parse error.  If found  a solution may be is it the Audio file (aac) i removed when i still had it in the mux there is no parse error but an othe info "m2ts may be not playable"
Hope this help for finding the error.

[2022-04-22 19:42] jcdr428 commented on #563
@wolflopnew please resend a link, the previous link is not working anymore.

[2022-04-23 12:32] #578 closed

[2022-04-23 20:33] jcdr428 commented on #561
No answer, assumed fixed. Can be reopened upon request.

[2022-04-23 20:33] #561 closed

[2022-04-24 00:28] axledentaldj opened #579 "MacOS M1/Arm 4K UHD BD ISO not playable on Oppo-203"
I have a Mac mini M1 (2020) (Arm) on 11.6.5. With my build of tsmuxer 2.6.x (M1 Arm build) and the current 4-22-03 Nightly build for MacOS, doesn't make a 4K UHD BD ISO playable on my Oppo-203 (that has the Free Russian Jailbreak firmware on it). It states "File is Not Supported". Now, if a run tsmuxer to make a BDMV folder it usually says something along the lines of a dirty Disc error and will n

[2022-04-24 09:01] Randrianasulu opened #580 "can't detect lpcm in ts?"
https://cloud.mail.ru/public/jjGj/orJY9VFwM

~18 mb sample I made with (hacked) ffmpeg 4.4 with backported bluray-pcm encoder from ffmpeg git.

May be I did it wrong, but at least mplayer plays it...

[code]

[2022-04-24 09:34] jcdr428 commented on #579
@axledentaldj have you tried with the options -insertSEI -contSPS (which are now off by default) ?

[2022-04-24 11:27] jcdr428 commented on #580
@Randrianasulu the lpcm frame size in the first m2ts lpcm header is incorrect: it is 2008 bytes, whereas it shoud be 960. Only the following values are permitted:

![image](https://user-images.githubusercontent.com/56721609/164974137-bc2a0ba9-dfe9-4340-a96c-6bfd9815feed.png)

[2022-04-24 11:28] axledentaldj commented on #579
Im not sure where that is unless its in the greyed-out box for "Do not change SEI and VUI data" box from the HEVC selected video.

[2022-04-24 15:11] Randrianasulu commented on #580
fixed in ffmpeg git... sorry, really not your bug

[2022-04-24 15:11] #580 closed

[2022-04-24 15:14] jcdr428 commented on #579
@axledentaldj sorry you're right, the change affects AVC only. Can you please provide a sample.

[2022-04-24 15:28] jcdr428 commented on #580
@Randrianasulu so no more issue in tsMuxer with the commit in ffmpeg.git ?

[2022-04-24 15:37] Randrianasulu commented on #580
yeah, it works - tsmuxer recognizes stream and xine can play (renamed)
iso...

On Sunday, April 24, 2022, jcdr428 ***@***.***> wrote:

[2022-04-24 16:18] axledentaldj commented on #579
A sample here:[ ](https://mega.nz/file/JcgEnAwb#KXQmjoS2sC484gcLWXRjrzPe28vhnP7WbmI9OCgVMNA)

[2022-04-24 19:40] jcdr428 commented on #579
@axledentaldj having verified your ISO, and compared with my ISOs produced by working git 08d1269 and last git cad2b42 with UDF Verifier:

All files within the ISOs are strictly the same (same CRC32).
Both git 08d1269 and git cad2b42 are UDF compliant.

Last git cad2b42 shows :
[code]
However your ISO file results in the following warning:
[code]
In brief, you seem to use a modified tsMuxeR versio

[2022-04-24 22:29] axledentaldj commented on #579
Well, my tsmuxer build and git-cad2b42 Mac Nightly build still do not play my 00000.iso sample on my Oppo-203. I did not use any modification in any hex editor. I'm not skillful enough to use a hex editor. I'm lucky I learned how to compile tsmuxer with everyones help here. :-D

I just made a fresh tsmuxer_build folder with a fresh tsMuxer-master compile: 00001-my-compiled-2.6.16-dev-default.iso a

[2022-04-25 05:05] Randrianasulu opened #582 "auto-generating empty ac3 substream for pure TrueHD?"
As far as I understand ffmpeg still generates just truehd audio stream in ts container.

In this post {0} it was said to be possible to generate silent/fake ac3 substream internally, but I have no idea where this code lives {in private repo somewhere? not checked all 100 forks of tsmuxer...} .

{0} - https://forum.doom9.org/showpost.php?p=1962468&postcount=1191

[2022-04-25 12:31] Ser-vie opened #583 "Add language Deutsch please"
Hello
I would like the Deutsche language.
[tsmuxergui_de.zip](https://github.com/justdan96/tsMuxer/files/8554502/tsmuxergui_de.zip)
.

[2022-04-25 13:10] jcdr428 commented on #582
Hi @Randrianasulu , this is still work to be done. Currently, the pure THD streams without AC3 seem to be accepted by most of the standalone Blu-ray players, so no urgency.

[2022-04-25 19:42] Ser-vie commented on #583
[about_de.zip](https://github.com/justdan96/tsMuxer/files/8557502/about_de.zip)

[2022-04-25 20:16] jcdr428 commented on #579
@axledentaldj can you please advise what is the last commit working (starting with 04-Apr 22e8c98 then back).

[2022-04-25 20:54] axledentaldj commented on #579
I do not understand? This issue has been going on even when I was trying to get justdan96 to help me fix the Mac mini M1 Arm compiling GUI issues many months ago. And he told me to start a new ticket for this one.

[2022-04-25 20:59] jcdr428 commented on #579
I misunderstood when you stated that Windows tsmuxer-git-08d1269 was working just fine: I thought that the problem appeared after the 31st March.
So the BD ISOs from Mac tMuxer never worked on your Oppo ?

[2022-04-25 21:02] axledentaldj commented on #579
I can't be sure if there ever was a Mac version of tsmuxer that worked right for making 4K BD ISOs? I just know its been many, many, months and its still not working. But the Windows build that I have, does work.

[2022-04-26 10:20] justdan96 commented on #579
I have an M1 Mac I can borrow for testing and I am currently working on a new version of the Docker container that can create universal x64/arm64 binaries for Mac. I'll see if I can create a build from the latest commit in master and you can test if the same issue occurs, otherwise I'd need you to re-upload your sample.

[2022-04-26 10:21] justdan96 commented on #583
Thanks for the contributions! I'll compare against our existing translations and otherwise create a PR for it.

[2022-04-26 12:25] axledentaldj commented on #579
Sure, I got them on my mega ready for you:
https://mega.nz/file/dQoixRxL#wh_NvkG7Z5uZEWrhU__LndX-y35nl7tRr9IErG89E50

[2022-04-26 13:14] justdan96 commented on #579
Would you be able to check if you get the same result with the "4K, Quad-Full-HD (3840x2160) 60FPS" file from: http://bbb3d.renderfarming.net/download.html

[2022-04-26 14:14] axledentaldj commented on #579
That file can not be compatible with remuxing it into a BD ISO in tsmuxer 2.6.16-dev as I get an error:
![9B38F3DE-A558-4A83-8BAB-8403AE402791](https://user-images.githubusercontent.com/91437698/165319950-f109fd94-cb63-4837-aac6-6462d82b3cfe.png)

[2022-04-26 19:06] justdan96 commented on #579
It looks like there is a corrupt frame in the source file, you can use ffmpeg to truncate the file before the corrupt frame:
[code]
If you can then try it on the new file, we can see if that can be used to reproduce the issue.

[2022-04-26 20:01] axledentaldj commented on #579
I used the tsmuxer setting under split & cut and set to end in 5 minutes, that allowed tsmuxer to remux into a BD ISO with no errors. But, the Oppo-203 still said File Not Supported". But a DVDFab BD ISO copy of that made the Oppo-203 state Bad or dirty disc error popup". SO, it could also be a bad h.264 encode with unsupported audio track for the H264 Spec BD ISO for the Oppo-203. So, I'm not sur

[2022-04-26 20:26] justdan96 commented on #471
Should be fixed by #585

[2022-04-26 20:33] justdan96 commented on #577
#585 now implements checks for std::filesystem, std::experimental::filesystem and ghc::filesystem so soon there will be a decent coverage of options.

[2022-04-27 06:25] HoffmannTom opened #586 "BD-Folder gets corrupted when converting Dolby Vision m2ts or mkv with merged single layer BL+EL+RPU"
Hello,
I have issues with creating a BD-Folder with tsMuxer.
I already have a suitable m2ts-File with 4k/UHD/HEVC Video and a TrueHD Audio with AC3-Core + Atmos.
The m2ts file plays well (e.g. in VLC) and I wanted to convert it into a BluRay-Folder so I can play it with a standalone player.
After converting the m2ts-file into a BD-Folder, neither the folder, nor the m2ts file will play anymore (Po

[2022-04-27 07:17] Ser-vie opened #587 "Small correction Translation Language German"
@justdan96
Thank you very much for the quick work! :-)
Sorry
I have corrected a translation error in the "about_de" file.
I had not translated the first sentence, at the tab "About".
Here is the new file.
[about_de.zip](https://github.com/justdan96/tsMuxer/files/8650384/about_de.zip)

[2022-04-27 07:57] jcdr428 commented on #586
@HoffmannTom please give the link for the 140MB BDMV faulty folder.
Has there been any old tsMuxer release working with this sample ?

[2022-04-27 08:03] jcdr428 commented on #579
@axledentaldj can you please post the ISO produced by latest tsMuxer MacOS, and the ISO produced by same release tsMuxer Windows. I will analyse differences.
Cut the m2ts to no more than 100MB please, I can't download 4GB.

[2022-04-27 09:12] HoffmannTom commented on #586
Hello @jcdr428 ,
the m2ts file was truncated with tsMuxeR_2.6.12 before. The resulting m2ts was playing fine.

The conversion to BD-folder was done with the recent nightly build, mentioned above.
Here is the link: https://temp.sh/PcLMV/BDMV.7z  (3 days valid)
PW: tsMuxeR

If I can assist somehow, just let me know.

Thanks in advance for taking a look at it!

[2022-04-27 16:52] HoffmannTom commented on #586
Just a short update:
I tried all processing steps (truncating, extract THD, add AC-3 core, mux to m2ts, create BD) again.
Same result with 2.6.12 and the mentioned nighly build 2022-04-25-02-56-30.
m2ts file works, created BD-folder was not playing and m2ts-file inside broken too.

[2022-04-27 20:21] axledentaldj commented on #579
I used tsmuxer Mac nightly build git-7ec1adc and split & cut to only be 1 minute long of the movie. I did the same for the Windows 64-bit git-7ec1adc nightly build for April 27th. The MacOS tsmuxer BD ISO does Not Play in the Oppo-203.
the Windows 64-Bit tsmuxer BD ISO DOES play in my Oppo-203.

Each are 330MB Iso files.
tsmuxer_mac_build here: https://mega.nz/file/kAJhVZyI#QX84xIlCVChxcpJUsNDKLBX

[2022-04-27 23:18] jcdr428 commented on #579
[udfmac.txt](https://github.com/justdan96/tsMuxer/files/8578382/udfmac.txt)
[udfwin.txt](https://github.com/justdan96/tsMuxer/files/8578383/udfwin.txt)
Duh... having checked UDF 2.50 specification [2.1.4.1 Uint16 TypeAndTimezone], the time zone should be in minutes, not in hours !
The Mac ISO does not work because it has a time zone of -4 min. instead of -4 hours.
The Win ISO works because the tim

[2022-04-27 23:23] axledentaldj commented on #579
I prolly should tell you, in order for me to test Windows, I use Parallels 17.x and its in trial mode, so I always run it on 8/31/2021 to keep running in Trial mode for Parallels Windows 10 (Arm). I hope that didn't affect your findings? Thanks. I wait til tomorrow for any new binaries to test.

[2022-04-28 00:48] Randrianasulu opened #589 ""Reading buffer overflow. " for relatively long media?"
We still trying to integrate tsmuxer into Cinelerra-gg

We run into (non-fatal, resulting iso still plays in two standalone players) warning.

Appimage
https://cinelerra-gg.org/download/testing/cin-x86_64.AppImage

Files - bd.m2ts, bd.meta, bd.iso, and bbb-1920x1080-cfg06.mkv test file - are at:
      https://cinelerra-gg.org/download/testing/tsmuxer_problem_files.tar (1.6GB)

output:
tsMuxeR vers

[2022-04-28 07:37] wolflopnew commented on #563
Same problem with the next movie
[url=https://abload.de/image.php?img=screenshot2022-04-2809uku5.jpg][img]https://abload.de/thumb/screenshot2022-04-2809uku5.jpg[/img][/url]
Cant upload smaler file because of the error

[2022-04-28 07:53] wolflopnew commented on #563
Further information: The original file is an mp4 with AAC sound. When I just create an iso with AAC I get an error saying it might not be playable, but it runs. But if I add the sound files (DTS:X sound and PCm sound, the parse message comes up... Hope that helps with the misfinding. I attach the small film file with AAC sound.

[2022-04-28 09:06] wolflopnew commented on #563
Here´s the file
https://1fichier.com/?y8w5nxqfc5th618826st

[2022-04-28 09:09] wolflopnew commented on #563
By the way. Had often the problem that movies start in the player at 0.00 Min. it starts at 1. Min. Where is the bug?

[2022-04-28 10:57] justdan96 commented on #579
You can try the new binaries from here: https://github.com/justdan96/tsMuxer/releases/tag/nightly-2022-04-28-03-42-16

[2022-04-28 10:59] justdan96 commented on #576
We have a full Hebrew translation now as #581

[2022-04-28 10:59] #576 closed

[2022-04-28 11:00] justdan96 commented on #567
We have a full Hebrew translation as #581 - but more translations are always welcome!

[2022-04-28 11:00] #567 closed

[2022-04-28 11:09] CAPRICORNX10X commented on #576
Wow thank you !
But what about the image i sent? The language display for subtitle and audio.
Its also translate?

השג את Outlook עבור Android<https://aka.ms/ghei36>
________________________________
From: Dan ***@***.***>
Sent: Thursday, April 28, 2022 1:59:56 PM
To: justdan96/tsMuxer ***@***.***>
Cc: CAPRICORNX10X ***@***.***>; Author ***@***.***>
Subject: Re: [justdan96/tsMuxer] add a minor tran

[2022-04-28 14:23] Randrianasulu commented on #589
On Thursday, April 28, 2022, jcdr428 ***@***.***> wrote:

in theory fps should be already interpolated from source media to project
fps... but our branch of Cinelerra does not handle variable fps sources. Is
there easy way to detect this fact with ffprobe/mediainfo?

[2022-04-28 14:54] jcdr428 commented on #589
@Randrianasulu in Mediainfo, the first paragraph is the container info, the second is the h264 stream info.
Could you please check whether they report different fps values.

[2022-04-28 16:17] Randrianasulu commented on #589
mediainfo bbb-1920x1080-cfg06.mkv
General
Unique ID : 126197960465771856333181809182337182035
(0x5EF0D7D547FBEF0F163C451D6130A953)
Complete name : bbb-1920x1080-cfg06.mkv
Format : Matroska
Format version : Version 4
File size : 152 MiB
Duration : 10 min 34 s
Overall bit rate : 2 012 kb/s
Encoded date : UTC 2014-04-28 08:01:55
Writing application : mkvmerge v6.8.0 ('Theme for Great Cities') 64bit
b

[2022-04-28 16:29] moonship98 opened #590 "Appimage issue"
Hello I'm using Debian buster
recently downloaded the latest nightly build and had tried to execute it but am being shown this
![image](https://user-images.githubusercontent.com/62894822/165800164-2f41e21d-5b83-4d92-adb6-6f1eb85e3627.png)

[2022-04-28 16:30] moonship98 commented on #590
please have a look and let me know what has gone wrong and how to rectify it

[2022-04-28 17:07] Randrianasulu commented on #589
m2ts file as encoded by Cinelerra-gg (real input for tsmuxer where it
chokes) shows up as

mediainfo bd.m2ts
General
ID : 1 (0x1)
Complete name : bd.m2ts
Format : BDAV
Format/Info : Blu-ray Video
File size : 1.14 GiB
Duration : 10 min 33 s
Overall bit rate mode : Variable
Overall bit rate : 15.4 Mb/s

Video
ID : 4113 (0x1011)
Menu ID : 1 (0x1)
Format : AVC
Format/Info : Advanced Video Codec
Format

[2022-04-28 17:17] justdan96 commented on #590
Once we update the Docker container and related scripts to build from Ubuntu 18.04 this issue should be fixed.

[2022-04-28 18:04] jcdr428 commented on #582
@imhh1 maybe I misunderstood https://forum.doom9.org/showthread.php?p=1962290#post1962290 .

[2022-04-28 18:09] jcdr428 commented on #589
@Randrianasulu I confirm, Blu-Ray is not compatible with 60 fps.

[2022-04-28 19:58] jcdr428 commented on #586
@HoffmannTom can you please also provide the original m2ts. I need to compare both hevc streams.

[2022-04-28 20:28] xavery commented on #577
#588 is now merged so `<filesystem>` is not used at all, thus closing.

[2022-04-28 20:28] #577 closed

[2022-04-28 20:53] axledentaldj commented on #579
Tried the new Mac binaries and still the same issue. Here's my file: https://mega.nz/file/ZVgTCKZQ#0HUMxQFinrvtNeSsFQCUz17x26qkhXJp1siqikfCsTU

[2022-04-28 22:39] #471 closed

[2022-04-28 22:45] justdan96 commented on #133
Will close this one, if anyone is still concerned they can create a new issue for the border and transparency visual.

[2022-04-28 22:45] #133 closed

[2022-04-28 22:51] justdan96 commented on #572
Is this still reproducible?

[2022-04-28 23:31] ValZapod commented on #589
HEVC is.

[2022-04-28 23:34] ValZapod commented on #580
See https://github.com/FFmpeg/FFmpeg/commit/058a1ff9b4cdbd2e1a93acc8bf0365e7d01cc9f4

[2022-04-29 07:06] jcdr428 commented on #579
@axledentaldj GMT is -5 hours (not minutes, so fixed) however there is still an error :
[code]
I've pushed a new commit, please try tomorrow.

[2022-04-29 10:08] CAPRICORNX10X opened #591 "fix 100 % translation of tsmuxer"
Is it possible to translate the language after you add mpls (audio and sub)? I have seen that it has not been translated in any other translation. Always stays in English
![(20)](https://user-images.githubusercontent.com/102700898/165925315-48c79808-3cbc-4259-8b41-19368f0a7a9f.png)

[2022-04-29 12:36] jcdr428 commented on #589
@Randrianasulu the warning is not linked to the buffer size, it is linked to the PTS gap.

[2022-04-29 17:33] Randrianasulu commented on #589
well, increasing MAX_DEMUX_NUFFER_SIZE to 512 mb fixes issue with this (10
min long!) stream... does this ring a bell?

***@***.***:/mnt/sdb2/tmp/bd_20220429-080325$ bd.sh
++ dirname ./bd.sh
+ sdir=.
++ cd .
++ pwd
+ dir=/mnt/sdb2/tmp/bd_20220429-080325
+
PATH=/usr/local/bin:/usr/bin:/bin:/usr/X11R7/bin:/usr/games:/usr/lib/java/bin:/bin:/opt/kde3/bin:.:/root/cinelerra/cinelerra-5.1/bin
+ mkdir -p

[2022-04-29 18:53] Randrianasulu commented on #448
https://tech.ebu.ch/docs/tech/tech3306v1_0.pdf

hopefully description of this format

[2022-04-29 19:09] justdan96 commented on #448
If anyone is able to contribute this it would be very much appreciated!

[2022-04-29 19:26] Randrianasulu commented on #448
here seems to be commit in mkvtoolnix (c++) adding this support to its
codebase...

https://gitlab.com/mbunkus/mkvtoolnix/-/commit/4e7fe6c7906a107e98389d419c33f4ef43e2dd32

On Friday, April 29, 2022, Dan ***@***.***> wrote:

[2022-04-29 20:30] wolflopnew opened #593 "Movie starts later not at the Beginning"
Film created with Tsmuxer only starts burned on UHD from 1.02. Min. Original chapters are included.
The film only starts on the player at 1 min.
Please help with troubleshooting. Original file is an Mp4 Upscale with 80 GB.

[2022-04-30 05:17] jcdr428 commented on #593
@wolflopnew can you please identify latest working version.

[2022-04-30 05:19] jcdr428 commented on #448
Should be RIFF W64 (Sony)  rather than RF64.

[2022-04-30 05:53] HoffmannTom commented on #586
Short update:
I extracted the BL stream of Dolby vision and created a blu-ray folder with txMuxer. That worked well and produced a playable folder.
I also tried with another Dolby vision video with a different DV profile (Dolby Vision, Version 1.0, dvhe.08.06, BL+RPU).
This showed the same problem when converting to blu-ray folder (video corrupted).

Thus the issue seems to be related to Dolby vis

[2022-04-30 08:12] GabeBlincoln commented on #572
I just got it out of nowhere while batch-transcoding / modifying a bunch of bluray extras to HDR10 + DoVi 8.1.  I'm investigating since it didn't happen to the next file in the batch which was transcoded and modified by dovi_tool in exactly the same way and the same framerate and resolution (those are the only oddities over what I normally do, it's 480i deinterlaced to 60000/1001 fps 480p).

[2022-04-30 14:19] HoffmannTom commented on #586
Hello @jcdr428
I can see that the DOVI Header in the generated m2ts file is missing in blu-ray mode.
It is skipped on purpose, as far as I can read the source code.
In hevcStreamReader.cpp there is a method getTSDescriptor(..) containing 2x the condition:
`if (!blurayMode && m_hdr->isDVRPU) ...`

So the DOVI-Header is not written on purpose when creating a blu-ray disc. I don't know why(?)

I copi

[2022-04-30 16:33] wolflopnew commented on #563
Still the same problem. Next movie

Not enough buffer for parse video stream. Current frame num 0

[2022-04-30 16:35] wolflopnew commented on #593
Its the last nightly verion of Tsmuxer and all versions of the last 5 nightly

[2022-04-30 16:37] wolflopnew commented on #593
I dont know a latest working version....

[2022-04-30 18:34] jcdr428 commented on #593
Ok, so the problem likely always existed. Can you please share the BDMV folder (preferably use your OneDrive), no Zip please as I can't download GBs. Never managed to download your previous files.

[2022-04-30 18:37] jcdr428 commented on #563
I can't download 1fichiercom as it requests registration, and the OneDrive dile has disappeared. Please repost aOneDrive link, thanks.

[2022-04-30 18:44] jcdr428 commented on #586
@HoffmannTom the DOVI header is not written in Blu-raymode because the DV mode is detected from the mpls/clpi: same as original UHD Blu-rays.

I downloaded both versions, I'll have a look when I have time.

[2022-04-30 18:57] HoffmannTom commented on #586
Thanks for the information! 😊
It is quite hard to find readable documentation about all the involved formats.

[2022-04-30 22:36] axledentaldj commented on #579
Still not fixed. (00000-tsmuxer_mac-git-79b86ec)
Here: https://mega.nz/file/5YwlWRrA#dJKzBcXLrUPQXE9bsr48Tb9zdbqLFQiC82vj2IVRpks

[2022-05-01 00:28] imhh1 commented on #582
I don't know but I have an X800m2 and an x700 and they both fail to play pure TrueHD sound (at least for the DV files).

[2022-05-01 08:02] wolflopnew commented on #593
Thanks for your help . I made a rar file on 1fichier only 41kb without the 81 GB streamfile.
Hope this works...
https://1fichier.com/?jkyl32a8xj4slbe544o1

[2022-05-01 09:38] wolflopnew commented on #563
heres is another link
https://1drv.ms/u/s!AifiITtpdjN1h2Bnr7hIvncnxLA0?e=1Yrxy9

[2022-05-01 21:36] wolflopnew commented on #563
Again the problem
[url=https://abload.de/image.php?img=screenshot2022-05-012zqkr1.jpg][img]https://abload.de/thumb/screenshot2022-05-012zqkr1.jpg[/img][/url]

[2022-05-01 23:05] jcdr428 commented on #593
@wolflopnew please I need the BDMV folder, not the .iso.
With the .iso -same as a zip- I have to download the whole file, which I don't manage to do.
With the folder I can select to download only part of the m2ts.

[2022-05-02 06:34] HoffmannTom commented on #586
BDInfo shows a hidden  video track in the playlist. Maybe it's a hint in the right direction.

[2022-05-02 08:16] jcdr428 commented on #579
[UDF_Verifier_mac-git-79b86ec.txt](https://github.com/justdan96/tsMuxer/files/8601461/UDF_Verifier_mac-git-79b86ec.txt)
[UDF_Verifier_windows64bit-git-7ec1adc.txt](https://github.com/justdan96/tsMuxer/files/8601514/UDF_Verifier_windows64bit-git-7ec1adc.txt)
[UDF_Verifier_mac-git-79b86ec-dvdfab.txt](https://github.com/justdan96/tsMuxer/files/8601521/UDF_Verifier_mac-git-79b86ec-dvdfab.txt)

As can

[2022-05-02 10:37] wolflopnew commented on #593
Heere is the folder link
https://1drv.ms/u/s!AifiITtpdjN1h3n8wJ3m_tBToWsC?e=FEbI7l
Can also help withe parse bug i reportet?

[2022-05-02 12:57] jcdr428 commented on #579
@axledentaldj I have made some few corrections from the differences I've spotted with dvdFab and ImgBurn, please try tomorrow.

[2022-05-02 15:49] jcdr428 commented on #586
@HoffmannTom a DV Blu-ray m2ts is composed of two hevc streams, one which contains the non-DV (BL) BaseLine Layer, the second which contains the DV (EL) Enhanced Layer and the RPU.

The two were fusioned in your original into a single hevc stream containing all BL+EL+RPU, via "hacking" tools e.g. Makemkv, so that they can be read on android players having a single DV chip. You cannot create a Blu-

[2022-05-02 16:01] HoffmannTom commented on #586
Hello @jcdr428
thank you very much for looking up the cause!
I already separated the layers. How can I proceed with these two files?
Can I just add the two streams in TsMuxer and it will create a DV/HDR blu-ray out of these two streams?
Is the RPU-file with the meta-information obsolete?
Thank you in advance!

[2022-05-02 16:04] jcdr428 commented on #589
@Randrianasulu with a 192 MB buffer, an overflow basically means that, having read a video frame, tsMuxer has to read the equivalent of 1 million 192-byte packets before finding the corresponding audio frame with the same presentation time: this is already very large and the sign of totally desynchronized streams.
You need to revise your 60fps HEVC to 29.97pfs AVC transcoding.

[2022-05-02 16:08] jcdr428 commented on #586
@HoffmannTom normally yes, if you recreated the two original BL and EL+RPU streams, you can successfully mux them with tsMuxer.
The double to single to double layer process shouldn't have changed anything in the RPU.

[2022-05-02 16:10] Randrianasulu commented on #589
On Monday, May 2, 2022, jcdr428 ***@***.***> wrote:

well, for some reason it worked with ac3 audio...

may be our ffmpeg patches to blame, but without them ffmpeg's mpegts output
even with m2ts option not recognized by Bluray players...

do you know by chance where I can find pre-cut m2ts with 5.1 lpcm sound for
more testing?

—

[2022-05-02 16:42] Randrianasulu commented on #589
@jcdr428 ah found some..

http://streams.videolan.org/issues/8526/

at least 00064.m2ts muxes ok...

so, I guess ffmpeg's mpegts muxer to blame...

[2022-05-02 17:17] Randrianasulu commented on #580
interesting enough encoding sample with ffmpeg git result in same
overflow....

sample:

wget -c  http://streams.videolan.org/issues/8526/00064.m2ts

ffmpeg command

/home/guest/ffmpeg/ffmpeg -i 00064.m2ts -c:v copy -c:a pcm_bluray
-mpegts_m2ts_mode 1 00064-1.m2ts

On Friday, April 29, 2022, Valerii Zapodovnikov ***@***.***>
wrote:

[2022-05-02 17:29] Randrianasulu commented on #589
interesting enough encoding sample with ffmpeg git result in same overflow....

sample:

wget -c  http://streams.videolan.org/issues/8526/00064.m2ts

ffmpeg command

/home/guest/ffmpeg/ffmpeg -i 00064.m2ts -c:v copy -c:a pcm_bluray -mpegts_m2ts_mode 1 00064-1.m2ts

{posted to wrong issue..}

[2022-05-02 17:34] Randrianasulu commented on #589
[code]
from ssh session to x86 laptop...

[2022-05-02 17:56] Randrianasulu commented on #589
fix already there

https://git.ffmpeg.org/gitweb/ffmpeg.git/blobdiff/b67572c7c707d508b15ce0543519208cf5d1fcfb..a84b95dc08da1174b4477e6250077bf22bb543b0:/libavcodec/pcm-blurayenc.c

[2022-05-02 19:05] Randrianasulu commented on #574
isn't this basically same as
https://github.com/justdan96/tsMuxer/issues/365

?

i recall because I posted some menu-muxing related links somewhere :=)

[2022-05-02 19:42] jcdr428 commented on #574
Yes the same, closing.

[2022-05-02 19:42] #574 closed

[2022-05-02 21:15] jcdr428 commented on #593
@wolflopnew I don't have any Blu-ray player, but on my PC with WinDVD and PowerDVD the video starts from the beginning.
Timings in the clpi and the mpls are the same and correct.
So I can't help...

[2022-05-02 21:21] axledentaldj commented on #579
I would but that tsMuxeR exe is for MacOS? and it needed a sudo chmod +x to it and is missing:
<img width="410" alt="Screen Shot 2022-05-02 at 5 21 11 PM" src="https://user-images.githubusercontent.com/91437698/166329745-8bf0fe3b-b890-4fa2-802b-c4e0c60e1ac7.png">

[2022-05-02 21:26] jcdr428 commented on #579
@axledentaldj I am not familiar wit the Mac builds, there are two builds at https://github.com/justdan96/tsMuxer/actions , the second one is https://github.com/justdan96/tsMuxer/actions/runs/2258213312

[2022-05-02 21:29] axledentaldj commented on #579
No problem, I took the latest master and I'm compiling now....

[2022-05-02 22:24] wolflopnew commented on #593
Film also starts normally with me s.PC. Only when I burn to CD does the film not start from the beginning.
However, if I compress the film to 45 Gb with DVD Fab and burn Blu-ray, the playback works.

[2022-05-03 08:33] jcdr428 commented on #572
@justdan96 there is still work to be done, tsMuxer should show a message "Bad frame detected - skipping frame" rather than aborting due to bitstream exception.

[2022-05-03 09:20] 8Dataman8 commented on #365
I would also appreciate menu creation support, because it's very hard to do. The best option at this time seems to be DVDFab Blu-ray Creator, but it's very limited even with custom tweaks.

[2022-05-03 14:19] quietvoid commented on #379
This is still an issue on the 7dcca4876e7553d543dbb15020ee4bffbc7312a3 but to me it sounds like the bug is at MakeMKV, not here.
Someone else brought it back up over at MakeMKV so I'm bumping it here.

Quoting my post:

The enhancement layer (second video stream in M2TS) is not being read properly, resulting in a truncated file and the timecode errors.

While using MakeMKV on the tsmuxer BD folder

[2022-05-03 17:38] jcdr428 commented on #579
@axledentaldj what do you mean "I see something weird and the Oppo-203 sees an empty folder" ?

I found a bug which I spotted when analysing the differences with DVDFab/ImgBurn, which was not highlighted by the Philips udf_test, which took me a lot of trials and errors to correct -there was a termination descriptor missing in the ISO after the File Set Descriptor. I pushed a fix, hopefully this wa

[2022-05-03 17:59] axledentaldj commented on #579
I thought I saw something weird. I thought it was a visual thing but the Oppo-203 being an Oppo. 😁
Probably from the "Blessed" AVCHD issue? Nope, it wasnt that. Thats why I saw an empty folder. I look forward to testing this next fix you have found. Thanks.

[2022-05-03 18:19] HoffmannTom commented on #586
Hello @jcdr428
the muxed file is playing on my Sony-Player. Unfortunately, it only shows 8 Bit Color-Depth on TV.
Blu-Ray Player and AV-Receiver both support DV, TV supports HDR10.
Playing with Kodi+Shield shows 10 Bit. So currently I am not sure if there is something wrong with my setup / settings.
If you have any idea, how I can check, whether the Blu-Ray folder is properly set to DV, just drop

[2022-05-03 18:22] jcdr428 commented on #586
@HoffmannTom I can add the warning, this should be easy to implement.

[2022-05-03 19:50] jcdr428 commented on #563
@wolflopnew I downloaded the full 2GB file and the m2ts muxes fine in tsMuxer ??

[2022-05-03 20:26] wolflopnew commented on #563
It's not synonymous the complete film only 2GB.
and you can see from the screenshots of various films that the problem occurs again and again.
[[url=https://abload.de/image.php?img=screenshot2022-05-012zqkr1.jpg][img]https://abload.de/thumb/screenshot2022-05-012zqkr1.jpg[/img][/url]](https://abload.de/image.php?img=screenshot2022-05-012zqkr1.jpg)

[2022-05-03 20:29] HoffmannTom commented on #586
@jcdr428
Great :)
The same problem happens for BL+RPU streams.
The above case was BL+EL+RPU.

[2022-05-03 20:46] wolflopnew commented on #563
i have testet it with smal iso of the film. Its working... With the whole film - error at the end 99,4 %. Whats the problem?

[2022-05-03 20:49] Randrianasulu commented on #589
I think this one can be closed (not tsmuxer bug).

Sorry for two not your bugs in row!

[2022-05-03 20:51] jcdr428 commented on #589
Well, there are less and less issues coming from tsMuxer. At least it shows that tsMuxer becomes robust !

Closing.

[2022-05-03 20:51] #589 closed

[2022-05-03 20:55] Randrianasulu commented on #505
... can this issue come from badly (re) defined THROW? (if such thing even possible..)

[2022-05-03 20:57] jcdr428 commented on #563
You should have posted the faulty part, no point posting a working part...
The fault probably comes from the fact that an hevc frame is bigger than the temp buffer. I have increased the max buffer size, please try the release tomorrow. If it does not work, you won't have the choice but to cut the last 1GB from the m2ts (with e.g. HXD hex editor) and post it.

[2022-05-04 03:13] Randrianasulu commented on #582
@jcdr428 I compiled Donald Graft's thdmerge on termux. Asked author via email about licence - he said (for this work) 'public domain'. So I put it (Linux version) on github.

I think original archive also contain exe file for Windows users..
https://github.com/Randrianasulu/thdmerge/

Not sure how tsMuxer currently handles situation where I put ac3 and thd on same pid - will it autointerleave them

[2022-05-04 04:50] ValZapod commented on #593
To dvd you mean? But that reencodes?

[2022-05-04 07:17] Randrianasulu commented on #149
in the meantime makefs_udf was improved by original author, I tried to re-import changes into my Linux hack and it sort of works ( I need to run it twice over same iso for getting all 3 AVDPs..) but might contain subtly bugs..

@ImportTaste can you (re) test? https://github.com/Randrianasulu/makefs_termux

[2022-05-04 07:20] wolflopnew commented on #593
Not to DVD. with the DVDfab UHDCreator.

[2022-05-04 09:07] wolflopnew commented on #563
Thank you jcdr428. The problem is solved. Great!!
Only the reported Problem mit burned disc is still open...

[2022-05-04 10:29] wolflopnew commented on #593
I tried another 4k upscale today. the same here again, if I burn the generated disc to Blu-ray, the film only starts from 1 minute. If I shrink the iso generated with Muxer with DVDFab, the film can be played without any problems from 0 minutes.

[2022-05-04 11:45] jcdr428 commented on #563
Good. Closing !

[2022-05-04 11:45] #563 closed

[2022-05-04 15:53] Randrianasulu opened #595 "tsMuxer on NetBSD!"
compiles fine with this diff:
[code]
@jcdr428  can you pick this up?

[2022-05-04 17:59] CAPRICORNX10X commented on #591
Why does no one answer the question?
If it is not possible to allow translation for this part. Please indicate this ....

[2022-05-04 19:12] #595 closed

[2022-05-04 20:44] jcdr428 commented on #586
@HoffmannTom I've pushed the fix with the warning, please check if ok.

[2022-05-04 21:11] axledentaldj commented on #579
I tested git-e85de68 for MacOS and still same issue. I tested tsmuxer-win64-git-e85de68 and that works. I don't know if you pushed out the fix yet?

[2022-05-04 21:17] HoffmannTom commented on #586
Hello @jcdr428
I tested with different containers / videos:

1) mkv: Dolby Vision, Version 1.0, dvhe.07.06, BL+EL+RPU
Warning! MLP codec is not standard for BD disks, the disk will not play in a Blu-ray player.

2) mkv: Dolby Vision, Version 1.0, dvhe.08.06, BL+RPU
Warning! Dolby Vision Double Layer Single Tracks are not standard for BD disks, the disk will not play in a Blu-ray player.

3) m2ts:

[2022-05-04 21:29] jcdr428 commented on #579
@axledentaldj indeed I pushed the fix !
I suspect the issue might be the GTM vs local time. Why else would the Win build work and not the Mac build ?
So I've created a simple fork where local time = GMT time.
Could you please try https://github.com/jcdr428/tsMuxer/suites/6379102774/artifacts/231490971

[2022-05-04 21:44] axledentaldj commented on #579
Thanks, but still same issue: 00000-tsmuxer-mac-git-4619fd1.iso download here:  https://mega.nz/file/tYwXDL6Z#QLHpvTxABPECoJn7IsDKmaZbzXjbHu_Vy92HjRuZK0A

[2022-05-04 21:46] jcdr428 commented on #579
Can you please also post the tsmuxer-win64-git-e85de68 ISO ?

[2022-05-04 21:47] axledentaldj commented on #579
sure, here: https://mega.nz/file/IZICRTiZ#Dg-gkk-q5Imx2TwTi9YOMnp43IwK5P0XWj73kXvsydA

[2022-05-05 06:47] jcdr428 commented on #586
The only Blu-Ray compliant DV is double track 07.06 with BL in one track and EL+RPU in the other. Any other profile might not be read by the DV chip.

[2022-05-05 14:39] #586 closed

[2022-05-05 15:20] quietvoid commented on #586
Apparently not anymore: https://forum.makemkv.com/forum/viewtopic.php?p=122075#p122075

[2022-05-05 19:25] jcdr428 commented on #579
@axledentaldj where does the 4619fd1 commit come from ?

[2022-05-05 19:43] axledentaldj commented on #579
Ok, but, can I do anything to help?

[2022-05-05 19:45] jcdr428 commented on #579
@justdan96 @xavery if you have access to a Mac, maybe you can help ?

[2022-05-05 19:56] axledentaldj commented on #579
Hmm, is there a way to "proof of concept" way that if I hex edit the DTCP in the m2ts file to be 0x0ffffcfc to see if that fixes it?

[2022-05-05 20:01] jcdr428 commented on #579
@axledentaldj yes replace all `05 04 48 44 4d 56 88 04 4d 56 88 04` with `05 04 48 44 4d 56 88 04 0f ff fc fc` in the ISO

[2022-05-05 20:02] axledentaldj commented on #579
OOh, that's tricky, I might not be skilled enough to hex edit directly the ISO, but I'll take a look and try now. Thanks.

[2022-05-05 20:06] jcdr428 commented on #579
Yes that should do it. Maybe you'll need to remove the spaces.

[2022-05-05 20:19] axledentaldj commented on #579
OMG, that worked!!! I tested it twice. The 2nd time was on a fresh remux of the 00000-tsmuxer-mac-git-e85de68_B.iso and  made sure it di not work on my Oppo-203, then I carefully hex edited like you described, no spaces, and it worked!!

[2022-05-05 20:27] jcdr428 commented on #579
:) :) :) I was focusing on the UDF formatting when it was the m2ts... At least now the ISO is perfect.
Now we have to find the bug.
@xavery any chance of a leak in the putBits method ([bitStream.h line 180](https://github.com/jcdr428/tsMuxer/blob/41dfd71aaf91c738b7e92b9e968fc02d304387da/tsMuxer/bitStream.h#L180)), e.g. in `m_curVal <<= (INT_BIT - m_bitWrited);` when INT_BIT = 32 ?

[2022-05-05 21:49] jcdr428 commented on #579
@axledentaldj can you please try https://github.com/jcdr428/tsMuxer/suites/6394846808/artifacts/232610946
(change type of m_curval from unsigned int to uint_32)

[2022-05-05 22:18] axledentaldj commented on #579
Just tried it. 00000-tsmuxer-mac-git-a247641.iso did not play on the Oppo-203 (File Not Supported). Nor does hex editing it make it play.

[2022-05-06 20:37] HoffmannTom commented on #586
Being possible doesn't necessarily mean it's compliant ;)
Let's see if there is more information in the future about that. Thanks for the link!

[2022-05-06 21:34] jcdr428 commented on #586
Anybody can share a sample ? It seems a fake to me: which distributor in its right mind would keep the x265 encoding parameters in the stream ?

[2022-05-06 21:42] quietvoid commented on #586
Here's the first 5s trimmed using tsmuxer (video only): https://0x0.st/omsn.7z
I'm not sure how else the original folder can be trimmed down.

[2022-05-07 10:41] jcdr428 commented on #586
@quietvoid could you please post a sample ( say 10MB) of the original m2ts ? Just cut the m2ts with an hex editor eg HxD -select all after 00A0 0000, hit delete and save under new name.

[2022-05-07 11:15] jcdr428 commented on #579
@axledentaldj sorry but without access to a MacOS I am kind of working blind and can only guess what could cause the issue / try various fixes.
Could you please try https://github.com/jcdr428/tsMuxer/suites/6413396056/artifacts/233885964 ?

[2022-05-07 13:11] jcdr428 commented on #586
@quietvoid are these the original .mpls/.clpi in your link, or are these the ones from tsMuxer ?

[2022-05-07 13:14] quietvoid commented on #586
They are from tsMuxer.

[2022-05-07 13:15] jcdr428 commented on #586
Can I please have the original BDMV (witout the m2ts files) ? I'll see whether the DV flags are set.

[2022-05-07 13:18] quietvoid commented on #586
Sure, there you go: https://0x0.st/omox.7z

[2022-05-07 13:35] jcdr428 commented on #586
So the mpls definitely does not show any DV layer in the STN / the SubPath / the ExtensionData, as if it were a standard HDR10.
There are indeed some RPU nals in the hevc stream, but IMO the standalone Blu-ray players should read the BD-ROM as a standard HDR10.

![Lamb](https://user-images.githubusercontent.com/56721609/167256709-446507e2-4eed-4e73-bd99-b8dffa011224.jpg)

[2022-05-07 23:24] axledentaldj commented on #579
Nope, still same issue.  I know its going to be hard to fix. You dont have an Oppo-203. Do you have any standalone Blu-ray player. I think this happens on 1080p Blu-ray ISOs...? Ill re-check.

[2022-05-08 08:13] wolflopnew commented on #593
Still the problem... with the next movie...

[2022-05-08 08:17] jcdr428 commented on #579
I don't have anu standalone player.
Can you please post the latest iso ?

[2022-05-08 08:23] wolflopnew opened #596 "Problem with movie muxing and burning oin disc"
Movie does not start on player after creation with the Tsmuxer or only after 1 min. Have upscale mp4 and AAC sound loaded. After adding in the muxer and adding additional audio tracks (DTS) and clicking on muxing it shows 'Warning! AAC codec is not standard for BD disks, the m2ts will not play on a Blu-ray player.' But the film is still muxxed. If I omit the AAC soundtrack when muxing due to the w

[2022-05-08 09:27] jcdr428 commented on #596
@wolflopnew please demux the hevc stream from the mp4 (eg with "`ffmpeg.exe -i input.mp4 -c:v copy output.hevc`") and upload the .hevc.
No ISO or ZIP please: I will download the first 80 frames only, not the full UHD.

[2022-05-08 10:13] wolflopnew commented on #596
Still another problem i tried to solve the problem by myself is load the hevc in scenerist. But here comes the following error message. https://1drv.ms/u/s!AifiITtpdjN1h32fTGFsHHUOcIcb?e=59D1dg
Scenerist allows only uhd compatible files So the build file is not uhd coimpatible. Can you also solve this problem? So if the hevs is loadable to scenerist. Movie is always playable and no problems with s

[2022-05-08 10:25] wolflopnew commented on #596
here is the link to the hevc 3 Min. from teh film
https://1drv.ms/u/s!AifiITtpdjN1h36Kkir65vyO4CMB?e=1CKH6C

[2022-05-08 12:52] axledentaldj commented on #579
Sure, here: https://mega.nz/file/ZBQ3CA5A#zfT47czGb_vJgdwRmxdJJ1-gjmcyYY1raHyfMPxAIys

[2022-05-08 21:47] jcdr428 commented on #596
@wolflopnew nothing wrong with the hevc, it looks like I will have to download the whole mp4. Can you please share a link.

[2022-05-09 01:54] shag00 commented on #502
I hope you are making some progress with this.

[2022-05-09 02:10] Nadahar commented on #502
Me too.

[2022-05-09 09:10] shag00 opened #598 "Box character drawn at the end of line when rendering subtitles in W64 build"
Using any release from 1/3/20 or later results in subtitles being muxed incorrectly. Every line of every subtitle has a box drawn at the end as shown in the attachment Using the W64 version.

How something like this can go unnoticed for such a long period of time can only be attributed to your prolonged refusal to actually release a release version of this software. Do you not understand that the

[2022-05-09 09:30] Randrianasulu commented on #598
just a wild guess: may be this box represent undisplayable (with current font) character?

[2022-05-09 09:34] Ser-vie commented on #587
@justdan96
#587 and #597
Wrong is
![grafik](https://user-images.githubusercontent.com/83694141/167382205-229ece97-831d-43d2-8c4b-e4adc069bd4f.png)
and correct is
" – Das Programm dient zur Erstellung von TS- und M2TS-Dateien für das IP-Streaming und die Wiedergabe auf Videogeräten (z. B. Dune HD Ultra, Sony Playstation, Smart TVs u. a.)."
[about_de.zip](https://github.com/justdan96/tsMuxer/files/8

[2022-05-09 09:44] Randrianasulu commented on #598
aftervlittle digging I found this commit, but  it looks  a bit invasive for (temporary, for testing) reverting...

https://github.com/justdan96/tsMuxer/commit/9670fd6b19599efb44b66f5c70dc43d112119bd1

@shag00 can you try and check srt files themselves - are they having unix or windows line endings? Also, installed fonts might play a role, as well as active codepage (on older Windows?)

[2022-05-09 09:47] shag00 commented on #598
Wild of the mark is what you mean. The same raw files muxed with MKVToolnix or TSMuxer release earlier than 29/2/20 work perfectly. The srt file used for the subtitle has been checked and has no issues. In any case, even assuming you are correct it would not affect every line of every srt file. As a final check to my reply I just downloaded a TV show from the internet which works fine, I demuxed i

[2022-05-09 09:56] shag00 commented on #598
@Randrianasulu
not sure what you are asking or how to check. All my subtitles are produced by a program called subtitle edit which I have been using since about 2014 without issue. As I can shown the muxing with MKVToolnix works fine and pin point when TSMuxer started having problems is it not resonable to assume that TSMuxer is the problem? I download 2 versions of the same program issued 1 day a

[2022-05-09 10:09] shag00 commented on #598
Further investigation reveals further problems with the 1/3/20 release, which were subsequently corrected at some point, there is no sound when the streams are muxed as .ts though .m2ts is not affected.

[2022-05-09 10:10] Randrianasulu commented on #598
by line endings I mean

[diff between windiws and unix on how to signal end of line](https://en.m.wikipedia.org/wiki/Newline)

[2022-05-09 10:11] shag00 commented on #598
OK, I understand, how to check?

[2022-05-09 10:12] Randrianasulu commented on #598
it might be line ending issue in tsmuxer... at least from symptoms it looked like one.

yeah, some bugs fixed in new version - old version (w/o bug) not as useful as one hoped.. anyway, thanks for testing (i replied via email but apparently this email not yet arrived here..)

[2022-05-09 10:15] Randrianasulu commented on #598
@shag00  this [answer](https://stackoverflow.com/questions/32255747/on-windows-how-would-i-detect-the-line-ending-of-a-file) suggest notepad++ (I am on linux, so midnight commander shows those windows line endings by default)

[2022-05-09 10:31] shag00 commented on #598
Tell me how to find end of line that you want

![tsmux](https://user-images.githubusercontent.com/37562304/167392616-df498784-864f-4892-8ff6-e1f2c47f4dfd.png)

[2022-05-09 10:45] Randrianasulu commented on #598
i just pressed f4 (edit) and if there big ^m at every line end - its windows)

[2022-05-09 10:48] shag00 commented on #598
seems it's linux then

[2022-05-09 10:54] Randrianasulu commented on #598
@shag00 are you usung WSL2 on Win10, or this is different ubuntu install? (just asking because hopefully compiling cli version of tsmuxer on linux should be a bit easier than on user-oriented Windows.. if you have time you can try to build latest tsmuxer on ubuntu and see if problem exist there too..)

[2022-05-09 10:55] Randrianasulu commented on #598
also, you can try to manipulate line endings with dos2unix and unix2dos cli utilites..

[2022-05-09 10:58] shag00 commented on #598
I have a dual boot system. I have no idea what WSL2 is. On Kate in ubuntu I can change line endings between windows mac and linux though.

[2022-05-09 11:05] Randrianasulu commented on #598
@ WSL2 is new way of running Linux commands (or even whole distro!) on Windows 10

[Microsoft says](https://docs.microsoft.com/en-us/windows/wsl/install)

[2022-05-09 11:05] shag00 commented on #598
tested this by changing line ends to windows, ending rectangle still shows up

[2022-05-09 11:07] Randrianasulu commented on #598
( then it was not it... sorry.

[2022-05-09 11:12] shag00 commented on #598
I hate to say i told you so but the evidence is pretty overwhelming. If the problem was with the input srt then it would also be apparent when muxed with earlier versions of TSMuxer or MKVtoolnix. The whole problem arises because there is no release version available for most people to use. Everyone testing their own daily version does not work because there are not enough users, even windows with

[2022-05-09 11:17] Randrianasulu commented on #598
if you can pit small srt/video par and meta for running tsmuxer I can try on Termux and Slackware...

right now release might be not very good idea, see other recent issues and 'ts buffer management problem'. May be beta? And then series of RCs... (without major changes)

just my (non-dev) opinion..

[2022-05-09 11:25] shag00 commented on #598
What do you call small, 1TB, 100MB or something else?

It is very hard for me to take your opinion seriously when the last stable release was released in 2014. It's now 2022. By what logic or means do you justify to yourself that that is reasonable? I don't mean to give you a hard time it's just that I am very surprised you would say that.

[2022-05-09 11:28] Randrianasulu commented on #598
100 mb should be enough? (just enough for seeing few subtitle lines)

I mean some recent bugs on Mac/arm... are you prefer release with known bugs? (this may hapoen, but then  it should be stated in release notes)

tsmuxer was only 'recently' open sourced (2019) so a lot of time between 2014 and 2019 no one touched it..

[2022-05-09 11:30] Randrianasulu commented on #598
[issue 579](https://github.com/justdan96/tsMuxer/issues/579)  for example..

[2022-05-09 11:31] Randrianasulu commented on #598
bug/issue about releasing:
https://github.com/justdan96/tsMuxer/issues/502

[2022-05-09 11:46] shag00 commented on #598
My retort would be that the release of 29/2/20 appears to be stable and works. It could have been released as a stable build and most people who use TSMuxer would be using it and be happy. A stable release does not mean a perfect release, especially in relation to new hardware (Apple ARM). What is does mean is that proven hardware (X86 processors) and software (Windows 10) can do what the software

[2022-05-09 11:57] shag00 commented on #598
I cut a file down to 5 minutes but it's still 189MB, any good?

[2022-05-09 11:57] Randrianasulu commented on #598
yes, ivll try to download it

[2022-05-09 11:59] wolflopnew commented on #596
I have the whole file anymore. i will send  you an other movie file with the same problem.  But the mp4 are maybe 45 Gb and more  in size. Dont know how to send. They are upscales 4k.

[2022-05-09 12:07] Randrianasulu commented on #598
you can't put it on google drive or mucrosoft drive? (like other examples in issues)?

you can send link to me directly but then other devs here will not see it....

[2022-05-09 12:08] justdan96 commented on #598
@shag00 please be aware we have a code of conduct and we are a team of volunteers, your issue won't be looked at any quicker or more thoroughly by swearing.

Releases is something we have been looking at but as I mentioned we are all volunteers and for me in particular I haven't had much free time at all recently. Please be patient with us.

As for how the regression was missed we rely on the comm

[2022-05-09 12:10] justdan96 commented on #591
The simple answer is that it may be possible but it would require any translators to translate the name of every language into their own language, which would be quite a lot of work.

[2022-05-09 12:17] shag00 commented on #598
@[Randrianasulu](https://github.com/Randrianasulu)
can you give me a clean e-mail address to use to send you the link.

[2022-05-09 12:22] Randrianasulu commented on #598
@shag00 randrianasulu@gmail.com

[2022-05-09 12:33] CAPRICORNX10X commented on #591
I definitely volunteer to do so.  Happily.  Do not think this is such a serious problem.  How many names lang are there?

השג את Outlook עבור Android<https://aka.ms/ghei36>
________________________________
From: Dan ***@***.***>
Sent: Monday, May 9, 2022 3:10:11 PM
To: justdan96/tsMuxer ***@***.***>
Cc: CAPRICORNX10X ***@***.***>; Author ***@***.***>
Subject: Re: [justdan96/tsMuxer] fix 100 % tran

[2022-05-09 12:34] shag00 commented on #598
@justdan96

congratulations on your code of conduct. If you look more closely I am not swearing, I am using an old saying which contains what some people deem a swear word. I am most certainly not swearing at @Randrianasulu ! There is no need to swear at him because he has done nothing wrong to me or mine. I am as pleased as punch you guys decided to take up this project and all kudos and thanks t

[2022-05-09 12:36] shag00 commented on #598
@Randrianasulu
link sent

[2022-05-09 12:42] shag00 commented on #598
@justdan96
You might consider that I have spent the last 3 hours predominately on this issue and have sort advise from @Randrianasulu  to provide the information he was after. This is not something a malcontent would do, is it? I have a working TSMuxer, I don't need you to do anything to allow me to carry on my merry way, no doubt, very much the same position you are in. My motives are similar to

[2022-05-09 12:46] shag00 commented on #598
sorry, the font i am using is ariel

[2022-05-09 12:55] Randrianasulu opened #599 "latest git fails to build with clang 14/termux/arm?"
attempt at compiling yelds this:

[code]

[2022-05-09 13:50] Randrianasulu commented on #598
@shag00 I looked at provided file with mpv and ffplay (2.8.15! so quite old) and mediainfo.. it seems to be PGS subtitle (as intended after tsMuxer?) and.. it looks correct? At least I can't see those little squares you showed in screenshot...

[2022-05-09 15:42] justdan96 commented on #599
It looks like Cmake isn't setting the TSMUXER_VERSION variable. Perhaps you can check the Cmake output?

[2022-05-09 15:50] justdan96 commented on #598
@shag00 perhaps try using Noto Sans or another Unicode font and see if the same squares appear? I don't have a Windows machine to test on but it's possible a Unicode character is being added to the output which can't be handled by your chosen font. Subtitles are handled differently on Windows and Unix, which may explain why others can't see the same.

[2022-05-09 18:57] Mipeli opened #600 "Demux THD Stream from MKV"
Testing I'm found out that the at some movies at demux THD stream (without embedded AC3) from MKV file behind using TSMuxer this THD stream (without embedded AC3) isn't consistent with demux THD stream (without embedded AC3) behind using MKVExtract. How find out, which of these demux THD streams (without embedded AC3) is the correct and consistent with original, when original I don't have. Eventua

[2022-05-09 21:50] shag00 commented on #598
@Randrianasulu
sorry I have sent a replacement file with srt subtitles

[2022-05-09 22:11] shag00 commented on #598
Here is my attempt to use Nato Sans. As you can see it is produces little rectangles in the editing software, Subtitle Edit. In each case the little rectangles are used in place of musical notes, "♪".

![tsmux1](https://user-images.githubusercontent.com/37562304/167506371-9fea4ab0-b324-44c8-a5a2-ed8e56862bd9.png)

[2022-05-09 22:49] jcdr428 commented on #598
@shag00 can you please post the .srt (or part of it) so that I can see what tsMuxer replaces the music symbol with.

[2022-05-09 22:59] jcdr428 commented on #591
About 500 languages in ISO 639-2.

[2022-05-09 23:16] Randrianasulu commented on #598
I used this meta file (tsmuxer do not read eac3 sound from mkv for some reason - might be user error on my side! Ah, sure, wrong type of audio! I construct those in mcedit not in tsmuxer's GUI)

[code]

and I still can't see squares? But if they appear instead of some (unicode) characters - this point at font/locale/encoding interplay.. I think?

[2022-05-10 00:26] shag00 commented on #598
[srt.zip](https://github.com/justdan96/tsMuxer/files/8656156/srt.zip)

[2022-05-10 01:14] shag00 commented on #598
@jcdr428
re the music symbol, I suspect we may have crossed wires here, the music symbol issue relates to Subtitle Edit which is a completely different issue to the TSMuxer issue. Even though Subtitle Edit can not display a music symbol using Noto Sans TSMuxer still recognises it and displays it correctly.

The issue is that TSMuxer is appending something to the end of each line contained in an .s

[2022-05-10 01:19] shag00 commented on #598
Just mux without sound

[2022-05-10 06:57] Randrianasulu commented on #598
@shag00 it works on Slackware with provided srt (even misic sign show up!)

I already fixed my meta file for using AC3 sound

![IMG_20220510_095114](https://user-images.githubusercontent.com/40185805/167566992-8db6bfcb-3e71-4138-868f-1e5a3e38645b.jpg)

[2022-05-10 07:47] shag00 commented on #598
@Randrianasulu
S_TEXT/UTF8, /mnt/sdb2/tmp/Outlander.ENG.srt, track=3, font-size=56 default=force, video-width=1920, video-height=1080, fps=23.976, font-name="/usr/lib/cin/plugins/fonts/arial.ttf"

This is telling me you have not muxed the file with TSMuxwer?

[2022-05-10 08:12] Randrianasulu commented on #598
@shag00 I do not have any other software to turn srt into pgs...

May be I butched this line, still tsmuxer worked and ffplay too...

what caught your eye?

[2022-05-10 08:30] shag00 commented on #598
@Randrianasulu

You have totally confused me with, "I do not have any other software to turn srt into pgs...". That is part of what TSMuxer does, turn .srt files into .pgs files. .srt files are a valid input to TSMuxer and have been for almost 20 years. You do not need any other software.

To confirm what we are doing, we are combining an H264 video file with a .ac3 audio  file and an .srt subtitl

[2022-05-10 08:36] Randrianasulu commented on #598
well, this is how tsmuxer wirks for me - it takes few streans (stand alone or muxed into mkv, or mux of two methods) and while just muxing audio and video it also turn srt into pgs stream, to mux into final ts.

[2022-05-10 08:53] shag00 commented on #598
Addressing your EDIT,
 You appear to be creating a BD ISO (my lack of technical knowledge may have led me to the wrong conclusion), this is not what I am doing. I am just creating a simple .m2ts file.

[2022-05-10 09:13] Randrianasulu commented on #598
![1652173928658](https://user-images.githubusercontent.com/40185805/167593528-d5f5365b-4238-44ca-96c4-9d3d49d60ea3.jpg)

well, using latest tsmuxer/win32 under wine-5.5 (I do not have Arial font for some reason, so I used Dejavu Sans) - still no artefacts?

[2022-05-10 09:17] Randrianasulu commented on #598
![1652174164171](https://user-images.githubusercontent.com/40185805/167594337-6bcce067-22dd-43b1-b885-ce3ddaaa49ec.jpg)

this is how my subtitle settings looks like

[2022-05-10 09:31] shag00 commented on #598
Which of the 6 asset releases are you using?

[2022-05-10 10:10] Randrianasulu commented on #598
@shag00
https://github.com/justdan96/tsMuxer/releases/download/nightly-2022-05-05-02-59-07/w32.zip

w32.zip

[2022-05-10 10:33] shag00 commented on #598
OK, so I setup this 32 bit file and the result did not change. Some other errors are apparent but I won't cloud the issue with them.

[2022-05-10 10:46] shag00 commented on #598
If I run the appimage version the problem is solved.

[2022-05-10 10:51] CAPRICORNX10X commented on #591
Why do need to change the code 639-2 language?  Will only the full word be changed to the in the native language?  possible?

השג את Outlook עבור Android<https://aka.ms/ghei36>
________________________________
From: jcdr428 ***@***.***>
Sent: Tuesday, May 10, 2022 1:59:36 AM
To: justdan96/tsMuxer ***@***.***>
Cc: CAPRICORNX10X ***@***.***>; Author ***@***.***>
Subject: Re: [justdan96/tsMuxer] fix

[2022-05-10 11:39] justdan96 commented on #598
It has to be with the specific code used for the Windows subtitle management, I might have a Windows VM somewhere to try to test this on, but we I think have to analyse the SRT output from Linux and Windows to compare.

[2022-05-10 11:42] shag00 commented on #598
@justdan96
thanks, as you appear to have pin-pointed where the issue is I will explain the other error in using today's release. In addition to the rectangle issue some of text is coloured black, appears to be totally random and does not affect every line.

[2022-05-10 11:52] justdan96 commented on #598
Actually we can just compare SRT output from before 2020-01-03 with after as well, if that is easier.

@xavery would you be able to check if this commit may have changed the string handling - either it includes the LF character or is adding a /0 char or something like that?
https://github.com/justdan96/tsMuxer/commit/9670fd6b19599efb44b66f5c70dc43d112119bd1#diff-9d4045e9c9ad4aa5a29bd9b2120977356ec

[2022-05-10 21:43] wolflopnew commented on #596
Here is anonther link with a 3 Min Movie same problems as i described
https://1drv.ms/u/s!AifiITtpdjN1h3-R3_gSzsIS20g4?e=NoLdUs

[2022-05-10 22:43] shag00 commented on #598
@jcdr428
I have a file, it is 4.2 GB, do you want that or a much smaller one (5 min only)? I use both VLC and MPV, both display the same thing.

[2022-05-10 22:44] shag00 commented on #598
Please also give me a clean email address to send it to.

[2022-05-10 22:49] jcdr428 commented on #598
@shag00 5min. is enough.
jcdr428.github@gmail.com

[2022-05-10 22:56] shag00 commented on #598
link sent

[2022-05-10 23:05] jcdr428 commented on #600
@Mipeli on the few trials I've done, tsMuxer and MKVExtract output the same file / CRC32.
Can you please upload a sample mkv for which this is not the case.

[2022-05-11 05:59] jcdr428 commented on #598
Link not received as of this morning 7am. Can you please send from another email address ?

[2022-05-11 08:33] wolflopnew commented on #596
for comparison the executable version generated by clonebd from the (TSmuxer version sample above)
Possibly for comparison. Maybe that gives a clue as to why...
https://1drv.ms/u/s!AifiITtpdjN1iACtSV8YQgEw0TiW?e=iu5txE

[2022-05-11 08:42] shag00 commented on #598
I re-sent the file with a copy to myself and I have received it. As it's from one drive I cannot change the sending address.

[2022-05-11 15:32] Mipeli commented on #600
Current have not nope MKV, but once some again this bug will have so write. Maybe was error in MKV Toolnix, is about to be updated to the latest version so I'll see if with bug will appear.

[2022-05-11 21:29] jcdr428 commented on #598
Actually it is not random, color always changes after letter 'u'.
So you have specific letters that create specific actions: \x75 ('u') changes color, \x0A (return) displays a square.

Other than that I have no idea what could create this in commit https://github.com/justdan96/tsMuxer/commit/9670fd6b19599efb44b66f5c70dc43d112119bd1

[2022-05-11 21:35] jcdr428 commented on #596
@wolflopnew the provided sample does not result in any warning in tsMuxer when muxing on my PC, so nothing I can do.

[2022-05-12 06:36] wolflopnew commented on #596
But if they were burned on a disc they are not playable on the player?

[2022-05-12 07:22] wolflopnew commented on #596
by the way have ypu tried to mux the video without the aac? Muxer stops with an error.

[2022-05-12 07:44] wolflopnew commented on #596
heres todays actual encoding... erros message
https://1drv.ms/u/s!AifiITtpdjN1iAE91XBfumQDPhX7?e=7wLMZr

[2022-05-12 07:55] wolflopnew commented on #596
without aac this error message
https://1drv.ms/u/s!AifiITtpdjN1iALmxEroSTJE1Mls?e=J2eH2L

[2022-05-12 08:22] wolflopnew commented on #596
So the same problem today Disc is not playable after burning it. Player showy only play at display and stops then...
So if to solve the problem you must look burned disc on a stand alone player. Did anyone can test ist on a burner an player to confirm my problem?
Here is the today tested file
https://1drv.ms/u/s!AifiITtpdjN1iAMDiLcK5NaWLV9i?e=e6vUzY

[2022-05-12 16:54] jcdr428 commented on #596
The sample you provided does not have any AAC stream.
Please upload a faulty sample. Again, no point uploading working samples.

[2022-05-12 19:15] wolflopnew commented on #596
Here ist the mp4 Upcsale shortintro -  with all the problems i described... Hope this now the right one
https://1drv.ms/v/s!AifiITtpdjN1iAWgDRSvnTuRG6Nn?e=pwjRuT

[2022-05-12 22:52] shag00 commented on #598
@jcdr428
the colour issue only applies to very recent releases not the 1/3/2020 release referred to in this bug report, please ignore.

[2022-05-13 12:28] jcdr428 commented on #598
@shag00 can you please identify the latest release working without the color issue ?

[2022-05-13 23:06] shag00 commented on #598
@jcdr428
Re the colour issue, I have tested all the way back to the first release, 16/12/19 and find even it is affected. I can confirm that it occurs after a line that contains the letter "U" is encountered. The remainder of the line after the "U" is coloured black. The next line returns to normal (white) colour.

As the last time I clean installed my PC was early 2020 I cannot recall what versio

[2022-05-14 08:56] xavery commented on #598
Yup, my bad. Even though I wasn't able to reproduce the issue directly, there is a problem in the `GraphicsPath::AddString` call in the Win32 subtitle renderer.

[2022-05-14 09:14] xavery commented on #598
@shag00 Please retest and reopen if the issue is still not resolved. You can use the following builds to test :

Windows 64 : https://github.com/justdan96/tsMuxer/suites/6505476418/artifacts/241783524
Windows 32 : https://github.com/justdan96/tsMuxer/suites/6505476416/artifacts/241783538

Just replace the `tsMuxeR.exe` you're currently using with the one from the archive and re-run the mux.

[2022-05-14 09:18] jcdr428 commented on #598
@shag00 Can you please open the issue (as I suppose it is still an issue) ?

@xavery glad to see you back. That must have been hell to find this bug !

[2022-05-14 09:19] jcdr428 commented on #579
@xavery is it possible for you to look at this issue ? This is way above my expertise.

[2022-05-14 09:38] xavery commented on #579
Hopefully that's enough information to proceed. I have to admit I'm not a fan of the {{BitStream}} code and trying to debug it isn't necessarily my idea of a nice weekend ... 😅

[2022-05-14 10:41] shag00 commented on #598
My result is that neither player, VLC or MPV, detect a subtitle stream. Though viewing the file with Media Info returns the following for the text section:
Text
ID                                       : 4608 (0x1200)
Menu ID                             : 1 (0x1)
Format                               : PGS
Codec ID                            : 144
Delay relative to video       : 3 s 41 ms

[2022-05-14 11:32] jcdr428 commented on #598
@shag00 can you please upload a sample of the m2ts ?

[2022-05-14 11:39] xavery commented on #598
Worksforme with Big Buck Bunny and the following metafile, both with TS and M2TS output.
[code]
[vlc screenshot here](https://user-images.githubusercontent.com/127875/168424022-30bf5525-0bf6-447d-bcc5-149ec65e540d.png)

Share your metafile maybe?

[2022-05-14 11:47] xavery commented on #599
You shouldn't be starting builds from `tsMuxer/tsMuxer` in the first place. It's not a self-contained project and, even if `TSMUXER_VERSION` were defined, the build would fail later on due to missing libmediation.

The only way to do a build is to run `cmake` from the top directory. There's no point in guarding against this.

[2022-05-14 11:47] #599 closed

[2022-05-14 12:02] shag00 commented on #598
sent incorrect file, sending correct one now

[2022-05-14 12:04] shag00 commented on #598
@xavery
how to obtain the metadata info you want?

[2022-05-14 12:28] xavery commented on #598
@shag00 If you're using the GUI, just copy and paste the bottom part of the window. If you're using the commandline, it's the first file that you pass to the application, i.e. if you call tsmuxer as `tsmuxer myfile.meta output.ts`, then what we're looking for is the contents of `myfile.meta`.

[2022-05-14 12:35] shag00 commented on #598
MUXOPT --no-pcr-on-video-pid --new-audio-pes --hdmv-descriptors --vbr  --cut-end=300000ms --vbv-len=500
V_MPEG4/ISO/AVC, "/mnt/data1/A/Halo.S01E08.Allegiance.1080p.AMZN.WEB-DL.DDP5.1.H.264-NTb_Video01.UND.h264"
A_AC3, "/mnt/data1/A/Halo.S01E08.Allegiance.1080p.AMZN.WEB-DL.DDP5.1.H.264-NTb_Audio01.ENG.eac3"
S_TEXT/UTF8, "/mnt/data1/A/Halo.S01E08.Allegiance.1080p.AMZN.WEB-DL.DDP5.1.H.264-NTb_Subtitl

[2022-05-14 12:37] shag00 commented on #598
AH! think I found it seems I choose aerial, works with other font

[2022-05-14 12:40] shag00 commented on #598
can re-close

[2022-05-14 12:40] #598 closed

[2022-05-14 17:30] xavery commented on #579
Wasn't able to reproduce this with my local QEMU-emulated ARM64 machine. Images generated by that machine and the x64 host are bitwise same. The MacStadium machine is not accessible at the time (raised a ticket) so this needs to wait until I have access. Anyhow, it looks like the issue might be related to the compiler rather than the CPU itself, though I have no hard proof so far.
@jcdr428 As far

[2022-05-14 19:25] xavery commented on #579
Okay. I was able to reproduce this on x64 by just compiling tsMuxer with Clang in release mode. Creating the ISO yields a different file than the one produced by gcc-compiled tsMuxer, in both debug and release modes.
Compiled with Clang's undefined behaviour sanitizer, and the results are quite telling :
[code]
Ugh.

[2022-05-14 21:30] shag00 commented on #598
@justdan96
colour problem is also fixed.

[2022-05-15 08:22] jcdr428 commented on #579
!!! I'll check whether there is an equivalent to UBSan in msvc options.
This may also be the cause of other unreproducible bugs such as #505 .

[2022-05-15 09:48] xavery commented on #579
Okay, I just merged #602 which avoids the shift problem. With these changes, I was able to get a bitwise same ISO on all compilers and platforms we support, including Mac Mini.

The alignment warnings reported by ubsan, although serious, don't pose a problem on either Intel or ARM, as neither of those architectures have strict alignment requirements. This is also why the fix only addresses the shi

[2022-05-15 11:19] axledentaldj commented on #579
Which? As I just downloaded the master and I got the same issue.

[2022-05-15 11:32] jcdr428 commented on #579
Win64 https://github.com/justdan96/tsMuxer/suites/6511543803/artifacts/242245282

[2022-05-15 20:53] #591 closed

[2022-05-15 20:54] xavery commented on #591
The language names are now translatable, have fun.

[2022-05-15 22:56] axledentaldj commented on #579
Tested the Win64 77f9dc3 in my Parallels Wndows 10, made a 1 minute ISO and it played on my Oppo-203.

Tested MacOS 77f9dc3 and it has the same problem: "File is not Supported".
Using hex Fiend and replacing those hex numbers fixes the test BD ISO.

You can download these files here:

Win64: https://mega.nz/file/wEwllZ4D#9p0e8TEbSLKai_jrQHh2altCxUbf8jY0-buEiS_8DQ0

Mac: https://mega.nz/file/tV4XlB

[2022-05-16 07:22] CAPRICORNX10X commented on #591
Thank you

השג את Outlook עבור Android<https://aka.ms/ghei36>
________________________________
From: Daniel Kamil Kozar ***@***.***>
Sent: Sunday, May 15, 2022 11:54:28 PM
To: justdan96/tsMuxer ***@***.***>
Cc: CAPRICORNX10X ***@***.***>; Author ***@***.***>
Subject: Re: [justdan96/tsMuxer] fix 100 % translation of tsmuxer (Issue #591)

The language names are now translatable, have fun.

—
Reply t

[2022-05-16 08:36] jcdr428 commented on #579
@axledentaldj in the provided file `00000-tsmuxer-macosarm-77f9dc3.iso`, there are no more hex numbers `05 04 48 44 4d 56 88 04 4d 56 88 04`, the DTCP is now correctly set as `0f ff fc fc`: so replacing those hex numbers could not have fixed anything.

Can you double check that you tested the correct file ?

[2022-05-16 21:22] axledentaldj commented on #579
Double checked as you requested. Made a 2 minute clip of that same movie I use for testing this bug.

Still, same problem on my Oppo-203 (Free RU JB USA device), says "File is not supported"

Download that test BD.ISO here: https://mega.nz/file/1cQDnI4Z#pOcid4AHCF0MGVicx4f4yU1e3kuVr3cBA7g97hUa4Kw
![IMG_0772](https://user-images.githubusercontent.com/91437698/168684724-22341ffe-39b1-47fc-8a4f-e769e

[2022-05-18 18:58] jcdr428 commented on #579
@xavery any chance that INT_BIT = 64 on MacOS ?
`constexpr static unsigned INT_BIT = CHAR_BIT * sizeof(unsigned);`

[2022-05-18 21:10] xavery commented on #579
@jcdr428 No, MacOS uses 32-bit ints. Besides, I checked this on an Apple Silicon host and the resulting ISO was the same as Windows 64.

If you don't have any other ideas on what might be wrong (perhaps UDF Verifier has some ideas?), I don't know what else there is to be done here. As you've already noted, the HDMV descriptors themselves in the ISO files @axledentaldj posted look okay. In fact, th

[2022-05-18 21:54] axledentaldj commented on #579
Maybe I have something on my macOS 11.6.5 Arm Mac mini that's altering something? I know there's homebrew installed and had X11 stuff on my Mac mini but I uninstalled it many months ago. I know there's an update to my BigSur 11.6.6 is out.

Im thinking outside the box..? Hmm, how about someone on their MacOS machine, take my test video mkv file, and use tsmuxer Mac git 77f9dc and remux it into a B

[2022-05-19 07:08] jcdr428 commented on #579
@xavery thank you very much. All good with UDF Verifier :(

@axledentaldj on the two last ISOs you posted, I could not find any `050448444D5688044D568804` chain. So I also can't figure out what Hex Fied is fixing.
Could you please upload two ISOs, one (non working) before Hex Fiend replace and one (working) after, so that I can spot any difference ?

[2022-05-19 19:03] jcdr428 commented on #600
@Mipeli did you find any mkv sample where mkvextract output is different from tsmuxer output ?

[2022-05-19 20:33] axledentaldj commented on #579
OK, files are ready for you to look at:

00000-tsmuxer-mac-git-77f9dc_A.iso Download here:
https://mega.nz/file/AEBHEKhD#l2wYYzpDqRUnXpPVcjHx7bjVNbgfZUMJ2rbUtAvMGII

00000-tsmuxer-mac-git-77f9dc_Hexfeind.iso Download here:
https://mega.nz/file/kIpmRCwL#IV8L9JL6u5zLcuplgIYlcbVV42t3WytHwRU7r660DtY

[2022-05-19 20:55] jcdr428 commented on #579
@axledentaldj the two files are bit for bit identical. Same CRC32 hash...

[2022-05-19 21:08] axledentaldj commented on #579
Really, I didnt check crc32, but its now weird that it wont play unless I use hex feind?  Like I said earier, maybe theres something on my Mac Mini MacOS thats doing something? Did you take my sample m2ts file and remux it on a Macos tsmuxer mac git 77f99dc?

[2022-05-19 21:14] jcdr428 commented on #579
Very weird indeed.
I don't have access to a MacOS.

[2022-05-19 21:16] axledentaldj commented on #579
I think, that another macOS is indeed need and I totally forgot I got 2 more of them. Ones a macMini M1 with less memory and the other is my old late 2014 intel Mac mini. I will contact the person that has them and let you know the results.

[2022-05-20 00:54] axledentaldj commented on #579
My friend ran tsmuxer mac git77f9dc on his Mac Mini M1 (2020) on MacOS 12.4 and remuxed my sample 4k m2ts clip into an BD ISO and it had nothing to do with my Mac Mini M1 (2020) because  it still wont play on my Oppo-203 unless I Hex Edit it. I was hoping it was my Mac Mini M1.

[2022-05-20 10:27] jcdr428 commented on #579
@axledentaldj the files are identical so my guess is you have to look at other macOS file elements: file permissions, access right...

[2022-05-20 11:50] axledentaldj commented on #579
I'll look at that and I have 1 other thing I'm gonna mess with. I'll look at the files inside the BDMV.. Thanks guys for all your efforts.

[2022-05-21 06:35] xavery commented on #587
Fixed in 24ae93589c64fe9a7b11559801a2fa4a3677c928.

[2022-05-21 06:35] #587 closed

[2022-05-21 09:11] jcdr428 commented on #600
Closing -can be reopened upon request when a sample is available.

[2022-05-21 09:11] #600 closed

[2022-05-23 21:03] jcdr428 commented on #596
@wolflopnew please try https://github.com/jcdr428/tsMuxer/suites/6627064564/artifacts/249768855 (assuming you're on Win64).
Put the downloaded tsMuxeR.exe file with your tsMuxerGUI.exe file.

[2022-05-24 08:05] wolflopnew commented on #596
Thanks, i make a test with it

[2022-05-24 12:00] wolflopnew commented on #596
problem with AAC Audio is gone. Film is muxxable but Still the problem... movie is, after burning the iso, not playable on the standalone player

[2022-05-24 13:34] jcdr428 commented on #596
@wolflopnew Blu-ray is not compatible with aac, nothing we can do...
I'll push the commit to fix the ''Not enough buffer for parse video stream' error.

[2022-05-24 18:56] wolflopnew commented on #596
have burned the movie with DVD Fab  but this encodes without aac automatically . So the movie is smaler but it playes normal on the player.  I tried antother run with hooked aac. I will burn this an i give you feedback...

[2022-05-24 20:17] wolflopnew commented on #596
So my feedback... 4k Blu-ray is after encoding the movie with aac and dts audio playable.  The aac has no sound. The player takes automatic the dts sound audio and it worke fine... So why not without antohter encoding?

[2022-05-24 20:20] jcdr428 commented on #596
@wolfopnew can you please share a (small) sample of the m2ts with aac that works in the player ? I will analyse the aac descriptor written by DVDFab.

[2022-05-25 07:52] wolflopnew commented on #596
Here is the working movielink https://1drv.ms/u/s!AifiITtpdjN1iAbbdFlcSyVTvdsR?e=FPGPpa

[2022-05-25 09:45] rkjnsn opened #606 "On Linux, use fontconfig to find font files."
tsMuxer currently appears to be hard-coded only to look for fonts in /usr/share/fonts/. This means that any fonts installed in other locations will lead to messages like “Can't find ttf file for font Liberation Sans” when selected. Worse, some distros don't have a /usr/share/fonts/ at all, which makes adding an srt subtitle track altogether impossible. Instead of using a fixed directory, tsMuxer s

[2022-05-25 14:29] jcdr428 commented on #596
@wolflopnew the m2ts does not contain any AAC stream, only AC3. So it is likely that DVDFab transcodes AAC to AC3.
tsMuxer is a muxer not a transcoder. You can use a transcoding tool e.g. foobar2000 or ffmpeg to transcode AAC before muxing with tsMuxer.

[2022-05-25 15:14] Randrianasulu commented on #606
I think you still can add full font path/name to ttf font you want to use in meta file (I used this method  during testing), but yea, a bit more automation in this area will not hurt..

[2022-05-25 15:41] wolflopnew commented on #596
But i dont need aac audio its only ballast. I need only the second audio DTS .- Master. So i dont need a trranscoding. I need the hevc and the DTS MA, be muxed burnable on disc and playable with the standalone player and this doesnt work.

[2022-05-25 21:39] jcdr428 commented on #596
@wolflopnew there are two AC3 on the sample you provided, no DTS. What do you wnat me to verify with it ?

[2022-05-26 09:09] wolflopnew commented on #596
ok,  with this movie there are two ac3. Not seen, sorry. But the first was the aac ( dvdfab trancodes it ti ac3) but the second ist the original track i take at the end.

[2022-05-26 13:50] jcdr428 commented on #596
@wolflopnew still not clear:
DVDFab transcodes AAC to AC3, and tsMuxer will not do that.
If there is a stream with DTS that does not work with tsMuxer but works with DVDFab, please provide both tsMuxer and DVDFab outputs so that I can analyse the reason.

[2022-05-26 17:39] wolflopnew commented on #596
But does this solve the problem? AAC is not the problem.  I explained to you earlier.... You already have all of the required files for troubleshooting...
I have an mp4 that has been upscaled to 4k which then contains an Aac audio. I load this mp4 into the muxer and disable the aac (because it's not needed) and add a high quality DTMMA audio track and the subtitles and the original chapters. The g

[2022-05-26 18:03] jcdr428 commented on #596
@wolflopnew as requested, please upload the tsMuxer iso that does not play and the DVDFab iso (from the same input) that plays. Up to now if I am not mistaken you have not provided them.

[2022-05-26 19:17] wolflopnew commented on #596
I will send tomorrow another projectfile as you asked. Older files are deleted...

[2022-05-27 08:34] wolflopnew commented on #596
Here the isos from the current project,
https://1drv.ms/u/s!AifiITtpdjN1iAhyAMHItAfBNozf?e=hzNOQf
the Hitcut.ISO one is created with the muxer from an Mp4 with aac and can be played on the player.
Film starts but only after 1 minute.

Hitiso2 is the Mp4 without AAC checked and with DTS sound and sups but only 2 MB. Tsmuxer ends without an error... but 2 MBs?
https://1drv.ms/u/s!AifiITtpdjN1iAebDPW

[2022-05-27 10:17] jcdr428 commented on #596
@wolflopnew can you please also share the original mp4, the DTS and the sups used as input to create those outputs, so that I can reproduce.

[2022-05-27 19:06] wolflopnew commented on #596
I have made a sequence of 2,5 GB from the original Mp4. So give me an info if you had downloaded the first files so that i can upload the mp4 file and then the dts file

[2022-05-27 20:10] wolflopnew commented on #596
The Dts file upload if you ready with the other files

[2022-05-27 23:02] rkjnsn opened #607 "Can't remux MP4: “MP4/MOV error: Invalid SRT frame”"
I have an MP4 file that I'm trying to remux into an MP4 file. If I try to add it to the GUI, nothing happens. Running the command-line tool in track detection mode, however, I get

    tsMuxeR version git-d3c495d. github.com/justdan96/tsMuxer
    Error: MP4/MOV error: Invalid SRT frame at position 2240905

The file plays fine, however, and I was able to remux it into an MKV and import that into ts

[2022-05-27 23:28] rkjnsn commented on #606
Okay, specifying the full path to LiberationSans-Regular.ttf for the `font-name` in the meta file *did* allow muxing to complete, but somehow resulted in almost everything being rendered in italic.

Subtitles that are only partially italic seem to render correctly. E.g., this properly resulted in regular for “[person on speaker]” and italic for “Who are you?”:

    1
    00:00:14,139 --> 00:00:15,

[2022-05-28 00:16] razierklinge opened #608 "Bitstream exception std::exception."
I have a Dolby Vision file I'm trying to convert from profile 8 to profile 7. When I try to load it into the latest nightly of the GUI, nothing happens, it doesnt get loaded to the list of input files and no error is thrown.

If I try to use the commandline with a meta file I see:
`HEVC muxing fps is not set. Get fps from stream. Value: 23.976`
`Bitstream exception std::exception. It does not have

[2022-05-28 07:53] jcdr428 commented on #608
@razierklinge can I please have a sample of the m2ts provoking the bug ?

[2022-05-28 07:54] jcdr428 commented on #607
@rkjnsn can ypu please provide the mp4 provoking the bug.

[2022-05-28 08:10] razierklinge commented on #608
I gotta be honest, I'm not well versed in the area of video editing. What would be the easiest way to make a small sample? The original file is a ~40GB mkv file. And I'm assuming getting the end of the file would be best?

[2022-05-28 08:38] wolflopnew commented on #596
Today had begin another movie. And as before player shows play... nothing to sees on the tv. After a while movie starts at 1 Minute.
So i think the key is  why it starts after 1 Minute and when the movie is compressed for a few bytes with clonebd it will start normal...

[2022-05-28 14:21] jcdr428 commented on #608
@razierklinge there was indeed a mistake in my commit aac7d2b . I've pushed a correction, please try tomorrow's release.

[2022-05-29 01:21] rkjnsn commented on #607
Attached a small segment that demonstrates the problem.

https://user-images.githubusercontent.com/7364197/170848014-2a39d784-fddf-42a3-8018-3914b90c5648.mp4

[2022-05-29 09:10] jcdr428 commented on #596
@wolflopnew I can't find the reason for the 1min. offset. Except maybe the unusually large initial time offset used by tsMuxer ?
Which I have reduced to 10 sec., please try https://github.com/justdan96/tsMuxer/suites/6701592582/artifacts/254746586

I have also corrected German language code from "ger" to "deu", however I doubt this was the reason for your player behavior.

[2022-05-29 10:22] wolflopnew commented on #596
Just tested that. No change. The film starts on February 1st. Min. It's funny that this only happens with all Upscale Mp4 with movies created with the Tsmuxer. For regular hevc movies from disc, creating isos works normally.

[2022-05-29 10:23] wolflopnew commented on #596
Did you still need the DTS audio file?

[2022-05-29 11:02] jcdr428 commented on #596
@wolflopnew I have the dts from Hitcut3, that should do.
I've also downloaded the mp4, i'll keep on digging.

[2022-05-29 12:15] wolflopnew commented on #596
thanks for your help. i will delete now the files on one drive...

[2022-05-29 15:39] jcdr428 commented on #607
@rkjnsn no video attached (message "No video with supported format and MIME type found"). Can you please provide a link ?
Or if the srt is enough to provoke the bug in tsMuxer, please upload the srt in github.

[2022-05-29 17:41] rkjnsn commented on #607
Agh. Looks like Github decided to make things complicated by embedding the link as a video. You can still right click it and select copy video link (on my browser, at least), but here's the URL directly: `https://user-images.githubusercontent.com/7364197/170848014-2a39d784-fddf-42a3-8018-3914b90c5648.mp4`

[2022-05-29 20:33] jcdr428 commented on #607
@rkjnsn there are some text modifiers that tsMuxer does not seem to parse correctly.
I have applied a quick patch, can you try tomorrow.
The modification of the SRT according to the modifier (in this case, italics on part of the subtitle) is still to be done.

[2022-05-29 22:46] razierklinge commented on #608
@jcdr428 I pulled your fixes and it did get rid of the Bitstream exception. However I'm still getting the error "Not enough buffer for parse video stream." at the end of muxing. It seems to be happening on the very last frame of my file.

[2022-05-30 14:22] bluewidy opened #609 "How to ignore "Bad SEI detected" error?"
My 3D TV can't detect 3D MKV as 3D video. But 3D M2TS is possible.
So, using Tsmuxer, I tried to convert 3D MKV with MVC stream to 3D M2TS,
but the error "Bad SEI detected. SEI too short" prevents this from working.
How can I ignore the error message and force the action?

Bad SEI detected. SEI too short
Bad SEI detected. SEI too short
Bad SEI detected. SEI too short
Bad SEI detected. SEI too shor

[2022-05-30 22:04] Randrianasulu opened #610 "cppcheck error - real or false?"
[code]

myself not real programmer, so I can't say if this warning real / harmful or false.

[2022-05-31 07:07] rkjnsn commented on #607
With the May 31st Linux build, I get

    tsMuxeR version git-d77bf22. github.com/justdan96/tsMuxer
    double free or corruption (out)

[2022-05-31 08:02] justdan96 commented on #610
I think we'd have to check the initialisation, but thanks for reporting. Perhaps if it is a real issue we can include cppcheck in our PR checks to avoid similar issues in the future.

[2022-05-31 09:22] jcdr428 commented on #608
@razierklinge can you please try some previous versions to see whether you are getting the same "Not enough buffer for parse video stream" message ?

[2022-05-31 11:07] jcdr428 commented on #607
@rkjnsn indeed I tested the fix with Windows, I forgot that with Linux the subtitles were going through freetype.
Anyway MP4 subtitles with inline modifiers seem to be rare enough, I'll wait for your sample.

[2022-05-31 12:30] Steeler333 opened #611 "Command Line Mode (Muxing) - No "timeshift" value (audio) set"
Hello,
 i'm new to TSmuxer, so if my issue is incorrect, please let me know how to fix my problem (via settings).

I have a big folder of seperate .vob/.mpg files, that I'd like to convert to .ts, since they work better with my media devices.
To do this, I tried it in command line mode, which worked with no issues.

However after checking the files with the "media info" software, I figured there's

[2022-05-31 16:08] bluewidy opened #612 "Can I remove the parameter "subTrack"?"
<img width="713" alt="tsMuxeR_error" src="https://user-images.githubusercontent.com/40682277/171219262-3da79f9d-020f-4d21-967d-cdf22ca5b4c6.png">
I want to convert Ts container to m2ts. The problem is that a parameter called "subTrack" makes this process unstartable.
Can I remove the "subTrack" parameter?

[2022-05-31 16:52] jcdr428 commented on #607
@rkjnsn I have pushed a fix to fully remove the parsing of the tx3g modifiers until it is implemented. Please try tomorrow or try https://github.com/justdan96/tsMuxer/suites/6731994755/artifacts/256788981.

I am still interested by your samples, I could not find any mp4 sample using tx3g modifiers on the net.

[2022-05-31 18:14] jcdr428 commented on #612
You can try copying the meta data in a .meta file removing the subTrack params, then use `tsmuxer.exe file.meta output.ts` as command line without the gui. Not sure of the result though.

[2022-05-31 18:21] jcdr428 commented on #611
In your script you would have to run `tsmuxer.exe inputfile` and grab the timeshift value before running `tsmuxer.exe file.meta outputfile`

[2022-05-31 19:33] Steeler333 commented on #611
Thank you for helping out.

Can you point me where to put the "inputfile" value in my code (i'm not that advanced in scripting).

Thanx!

[code]

[2022-06-01 10:47] bluewidy commented on #609
Inspired by [jcdr428's comment](https://github.com/justdan96/tsMuxer/issues/612#issuecomment-1142463671), I succeeded in solving the problem!

 I extracted the .meta file of this, and ran `tsmuxer.exe file.meta output.m2ts` in the CLI environment.
"Bad SEI detected. SEI too short" keeps appearing, but unlike the GUI, "Too many errors! tsMuxeR is terminated." This message did not occur!

 So the ou

[2022-06-01 10:47] #609 closed

[2022-06-01 13:35] jcdr428 commented on #612
@bluewidy you're welcome!

[2022-06-01 13:46] jcdr428 commented on #611
@Steeler333 I am not too familiar with batch scripting neither :(
There are two ways to use tsMuxer:
'tsMuxer input.mpg' will show all parameters including the timeshift. This is how tsMuxer creates the .meta file.
'tsMuxer metafile.meta output.ts' will transmux.

So before calling make_ts, call a function show_params which will exec %tsmuxer% "%~n1" and parse the timeshift parameter.

[2022-06-02 02:24] axledentaldj commented on #579
I have some good news. I just did an erase and a fresh install of MacOS 12.4 on my Mac Mini M1 and remuxed a 4K mkv with tsmuxer git 7165e3b and its
BD ISO IS Playable on the Oppo-203!  I dont uabe much installed on my machine yet. Certainly there is NO Homebrew installed.

[2022-06-02 07:24] #579 closed

[2022-06-02 22:53] rkjnsn commented on #607
The 2022-06-02 build does indeed process the file without crashing. As expected, however, all italics are lost unless I first use an external tool to convert them to an external .srt file and add that.

I'm having trouble extracting a sample that reproduces the `double free or corruption (out)` crash on 2022-05-31. The full file is about 10 GiB. Is there a good way to get that to you?

[2022-06-03 07:16] jcdr428 commented on #607
For 10GB the best would be to create a bittorrent link with an open tracker.

[2022-06-03 07:52] xavery commented on #611
The GUI sets the `timeshift` value to whatever tsMuxeR returned as `Stream delay: ` while running in info mode, i.e. when passed the media file only instead of the metafile and output file.

Here's an example output of tsMuxer running in info mode :
[code]

As you can see, `Stream delay` is defined for both the video and the AC3 audio track. So your script would need to first run tsmuxer in "info

[2022-06-05 09:46] rkjnsn commented on #607
Alright, I sent you an e-mail. Let me know if there's a better way to get it to you.

[2022-06-05 13:01] justdan96 commented on #607
Mega.co.nz gives you 20GB free storage, Google Drive gives you 15GB I think.

[2022-06-06 05:48] razierklinge commented on #608
I went tried many different versions hopping back from version to version and all gave the same error on the last frame of the file.

[2022-06-09 21:26] Selur opened #614 "Stuck during analyis CLI"
Using https://github.com/justdan96/tsMuxer/releases/tag/nightly-2022-06-02-03-18-48
I ran
[code]
and got
[code]
problem is the process never finished,....

using old 2.612 version I get:
[code]

[2022-06-10 08:16] jcdr428 commented on #607
@rkjnsn please try tomorrow's release, thanks.

[2022-06-10 10:28] jcdr428 commented on #614
Hi @Selur , problem might be due to the large negative duration. Can we please have a link for Adios.ts ?

[2022-06-10 10:31] Selur commented on #614
here you go: https://drive.google.com/file/d/1s3-sUAK56j_73kRl4yjPYf_uxpZ02kSt/view?usp=sharing

[2022-06-10 13:01] jcdr428 commented on #614
@Selur fixed with commit 6b4d3fd, please try tomorrow's release or try artifacts [Win64](https://github.com/justdan96/tsMuxer/suites/6879728399/artifacts/266328727), [Linux](https://github.com/justdan96/tsMuxer/suites/6879728395/artifacts/266328614), [Mac](https://github.com/justdan96/tsMuxer/suites/6879728390/artifacts/266328433)

[2022-06-11 09:27] jcdr428 commented on #608
@razierklinge I can't solve without the sample.
For instance you can use MkvToolNix-Gui, Output tab->split mode "after output duration" 7100s, check that the second output  mkv still produces the bug in tsMuxer, and share this second mkv.

[2022-06-13 12:17] HoffmannTom commented on #368
@bouchnouk
For DV you need to separate the BL and EL bevor muxing to BD.
If you process BL and EL after separation, do they still get corrupted my ffmpeg?

[2022-06-13 12:47] #607 closed

[2022-06-13 12:48] jcdr428 commented on #611
Closing, can be reopened upon request.

[2022-06-13 12:48] #611 closed

[2022-06-15 17:27] nc88keyz commented on #590
When will a friendly docker be released at this point. The original is beginning to show its age. Thank you .

[2022-06-19 05:51] TheSpider12 opened #616 "Can't demux srt subtitles from certain mp4 files"
As the title says. Here is the error message:
![image](https://user-images.githubusercontent.com/107785238/174467745-706d25ce-afb4-4d0e-9525-79562c473c18.png)

[2022-06-19 18:45] jcdr428 commented on #616
@TheSpider12 Thanks for reporting, this will be fixed in tomorrow's release.

[2022-06-19 18:45] #616 closed

[2022-06-19 23:42] TheSpider12 opened #617 "Some mp4 files' video/audio are out of sync after being muxed to ts"
As the title says. This is the name of one of the movie files where I noticed the above issue: Loki.S01E02.The.Variant.2160p.WEB-DL.DDP5.1.DoVi.HEVC-L0L. Actually, most, if not all, of those Loki season 1's movie files have this issue. The original mp4 file is ok, but after being muxed to ts/m2ts, the video/audio are out of sync.

[2022-06-21 09:19] chbtime opened #618 "when HEVC has three B frames, the audio and video will be out of sync"
When making UHD, when HEVC has three B frames, the audio and video will be out of sync. The frame rate of the original video is 23.976, but the frame rate after production becomes 19.3, and the playback time will be longer, 23.976 / 19.3 = 1.242, assuming the original 300 seconds of video, now becomes 372 seconds

[2022-06-21 09:22] chbtime commented on #618
Here is log

tsMuxeR version git-8474c6b. github.com/justdan96/tsMuxer
HEVC stream doesn't contain fps field. Muxing fps=23.976
B-pyramid level 1 detected. Shift DTS to 2 frames
Decoding AC3 stream (track 2): Bitrate: 192Kbps Sample Rate: 48KHz Channels: 2
Processed 7193 video frames
Flushing write buffer
Creating Blu-ray stream info and seek index
Creating Blu-ray playlist
Mux successful complete

[2022-06-22 02:05] chbtime commented on #618
@jcdr428 Here is the sampel

https://1drv.ms/v/s!AvgB20EtWxpYi02BYcp5u-btEhyl?e=hWOrkg

[2022-06-22 07:38] chbtime commented on #365
@poldon @Troceleng , you can try [Yuhan Blu-ray DVD Creator](https://yuhanmedia.com/product/dvdcreator/) : https://yuhanmedia.com/product/dvdcreator/

[2022-06-22 20:51] jcdr428 commented on #617
@TheSpider12 please try https://github.com/justdan96/tsMuxer/suites/7049463120/artifacts/277706307 (put tsMuxer.exe with your usual tsMuxerGui.exe)

[2022-06-23 05:44] jcdr428 commented on #617
@TheSpider12 please try with other movie files, and if you confirm no issues I will push the fix to the main tsMuxer.

[2022-06-23 20:43] jcdr428 commented on #618
@chbtime I don't think it is related to the number of B-frames.
tsMuxer increments the DTS (Decoding TimeStamp) according to the hevc 'slice_pic_order_cnt_lsb' read in each frame.

This hevc stream has the following 'slice_pic_order_cnt_lsb' sequence (example for the first GOP):
0, 5, 3, 1, 4, 10, 8, 6, 9, 15, 13, 11, 14, 20, 18, 16, 19, 25, 23, 21, 24...
So basically for every five frames there i

[2022-06-24 01:56] chbtime commented on #618
@jcdr428  This is generated by apple silicon m1 encoding. The encoding of INTEL UHD 630 graphics card does not have this problem. Can it be processed with the timestamp of the original video? The original video playback is fine.

[2022-06-25 12:31] jcdr428 commented on #618
@chbtime you could run a script to change the timestamps within the m2ts file, but the hevc pic order counts would still be incorrect. Better to avoid the m1 encoding, or find parameters that don't create the same bug.

[2022-06-25 12:34] #617 closed

[2022-06-27 04:38] TheSpider12 commented on #617
I tested with another movie and saw no issues. Please include the exe in the latest release. Thanks.

[2022-06-27 06:04] jcdr428 commented on #617
@TheSpider12 done.

[2022-06-28 19:41] #618 closed

[2022-06-28 20:27] jcdr428 commented on #596
@wolflopnew can you please see whether replacing the index.bdmv and MovieObject.bdmv in the tsMuxer output, by the ones produced by DVDFab, resolves the issue ? This would allows me to know for sure that it comes from the BDMV commands.

[2022-06-30 10:54] jcdr428 commented on #593
Issue redundant with #596n closing.

[2022-06-30 10:54] #593 closed

[2022-06-30 10:55] jcdr428 commented on #608
@razierklinge can you please provide the sample.

[2022-07-02 17:34] wolflopnew commented on #596
still the same problem even if I copy the index.bdmv and MovieObject.bdmv from the DVdfab. Film starts at 1 min. The dVdfab starts at 0 min.

[2022-07-04 12:20] TheSpider12 opened #621 "SRT subtitles out of sync after demux"
The recent release of tsmuxer fixed the "Can't demux srt subtitles" bug (#616) I reported a few weeks ago but I realize today that the demuxed srt subtitles are out of sync if I reattach it to the original mkv/mp4 movie file and mux it as ts/m2ts. The out of sync issue gets worse as the movie plays. You can try the first episode of Obi-Wan.Kenobi.S01.2160p.DSNP.WEB-DL.DDP5.1.Atmos.DV.MKV.x265-KOGi

[2022-07-05 20:08] jcdr428 commented on #621
@TheSpider it should be fixed in tomorrow's release.

[2022-07-06 11:45] jcdr428 commented on #621
@TheSpider12 if the original was in 24fps and you demuxed in 23.976fps / remuxed in 24fps, just remux the m2ts with the 24fps video but with subtitle fps = 24000/1001.

[2022-07-06 13:34] jcdr428 commented on #621
@TheSpider12 you have to save the .meta file, edit the sub fps manually in the .meta file, and use the command line tsMuxer.exe file.meta output.m2ts

[2022-07-07 03:42] NoOneInPart opened #623 "H264-encoded content with soft pulldown plays at the wrong speed after muxing"
Greetings, I am attempting to mux some H264 files encoded with x264 (tested with version core:164 r3095 baee400) and soft pulldown (--pulldown 32) to m2ts in an attempt to produce a muxed Blu-ray compatible 480i stream from 23.976p content without having to upscale to 720p. However, the resulting muxed file will playback at the full 29.97FPS through both PotPlayer and VLC, which is too fast, causi

[2022-07-07 05:58] TheSpider12 commented on #621
So I tried this but when I edited the file and put 24000/1001 into sub fps, running the command line displayed an error - sth along the line of "the framerate is not standard". So I tried changing it to 23.976 instead and it successfully ran but the the output file still has out of sync subtitles.

[2022-07-09 18:44] #621 closed

[2022-07-09 19:09] jcdr428 commented on #623
@NoOneInPart I don't know the pulldown option too much, but shouldn't it be pulldown 64 to go from 23.976p to 59.94i ?

Otherwise you could include a blank video as primary, and have the 720x480 23.976p as secondary (with the possibility of dragging the PiP full screen).

[2022-07-09 21:40] NoOneInPart commented on #623
Hi @jcdr428, I believe 59.94i is actually out of spec because that would be 59.94 interlaced frames per second, or 119.88 fields per second. It's a bit confusing because people tend to mix fields vs frames, but I really do mean 29.97i, or 59.94 fields per second. If you display each field sequentially that would basically yield the equivalent of 59.94fps. The thing is, the original source footage

[2022-07-09 21:47] jcdr428 commented on #623
When I refer to 59.97i it is indeed fields, which is the same as referred to by the Blu-ray specs:
![image](https://user-images.githubusercontent.com/56721609/178123634-084dac66-908f-4940-af71-f81169c04217.png)

Anyway... if the x264 --pulldown 64 does not work, the upscale to 720 is the easy solution.

[2022-07-10 00:21] NoOneInPart commented on #623
I apologize, that was my misunderstanding. I have tested an encode with `--pulldown 64`, and there are some interesting results. It plays at the correct speed, however, MediaInfo reports a framerate of 7.992 (8000/1001) FPS, which doesn't seem right, and on top of that, it identifies as a progressive stream. Doing some Googling yields [this Doom9 forum page](https://forum.doom9.org/showthread.php?

[2022-07-16 11:38] ted423 opened #624 "Strang BDMV and mpls"
The BDMV name is Agatha Christie's Poirot S07 1080p USA Blu-ray AVC DTS-HD MA 2.0
this bdmv has two episode
about e01
the m2ts is 01:47:24
the mpls is  1:43:49.222

when play the m2ts ,there are 1 minute black screen in begin and end.
tsmuxer show 1:43:49.222 but extract 1:47:24 min video track(useac3to and dgdemux do same),mkvtoolnix remux direct can get 1:43:49.222 mkv(but seem the audio has som

[2022-07-16 12:20] jcdr428 commented on #624
@ted423 with m2ts, the chapter information is included in the mpls. So if you read the m2ts directly and not the mpls, it will start at begining of video before start of chapter.

The solution is to enter the mpls start and end time (relative to video start time) in the "split" tab of tsMuxer.

In mkv, the chapter info is included in the mkv.

[2022-07-16 14:13] ted423 commented on #624
I found dgdemux has 'strict playlist' function solve my problem.

Is there an easier way to get the cutting time?

[2022-07-17 21:01] jcdr428 commented on #623
@NoOneInPart if it is for a personal project, have you tried to leave the video at 720x480 @23.976p ? It is not blu-ray compliant but might play with your player.

[2022-07-21 03:23] TheSpider12 opened #625 "Subtitles not appearing after muxing"
The latest release of tsmuxer fixed my previously reported issue #621. However today I came across this mp4 file: [edited]. After demuxing the subtitles, reattaching them to the video and muxing as m2ts, the subtitles do not appear. Other episodes seem fine, just this episode has this issue. I checked the original file and the subtitles appear just fine.

[2022-07-21 20:41] jcdr428 commented on #625
@TheSpider12 please provide a sample, thanks.

[2022-07-21 23:58] TheSpider12 commented on #625
What's the best way to provide a sample? The mkv file is pretty large so is there a way to extract a small clip from it with all the video/audio/subtitles intact and give you a link to that clip?

[2022-07-22 17:03] jcdr428 commented on #625
@TheSpider12 please create a torrent file with an open tracker address and send me the torrent file on jcdr428.github @ gmail com

[2022-07-23 08:26] #623 closed

[2022-07-23 10:36] meitp opened #626 "About the setting of "default track""
After adding the main playlist of the Blu-ray disc to tsMuxer, the default audio track and default subtitle track will be automatically displayed under "Default Track". The default audio track and default subtitle track shown here are just the first audio track and the first subtitle track of the imported Blu-ray original disc, not the real "default track". In the case of not changing the "default

[2022-07-24 13:38] jcdr428 commented on #625
@TheSpider12 Please try tomorrow's release.

[2022-07-24 16:03] TheSpider12 opened #627 "Error: Reading buffer overflow. Container streams not synchronized. Verify stream fps."
This movie file: [edited]

Like usual, I extracted the subtitles, tonemapped and reattached them to the video tracks and was muxing it as Blu-ray folder but got the error below. This is the first movie where I encountered this error.

![Screenshot 2022-07-23 191444](https://user-images.githubusercontent.com/107785238/180655859-70629833-d282-4de3-9c58-a98bdf3232e3.jpg)

[2022-07-26 12:17] meitp commented on #627
Do not extract subtitles, directly mix as a Blu-ray folder, by mistake?

[2022-07-26 12:46] TheSpider12 commented on #627
Sorry I'm not sure I understand what you mean. I need to extract the subtitles so I can lower down their brightness, otherwise they will be too bright in HDR to watch in a dark room. After lowering down their brightness, I reattach them to the original video/audio tracks and mux the whole thing as Bluray folder and play it on my bluray player. That's what I usually do and it has worked fine so far

[2022-07-26 18:50] jcdr428 commented on #625
@TheSpider12 please confirm the bug is fixed.

[2022-07-26 19:26] jcdr428 commented on #627
@TheSpider12 I have demuxed track 4768 (eng sub), and remuxed with 00800.mpls: no problems.
You seem to have done something else, your picture shows only four tracks whereas the mpls contains 25 tracks. Are you reuxing from a previous remux ?
The TrueHD track seems to be the culprit (three "bad frame detected" messages).

[2022-07-27 00:26] TheSpider12 commented on #627
I'm remuxing from the original bluray folder. It only shows 4 tracks in the picture because I removed any non-english audio/subtitles track.

You don't have any issue remuxing it? I will try again today with the latest tsmuxer version.

[2022-07-27 00:30] TheSpider12 commented on #625
Hi. It's fixed. Thank you.

[2022-07-27 01:28] TheSpider12 commented on #627
I tried again with both the latest version and previous version of tsmuxer and the issue is no longer there, so I'm not sure what happened. Nothing seems to change between two runs.
![image](https://user-images.githubusercontent.com/107785238/181140508-1308b8e2-1fa9-4998-9ace-6d569b014534.png)

[2022-07-27 05:20] meitp commented on #627
strangeness! How can it be false! Verify the streaming fps, the fps of several videos are all 23.976 (including 00055.m2ts).

[2022-07-27 05:48] #625 closed

[2022-07-27 05:54] jcdr428 commented on #627
Ok, closing.

[2022-07-27 05:54] #627 closed

[2022-07-27 12:15] ferindel8783 opened #628 "Bad frames detected during Demux"
Sorry in advance if this problem has already been reported, but I didn't find any trace of it when searching for it.

I have been using tsMuxer to demux streams from BluRay disks several times without any problem. However, I encountered problems while trying to demux two BluRay disks today. For these, I get the following message in the tsMuxer output window:

Decoding DTS-HD stream (track 1): bad

[2022-07-27 15:58] jcdr428 commented on #628
@ferindel8783 no way to tell without testing the faulty files. Please give a link to download the files on jcdr428.github@gmail.com

[2022-07-29 04:47] ferindel8783 commented on #628
Actually, it happens with all the BluRay disks that I'm downloading from one website, so I think that there's a problem with the resources that they are providing, and I'm going to try to find other BluRay disks. Thank you for your help anyway.

[2022-07-29 04:47] #628 closed

[2022-08-01 02:35] moveman opened #629 "Flush too early and causing extra frame to be created"
The following code in MPEGStreamReader::readPacket() assumed at the end of the H264 stream, there is a NAL unit (such as filler data) after the last picture:
[code]
If there are no such filler data NAL unit, it will return NEED_MORE_DATA.

This in turn caused m_codecInfo[minDtsIndex].m_lastAVRez to be changed:
[code]
metaDemuxer has already had m_isEOF set to 1 because all bytes of the H264 stream

[2022-08-07 21:59] GrzeWier opened #630 "Downconvert option should NOT be active for audio tracks that have no core stream embeded"
Hi
Downconvert option should NOT be active for audio tracks that have no core stream embedded.
Resulting file will not have audio when this option is used.
I guess this primarily applies to EAC3 ?

![downconvert](https://user-images.githubusercontent.com/96982951/183312554-3837668f-c822-438d-9469-e043bd03e805.jpg)

[2022-08-09 15:56] DeVlaamseLeeuw opened #631 "Problem to start tsMuxer on Linux Mint"
Hello,
I installed the last version (tsMuxer v2.6.12) on my Linux Mint.
When I try to launch tsMuxer, I have this message : **_./tsMuxerGUI: error while loading shared libraries: libQtGui.so.4: cannot open shared object file: No such file or directory_**
I tried to install the package **_libqtgui4:i386_** but it's not working :
**_The following packages contain unmet dependencies:
 libqtgui4:i386:

[2022-08-10 15:53] justdan96 commented on #631
Did you try the latest binary from the Releases page? https://github.com/justdan96/tsMuxer/releases

[2022-08-13 14:47] DeVlaamseLeeuw commented on #631
Hi Dan,
Thank you for your answer.
Unfortunately, I didn't use the last binary. It works now !!!!!!
Thank you.
Best regards.

Chris

[2022-08-13 14:58] jcdr428 commented on #629
@moveman can you please copy your .meta file ?
I am not clear on the issue, is it the last frame that is copied twice, or is it simply the AUD nal which is wrongfully added ?

[2022-08-13 15:31] jcdr428 commented on #630
@GrzeWier Please try tomorrow's release.

[2022-08-13 17:30] jcdr428 commented on #626
@meitp assessing which default audio/subtitle applies to which playlist would be difficult, as the info is generally buried in the bdjo files or the hdmv commands. When no default track is selected in tsMuxer, there is simply no default track selected in the output Bluray.

[2022-08-14 07:43] sjpotter opened #632 "tsmuxer doesn't respect mpls in/out marks for seamless branching"
I have some movies that have non regular (but fairly common setup) where its not just appending 2 or more m2ts files in sequence, but actually only displays portions of the m2ts file.

ex (somewhat made up but basd on real experience): the mpls file might say that the total playtime is 4 minutes, but each m2ts file is 2.5 if played raw.  It could be the first 30s of each file is color bars.  When

[2022-08-14 07:48] sjpotter opened #633 "tsmuxer has issues with seamless branching with changes in audio setup"
I have "many" blurays that have seamless branching where there's an "initial" distributor m2ts file as part of the playlist that has no audio and then a main m2ts that has audio.  In these cases tsmuxer (along with mkvtoolnix, amongst others.  makemkv is a bit smarter an just throws away the initial m2ts file) chokes on these remuxes into the .ts without any audio at all.

I'd think it be better t

[2022-08-14 08:44] jcdr428 commented on #633
@sjpotter could you please five examples of movies (and distributors/country release) where we can see this case ?

[2022-08-14 09:55] sjpotter commented on #633
I believe I've seen this issue on every single recent kino lober release, will verify later as their logo is silent/no audio (one m2ts) and the main movie is not (another m2ts).  Kino Lober films aren't always pcm, so not quite the simple fix I proposed.

[2022-08-14 09:57] jcdr428 commented on #633
@sjpotter the solution could be to include a stream delay corresponding to the length of the first track.

[2022-08-14 10:04] sjpotter commented on #633
yes or just exclude the logo (what makemkv effectively does), but becomes more complicated with the other bug (mpls in/out marks) that I just posted.

But as I said, it be nice if the situation was detected and warned about in general, and as I said, tsmuxer (right now) creates a video only ts output in this case.

[2022-08-16 18:34] jcdr428 commented on #630
Closing. Can be reopened upon request.

[2022-08-16 18:34] #630 closed

[2022-08-18 07:22] alvenchan commented on #365
@poldon @Troceleng , you can try [Yuhan Blu-ray DVD Creator](https://yuhanmedia.com/product/dvdcreator/) : https://yuhanmedia.com/product/dvdcreator/

[2022-08-18 12:48] Troceleng commented on #365
I checked it out and found that it was more useless than Leawo Blu-ray Creator. Even more limited utility. However, I found out that Ashampoo Burning Studio seems to fill this need for me.

[2022-08-19 11:43] GabeBlincoln commented on #582
Is generating the "real" ac3 fallback stream using eac3to blah.thd blah.thd+ac3 (or eac3to blah.thd+blah.ac3 mixed.thd if you already have both) really such a nightmare that everyone is clamoring for a file that will have playback issues if the .ac3 fallback is actually required?      :P

[2022-08-19 15:25] Randrianasulu commented on #582
@GabeBlincoln I do not think eac3to actually open-source like current tsMuxer? I probably can run it on x86 linux via wine, but I dislike fundamentally windows-tied and/or closed-source software ...

[2022-08-20 10:50] GabeBlincoln commented on #582
Ok, so ffmpeg to encode the ac3 stream from THD and thdmerge for merging.   The real point wasn't an OS argument, it was more a question of why everyone seems to want a blank stream.  I've seen multiple requests for this in various places on the web and it's always a blank ac3 just to make it "pass" players that enforce compliance.   It's not really any harder to make it really _be_ compliant (aka

[2022-08-20 12:00] jcdr428 commented on #582
@GabeBlincoln agreed. Although there are already few functions in tsMuxer that don't belong to a muxer -such as add missing Access Unit Delimiters removed by MKVToolNix, continuously add sps/pps...
Adding blank ac3 frames is simple, whereas transcoding to ac3 needs a third party codet such as ffmpeg. Anyway, yes this is a pis-aller and some people might be upset to find some faje bluray muxes with

[2022-08-20 13:31] Randrianasulu commented on #582
@GabeBlincoln back when I opened this issue I was not aware about thdmerge.

@jcdr428 feel free to close this, just add remark about exustence of thdmerge in documentation, please ....

[2022-08-21 11:03] ValZapod commented on #582
This! Or
eac3to input.thd output.thd+ac3 -downStereo -32

[2022-08-21 11:14] ValZapod commented on #623
It is 30/1.001 fps indeed, soft pulldown just says some of thise frames as blank frames. The other thing is a bug in Potplayer then. Try mpv.

[2022-08-21 18:56] jcdr428 commented on #582
@ValZapod I think (I'm not sure) that the ac3 must have as many channels as the thd.

[2022-08-21 21:02] NoOneInPart commented on #623
Hi, I've tested the bitstream against mpv-x86_64-20220821-git-37aea11, the speed issue persists with both the raw bitstream and the muxed output. Same results with ffplay version N-107453-g15785e044e-2022-07-20-nonfree, they both run at 29.97, ignoring the soft pulldown.

I just find it really strange that when muxed with tsMuxer 1.10.6, it seems to play at nearly the correct speed, just slightly

[2022-08-23 02:33] moveman commented on #629
@jcdr428 this is the .meta file:
[code]
The last frame is not copied twice.
AUD nal is wrongly added to the last frame. In addition, this last frame has two PTS instead of one PTS.

[2022-09-03 15:38] OmniSoundsLab opened #634 "Noise is present in the processed image"
I need to convert m2ts whose audio part is DST-HD to PCM only for the audio part.
The audio part of the following file "before.m2ts" was converted to PCM (00001 _ (1 dts) .wav), and the result "after.m2ts" was obtained.
However, while there was no problem in the original video, 1:17:49 now has some noise in "after".
Does this mean there is a problem with the original file? If there is a defect, I

[2022-09-03 18:10] jcdr428 commented on #634
@OmniSoundsLab do the wav and dts-hd have the same noise ?

[2022-09-03 19:04] OmniSoundsLab commented on #634
@jcdr428 I'm sorry it's confusing. The noise is on the image. I checked with MPC-HC. If you look at after.m2ts, you can see it.

[2022-09-04 08:28] jcdr428 commented on #634
@OmniSoundsLab is it possible to have shorter (<1GB) before and after m2ts ?

[2022-09-05 12:58] ValZapod commented on #398
Since we now have Atmos open source decoder, I verified Atmos in EAC3 is not dependent stream, it does not depend on AC3 in any way!! https://github.com/VoidXH/Cavern

[2022-09-05 18:38] jcdr428 commented on #398
Fixed with commit 2c58285, closing.

[2022-09-05 18:38] #398 closed

[2022-09-06 14:09] OmniSoundsLab commented on #634
@jcdr428 I used tsMuxer to cut the two files I uploaded earlier between 1:17:30 and 1:18:00.
However, even in the cutting process, there is noise in the same place in "before _ s.m2ts".
Sorry to bother you, but please check "before.m2ts" for original video.

https://6.gigafile.nu/1215-a121984db5046478ba607c768f879a2e

[2022-09-16 13:27] jt207 opened #635 "apparent 48KHz/32 bit AAC audio file error"
I'm trying to process video files from a Canon pro HD camera, and all files generate an error message in tsMuxer when added as input files. The error message is "Error: Invalid AAC frame for track #2 at position 540236" and the position is always 540236, regardless of input file.
The audio files are 48KHz, 32 bit AAC which is listed as a supported input format. The video is H.264 MPEG4 AVC part 10

[2022-09-17 03:24] dts24436 commented on #635
Yeah, just as it shows, most AAC audio tracks aren't recognized by this tsMuxer at all, M4A-packed files at least, and I'll have to use other tools to have them muxed into MPEG-2 TS files then dumped into tsMuxer.

[2022-09-17 12:25] jt207 commented on #635
Thanks for the reply. I checked a handful of short video files from my phone, and VLC seemed to think they were the same audio format (AAC, 48KHz, 32 bit) and same video format (but different frame rate). So I dropped some of those into tsMuxer and it appeared to like them.  I'll try some additional tools.

[2022-09-18 11:06] jcdr428 commented on #635
@jt207 tsMuxer 2.6.12 is obsolete. Please try latest version and report.

[2022-09-18 11:59] galactic76 opened #636 "one film not properly muxing from mp4 to ts"
Hi! I found 1 film that not properly muxing from mp4 to ts
It says FPS error, try to mux it till aprox 25%, and then give the error
its The.Railway.Children.Return.2022
im not sure if can name source here , but its pretty good for googling
So, if you can fix it I will be very appreciated
Thank in advance

[2022-09-22 21:46] RonerCodes opened #637 "When creating the BR folder structure (both Blu-ray folder and Blu-ray ISO), the BACKUP/JAR folder is missing"
I've used this program for many years and I've noticed some players don't care if the /BDMV/BACKUP/JAR folder is missing, but on my current Sony BR player, it will not play the disc if it is missing that JAR folder.  The only obvious work-around is using the blu-ray folder output option and manually adding the folder later.  Thanks!

[2022-09-23 04:16] imhh1 opened #638 "These 7.1 EC3 (without core) files can't be muxed correctly."
Hi,
[7.1 EC3 files](https://drive.google.com/drive/folders/1mEVbr-HdCpSoGsTzQtM2xZMTaNKqr4r4?usp=sharing) produced by Easy Audio Encoder and Dolby Encode Engine can't be muxed properly with tsMuxer. The duration double and the audio stutter. No issue muxing the same audio with mkvtoolnix.

thank you

[2022-09-23 21:34] jcdr428 commented on #637
@RonerCodes Blu-Ray specs:
![image](https://user-images.githubusercontent.com/56721609/192059625-ebf5f7f8-70d7-4175-a560-e93372fc6272.png)

Anyway, I have added the optional BACKUP/JAR directory.

[2022-09-24 02:11] RonerCodes commented on #637
Thank you @jcdr428 !   Yeah -- even earlier versions of PowerDVD did not play the disc without that specific folder existing.  Later versions are fine without it.

[2022-09-24 10:01] jcdr428 commented on #638
@imhh1 yes there was a mistake, the frame length must be calculated from the independent stream only -the frame length from the dependend substream must be discarded.
Plese check tomorrow's release.

[2022-09-24 10:05] #637 closed

[2022-09-24 10:11] #635 closed

[2022-09-25 17:53] imhh1 commented on #638
thank you. I can confirm the issue is fixed.

[2022-09-26 19:14] #638 closed

[2022-09-26 20:01] jcdr428 commented on #634
@OmniSoundsLab I have watched "after_s.m2ts" with MPC-HC, I can't find any noise as compared to "before_s.m2ts".

[2022-09-29 02:44] ValZapod commented on #398
BTW, I was after all wrong, I read some documentation and apparently AC3 is always present for Blu-ray. It is just part of EAC3 stream, you can understand that it is the case yby looking into mediainfo' mediatrace and looking into strmtup, if it is 1 you are looking into Blu-ray ac3+eac3 stream.

[2022-09-29 06:29] jcdr428 commented on #398
@ValZapod correct, strmtyp 1 just means dependent stream.

[2022-10-01 03:06] OmniSoundsLab commented on #634
@jcdr428  Due to my lack of knowledge, video clipping in the binary editor didn't work, but instead I clipped with MKV ToolNix, which produced a short video file with no noise.
When I put it through tsMuxeR again, the noise was reproduced, so I will send it to you.

https://61.gigafile.nu/0109-43db5d8de739f32acc17c1be7ed43057

[2022-10-01 12:20] jcdr428 commented on #634
@OmniSoundsLab No noise created from before2.mkv on my side.
Which version of tsMuxer did you use ?
Can you copy your meta file ?

[2022-10-05 16:13] Thunderbolt8 opened #639 "Reading buffer overflow"
Remuxing a UHD movie from .mkv to .m2ts I keep getting this error at 99.6%:

"Reading buffer overflow. Possible container streams are not syncronized. Please, verify stream fps. File name: movie.mkv"

output window shows as specs

"tsMuxeR version git-fc36229. github.com/justdan96/tsMuxer
HEVC muxing fps is not set. Get fps from stream. Value: 23.976
B-pyramid level 1 detected. Shift DTS to 2 fram

[2022-10-11 08:59] Randrianasulu commented on #598
On Monday, May 9, 2022, shag00 ***@***.***> wrote:

well, thank you for pinpointing faulty version.. I am not developer enough
for seeing problem in code, I just saw sometimes codepage/font/locale/line
endings interplay  can give all sort of bugs.

I have no doubt you can reproduce problem on your machine/system - but it
might be specific to your Windows installation, or some type of install or
so

[2022-10-12 12:50] kirscheee opened #640 "issues: AV frame too large (41138 bytes). Increase AV buffer."
Error Code -2

how to fix it?

[2022-10-12 19:34] jcdr428 commented on #640
@kirscheee please share sample, thanks.

[2022-10-15 06:02] yangfar opened #641 "Heap-buffer-overflow in /fuzz_software/tsMuxer-master/tsMuxer/bitStream.h:224:37 in BitStreamWriter::flushBits() and BitStreamReader::getCurVal"
### Version
tsMuxeR version 2.6.16-dev. github.com/justdan96/tsMuxer
[https://github.com/justdan96/tsMuxer/commit/fc36229b007d476437271e03e5297b0f04f61ed6](commit)
### Description

### Crash1
================================================================
==1445939==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x60400001d9b1 at pc 0x000000652ad9 bp 0x7ffe58ccc330 sp 0x7ffe58ccc328
REA

[2022-10-16 21:33] jcdr428 commented on #641
@yangfar the link to POC.zip is not working, can you please re-upload.

[2022-10-17 00:59] yangfar commented on #641
Ok，I will upload POC again.

[2022-10-17 03:07] yangfar commented on #641
Please try again.

[2022-10-17 21:49] jcdr428 commented on #641
@yangfar please try tomorrow's release, thanks.

[2022-10-21 22:05] jcdr428 commented on #636
@galactic76 please try tomorrow's release, thanks.

[2022-10-22 19:53] cob66 opened #642 "problem remixing UHD BD DV - black screen instead film"
Nightly build from 2022-10-22-03-25-47 issue:
Tried remixing UHD DV BD structure (Bumblebee 2018). Process ended with success, but only black screen on Chinoppo.
This same remux on Nightly build from 2022-09-25-03-42-04 without problem :)
I haven't tested the releases 2022-10-18/19

[2022-10-22 21:57] jcdr428 commented on #642
@cob66 is it working with 2022-10-18 or2022-10-19 release ?

[2022-10-23 09:58] galactic76 commented on #636
Unfortunatelly I already demux video and audio separately and the remux it together
The issue was that sound was for a 0.0XX sec longer than the video

[2022-10-23 10:02] galactic76 commented on #636
Who can tell me where I can make a request for a developing this programm?

The thing is that itwill be extremely usefull if the program make a separate srt file in the same try taht we remux mp4 to ts., cause i need to find englsh subtitles in opensub org and then translate it with translatesubtitles.com or with subtitle edit. And I wonder why you do not add to thi programm google translate of th

[2022-10-23 11:09] jcdr428 commented on #636
Hi @galactic76 , I close the issue.
You can make a feature request by opening a separate issue.

[2022-10-23 12:13] galactic76 opened #643 "feature that helps make easy to get different langauge subtitles while remuxing mp4 to ts"
Hi! I wonder if its possible to make a feature that helps make easy to get different langauge subtitles while remuxing mp4 to ts inside this tsmuxer version The thing is that it will be extremely usefull if the program make a separate srt file in the same try that we remux mp4 to ts., cause i need to find englsh subtitles in opensub org and then translate it with translatesubtitles.com or with pro

[2022-10-23 12:53] jcdr428 commented on #643
@galactic76 demuxing from mp4/tx3g to srt could be integrated. Translations are outside the scope of the muxer.

[2022-10-23 12:55] jcdr428 commented on #641
Closing, can be reopened upon request.

[2022-10-23 12:55] #641 closed

[2022-10-23 12:56] jcdr428 commented on #640
No sample provided, closing. Xan be reopened upon request.

[2022-10-23 12:56] #640 closed

[2022-10-23 13:00] jcdr428 commented on #608
No sample provided, closing. Can be reopened upon request.

[2022-10-23 13:00] #608 closed

[2022-10-23 13:27] #631 closed

[2022-10-23 13:38] jcdr428 commented on #642
@cob66 can you please test 10-18 and 10-19 releases, or provide sample.
The commits since 09-25 should not have modified hevc muxing.

[2022-10-23 14:28] cob66 commented on #642
Something strange happened. Today I remuxed several times with the last version of tsmuxer  and each time with complete success. I don't understand, and unfortunately I successfully deleted that broken remux. I cannot repeat the problem. Sorry for the confusion.

[2022-10-23 14:35] jcdr428 commented on #642
@cob66 no worries, I close and if there is still an issue you can request to repoen.

[2022-10-23 14:35] #642 closed

[2022-10-23 14:37] #636 closed

[2022-10-23 14:53] jcdr428 commented on #634
Could not reproduce the issue with latest release. Closing, can be repoened upon request.

[2022-10-23 14:53] #634 closed

[2022-10-23 14:54] #626 closed

[2022-10-23 16:36] galactic76 commented on #643
OK, can you please integrate demux srt as a separate file while remuxing  video and audio mp4 to ts at the same time?
Thanks

[2022-10-25 21:52] cob66 opened #644 "return of old bug in BD3D remux"
The old remux 3D bug is back.
After remux 3D BD structure, the movie plays in 4K (2D) instead of BD3D (2K).
Months ago it was very similar - the bug was only in Win64bit (32 was ok).
As usual, I checked build from 2022-09-25- everything is fine here :)

[2022-10-26 06:10] sfuma888 opened #645 "Multiplexed stream in UHD quality in UHD is lighter than the original one"
I converted blu-ray m2ts files to m2ts using the latest nightly build of tsmuxer dated 24-10-24-03-55-50 2022. the original disc is slightly darker. Working version w64-nightly-2020-09-25 --02-25-44, converts well.

[2022-10-26 08:38] jcdr428 commented on #645
@sfuma888 is the muxed m2ts duration shorter than the original m2ts duration (i e. the video is cut ) ?

[2022-10-26 08:42] jcdr428 commented on #644
@cob66 there has been no change to AVC muxing lately.
Can you please test 2022-10-18 release ?

[2022-10-26 09:01] sfuma888 commented on #645
No. The whole movie.

[2022-10-26 09:15] jcdr428 commented on #645
@sfuma888 can I please have a link to download the input.

[2022-10-26 09:25] sfuma888 commented on #645
No. I am converting UHD Blu-ray discs from my home collection, removing unnecessary audio tracks and subtitles.

[2022-10-26 11:56] jcdr428 commented on #645
Then it will be difficult to see where the issue comes from...

[2022-10-26 12:37] cob66 commented on #644
I noticed that the "bug" is not repeatable, so maybe it's not software fault, but chinoppo or projector (jvc) fault. Remuxes on other versions are correct, and the one I reported happens once in several runs. I haven't found a rule. A similar issue #573 was noticed not only by me and repeated on different hardware.

[2022-10-26 13:19] jcdr428 commented on #644
@cob66 can you please do a byte for byte compare of the two muxes (09-25 and last release) and report if there is any difference ?

[2022-10-26 13:43] FRtranslator opened #646 "Can't seek video in Blu-Ray folder-based mux"
I have a h264 mp4, which I mix with audio track(s).
I choose to generate a Blu-Ray folder.
Mix finishes successfully.

However, I can't seek in the video with all the software Blu-Ray players I have test with (PowerDVD Ultra, VLC, Blu-Ray Player Pro (Mac)): picture freezes as soon I click anywhere on the timeline (on PDVD, and Blu-Ray Player Pro), VLC restarts at the beginning of the video.

When

[2022-10-26 21:19] cob66 commented on #644
I think I already know everything;) There is no difference between 25-09 and 24-10 ... both generate the same issue- 3D playback in 2D (2160p) format. The bug occurs when 2 input files are muxed. I used 2 mpls from different BD structures to make a custom BD. Interestingly, remuxing (with any tsmuxer version) this bad "3D/2D" structure gives the correct 3D structure, which resulted in my earlier -

[2022-10-27 06:01] jcdr428 commented on #644
@cob66 so is this a bug that needs resolution, or is this an error resulting from the way the output is created?

[2022-10-27 10:09] cob66 commented on #644
For me (but I'm not a specialist) this is a minor glitch due to the output data format. After all, re-remux solves the problem. The display (projector) probably does not get a mark (3d?) and recognizes the data, as is the default output set in my oppo, i.e. 4K.

[2022-10-30 03:18] kdantas opened #647 "Demux error code -2"
Hi, could someone give a solution to the problem below?

![TSMuxer Error](https://user-images.githubusercontent.com/19543277/198860988-38db94dd-09bc-47c9-8b65-e745d085a0b2.JPG)

[2022-10-31 06:54] sfuma888 commented on #645
I have tested almost all releases and I liked the nightly release the most-2020-01-01 --01-10-57. Recent releases suffer from low contrast and unsaturated picture color.

[2022-11-01 14:02] FRtranslator commented on #646
You can download a sample right here:
[demo BD.zip](https://github.com/justdan96/tsMuxer/files/9910596/demo.BD.zip)

The video is only 15sec long, but that's enough to see the issue. The firsts 7 sec are black, this is normal.

Starting at the 7th second, try so seek at a later position, you'll see that the sound is OK but picture is frozen.
On VLC: it will restart at the beginning if you use the

[2022-11-02 09:26] wolflopnew commented on #596
i think i have the solution. It was due to the frame rate Adobe Media Encoder generated 23.9761
frames instead of 23.976. Hence the problems...
Is it possible to change the frames to 23.976. However, the 23.9761 is displayed in the drop-down menu.

![Screenshot 2022-11-02 102250](https://user-images.githubusercontent.com/101669182/199453386-516fcb57-56e7-43c5-a3ea-c26a04bc7f16.jpg)

[2022-11-02 09:29] wolflopnew opened #648 "Old Problem maybe solution"
![Screenshot 2022-11-02 172712](https://user-images.githubusercontent.com/101669182/199545958-d4103d2f-af31-4521-95cd-59fc2b074e62.jpg)

Movie does not start on player after creation with the Tsmuxer or only after 1 min. Have upscale mp4 and AAC sound loaded. After adding in the muxer and adding additional audio tracks (DTS) and clicking on muxing it shows 'Warning! AAC codec is not standard for B

[2022-11-02 20:26] FRtranslator commented on #646
@jcdr428  I've found a version that I kept where the issue didn't exist: git-2aa293b, built on June 20th, 2021.
It failed on a version built on February 27th, 2022. I didn't test in the meantime.

I also found differences in the generated CPLI files (I used BDEdit to find them). I attach both success and failed files here. They come from the exact same video.
[cpli.zip](https://github.com/justdan9

[2022-11-03 02:04] FlaTechNole21 opened #649 "Demuxing HEVC stream from MKV results in truncated output"
Here are results from a demux I recently did with three different release versions (latest, first with issue, last without issue):

**Nightly build from 2022-10-24-03-55-50**:
tsMuxeR version git-1d46cb6. github.com/justdan96/tsMuxer
HEVC muxing fps is not set. Get fps from stream. Value: 23.976
B-pyramid level 1 detected. Shift DTS to 2 frames
**Processed 157426 video frames**
Flushing write buff

[2022-11-04 08:17] jcdr428 commented on #649
@FlaTechNole21 Please try tomorrow's release, thanks.

[2022-11-04 18:16] FlaTechNole21 commented on #649
Tested the W64 version and it no longer truncates, thanks!

[2022-11-04 18:29] #649 closed

[2022-11-05 08:20] jcdr428 commented on #646
@FRtranslator can you please test with today's release.

[2022-11-05 08:31] jcdr428 commented on #645
@sfuma888 the only commit pushed for next 03-Jan-20 release (https://github.com/justdan96/tsMuxer/commit/fa9962276f9066f0caa714432a4c4dca476e96a1) is very minor and does not affect colors. Are you certain that 2020-01-01 is the latest unaffected release ?

[2022-11-05 08:35] jcdr428 commented on #644
@cob66 can you please test today's release.

[2022-11-05 09:40] FRtranslator commented on #646
@jcdr428 You fixed the issue, partially... because you introduced another one: VLC can't open the generated Blu-Ray disc anymore. Here is the detailed log of VLC when trying to open the disc/folder:
[vlc2.txt](https://github.com/justdan96/tsMuxer/files/9943481/vlc2.txt)

However, PowerDVD is happy and plays the disc just fine, and seeking is woking.

So, there is a little bit more work to do ;)

[2022-11-05 10:25] FRtranslator commented on #646
Hmm... I will also investigate more on my side, because it seems that I can't reproduce this issue with other video files.
However, I know that I used the same video file as before, which, at least, could be played on VLC 2.x and 3.x.

Feel free to ask more infos if needed. I'll keep you updated. Please do the same.

[2022-11-05 12:22] jcdr428 commented on #646
@FRtranslator can you please share the failing tsMuxer output ?

[2022-11-05 21:47] FRtranslator commented on #646
@jcdr428  I'm starting to get some headaches here...
It looks like VLC 2 and 3 don't like to play Blu-Rays (folders?) that have a video of 1 minute or less. 1m01s is OK.
Same goes if you cut the video at 1m00s.
Really wired.
This is regardless of the version of tsMuxer.
The video I've tested with this morning was only 0m44s. No idea why it happens, it could still be a tsMuxer bug, it could also de

[2022-11-07 07:39] jcdr428 commented on #646
@FRtranslator I can't really find the flaw. It would help a lot if you can point me out on the latest working release.

[2022-11-07 10:56] FRtranslator commented on #646
@jcdr428 I feared you asked that ;)
I just tried to build a BD Folder with this 0m44s video with the latest official, non-open-source tsMuxer 2.6.x, and it fails to play on VLC too.
So, when trying to test your latest build, I used a different video as before (because it was faster for me), and found a bug on VLC or tsMuxer.
------
I need to do more tests: I generated the BD Folder with the same v

[2022-11-07 12:11] FRtranslator commented on #646
@jcdr428  I think I found the culprit: it is option "Do not play Blu-Ray menu" in VLC that triggers the error.
If checked, it fails. If not, no issue.
I don't know why there is a a different behavior when the video is more or less than a minute, but I don't think it is a tsMuxer issue.
I think issue can be closed now. I'll reopen it if I find something new.

[2022-11-07 12:11] #646 closed

[2022-11-07 21:34] FRtranslator opened #650 "Small UI issues"
Some text in French is truncated:

On Mac, Start muxing button is too small, on Windows it's OK.
![Mac](https://user-images.githubusercontent.com/27890322/200419980-abd387a9-57e6-447d-8180-ee648a961f28.png)
![Windows](https://user-images.githubusercontent.com/27890322/200420023-b4a76cdd-abe1-4338-818d-9842e36e56e2.jpg)

The Track number and Language column headers are also truncated (Windows and M

[2022-11-08 07:25] jcdr428 commented on #647
@kdantas version 2.6.12 is obsolete. Please use the [latest release](https://github.com/justdan96/tsMuxer/releases).

[2022-11-08 07:25] #647 closed

[2022-11-08 07:26] #648 closed

[2022-11-08 08:19] moveman opened #651 "Mismatch between exception throw and catch"
Is it expected call like m_reader.skipBits(8) will throw bitstreamException but the function will catch VodCoreException only?
This caused exception to be thrown when m_reader has not enough buffer to read and program aborted. There are multiple places in the code like this. Shall all catch`(VodCoreException& e)` in hevc.cpp be changed to `catch(BitStreamException& e)`?
[code]

[2022-11-08 10:33] FRtranslator commented on #650
@jcdr428 Will do, thanks.

BTW, still in UI enhancements: in the About tab, the text is very small, it would be good to set a larger text size.
Also, but I'm note sure, the "tsmuxer" at the beginning is a link to the website? If yes, clicking on it doesn't open the browser, it does nothing.

![About](https://user-images.githubusercontent.com/27890322/200541933-b101fd39-07c0-476f-8268-f360032412c6.

[2022-11-09 10:13] Barough commented on #502
Seeing a stable release once in a while would be a great thing.

[2022-11-09 10:57] FRtranslator commented on #650
@jcdr428 Buttons are OK, thanks!
The column header didn't change.
The About text is still too small.

[2022-11-09 16:05] jcdr428 commented on #651
@moveman agreed, this is weird.
I am not clear on the utility of this VodCore. I have replaced one VodCoreException with a BitStreamException in commit a302806, however I don't know whether this can be generalized. @xavery maybe you could advise on this ?

[2022-11-09 17:04] jcdr428 commented on #650
Ok, I've tried something else for the column headers: please try tomorrow.
I've increased size of "About" text from 8pt to 9pt.
The underlined blue "tsMuxer" is a reminiscence of the old tsMuxer, no hyperlink...

[2022-11-09 23:23] quamt opened #652 "Request: Seamless branching 50/66/100GB with dummy m2ts"
Hello,

I want to ask if it would be possible to implement seamless branching with a dummy m2ts.

Why:
People burning media often encounter issues when hitting the layer break of BD-R / DL / TL. Since there is no need in the specification for setting a layer break as  it was for DVD, where it could be changed.

Solution:
Split the m2ts at a chapter marker chosen by the user. The split creates file

[2022-11-10 09:08] jcdr428 commented on #644
Closing, can be re-opened upon request.

[2022-11-10 09:19] FRtranslator commented on #650
That's better, thanks ;)

[2022-11-10 09:19] #650 closed

[2022-11-11 05:30] moveman commented on #651
Hi @jcdr428 , @xavery , actually changing to catch BitStreamException cannot help much. The muxed file is still abnormal. Could you check why tsMuxeR failed to mux this https://drive.google.com/drive/folders/1Q-eC7bbNa5KycTCE7iad8rOQQvCi-3Q8?usp=share_link ? The stack trace is like this:
`(gdb) bt
#0  0x00007ffff6b32387 in raise () from /lib64/libc.so.6
#1  0x00007ffff6b33a78 in abort () from /lib

[2022-11-11 07:31] jcdr428 commented on #651
@moveman no error with latest release 7165e3b on w64. What release and OS are you using ?

[2022-11-11 08:01] moveman commented on #651
Hi @jcdr428, thanks for your reply. Right, it seems no error with latest release but the output should be abnormal. If you check the mediainfo (https://sourceforge.net/projects/mediainfo/) of the muxed TS, I remember the video stream is missing in the mediainfo.

We are using Nightly build from 2021-02-13-01-46-27 Pre-release. OS is Centos 7.

[2022-11-11 10:06] xavery commented on #651
Hard to say what the intent was here. A `BitStreamException` can be thrown by `BitStream` classes themselves so perhaps it was meant to bubble up and not be caught here. Either way, "mismatched" `throw` and `catch` as described here is not necessarily an error.

[2022-11-11 18:41] jcdr428 commented on #651
Wow. A lot has happened in the 21 months since 2021-02-13...

With w64 and latest release, I have no problems playing the .ts and with its mediainfo. So I can't help.

[2022-11-11 21:34] cob66 commented on #644
Sorry, I was on vacation :) I tested on Nightly build from 2022-11-09. Unfortunately, the error still exists :(

[2022-11-12 02:31] moveman commented on #651
Hi @jcdr428 , thanks a lot for your time. Indeed latest release work well with the last asset.
But I have tried it on another one here https://drive.google.com/drive/folders/1tHIOFF51PNC7qXMncko4Hdjt81ILtgPX?usp=sharing and the output is abnormal. I have also put the muxed TS there. You can see the mediainfo of 0.ts is:
![image](https://user-images.githubusercontent.com/13163487/201452255-b63e12cc

[2022-11-13 05:36] wer767 opened #653 "封装SUP字幕"
封装SUP字幕放到大屏字幕边缘有锯齿，字体边缘不圆润。

Edit translate: When encapsulated SUP subtitles are placed on a large screen, the edges of the subtitles are jagged, and the font edges are not rounded.

[2022-11-13 11:54] jcdr428 commented on #653
@wer767 which OS (Linux, Windows, MacOS) ?

[2022-11-13 13:44] wer767 commented on #653
Windows

[2022-11-14 10:54] moveman commented on #651
Hi @jcdr428, do you confirm the output is abnormal, even muxing with latest release?

[2022-11-14 16:53] jcdr428 commented on #651
Hi @moveman, I am away this week. I'll try next week.

[2022-11-14 17:00] galactic76 commented on #643
Hi! Can you please tell me when aprox you will do it/ Thanks in advance Will be waiting the answer from you soon

[2022-11-22 11:13] jcdr428 commented on #651
@moveman ok I think I understand what's the problem: the large -54sec. audio delay is above the 10sec. initial PTS offset.
I have changed the initial PTS offset to 10min., please try tomorrows's release.

[2022-11-30 15:18] #653 closed