[2019-07-23 22:11] justdan96 opened #1 "warning: dynamic exception specifications are deprecated in C++11"
Users trying to compile the code we see a lot of these warnings pop up:

[code]

These warnings can be turned off for this one library - but the preferred fix is to resolve this error.

Caveated at the moment that we will look to completely replace libmediation in the future.

[2019-07-31 16:45] Selur opened #2 "compile under Qt5"
here's a patchfile of the changes I made to (tsMuxerGUI to) allow the compilation under Qt5 with Qt Creator:
https://pastebin.com/hWNu9eVW

[2019-08-01 09:36] qyot27 opened #3 "Ubuntu i386 libraries"
Ubuntu (well, I suppose Debian) provides the ability to do this automatically, without having to download a tarball.  It should be a matter of simply:
[code]

Even if the exact step might change in future versions due to the shakeups with i386 support.

[2019-08-07 20:33] justdan96 commented on #2
Amazing! I'll get this merged soon!

[2019-08-07 20:36] justdan96 commented on #3
Are you able to validate this in a VM? With my testing even with i386 as an added architecture some files are missing.

[2019-08-08 03:05] qyot27 commented on #3
The following was sufficient on my normal install of Ubuntu 19.04 64-bit (based on the existing instructions in the README):

[code]

Ideally, the build system will eventually be simplified and consolidated across platforms so that all that directory traversing is no longer necessary and stuff like install adheres to the FHS, but one thing at a time.

[2019-08-08 09:02] justdan96 commented on #3
Wow that's fantastic - I'll look to update the instructions soon!

[2019-08-10 08:48] filler56789 commented on #3
@qyot27: many thanks for the detailed info **THUMBS UP**

@justdan96: please add just two files to the directory "tsMuxer/src" — **zconf.h** && and **zlib.h**. Better than making the average user download and install the **zlib-devel** package.

[2019-08-10 09:56] justdan96 commented on #3
I'll have a look at that but I am wary to include external development dependencies in with the main package, as that means I have to keep them up to date with the upstream package instead of relying on the package maintainers for the user's OS.

[2019-08-10 17:00] justdan96 commented on #2
I can't seem to get this patch applied - it just errors out for me. Can you please supply the command line options I can use to apply this patch or fork the repo, apply the patch and submit a pull request?

[2019-08-10 17:05] Selur commented on #2
(you did apply the patch only to the tsMuxerGUI-part right)
sorry, busy today and the next few days, but I zipped the whole tsMuxer checkout folder I modified and uploaded it to: https://drive.google.com/open?id=16HlS20FQ37UpsuiUQmEedYX-rpQTNCKG

[2019-08-10 17:11] justdan96 commented on #2
Nevermind - got the command:
[code]
I've pushed the changes to the following branch:
https://github.com/justdan96/tsMuxer/tree/enhancement-qt5

I'll try this out in my VMs to see how it impacts the current Windows and Linux build instructions.

[2019-08-10 22:00] #2 closed

[2019-08-10 22:00] #3 closed

[2019-08-10 22:38] filler56789 commented on #3
As I said, 1) only two files and 2) you like to make things more complicated than they actually are. Those two files are called by "matroska-whatever.*" and unless you yourself find a good reason to update it, you won't have to keep an eye on the "latest & greatest" revisions of zconf.h and zlib.h.
Be careful and don't let yourself get infected by Lord_Mulder's syndrome, which one day in the year

[2019-08-10 23:52] qyot27 commented on #3
I actually removed upx from the list for a reason, btw.  It's not a dependency, so it doesn't belong in a list of dependencies¹ (for that matter, some of the others in that list look a bit odd, but I didn't deep dive into it).  If the end user wants to be compulsive about packing their stuff down with upx to save a megabyte or two, that's their business, but it's not required in order to get a wor

[2019-08-11 07:09] justdan96 commented on #3
@qyot27 That makes sense, I'll remove the UPX packing

[2019-08-15 10:09] tamplin opened #8 "Failure to find: debug/tsMuxerGUI_resource_res.o"
` # generate the tsMuxerGUI makefile`
`export PATH=$PATH:/mingw32/qt5-static/bin`
`cd ..`
`cd tsMuxerGUI`
`qmake`

$ qmake
WARNING: Failure to find: debug/tsMuxerGUI_resource_res.o
WARNING: Failure to find: release/tsMuxerGUI_resource_res.o

[2019-08-15 13:30] justdan96 commented on #8
Does this stop the build progressing? I think I got that but just ignored it.

[2019-08-18 13:53] tamplin commented on #8
no. finally i successed.

[2019-08-18 17:24] #8 closed

[2019-09-16 01:14] blenheimears opened #9 "Code is not 64-bit clean"
A 64-bit build of tsMuxeR currently creates corrupt but still playable output. For example, the audio and/or video will have glitches. The issue appears to be in the demuxing code rather than the muxing code, as the output is correct if tsMuxeR is given raw elementary streams (eg. .h264, .ac3, .wav files). Additionally, subtitle rendering does not work at all on 64-bit builds. I have determined th

[2019-09-16 04:35] filler56789 commented on #9
Hi there. PERHAPS this post on Doom9's forum has the solution (or workaround) to the problem,
I think it's worth a try:

https://forum.doom9.org/showthread.php?p=1882862#post1882862

[2019-09-17 07:19] justdan96 commented on #9
My understanding is the 64-bit code won't compile without "-fpermissive" - but perhaps this is actually masking the issues you are describing. I'll try to document the errors that appear if you compile without "-fpermissive" to see if they correspond to the issues you describe.

The issue must be in utf8Converter.cpp - is the build you are using Windows or Linux? Also if you could include some ins

[2019-09-17 13:25] filler56789 commented on #9
@justdan96 — yeah, the file bitStream.cpp should be rewritten for good. According to what I have found on the web, that kind of conversion [under "normal" circumstances] is not tolerated by the 64-bit compiler(s) because of the "loss of precision" thing. But I myself am not qualified for the task.

[2019-09-18 02:10] blenheimears commented on #9
I don't have any issues compiling the code on a 64-bit machine, even without -fpermissive, but the resulting binary does not work correctly. I am using Linux, specifically Ubuntu 18.04. I'll post an example of the corrupt output for Big Buck Bunny tomorrow.

[2019-09-19 01:27] blenheimears commented on #9
I've uploaded a file (the first two minutes of Big Buck Bunny) that will trigger the audio bug when processed with a 64-bit build of tsMuxeR. I have also included in the archive the corrupted output of the 64-bit tsMuxer, as well as the correct output of a 32-bit build. I used the m2ts muxing option to create these files, but the bug occurs in the other modes as well, such as Blu-ray ISO. This is

[2019-09-19 08:13] justdan96 commented on #9
Sorry can you also share the exact command line parameters you used to produce those files? I want to make sure my own tests are exactly the same as yours.

[2019-09-22 02:10] blenheimears commented on #9
I used the GUI. The mode I used was M2TS Muxing. I didn't change any options from the defaults.

[2019-10-21 21:20] xavery opened #11 "Russian comments inside the source code"
Some of the files inside the source tree have comments in Russian. Those are mostly found around libmediation (almost every header file), but not exclusively (abstractStreamReader.h).
I know Russian well enough to try and translate these comments, but if there are any parts of the code which are going to be eradicated, I'd like to know about this in order not to waste effort needlessly.

[2019-10-21 22:47] xavery commented on #11
Well, this was quicker than I thought. Have a look at #13.

[2019-10-23 14:25] #11 closed

[2019-10-23 20:32] xavery commented on #9
I tried reproducing this issue with 64-bit builds made by GCC 9.2.0 and Clang 9.0.0, in both debug and release modes, and none of the builds were capable of producing a TS file with audio glitches like the one you attached. Similarly like you, I used the GUI to start the muxing process and did not change any defaults : the only thing I did was clicking "add" the source MKV file and then "Start mux

[2019-10-23 21:41] xavery opened #14 "C++14 support"
What's holding the project back from requiring C++14 support?
All the recommended compilers in README.md support it :

- The default GCC version in Debian 10 is [8.3.0](https://packages.debian.org/buster/g++), which even [supports C++17](https://gcc.gnu.org/projects/cxx-status.html#cxx17).
- Ubuntu 19.04 also ships [GCC 8.3.0](https://packages.ubuntu.com/disco/devel/g++).
- MSYS2 has shipped [GCC

[2019-10-24 06:50] justdan96 commented on #14
I suspect there's no specific reason, I'd have to test in the build pipeline containers if there's any issues. Going forward I'd like all builds to be run through Docker, to ensure consistent results.

[2019-10-24 15:21] justdan96 commented on #9
Interesting results. I will dig out my Linux VM with Qt installed and will produce a new tsMuxerGUI. Then I'll produce tsMuxer in a Linux container with Clang and GCC. I will trace the output from the GUI and try to produce my own results and compare against the existing hashes.

This might be the first step to a testing suite.

[2019-10-24 20:40] justdan96 commented on #9
With my first run through tsMuxerGUI I get the same output as @xavery

[code]

I've saved the meta file as well, I'll see if I can get the output of a Windows build for comparison.

For reference the meta file is:

[code]

[2019-10-25 12:12] justdan96 commented on #9
I've created another Windows build of tsMuxer, from this branch: https://github.com/justdan96/tsMuxer/pull/17

The MD5 sum is still exactly the same:
[code]

@blenheimears can you please try creating a build from the branch specified in the pull request and see if you get MD5 sums matching mine and @xavery ?

[2019-10-25 17:42] filler56789 opened #19 "Update to the README.md — RE: building instructions for MSYS2"
As I had said in the Doom9's forum thread,

So if you intend to keep those instructions in the current state, I think you should at least warn that:

1) those instructions are intended for the ones who want to use MSYS2 _only for building TSmuxer and nothing else_;

2) the QT downloads are **HUGE**;

Besides: if you compare your instructions with the guide that I posted on Videohelp, you will real

[2019-10-26 08:57] justdan96 commented on #1
Not sure if we even see this warning any more?

[2019-10-26 08:59] justdan96 commented on #19
I've been working on getting the build working correctly with MXE recently so I haven't looked at MSYS in a while. If you have the correct instructions please submit a pull request.

[2019-10-26 09:01] justdan96 commented on #9
I'll keep testing the MD5 sums with new builds but so far I haven't been able to reproduce this.

I will also think about how to create a small testing suite to make these problems easier to catch.

[2019-10-26 18:21] filler56789 commented on #19
Sorry, but currently I have no plans to test the recent modifications in your tsMuxeR repository. Apparently CMake will detect that both zlib and freetype2 are not "installed" on my MSYS2 environment and probably the compilation process will not even start. I suggested the inclusion of the source-codes of both zlib and freetype2 in your tsMuxeR repository for a good reason but you chose to reject

[2019-10-27 01:15] xavery commented on #19
Created #23 which should - I believe - fix issues with building on MSYS2, at least it did for me. @filler56789 do kindly check if the tree builds for you after merging these changes.

[2019-10-27 19:23] filler56789 commented on #19
Okay, since @justdan96 decided to re-open this issue...

— first of all, nope, no pull requests from me in the foreseeable future;
— now,

You can safely get rid of

[code]
In my guide at Videohelp I already showed what is the minimum necessary and sufficient.

There is no need to duplicate CMake, i.e., no need to have both 32-bit and 64-bit editions;
CMake should have its own directory under "/"

[2019-10-28 15:25] justdan96 commented on #19
My understanding of Msys2 was that there were the 3 subsystems, Msys2 for package management, Mingw32 for compiling 32-bit programs and Mingw64 for compiling 64-bit programs. If it's not the case then we can definitely correct those instructions.

The readme can surely be updated to remove some of the dependencies and I would agree with removing Git (since you would need to have it installed to cl

[2019-10-28 18:50] filler56789 commented on #19
It seems a lot of misunderstanding has been going on since August.
When I wrote

`1) In the README of TSMuxer, instead of "To compile tsMuxer and tsMuxerGUI on Windows..." you should have written "To compile tsMuxer and tsMuxerGUI with Microsoft Visual Studio". Stop denying the existence of MSYS2 and MinGW-64`🙂

I wasn't asking for instructions on how to compile tsMuxeR with MinGW-w64 and MSYS2.
I

[2019-10-28 20:23] filler56789 commented on #19
Anyway, IMNSHO the main README.md needs only to state the common and general requirements for ALL «building environments»:

— CMake;
— freetype2 and zlib installed;
— QT5 for the people who want /need a GUI.

[2019-10-29 12:06] justdan96 commented on #19
I think I'm nearly ready to close the issue. I was having a think and there isn't any harm in including an option for people to supply their own libraries, in case they aren't supplied with the distribution or are out of date. The readme can be updated with instructions on how to do that and CMake needs some editing.

I also managed to get a MacOS build working with osxcross and that required buil

[2019-10-30 09:18] justdan96 commented on #19
First update to CMake and readme just pushed in, further updates to follow.

[2019-10-30 19:31] justdan96 commented on #9
Seeing as I can't reproduce the issue I will be closing this issue

[2019-10-30 19:31] #9 closed

[2019-10-30 22:49] filler56789 commented on #19
Oooops, it seems my latest thumbs-up was exceedingly optimistic.....

[code]

[2019-10-30 22:57] filler56789 commented on #19
One more thing...

apparently CMake did not look for freetype2 and generated the makefile anyway.
Since the CLI executable cannot work without freetype2, CMake should have returned a fatal error, me thinks.

[2019-10-30 22:59] justdan96 commented on #19
I did a bit of research - your Mingw32 installation has to support POSIX threads. Some info here:

https://github.com/dashpay/dash/issues/1751
http://www.cplusplus.com/forum/beginner/189974/

Can you check if your C++ installation comes with POSIX threads support?

[2019-10-30 23:04] filler56789 commented on #19
P.S.: and oh by the way, one of the problems for the users of MSYS2 is this:

unless defined otherwise during the _./configure_, dependencies are installed by default under **/usr**,

whereas the stupid **pkg-config** by default looks for them under **/mingw32** and **/mingw64**.
😒

[2019-10-30 23:07] filler56789 commented on #19
Apparently the answer is YES.
Because I compile my own GCC+MingW stuff by using the scripts created by Zeranoe and modified by nevcairiel:

https://files.1f0.de/mingw/

[2019-10-30 23:07] justdan96 commented on #19
On Windows it isn't supposed to be using freetype2, maybe the OS detection is a bit off?

[2019-10-30 23:11] filler56789 commented on #19
0_0

I wasn't aware of that.

Can you explain to me why that library is not required on a Windows build?

[2019-10-31 00:02] filler56789 commented on #19
FWIW: I used MSYS1 from 2010 through 2016 and I've been using MSYS2 from 2016 until today.
This is the first time I see this type of error.
ALL of the MSYS setups I have used have ALWAYS used **pthreads-w32**.

Which makes me ask: what was the point of the latest changes in your tsMuxeR code,
besides making it impossible to compile with a normal and healthy MSYS2 setup?

[2019-10-31 04:26] qyot27 commented on #19
The default install directories are controlled by the project's buildsystem, not MSys2.  And the vast majority of software using autotools or hand-crafted systems (x264 or FFmpeg, for example) hardcode `/usr/local` as the default path, expecting the user to use `--prefix=` or equivalent to change it if there's a reason you need it somewhere else (notably, when cross-compiling, which is still techn

[2019-10-31 04:57] filler56789 commented on #19
2)

[code]

1) I didn't ask you to explain to me what I already know, I simply described a frequent annoyance... and I am pretty aware that the problem is not on the nixoidverse itself, the problem is in the way MSYS2 was designed...

[2019-10-31 07:37] justdan96 commented on #19
First of all a reminder to all we do have a code of conduct we expect everyone to abide by: http://www.cplusplus.com/forum/beginner/189974/ Keep it civil.

Secondly the subtitles rendering system is switched based on platform, you can see the 2 systems here: https://github.com/justdan96/tsMuxer/tree/master/tsMuxer/osdep

Thirdly from the `gcc -v` output we can see it is using win32 threads.

I thi

[2019-10-31 09:16] justdan96 commented on #19
Okay I'm putting a stop to this now

[2019-10-31 09:16] #19 closed

[2019-10-31 20:38] justdan96 commented on #14
Ubuntu 19:
[code]

MXE:
[code]

osxcross:
[code]

So it looks like there is coverage for C++14 for all the compilers in use.

[2019-11-01 11:13] justdan96 commented on #14
Simply setting `set(CMAKE_CXX_STANDARD 14)` and doing the builds mentioned above results in successful compilation. I think we should be find to set this new value - unless you can think of any reason not to?

[2019-11-15 18:04] xavery commented on #14
I really don't, go ahead!

[2019-11-17 23:24] justdan96 commented on #1
No longer an issue

[2019-11-17 23:24] #1 closed

[2019-11-18 20:44] #14 closed

[2019-11-19 10:47] justdan96 opened #26 "Cannot handle AAC frame size above 2048"
Reported by a5180007 here: https://forum.doom9.org/showthread.php?p=1890608#post1890608

Another bug for aac muxing. In brief, the aac frame size is written on 13 bits (bits 31-43 in the frame), however tsMuxeR takes into account only the first 11 bits. So when the aac frame size is above 2048 bytes, tsMuxeR incorrectly reports a bad frame and discards it.

In aac.cpp, replace line 52:
[code]
with

[2019-11-19 10:59] justdan96 opened #27 "Synchronisation Issues with UHD HEVC"
From a5180007 here: https://forum.doom9.org/showthread.php?p=1888650#post1888650

There is a bug creating unsynchronized AV with some HEVC files, due to insufficient size of coded picture buffer.
In brief, when reading a nal the end of the buffer is reached before finding the next nal start_code, and the PTS is not incremented for this nal.

I have corrected the bug on my side by simply changing t

[2019-11-19 12:29] justdan96 commented on #27
It's a silly solution for now but I'm tempted to see what happens with RAM usage and general performance if we change the type of MAX_AV_PACKET_SIZE to an uint32_t and change the value to UINT32_MAX.

[2019-11-24 20:01] #27 closed

[2019-11-24 20:02] #26 closed

[2019-11-25 14:07] justdan96 opened #37 "Segfault with Static Linux Build"
The static build of tsMuxer on Linux ends with a segfault. This is due to a known issue with pthreads, see here: https://stackoverflow.com/questions/35116327/when-g-static-link-pthread-cause-segmentation-fault-why

[2019-11-25 14:10] #37 closed

[2019-11-26 18:32] justdan96 opened #45 "Readmes Need Separating and Cleaning Up"
The existing readme is very compiling-instructions heavy. It would be better to separate that out into a new document and have the main readme file focus more on the usage of the program.

[2019-11-27 19:40] xavery opened #47 "Introduce a uniform formatting style"
It would be nice to have all the files in the repository formatted in a uniform way. Unfortunately, currently the sources are a mix of everything, with tabs sometimes occurring alongside spaces, different indenting widths and brace styles. I didn't even have to look far : [`Base64::decode`](https://github.com/justdan96/tsMuxer/blob/master/tsMuxer/base64.cpp#L59) is a good example.

I find that the

[2019-11-27 19:57] justdan96 commented on #47
I completely agree - I just did this for some of the tsMuxerGUI sources. I'd be fine to run clang-format across all the cpp and h files to make it all uniform.

[2019-11-28 15:31] justdan96 commented on #47
I've created a new branch for experimenting with the right formatting - you can compare against how Base64::decode used to look before against with the updated formatting: https://github.com/justdan96/tsMuxer/blob/c2f802306ebe7bd3d991dcd631d47d7ea8f9aaac/tsMuxer/base64.cpp#L56

If there is anything else you think we should be setting please let me know.

[2019-11-28 16:07] justdan96 commented on #45
![tsMuxerGUI](https://user-images.githubusercontent.com/503722/69820496-209e5e00-11f9-11ea-81b2-8c130b6e0e89.png)

[2019-11-28 16:52] #45 closed

[2019-11-28 17:17] xavery commented on #47
Looks good to me. I'm not used to indenting with width equal to 3, but I don't mind. The only thing that stands out is the fact that `Standard` can be set to `Cpp14` now :smiley: .

[2019-11-28 17:26] justdan96 commented on #47
When I tried to set that to `Cpp14` it kept saying it was invalid! Tried a few variation but nothing seemed to work.  I can take the single quotes out, certainly.

[2019-12-05 12:28] justdan96 opened #59 "Spelling Mistakes in Readme and showHelp"
Correct spelling mistakes and grammar in the Readme and the showHelp() function - examples below:
https://github.com/justdan96/tsMuxer/blob/b79ef4c3e4e10d1fd40567b77579b574a38045f2/tsMuxer/main.cpp#L485
https://github.com/justdan96/tsMuxer/blame/b79ef4c3e4e10d1fd40567b77579b574a38045f2/README.md#L101

[2019-12-06 15:01] justdan96 opened #60 "Create Way of Downloading Binaries without Sign-In"
We would need to take a look at the Actions API to see if there is a way to create a new release and upload the binaries for each platform, on each push. Shouldn't be too dissimilar to what we have currently.

Main driver is that current system of downloading official binaries is a bit confusing for users and requires a GitHub account.

[2019-12-06 15:06] justdan96 opened #61 "Introduce Windows 32-bit Option"
I initially didn't consider it useful to have 32-bit versions of tsMuxer, but as pointed out on the Doom9 forums there are still some users that require a 32-bit version of Windows (usually due to restrictions on hardware).

To resolve these issues I'll add a new CMake option to build 32-bit binaries for Windows.

[2019-12-06 18:53] darekpro opened #63 "tsMuxeR not found!"
Hello,
I have problem when I want to add input file I received error:

Manjaro repo arch
![N60xHu1](https://user-images.githubusercontent.com/58607093/70347982-fcc6c200-1861-11ea-80ba-9f526cab1c4f.png)

[2019-12-07 16:17] xavery commented on #63
This is really more of a packaging issue. For legacy reasons (most probably), the GUI looks for the tsMuxer binary with the name `tsMuxeR`. However, the binary itself is built as `tsmuxer`. Creating a link is enough to solve this - I'll send a patch to the AUR shortly.

@justdan96 Unless you think it's worthwhile to change the name of the binary to `tsMuxeR` to avoid this? Or perhaps fix the GUI s

[2019-12-07 16:53] justdan96 commented on #63
The packaging through Docker does a renaming operation - I think it may make sense to detect both binary names as you mentioned.

[2019-12-07 17:17] justdan96 commented on #61
Completed in a local branch, just need to push it to master.

[2019-12-09 14:43] cmehay opened #69 "Segfault when muxing SRT"
The following meta file cause a crash on macos and linux
[code]

On macos
[code]

Removing subtitles from meta file don't lead to issue.

Your tool is the only one I found able to convert text based subtitle to DVB subs. Nor VLC or ffmpeg can do this sadly.

[2019-12-10 21:36] justdan96 commented on #69
Can you please run the tool with those parameters through strace and valgrind? I'm hoping those tools should be able to give some extra information on what is happening.

[2019-12-10 22:50] justdan96 commented on #61
https://github.com/justdan96/tsMuxer/tree/enhancement-add-gui-docker-scripts

[2019-12-11 08:18] xavery commented on #69
Reproduced with `bbb_sunflower_1080p_30fps_normal.mp4` demuxed to elementary streams via ffmpeg and a [random Czech subtitle file I picked up from OpenSubtitles and reencoded to UTF-8](http://paste.debian.net/download/1120618). Here are the commands used for ffmpeg :
[code]
The meta file I used thus looked like this (different FPS, rest is the same) :
[code]

Here's the crash as logged by Valgrind

[2019-12-11 08:52] justdan96 commented on #69
Thanks a lot @xavery !

[2019-12-11 13:14] justdan96 commented on #61
#72

[2019-12-11 13:15] justdan96 commented on #61
Have resolved this by editing the Docker container to include the 32-bit MXE toolchain. Have added new GitHub action for this as well.

[2019-12-11 13:15] #61 closed

[2019-12-11 17:41] jcdr428 commented on #69
@cmehay tsMuxer is unable to detect UTF-8 if there is no Byte-Order-Mark (\xEF\xBB\xBF) at the beginning of the SRT file. Do you have the same error when adding the BOM ?

[2019-12-11 18:53] xavery commented on #69
Not reproducible under Windows, which means that the issue must lie either somewhere in the Freetype renderer or the platform-specific character handling code.
@jcdr428 Adding a BOM to the subtitle file doesn't change anything (for me, at least, but I doubt it's going to be different for the OP), since the program defaults to UTF-8 on non-Windows systems even if no BOM is detected.

[2019-12-11 19:51] xavery commented on #69
@jcdr428 If you could, do kindly merge the pull request locally and retest if the issue still occurs.
Do note, however, that you'll have to modify your meta file in order to pass some necessary parameters to the subtitle stream processor :
[code]
If you don't, the program will crash due to a font variable being uninitialised. I do agree that this should (or, rather, must) be caught at an earlier s

[2019-12-11 22:46] cmehay commented on #69
@xavery It's working like a charm. Thank you very much 💛

[2019-12-14 17:16] justdan96 commented on #60
Initial version of this has been done with #77

Still to complete

* Using AppImage and linuxdeploy to package tsMuxerGUI for Linux with all dependencies.
* Setting the deployment schedule to every night.

[2019-12-14 17:19] justdan96 commented on #60
https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly

[2019-12-14 17:20] justdan96 commented on #60
![1](https://user-images.githubusercontent.com/503722/70852149-f3f37300-1e95-11ea-8fb4-c9a82d698448.png)
![2](https://user-images.githubusercontent.com/503722/70852150-f48c0980-1e95-11ea-8bb8-76168fb0c2cb.png)
![3](https://user-images.githubusercontent.com/503722/70852151-f48c0980-1e95-11ea-8914-7d525b614bf3.png)

[2019-12-14 17:21] justdan96 commented on #60
https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/_latestVersion

[2019-12-14 22:15] marb99 opened #78 "tsMuxeR not found error"
with lastest "w32-nightly-2019-12-14--14-44-59" build give me "tsMuxeR not found!" error and I have the "tsMuxeR.exe" and "tsMuxerGUI.exe" in the same folder.

[2019-12-14 23:01] justdan96 commented on #78
Seems the same as #63, I'll check it on my Windows box

[2019-12-14 23:37] xavery commented on #78
This is my fault - please see [this commit](https://github.com/xavery/tsMuxer/commit/f651d65bbf80f7cc103c5a03c1da84e3a4526fdf) for a possible fix, but I don't have a Windows machine to test at the moment.

[2019-12-14 23:49] justdan96 commented on #78
@xavery you're too quick I was just replying!

I tested a hack that worked for me using a #define but I knew you'd have a much better solution! I've tested that commit and it indeed does resolve the issue on Windows and still works fine on Linux.

[2019-12-14 23:50] xavery commented on #78
@justdan96 Fantastic! I'll get my Windows VM sorted out so I can test GUI stuff on it as well.

[2019-12-15 14:56] #78 closed

[2019-12-15 14:57] #69 closed

[2019-12-15 21:44] #60 closed

[2019-12-16 18:47] jcdr428 commented on #47
Can we please keep indenting equal to 4 -as used by most editors?

[2019-12-16 19:20] justdan96 commented on #47
Sure, I did some research online and I think this configuration should give us nice looking results:
[code]
I'm thinking to introduce a line limit of 80 characters as well - it seems like a lot of people like that - but I'm open to suggestions.

[2019-12-16 19:29] xavery commented on #47
I've always found the 80-character limit a bit too restrictive - especially when dealing with C++ code - and considered 120 to be a nice compromise.

[2019-12-16 22:43] justdan96 commented on #47
Makes sense, I'll edit the file in that branch. There are some options in GitHub for ensuring each pull request is correctly formatted I want to look into as well.

[2019-12-17 18:00] justdan96 opened #85 "CMake Does Not Work Correctly with qt5-static in MXE"
As title, we currently use qmake as a workaround but I'd rather not have to.

https://github.com/justdan96/tsMuxer/blob/439540d8865e2ffab49950c8194a9e16f45af4ae/rebuild_mxe_with_gui_docker.sh#L11

Something I am considering currently until a permanent fix is found is using qmake to generate the linker line and inserting it manually into the CMake config somehow.

[2019-12-17 18:00] justdan96 commented on #85
https://github.com/mxe/mxe/issues/2430

[2019-12-17 21:21] justdan96 commented on #85
List of libraries to link in CMake:
[code]

List of libraries to link in QMake:
[code]

[2019-12-19 15:24] Viking55 opened #87 "Problem adding external .sup and idx/sub"
When adding an external .sup-file the chosen language shows as an eight digit number.
idx/sub are not accepted at all.

[2019-12-19 16:19] justdan96 commented on #87
Would you be able to provide an example invocation? We tend to like Big Buck Bunny for reproducing issues but some screenshots could also help.

[2019-12-19 19:16] Viking55 commented on #87
You can see the highlighted sub. I demuxed it and added it back and chose English language as it was. I never went on to mux it though but I expect the player to show the number. I can mux it if you want me to. The idx/sub is not accepted by the previous versions either. It was me remembering wrong. However, maybe it should accept them. No big deal if not though.

![Adding sup](https://user-images

[2019-12-19 19:17] Viking55 commented on #87
Hm, pressed the wrong button...

[2019-12-19 20:48] Viking55 commented on #87
Ok, muxed it in with the original embedded sub as well. While the original shows up as "eng" in VLC the external sub's language shows as "231".

[2019-12-21 18:12] jcdr428 commented on #87
@justdan96 @xavery
- GUI 2.6.12 with tsMuxer 2.6.12 : no problems.
- GUI 2.6.15 with tsMuxer 2.6.12 : bug, lang=eng is changed to number.
So the problem is with the GUI commits. Could you please check whether https://github.com/justdan96/tsMuxer/commit/b2ac11b0b50b8071867588b4e165fafb8981b33e#diff-5f60f56cf36cf63bec7eb6849ebe02b8 is the cause of this new bug ?

[2019-12-21 18:19] justdan96 commented on #87
There's been a lot of changes since 2.6.12, it could be difficult to find when this bug was introduced

[2019-12-21 18:48] xavery commented on #87
I'd gladly test this, but I don't have any `.sup` files to test with - if anybody would be kind enough to share such a file, or point me in the right direction in order to generate/extract one, I'll be on my way.

[2019-12-21 18:51] jcdr428 commented on #87
@xavery you can demux any pgs subtitle to .sup from a Bluray m2ts (eg BigBuckBunny) with tsMuxer. Then when reintroducing the .sup in tsMuxerGUI and selecting the language, the bug appears.

[2019-12-21 19:59] xavery commented on #87
@jcdr428 Thanks! I managed to produce a `.sup` file, but it turned out that this issue was also reproducible with audio tracks and `.srt` files as well.
I submitted a PR that fixes this.

[2019-12-22 00:25] #87 closed

[2019-12-22 09:38] xavery commented on #87
This is fixed in the [22 December nightlies](https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2019-12-22--01-10-25#files), do kindly retest and report back if everything's fine.

[2019-12-22 11:22] jcdr428 commented on #87
@xavery I've tested Windows 32 and 64 with sup, srt, ac3, aac, dts... : the bug is fixed.

[2019-12-24 20:09] Viking55 commented on #87
Hi and Merry Christmas.
Sorry for late reply. I've tested with 22 Dec release and
as you wrote, sup-, srt- and audio files get the correct language now.
It's much appreciated what you are doing with TSmuxer.
I don't have a clue about programming, I just use the software.
Are the 3D plane list and UHD sync issues resolved?
I've included 2 screenshots.
Don't know if this is a bug or not but UHD-iso

[2019-12-27 15:32] damkalan-uth opened #89 "Muxing m2ts with SRT file error"
When adding srt track on .m2ts file (HEVC 2160p HDR, AC3) it produces the following error.
Using Windows 10

When removing  the Srt from input files it is ok.

![image](https://user-images.githubusercontent.com/59288630/71522828-08406280-28cf-11ea-9539-90935bfe0392.png)

[2019-12-27 20:17] justdan96 commented on #89
If you save the meta file and run it through the tsMuxer CLI do you get the same error?

[2019-12-28 00:03] damkalan-uth commented on #89
D:\tsMuxer>tsMuxeR.exe 00004_2.meta
tsMuxeR version 2.6.15. github.com/justdan96/tsMuxer
Can't detect stream type

Directory of D:\tsMuxer

28/12/2019  02:01 πμ    <DIR>          .
28/12/2019  02:01 πμ    <DIR>          ..
27/12/2019  06:00 μμ       143.259.648 00004.m2ts
27/12/2019  05:20 μμ             1.380 00004.srt
28/12/2019  02:00 πμ               383 00004_2.meta
27/12/2019  01:08 πμ

[2019-12-28 00:10] xavery commented on #89
I presume that the error appears because the subtitle line in the meta file contains `fps=0`, which is rejected by the program while attempting to mux.
The reason why `fps=0` appears is *probably* because tsMuxer fails to properly detect the frame rate while running it in single-file mode in order to detect the stream properties : however, I have not yet looked into this in more detail.

[2019-12-28 00:14] damkalan-uth commented on #89
Well neither CLI works. I forgot i removed SUBs ftom meta file. I ll try with fps edited

[2019-12-28 00:19] damkalan-uth commented on #89
Manually edited fps value to 23.976 and it worked!

[2019-12-28 00:20] xavery commented on #89
Okay, this seems to confirm that the issue is probably with how the frame rate is detected while adding streams to the GUI.

[2019-12-28 00:22] damkalan-uth commented on #89
To help, on video track Frame rate is detected correctly.

[2019-12-28 00:48] xavery commented on #89
Cannot reproduce with the current master. Could you try the [latest nightly build](https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2019-12-27--01-10-05#files) and report if the issue still appears?

[2019-12-28 04:18] damkalan-uth commented on #89
No it didn't work with  latest nightly build.
However i did the following trick.
After adding the srt file, i selected video track , checked "Change fps:" and selected appropriate value. This value was copied to the srt properties. Then unchecked "Change fps:" and no error occurred.

Tried with 2.6.12 version and srt was given fps with not the above trick. also , This happens regardless if the vid

[2019-12-28 05:40] damkalan-uth commented on #89
if  info.fpsText (Line 1132 - 1142) is set correct then it should be read correct on rez variable on line 1679 (tsmuxerwindow.cpp), shouldn't it?

[2019-12-28 08:32] jcdr428 commented on #89
@xavery not sure the bug is linked to the hdr10 patch, but I have brought a correction for early detection of hevc stream fps in the "Correct TS descriptors" patch pushed yesterday: in hevcStreamReader.cpp line 62, "updateFPS(m_vps, nal, nextNal, 0);"

[2019-12-29 08:01] justdan96 commented on #89
If we push #92 and the issue isn't resolved, perhaps we can just assume that FPS=0 for subtitle tracks means use the FPS from the video track?

[2019-12-29 13:46] ronweb73 opened #93 "Fehlermeldung - Can´t create temporary meta file ..."
Hallo,
wenn ich eine Videodatei mit tsMuxeR 2.6.15 bearbeiten möchte, bekomme ich immer bei "Start muxing" die Fehlermeldung - Can´t create temporary meta file "C:\Users\Ronny_Weber\AppData\Local\Temp\tsMuxeR_VTS_01_1.meta".
Als Betriebssystem verwende ich Windows7 Professional 64bit.
Unter tsMuxeR 2.6.12 funktioniert alles ohne Fehlermeldung. Was mache ich falsch?
Vielen Dank für die Hilfe!

![ts

[2019-12-29 15:47] xavery commented on #93
Es sieht so aus, als ob dein temporäres Verzeichnis unschriebbar wäre. Leider gab es keine Änderungen in der Funktion, die die Meta-Datei schreibt zwischen der ersten Version, die wir bekommen haben, und der aktuellen Version. 2.6.12 musste die Datei also irgendwo anders schreiben.

[2019-12-29 16:00] justdan96 commented on #93
@xavery you speak German as well? Multitalented! :smile:

Google Translate, in case anyone else finds the same issue:

[2019-12-29 16:56] ronweb73 commented on #93
Das temporäre Verzeichnis lässt sich beschreiben, daran liegt es nicht. Habe es auch auf einem anderen Rechner ausprobiert (Windows 7 Ultimate) - gleiches Problem.
Version 2.6.12 funktioniert und bei 2.6.15 kommt die Fehlermeldung ...

[2019-12-29 17:26] jcdr428 commented on #93
@ronweb73 just to make sure, your profile is C:\Users\Ronny_Weber (with the underscore) ?

@xavery I ask again because of the line 2390 in tsmuxerwindows.cpp `metaName = metaName.replace(' ', '_');` which is suspect and might have been added after 2.6.12.

[2019-12-29 17:45] xavery commented on #93
@jcdr428 Great catch! The replace is done on the entire path instead of just the name of the file to be written. If the profile name is "Ronny Weber", then this space is going to be replaced and, in turn, lead to a directory that doesn't exist. However, the first version that we have (I'm going to have to create a tag for that commit) contains [the code in question](https://github.com/justdan96/ts

[2019-12-29 17:45] jcdr428 commented on #89
@damkalan-uth can you try the [latest build](https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2019-12-28--01-09-59#files)?
On my Windows 10, when adding a .srt file to this latest build, the video fps is correctly detected.

[2019-12-29 18:39] damkalan-uth commented on #89
I just made a new build from master branch. Have you put latest commits on master branch to test them.

[2019-12-29 20:45] xavery opened #96 "Blu-ray V3 is not supported in the GUI"
This is just a tracker issue for the GUI part of the functionality developed in #90.

[2019-12-29 21:13] #93 closed

[2019-12-29 23:24] Liv77 opened #98 "TSMUXER 2.6.15 on macbook catalina cant detect image file"
I just downloaded tsmuxerGUI for mac 2.6.15 and this message keeps popping up? How can this be fixed? I searched for reason and it said I had to download homebrew and delete libefreetype  and i did it all in  the terminal and and i tried adding the video file again and same message pops up? Below are the attachments

![TSMUXER on MAC](https://user-images.githubusercontent.com/59346428/71564022-9a7

[2019-12-29 23:28] justdan96 commented on #98
Just to make sure, have you followed the steps in the readme and run the following 2 commands:

[code]

[2019-12-29 23:30] justdan96 commented on #89
There's a new nightly build that will be created at 1am UTC tomorrow.

[2019-12-29 23:32] Liv77 commented on #98
Last login: Sun Dec 29 17:44:45 on ttys000

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
-bash-3.2$ brew install freetype
==> Installing dependencies for freetype: libpng
==> Installing freetype dependency: libpng
==> Downloading https://homebrew.bintray.com/bottles/

[2019-12-29 23:43] justdan96 commented on #98
It should do! Can you then try:

[code]

This should display all the libraries, including `libfreetype.6.dylib`.

[2019-12-29 23:55] Liv77 commented on #98
Got it it worked :) after I added 2 commands that you've told me. but after I've added this below it said no such files or directory but i guess it doesn't matter , It worked without it.

Last login: Sun Dec 29 18:30:35 on ttys000

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/

[2019-12-29 23:59] justdan96 commented on #98
Perfect, glad I could help!

[2019-12-29 23:59] #98 closed

[2019-12-30 00:52] Liv77 opened #99 "Warning! HEVC codec is not standard for BD disks! TSmuxer 2.6.15 on macbook pro"
Hi justdan96,

Im trying now to create UHD blu ray folder from mkv file , mix is successful but its says this
Error: Warning! HEVC codec is not standard for BD disks!. How can i fix this? is this the same in UHD Blu ray ISO?

![TSUMXER 2 6 15](https://user-images.githubusercontent.com/59346428/71564810-b1748d80-2a74-11ea-9f74-53c5dabc657c.png)

[2019-12-30 08:25] jcdr428 commented on #99
@Liv77 The warning on HEVC should have been removed by enhancement #90 merged yesterday. Could you please try latest build and report, thanks.

[2019-12-30 13:33] Liv77 commented on #99
I done know what that means try the latest build?

[2019-12-30 13:55] jcdr428 commented on #99
@Liv77 latest build : https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly#files
which is currently [lnx|mac|w32|w64]-nightly-2019-12-30--01-10-40.zip

[2019-12-30 14:43] Liv77 commented on #99
I don't know which one to use since i have mac , is it this one

 mac-nightly-2019-12-30--01-10-40.zip

[2019-12-30 15:14] jcdr428 commented on #99
@Liv77 yes for Mac it is mac-nightly-2019-12-30--01-10-40.zip .

[2019-12-30 15:46] Liv77 commented on #99
Yes it worked :) thanks. Are there any other changes or updates or that's the final one?

[2019-12-30 15:52] jcdr428 commented on #99
@Liv77 There is still a lot of work to be done for tsMuxer to be 100% compliant with UHD BD specs. But it is getting better every week...
@xavery I assume this issue #99 can be closed ;)

[2019-12-30 15:54] jcdr428 commented on #89
@damkalan-uth do you still have the fps=0 issue with the 30/12 build ?

[2019-12-30 15:59] Liv77 commented on #99
Yes thanks :)

[2019-12-30 16:02] #99 closed

[2019-12-31 20:50] damkalan-uth commented on #89
Yes, still have the issue. After adding SRT video dimensions are copied  but fps stays 0

[2020-01-02 11:15] darekpro commented on #78
New problem after fresh build arch git
https://i.imgur.com/NnML4qg.png

[2020-01-02 11:21] darekpro commented on #89
Noticed the same problem latest version.

[2020-01-02 12:14] darekpro commented on #63
New problem after fresh build arch git
![Zrzut ekranu z 2020-01-02 12-14-36](https://user-images.githubusercontent.com/58607093/71666581-c77a9a80-2d61-11ea-95ac-80d4234d2eab.png)

[2020-01-02 12:59] darekpro opened #103 "AppImage tsMuxeR not found"
I have again problem with build tsmuxer from arch repo and.... I tried run AppImage lnx-nightly-2020-01-02--01-10-53.zip
and I have this error:
![Zrzut ekranu z 2020-01-02 13-57-57](https://user-images.githubusercontent.com/58607093/71668130-fc89eb80-2d67-11ea-9544-4bc4f208dc95.png)

and this is from arch repo
![71666581-c77a9a80-2d61-11ea-95ac-80d4234d2eab](https://user-images.githubusercontent.c

[2020-01-02 13:24] justdan96 commented on #63
Can you check the name of the main tsMuxer executable? Should be either tsMuxeR or tsmuxer.

[2020-01-02 13:26] justdan96 commented on #103
Can you check the name of the main tsMuxer executable? Should be either tsMuxeR or tsmuxer.

With the AppImage I'll have to check that tonight.

[2020-01-02 13:26] darekpro commented on #63
Hi
![Zrzut ekranu z 2020-01-02 14-27-14](https://user-images.githubusercontent.com/58607093/71669115-e9791a80-2d6b-11ea-8301-329b3500a99f.png)

[2020-01-02 13:37] darekpro commented on #103
Yes name was /usr/bin/tsmuxer I change to /usr/bin/tsMuxeR but still there is a problem

[2020-01-02 14:04] justdan96 commented on #103
Is the GUI AppImage in the same folder as the CLI?

[2020-01-02 14:06] darekpro commented on #103
yes ofc
![Zrzut ekranu z 2020-01-02 15-07-29](https://user-images.githubusercontent.com/58607093/71670826-82f6fb00-2d71-11ea-9946-794a235d2978.png)

[2020-01-02 14:08] justdan96 commented on #103
Okay I'll have to test this once I get home, I'm not sure why it isn't recognising the executable

[2020-01-02 20:36] zamengo opened #104 "First MPLS / M2TS and Chapters"
I use the w64-nightly-2020-01-02--01-10-53 and have this errors When use "UHD Blu-ray folder":

- First MPLS dont respect the option after remux.
- First M2TS dont respect the option after remux.
- Chapters dont respect the list, put only "00:00:00.000" after remux.

[2020-01-02 23:58] #103 closed

[2020-01-03 08:05] justdan96 commented on #63
Sorry I altered a setting for actions which meant that the nightly build didn't get created - I've reverted the change so a new build should get created tonight.

[2020-01-04 08:15] jcdr428 opened #107 "Incorrect I_end values in ClipInf CPI EP Entries with UHD"
tsPacket.cpp lines 965-980 define the threshold values for I-frame size to increment I_end.
These values seem to be extracted from the Blu-ray patents (eg US 2009/0016703 A1).

Until the threshold values for Transfer Rate > 60000000 (ie for UHD Blu-ray) are known, the I_end values above 1 recorded in the ClipInf CPI EP Entries are likely to be incorrect.

[2020-01-04 08:34] jcdr428 commented on #89
@damkalan-uth could you please cut the first 50MB of your 00006.m2ts with a hex editor (e.g. HxD), zip it with the srt, upload it somewhere and and give the link for download.

[2020-01-04 08:37] jcdr428 commented on #104
@justdan96 @xavery straightforward fix. Could you please merge the push #106 asap for testing (I don't have qt5 installed so can't check whether the issue is fully solved).

[2020-01-04 08:46] jcdr428 opened #108 "Incorrect TS buffers management"
For the record:
TSMuxer calculates the ATS (Arrival Time Stamps) of each M2TS packet by simply dividing the time between two consecutive frames/DTS by the number of packets. This is incorrect (i.e. not complying with T-REC H.222.0 = ISO/IEC 13181-1) and creates constant underflow / overflow of the various TS buffers.

[2020-01-04 11:24] justdan96 commented on #63
Please test with the latest nightly build.

[2020-01-04 11:34] darekpro commented on #63
Thank you, this is crazy..... now I have the same error like from arch rep
![Zrzut ekranu z 2020-01-04 12-33-46](https://user-images.githubusercontent.com/58607093/71764912-6a601f80-2eee-11ea-93b4-a5bd1f90d15f.png)

Idk something is wrong with my system?

[2020-01-04 20:35] justdan96 commented on #63
I just tested the latest version of the nightly build on my Arch machine:
https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2020-01-04--01-10-41#files

I used this small file for testing:
https://github.com/JamesHeinrich/getID3-testfiles/blob/master/quicktime/BigBuckBunny_320x180.mp4

Plus some random Indonesian subtitles I found. All worked without a hitch. You can try running it through w

[2020-01-04 20:55] justdan96 commented on #104
#106 has now been merged and will be a part of the next nightly build.

[2020-01-04 20:57] justdan96 commented on #108
How does this affect #101 that was just merged?

[2020-01-04 21:13] justdan96 opened #109 "Correctly Handle FPS Detection"
Can be tested using the following file:
https://mega.nz/#!NAtw1RqK!uQF9Uqn33KUCwe5fG66ojAJAkOv1bPNhKkcHQTSuceQ

It is a HEVC file, 2160p, 60 FPS, AAC audio. The FPS isn't detected correctly and 60FPS isn't an option in the "change framerate" drop-down.

![tsMuxerGUI-60FPS](https://user-images.githubusercontent.com/503722/71771655-c353a600-2f36-11ea-81db-146229fa1b14.png)

Attempting to mux anyway

[2020-01-04 21:14] jcdr428 commented on #108
@justdan96 welcome back, happy new year !
#101 has only prevented the packets to be muxed with packets arriving faster than the transfer rate allows. It does not solve the way tsMuxer calculates a simplistic time gap between packets, by dividing the time between two video frames (1/fps) by the number of packets.
the way it should be done is quite well explained by drmpeg e.g. [here](https://forum.

[2020-01-05 15:16] zamengo commented on #104
Nice one! Works fine now!

[2020-01-05 15:16] #104 closed

[2020-01-05 20:55] jcdr428 commented on #109
@justdan96 FPS can be either in VPS or SPS nal. tsMuxer currently reads FPS only from the VPS.
The [commit](https://github.com/jcdr428/tsMuxer/commit/48c6d5b2e3775d195b7e83fbb02f1cdcc83689d4) is ready but I need pull request #94 to be merged to avoid conflicts.

[2020-01-05 22:10] justdan96 commented on #109
#94 merged

[2020-01-05 22:18] justdan96 commented on #89
Would you be able to also supply more screenshots without the muxing window? I've been experimenting and I can't seem to add the subtitles without it adding an FPS parameter.

[2020-01-06 01:02] damkalan-uth commented on #89
https://gofile.io/?c=fPBl4O

[2020-01-06 04:42] jcdr428 commented on #89
@damkalan-uth I've tried your files on my Windows 10 with both the w32 and w64 tsMuxer versions, and both correctly detect the fps... I can't find where the bug comes from.
Which Windows 10 version are you running ? Mine is 1909.

[2020-01-06 11:57] FilipeAmadeuO opened #110 "[Request] Add Open metafile in tsMuxerGUI"
Is there any chance to add an option to open a metafile in tsMuxerGUI ?
Also seems that Input -> Input Files -> Add mpls files does not work (nothing happens).

[2020-01-06 14:03] FilipeAmadeuO commented on #110
Input -> Input Files -> Add mpls files does not work (nothing happens).
This is a bug because on tsMuxerGUI 2.1.2 it works ok

[2020-01-06 15:19] damkalan-uth commented on #89
Windows 10 Pro x64 (November 2019 update) with tsMuxer x64

[2020-01-06 15:21] damkalan-uth commented on #89
![image](https://user-images.githubusercontent.com/59288630/71827456-f1f18e00-30a8-11ea-8c82-8afd10aa6b10.png)

[2020-01-06 15:47] jcdr428 commented on #89
@damkalan-uth just one thought... have you tried with your files on the PC drive (i.e. not on an external drive) ?

[2020-01-06 17:28] jcdr428 commented on #107
Bug solved by commit #112.
A big Thanks to tymoxa for his invaluable help on UHD blu-ray specs.

[2020-01-06 18:23] jcdr428 commented on #109
@justdan96 I've pushed the commit #113. And the fps is also detected by the GUI :) :) :)

[2020-01-06 20:11] justdan96 commented on #109
#113 merged

[2020-01-06 22:08] xavery commented on #107
#112 is now merged, closing.

[2020-01-06 22:08] #107 closed

[2020-01-06 22:20] xavery commented on #63
I'm assuming that the title of that message box says "tsMuxeR error". There is only one possibility where the content of that box can be empty : namely, the program [must have crashed and not produced anything on its standard error output in the meantime](https://github.com/justdan96/tsMuxer/blob/master/tsMuxerGUI/tsmuxerwindow.cpp#L1401). The only thing that comes to mind is - perhaps - failing t

[2020-01-06 22:23] justdan96 commented on #63
@xavery If you are able to reproduce the error maybe try seeing if strace can give us any more clues?

[2020-01-06 22:24] xavery commented on #63
Sadly not. I just edited my comment to include this, but I'm on Arch too and none of this happens at all.

[2020-01-07 07:40] darekpro commented on #63
$ tsmuxer BigBuckBunny_320x180.mp4
tsMuxeR version 2.6.15. github.com/justdan96/tsMuxer
Naruszenie ochrony pamięci (zrzut pamięci) (Violation of memory protection (memory dump))

from terminal

[2020-01-07 07:55] justdan96 commented on #63
Please install valgrind and then run the same command with "valgrind " at the beginning. That should show us what is causing the memory error.

[2020-01-07 08:01] darekpro commented on #63
`valgrind tsmuxer 00278.mkv
==6287== Memcheck, a memory error detector
==6287== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==6287== Using Valgrind-3.15.0 and LibVEX; rerun with -h for copyright info
==6287== Command: tsmuxer 00278.mkv
==6287==
tsMuxeR version 2.6.15. github.com/justdan96/tsMuxer
==6287== Warning: invalid file descriptor -1 in syscall close()
==6287== Invalid r

[2020-01-07 14:18] jcdr428 commented on #109
FPS (and other HEVC stream info) detection in the GUI now fixed with #115.

My, that was a stupid bug, it took me hours to find this missing line...

[2020-01-07 18:01] xavery commented on #63
You must have a font file that Freetype cannot read in your `/usr/share/fonts`. I reproduced the problem by deliberately creating a garbage font file in that folder and asking tsMuxer to analyse a SRT file - crashed without even trying very hard.
Anyhow, the problem is not with Freetype - which correctly reports that it could not read the given file - but with tsMuxer, which doesn't handle the err

[2020-01-07 18:08] #63 closed

[2020-01-07 18:11] xavery commented on #109
tsMuxer is unfortunately full of stringly-typed code like that. I expect issues like these to crop up every time support for a particular audio/video/subtitle type is added or somehow modified, as there is naturally always a place that you're going to miss.

[2020-01-07 18:18] jcdr428 commented on #109
Indeed... Anyway, push merged, issue #109 can be closed. It might have fixed issue #89 also, let's see what damkalan-uth will report after next nightly build.

[2020-01-07 19:09] justdan96 commented on #63
You're a star, @xavery !

[2020-01-07 19:09] #109 closed

[2020-01-07 19:10] darekpro commented on #63
Thank you for the tip this is true some time ago I installed new fonts... thank you again.

[2020-01-07 19:11] xavery commented on #63
No problem, hopefully the current code works okay.

[2020-01-07 19:25] darekpro commented on #109
This is latest build from arch repo, fps not is auto detected and I need set manual fps for video.

![Zrzut ekranu z 2020-01-07 20-23-33](https://user-images.githubusercontent.com/58607093/71922604-8d5b2f80-318b-11ea-9f0d-45ec95656599.png)

[2020-01-07 19:27] jcdr428 commented on #109
@darekpro is it the latest build from https://github.com/justdan96/tsMuxer/actions (built one hour ago) ?

[2020-01-07 21:04] darekpro commented on #109
Not exactly from here but from from arch repo but yes Im sure I use latest version.

[2020-01-07 21:15] jcdr428 commented on #109
@darkrepo please keep on reporting on issue #89. This issue #109 was open for incorrect fps detection for HEVC and is now closed.

[2020-01-08 02:03] jeffkiku2019 opened #117 "Wrong Dialog opened when "Browsing" for the output UHD Blu-ray folder (tsMuxerGUI)"
When "UHD Blu-ray folder" is selected as the Output type and the Browse button is clicked, a "Select File name" dialog is presented instead of the "Select Folder" dialog. This makes it impossible to select an output folder for the UHD Blu-ray mux. You have to cancel out of the dialog and manually enter the entire path to the folder in the "folder" field.

[2020-01-08 02:53] Liv77 opened #118 "Stuttering Video"
what is the main output needed to export UHD blu-ray folder for audio and video ? I have one 4K video that is ts file? muxing is successful its just that the video stutters and then its fine again.
Here is the video image below. I'm using the latest update tsmuxer for mac.
![UHD Video](https://user-images.githubusercontent.com/59346428/71946499-0d879200-3198-11ea-8298-06457f5d94e5.png)

[2020-01-08 05:43] jcdr428 commented on #117
Commit #119 should fix this.

[2020-01-08 11:41] jcdr428 commented on #96
Commit #120 proposed for this purpose.

[2020-01-08 13:14] jcdr428 commented on #118
@Liv77 please provide link to download the related TS sample file, thanks.

[2020-01-08 16:29] justdan96 commented on #96
Closed out via #120

[2020-01-08 16:29] #96 closed

[2020-01-08 16:45] justdan96 commented on #110
Sorry you mentioned metafile and then MPLS file - are they 2 seperate issues?

[2020-01-08 17:53] FilipeAmadeuO commented on #110
Yes. Two separated issues.
Improvement: Add an option to open a metafile in tsMuxerGUI
Existing Bug: Input -> Input Files -> Add mpls files does not work (nothing happens).

[2020-01-09 00:36] Liv77 commented on #118
This is where I got the video from but i had to download the file
 and this is the link but i don't see the video in there.  https://www.fshare.vn/folder/I8BLSVT5Y7T9?token=1578530151

 http://www.hdvietnam.com/threads/the-thao-roland-garros-2019-final-thiem-vs-nadal-2160p-giai-quan-vot-phap-mo-rong-chung-ket.1530450/

Here is more info about the video

General
ID

[2020-01-09 05:24] jcdr428 commented on #118
@Liv77 if you have the video, just isolate and cut the stuttering part of the m2ts with an hex editor (eg HxD) to reduce the file size, upload to any file sharing service and provide the link. Without the sample to analyse the stream we cannot do anything.

[2020-01-09 05:28] jcdr428 commented on #110
@FilipeAmadeuO you should open a new issue for the mpls bug.
Anyway... could you please confirm that the add mpls bug is still present on the nightly 2020-01-09-01-09-39.

[2020-01-09 06:28] justdan96 commented on #118
@Liv77 Sorry I had to edit your comment, we can't link to TV/film sharing websites.

As you're on Mac you can use the head command to copy only the first 19MB of the file:
[code]

[2020-01-09 12:22] FilipeAmadeuO commented on #110
The "Input Files -> Add mpls files" works ok on last nightly 2020-01-09-01-09-39

[2020-01-09 12:31] jcdr428 opened #126 "Enhancement: Add option to make a specific audio the default track and a specific subtitle track a forced track"
Cf. https://forum.doom9.org/showthread.php?p=1895226#post1895226 :
`Actually, you can do it yourself in any HEX editor. Open MovieObject.bdmv, find 42 82 00 00 00 00 00 00 00 00 00 0A and insert next digits BEFORE 42 82 00 00 00 00 00 00 00 00 00 0A:

51 C0 00 01 80 01 C0 01 00 00 00 00
where:
1 - number of default audio track
1 - number of default subtitle track
C - all elements in selected PGS a

[2020-01-09 12:36] jcdr428 opened #127 "Enhancement: add hash of tsMuxer latest commit after version number in console"
It would allow to be certain of which version users have used when reporting bugs. Currently it is kind of a mess...

@xavery, I'm sure this is something you know how to implement ?

[2020-01-09 12:40] jcdr428 opened #128 "Bug: tsMuxer does not order 3D-Planes as per original MPLS"
Cf. https://forum.doom9.org/showthread.php?p=1881372#post1881372  and https://forum.doom9.org/showthread.php?p=1882670#post1882670 :

"The other important bug with the subtitles is also related to the 3D BD. The MPLS file contains the extensions with the 3D-specific information, like what tsMuxeR calls the "3D-Planes", in fact the "Offset Sequences" necessary to display the subtitles at the correc

[2020-01-09 12:46] jcdr428 opened #129 "Enhancement: keep Subpath for IG menu from original Playlist"
Cf. https://forum.doom9.org/showthread.php?p=1883574#post1883574 :

"Another very nice feature to add, long ago Roman commented that he was going to implement but unfortunately did not it finally, is to keep the SubPath of the main playlist that has IG menu (pop up menu) linked in, whenever there is one with this feature ends up losing it. Sometimes it can be restored with bdedit but sometimes it

[2020-01-09 15:16] justdan96 commented on #127
I think I have a decent idea on how to accomplish this.

[2020-01-10 00:48] Liv77 commented on #118
so i'm uploading the entire file in dropbox , would that work so you can have access to? My Team name is Wildcats and email is ofleszar7@gmail.com

[2020-01-10 22:01] jcdr428 commented on #89
@damkalan-uth @darekpro  Please try the tsMuxer version https://github.com/jcdr428/tsMuxer/actions to see whether the srt bug is fixed.

[2020-01-10 22:17] justdan96 commented on #118
We don't really need the whole file, just the parts that stutter.

[2020-01-10 22:45] xavery commented on #108
I don't claim to be an expert when it comes to transport streams or the code that tsMuxer currently uses for packetisation, but is as far as I remember from my days in dabbling with MPEG-TS, it is always best to try and keep the average bitrate of the whole stream as constant as possible. This means that doing this properly is not possible without scanning every elementary stream in order to ident

[2020-01-10 23:19] justdan96 commented on #108
Are there any reference implementations we could crib off? Or do you think isolating the current implementation would be the first priority?

[2020-01-10 23:31] xavery commented on #108
Unfortunately, lack of a reference implementation is one of the gripes that people using the standard usually have with it. The documentation is very complex, but there is no reference - not even "certified standard-compliant" reference streams - in order to compare one's implementation to. There isn't a lot of transport stream muxers with available sources - most of these programs are proprietary

[2020-01-11 03:01] Liv77 commented on #118
it goes on and off the whole video so i can't really detect which parts? do you know a free store that i can upload videos that are large file at least 30 GB for file sharing. dropbox won't work.

[2020-01-11 03:14] Liv77 commented on #118
Im going to upload the video in HighTail its the same as email ofleszar7@gmail.com as above and Team name is BluCourt. How should I invite you to see the video?

[2020-01-11 07:48] darekpro commented on #89
Hello
No still not detecting
![he](https://user-images.githubusercontent.com/58607093/72200905-1229a000-344f-11ea-8ab2-b2d150faf324.jpg)

[2020-01-11 09:42] jcdr428 commented on #89
@darkrepro @damkalan-uth I was getting mad on this bug, couldn't understand why neither @xavery, @justdan96 or I could reproduce it !!!! I just didn't ask the right questions on your PC.

The fact is the three of us work with English locale (decimal = "."). I have changed my Windows locale to "," and can now see the bug !!

@xavery @justdan96, the bug must be in the GUI tsmuxerwindow.cpp from line

[2020-01-11 10:05] xavery commented on #89
@jcdr428 Great find. I'll get right to it.

[2020-01-11 10:18] justdan96 commented on #117
Bug should have been fixed by PR #119 - can you please check and confirm on latest nightly?

[2020-01-11 10:21] jcdr428 commented on #117
@justdan96 the UHD buttons are not there anymore, they have been replaced by the V3 option in merge #120. So yes this bug is fixed ;)

[2020-01-11 11:13] xavery commented on #89
Okay, this should be fixed in today's nightly build.

[2020-01-11 11:16] darekpro commented on #89
great :)
![Zrzut ekranu z 2020-01-11 12-16-33](https://user-images.githubusercontent.com/58607093/72203457-2a5be800-346c-11ea-854f-5ca40aa8c627.png)

[2020-01-11 11:26] darekpro opened #132 "Settings saving doesn't work"
Hello,
I tried disable sound after end in general setting tab and change settings in subtitles and after exit tsmuxer don't remember this settings. This is normal?

manjaro and tsmuxer latest build git version.

[2020-01-11 11:43] jcdr428 commented on #108
@xavery T-REC-H.222.0 is incredibly obscure, but the core principle is very basic: each stream must be moved to packets at its own constant bitrate. Packets between various streams can be interleaved as required.

For M2TS you can simply take video = BD Transfer Rate of 48 (or UHD 109mbps), AC3/LPCM/DTSCore at their CBR bitrate, and TrueHD/DTSMA at same rate as CBR LPCM. For TS, to limit size (i.e

[2020-01-11 11:47] darekpro opened #133 "Bad looking subtitle font - linux"
Hello
I noticed bad looking font in linux system, no shadows and strange space between letters.
Thank for support.

![1_00:01:05 346](https://user-images.githubusercontent.com/58607093/72203767-5a0cef00-3470-11ea-9fce-7ac825f26b20.png)
![1_00:01:05 650](https://user-images.githubusercontent.com/58607093/72203768-5bd6b280-3470-11ea-886e-c5358851b55b.png)
![1_00:01:59 992](https://user-images.github

[2020-01-11 12:00] jcdr428 commented on #133
@darekpro yes this is the same for Windows. We might look at this in the future, in the meantime you can convert your srt to BD sup with [easySUP](https://www.videohelp.com/software/easySUP) hwich works very well.

[2020-01-11 14:03] Liv77 commented on #118
I uploaded the whole video on https://spaces.hightail.com/dashboard/news its Videos and in Space Dashboard which is the same title and the file can be downloaded. I added it on Jan 11.

[2020-01-11 14:09] Liv77 commented on #118
Here is the link https://spaces.hightail.com/space/rAXSTd3MRR

[2020-01-11 15:02] Liv77 commented on #118
What happened to UHD Blu Ray folder and and UHD Blu ray ISO for output is it gone i just downloaded the latest version from Download tsMuxeR 2.6.15 2020-01-11 Nightly Mac ?

[2020-01-11 15:49] xavery commented on #132
Sadly, this is a [Qt bug](https://bugreports.qt.io/browse/QTBUG-28893).

[2020-01-11 15:58] justdan96 commented on #118
Those settings have been moved to the Blu-Ray tab.

[2020-01-11 17:28] #132 closed

[2020-01-11 17:45] Liv77 commented on #118
![TSmuxer](https://user-images.githubusercontent.com/59346428/72208401-2631c980-3470-11ea-81e5-1945e7ed3bc0.png)
Hi I don't see it under blu ray tab the UHD

[2020-01-11 17:49] jcdr428 commented on #118
@Liv77 Please keep this thread for the "stittering video" issue.
The option is "BD-ROM V3 format". You need to select it only for AVC, the V3 option is selected automatically if HEVC is detected during the mux.

[2020-01-11 21:13] Liv77 commented on #118
Hey justdan96 i just uploaded the same one it shorted to 5 GB its the same link

[2020-01-12 00:08] jeffkiku2019 commented on #117
I've confirmed that the nightly release from 2020-01-11 has eliminated this problem.  Thanks for the quick response.

[2020-01-12 00:08] #117 closed

[2020-01-12 00:21] justdan96 commented on #118
Is it the TS file or the original? If you have the original we can run it through tsMuxer with the same settings and test if we get corrupted output like you.

[2020-01-12 03:52] damkalan-uth commented on #89
Hello,

I confirm that the bug has been fixed!

Is this locale bug affecting other parts of tsMuxer application also?

[2020-01-12 10:50] xavery commented on #89
@damkalan-uth Thanks for reporting back. I'm closing this issue in this case.

There are few more places where a similar bug might occur, but these will be taken care of soon.

[2020-01-12 10:50] #89 closed

[2020-01-12 13:46] Liv77 commented on #118
its the same video TS file original,  i just used trimmed it down. can you test it for me and send me a picture on tsmuxer for UHD to see how you do it so i can do the same thing to see if it works?

[2020-01-12 21:54] jcdr428 opened #136 "Bug: Incorrect LPCM length in mux + WAV header in demux"
Cf. [https://forum.doom9.org/showthread.php?p=1893304#post1893304](https://forum.doom9.org/showthread.php?p=1893304#post1893304) :

`[tsMuxer] add garbage at end and create wav header incorrect (data not multiple of channels*bytedepth).`

I have verified that the bug is still current with latest nightly build.

[2020-01-13 20:35] jcdr428 commented on #136
As noted in #137, tsMuxer adds zeros at the end of the last block to align with frame length of 5 ms.
This is not a bug.

[2020-01-14 13:53] justdan96 commented on #136
Can you confirm that this issue can be closed?

[2020-01-14 14:14] jcdr428 commented on #136
@justdan96 incorrect header length for wav64 is fixed by #137. The issue can be closed when the push is merged.

[2020-01-14 20:11] #136 closed

[2020-01-14 20:56] #47 closed

[2020-01-17 09:48] xavery commented on #127
@justdan96 I have a solution that's practically ready and would like to submit it later today. Let me know if that's OK.

[2020-01-17 10:28] justdan96 commented on #127
Yeah that is fine, I can see how you approached the problem and compare notes 😁

[2020-01-17 10:39] jcdr428 opened #141 "BD Transport stream bitrate is not limited"
As per BD-Rom Part 3 Standards, the maximum reading rate of the BDAV MPEG-2 Transport Stream is 48Mbps for HD, 109 mbps for default UHD (cf. http://www.hughsnews.ca/faqs/authoritative-blu-ray-disc-bd-faq/8-recording-and-reading-speed)

This means that the minimum timegap between BD M2TS packets Arrival Time Stamps should be 846 for HD, 373 for UHD (base on PCR 27 Mhz). When the overall streams bit

[2020-01-17 10:55] jcdr428 commented on #141
The problem is if you try to introduce those limits in TSMuxer::processM2TSPCR, then the timegap between two PCR packets can become >100ms as tsMuxer puts the PCR packets at every second DTS change (i.e. at the end of second AV frames):

Standard situation for fps 23.976:
  PCR packet @ 0ms
  AV Frames packets 41.7ms
  AV Frames packets 41.7ms
  PCR packet @83.4ms

Possible situation where bitrate

[2020-01-17 11:06] justdan96 commented on #133
Is this an issue with the kerning or something? Can we try it out with a few different fonts to check it is an issue with the renderer?

[2020-01-17 13:29] jcdr428 commented on #133
@justdan96 Windows version doesn't use freetype, but seems to me that in textSubtitlesRenderFT.cpp :
line 588 `pen.x += face->glyph->advance.x >> 6;`
line 593 `mSize->cx = pen.x + face->glyph->bitmap_left;`

the glyph left side bearing `bitmap_left` is already included in `advance.x` so is added twice.
Try change to `mSize->cx = pen.x;`
Same for line 540.

[2020-01-17 13:55] jcdr428 commented on #133
@darekpro please try my latest build https://github.com/jcdr428/tsMuxer/actions and report.
I haven't tried it as I am on Windows.

[2020-01-17 14:05] darekpro commented on #133
Hmm I don't see any difference still problem with space between letters, no shadow and bad looking edges
![1_00:01:05 142](https://user-images.githubusercontent.com/58607093/72618045-90e47880-393a-11ea-95d6-d6bf56988168.png)

[2020-01-17 14:08] darekpro commented on #133
Helvetica font
![1_00:01:04 979](https://user-images.githubusercontent.com/58607093/72618357-326bca00-393b-11ea-9073-30126d2c5b70.png)

[2020-01-17 14:23] mariustrifan83 opened #142 "TsMuxer enable 50fps"
I'm using TsMuxer and want to add native 50 fps to Change fps It is available 24, 25, 30

[2020-01-17 14:38] justdan96 commented on #133
I wonder what happens if you use a fixed width font like GNU Freefont Mono?

[2020-01-17 14:40] justdan96 commented on #142
Should probably add 60fps too

[2020-01-17 14:41] justdan96 commented on #118
Sorry we would need the original file before you have run it through tsMuxer

[2020-01-17 14:50] jcdr428 commented on #133
@darekpro thanks. Could you please try latest build (a169bb3) https://github.com/jcdr428/tsMuxer/actions

[2020-01-17 14:51] darekpro commented on #133
![Zrzut ekranu z 2020-01-17 15-50-30](https://user-images.githubusercontent.com/58607093/72621154-ffc4d000-3940-11ea-813a-e00e6bbe655b.png)
![Zrzut ekranu z 2020-01-17 15-52-00](https://user-images.githubusercontent.com/58607093/72621264-34388c00-3941-11ea-802e-f4bdd3d658ae.png)

[2020-01-17 14:55] jcdr428 commented on #133
@darekpro this is the latest build 88b9561 ?  It was created only 13 min. ago.

[2020-01-17 14:56] darekpro commented on #133
No no this is screen with mono fonts :)

[2020-01-17 15:06] darekpro commented on #133
@jcdr428 you know what.. I use pamac to rebuild tsmuxer and you change not main repo right? I dont know how to manual build .. ;/

[2020-01-17 15:09] justdan96 commented on #133
You could edit the PKGBUILD yourself and then run makepkg - or try the binary made in output of the GitHub Actions on @jcdr428's repo.

[2020-01-17 15:18] darekpro commented on #133
How :) ?
![Zrzut ekranu z 2020-01-17 16-19-10](https://user-images.githubusercontent.com/58607093/72623214-fe95a200-3944-11ea-9387-19ddcc285049.png)

[2020-01-17 15:19] jcdr428 commented on #133
So all these pictures were not my build ?
Just go to https://github.com/jcdr428/tsMuxer/actions , click on the top "Build for linux", click on "Artifacts" at the top left, download "tsMuxer"

[2020-01-17 15:33] darekpro commented on #133
Yes sorry... I donwloaded pack from here https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2020-01-17--01-10-08#files and replaced file from https://github.com/jcdr428/tsMuxer/actions

![1_00:01:04 940](https://user-images.githubusercontent.com/58607093/72624338-0e15ea80-3947-11ea-8995-93c127c5e0f1.png)

[2020-01-17 15:43] jcdr428 commented on #133
@darekpro Just to be sure... this is the build https://github.com/jcdr428/tsMuxer/suites/406472859/artifacts/1185098

[2020-01-17 15:49] darekpro commented on #133
Yes :)

[2020-01-17 16:41] #128 closed

[2020-01-17 16:43] #142 closed

[2020-01-17 16:55] mariustrifan83 commented on #142
Use to create bluray full hd 50p video. I'm a wedding cameraman

[2020-01-17 16:56] xavery commented on #142
Nice to see non-programmers not being afraid to report issues on GitHub.

[2020-01-17 16:58] #127 closed

[2020-01-17 19:14] FilipeAmadeuO commented on #141
@jcdr428
Have you tested FW or RW on Dolby Vision M2ts rebuilded files ?
Because i have shutter image when the bitrate is high or higher speed FW/RW.
Can this issue explain the problem ?

[2020-01-17 19:19] jcdr428 commented on #141
@FilipeAmadeuO yes this issue and issue #108 might explain the image stutter on a standalone player.

[2020-01-18 00:35] Liv77 commented on #118
The original file is the same one  in High Tail just in 31GB same one
2019.06.09.Roland Garros 2019.FINAL.Thiem vs Nadal.2160p.RUS.ENG.ts
01/10/2020 | 10:12 pm | 31 GB that you can download

[2020-01-18 00:36] Liv77 commented on #118
Here is the link https://spaces.hightail.com/space/rAXSTd3MRR/files/fi-c5b532ea-71b0-4ad7-a9be-fc5840602534/fv-3cd426f2-300c-4b08-bdd9-5ef96fde98a7/2019.06.09.Roland%20Garros%202019.FINAL.Thiem%20vs%20Nadal.2160p.RUS.ENG.ts

[2020-01-18 12:38] tymoxa commented on #129
I think it's not possible to add a working solution. At most major's blurays most IG commands realized via GPR's and very dependend of how these GPR's was set in firstplay title. That's why if we just transfers IG from the original disc to remux we get unworking popup:  because needed GPR's was dropped or wasn't assigned in firstplay or further titles.

[2020-01-19 15:15] sgmihai opened #149 "Enhancement: Support converting BD folder to ISO ?"
I found no way to do this, as the input must be a file. Is the resulting ISO even Bluray compliant ? ( UDF 2.50 ). If not, then I guess it would be a good feature request, because I found no way to make iso images from bluray folders and I have to use a windows vm with imgburn for this, which is not cool.

[2020-01-19 16:39] FilipeAmadeuO commented on #149
Imgburn allows easily to create ISO compliant files from folder

[2020-01-19 23:43] Liv77 opened #152 "UHD Setting and Audio on latest TSMuxer GUI git- 146be40"
I would like to know how to set up UHD  video setting in latest TS muxer in blu ray tab in options and output in mac? Also what should the audio be set to as well to play on UHD players? Can this vary on different video formats like mkv vs ts or mp4 4K videos?
![TS Muxer for mac](https://user-images.githubusercontent.com/59346428/72690542-566e0d80-3aeb-11ea-9603-a876791ea3b4.png)

[2020-01-19 23:50] FilipeAmadeuO commented on #152
Set BD-ROM V3 format checkbox and you will have UHD compatible structure.
If you import HEVC it will be set automatically

[2020-01-20 00:05] xavery commented on #149
While this is doable, it would probably require implementing UDF 2.50/2.60 from scratch, since support among [source-available tools](https://github.com/pali/udftools) seems to be [non-existent at best](https://github.com/pali/udftools/issues/20).

[2020-01-20 00:28] Liv77 commented on #152
what about for output? which folder or iso

[2020-01-20 02:05] Liv77 opened #155 "HEVC audio out of sync with video after create UHD Folder in TSMuxer GUI git- 146b340"
my audio is out of sync with video after I output into BD-ROM V3 that is checked? The original file is not out of sync its only when i output into BD-ROM V3 which is weird . It also says B-pyramid level 3 detected. Shift DTS to 4 frames does that have something to do with audio out of sync with video?
![TSmuxer HD](https://user-images.githubusercontent.com/59346428/72693560-4ceea080-3aff-11ea-8213

[2020-01-20 02:38] sgmihai commented on #149
Ah ok, I was hoping that tsmuxer already has udf 2.50 support when writing to .iso. Too bad.
I wonder how did imgburn implement this ? Written from scratch or does windows have libraries that can be called to achieve this ? If there's windows native support for writing udf 2.50, I don't think we can find an open source implementation for windows that can be ported to linux. And we just have to wai

[2020-01-20 05:33] jcdr428 commented on #149
@sgmihai Can't you use imgburn with wine on linux ?

[2020-01-20 05:34] jcdr428 opened #156 "Enhancement: detect track delay with MKV"
tsMuxer currently detects audio/subtitles delays for TS/M2TS/MPG/VOB/EVO inputs, but not for MKV.

[2020-01-20 05:48] sgmihai commented on #149
Thanks for this message. It did not work for me so far and I did not bother to google it, but it seems that just setting the OS in wine to Windows XP fixes it. This is an acceptable temporary solution. Ideally it would be something that can be called from the command line though.

[2020-01-20 17:26] justdan96 commented on #152
That's in the output section

[2020-01-20 22:21] justdan96 commented on #149
I've sent off an email to an open source project working on UDF 2.5 ISO creation, if I get a response I'll post it here.

[2020-01-20 23:17] Liv77 commented on #152
should I select Blu-ray iso , Blu-ray Folder or AVCHD for UHD or can it be any?

[2020-01-21 01:26] Liv77 commented on #152
I got it

[2020-01-21 01:27] Liv77 commented on #155
I figured it out thanks

[2020-01-21 02:12] mariustrifan83 commented on #142
Thanks for the help and the changes made. I am now happy that I can make BD-Video with the latest TSMuxer version.

https://dl.bintray.com/justdan96/tsMuxer/:mac-nightly-2020-01-20--01-09-45.zip

[2020-01-21 20:03] justdan96 opened #158 "Code Coverage Report"
This potentially could be put into a GitHub action, but I thought I would create a couple of code coverage reports. One is using CCCC, the other Clang's scan-build. I'm hoping this will prove useful in future code clean-ups.

[tsMuxer-code-coverage.zip](https://github.com/justdan96/tsMuxer/files/4093441/tsMuxer-code-coverage.zip)

[2020-01-21 20:05] #155 closed

[2020-01-21 20:05] #152 closed

[2020-01-21 20:16] #59 closed

[2020-01-21 20:17] justdan96 commented on #118
I have the file, I will try to mux it myself and see if I get odd output.

[2020-01-21 20:37] jcdr428 commented on #129
@justdan96 as stated by @tymoxa, IG menu can be dependant of the commands in index.bdmv so it is better not to fiddle with it. We could close this issue but I guess the request for this feature will resurface from time to time.

[2020-01-21 20:38] justdan96 commented on #118
Nothing in the first 3 1/2 minutes after muxing in the same way as you. Would you be able to give timestamps of when you are seeing stuttering? Alternatively you could set the [logging level to debug in VLC](https://www.dedoimedo.com/computers/vlc-secrets-logging.html) and then just leave the file playing and hope the stuttering is put into the log file.

[2020-01-22 00:19] #118 closed

[2020-01-22 22:08] #156 closed

[2020-01-23 20:29] jcdr428 commented on #133
@darekpro new try... https://github.com/jcdr428/tsMuxer/suites/417185880/artifacts/1305874

[2020-01-23 20:34] darekpro commented on #133
@jcdr428
Hi, nothing has changed.

[2020-01-23 20:40] darekpro commented on #133
progress :)
![72624338-0e15ea80-3947-11ea-8995-93c127c5e0f1](https://user-images.githubusercontent.com/58607093/73021939-e207d700-3e28-11ea-9258-2c141ec9a9e4.png)

[2020-01-23 20:57] jcdr428 commented on #133
@darekpro what's the name of these fonts giving bad results ?

[2020-01-23 21:04] darekpro commented on #133
I use Helvetica looks good
![1_00:01:08 354](https://user-images.githubusercontent.com/58607093/73023675-542deb00-3e2c-11ea-95b6-539f5d89a11b.png)

[2020-01-23 21:08] jcdr428 commented on #133
@darekpro so it is not perfect but definitely looking better ;)

[2020-01-23 21:23] jcdr428 commented on #133
@darekpro hopefully with this one, it will look even better https://github.com/jcdr428/tsMuxer/suites/417290642/artifacts/1307079

[2020-01-23 21:31] darekpro commented on #133
Now much better! so one problem less but still no shadows and I noticed also problem with color change:
![Zrzut ekranu z 2020-01-23 22-30-57](https://user-images.githubusercontent.com/58607093/73025516-07e4aa00-3e30-11ea-87d1-48165a59e89e.png)
![1_00:01:05 607](https://user-images.githubusercontent.com/58607093/73025527-0adf9a80-3e30-11ea-86c6-b3e49286e9ad.png)

[2020-01-23 22:44] xavery commented on #126
I have an implementation (no GUI yet) somewhat ready in my [`default-and-forced-track`](https://github.com/xavery/tsMuxer/tree/default-and-forced-tracks) branch. Setting the audio track works okay. However, the only BD player (of sorts) that I can test with is VLC, which seems to interpret the command differently with regards to the subtitle track : when the byte is set to `C`, the subtitle track

[2020-01-23 22:49] justdan96 commented on #133
Nice to see some progress!

[2020-01-23 23:00] jcdr428 commented on #126
@tymoxa I hope you can help xavery on this.

[2020-01-23 23:38] tymoxa commented on #126
@xavery when the subtitle byte set to C it's basicaly like setting Disp_s_flag to true, that is showing ALL subtitles elements in that paricular PG stream. when we change that byte to 8 - we change Disp_s_flag to false (that's why subtitle track become deselected in VLC). In combination with "number of default subtitle track" it gives us ability to show only Forced="True" elements in that particul

[2020-01-24 09:14] jcdr428 commented on #133
@darekpro what "Color" number have you entered in your example ? If you have entered e.g. `#b1b2b3b4,` the first three digits `b1 b2 b3` are the Red Green Blue values, and the last one `b4` is the transparency -which should remain `ff` if you want 100% opacity.

[2020-01-24 09:30] darekpro commented on #133
I don't enter numbers i just use slide bar like on screen
![73025516-07e4aa00-3e30-11ea-87d1-48165a59e89e](https://user-images.githubusercontent.com/58607093/73058714-79564400-3e94-11ea-9a63-95c5f977726d.png)

[2020-01-24 09:32] darekpro commented on #133
![Zrzut ekranu z 2020-01-24 10-32-24](https://user-images.githubusercontent.com/58607093/73058863-d18d4600-3e94-11ea-9c94-73afc0a43713.png)
check this one
![Zrzut ekranu z 2020-01-24 10-32-32](https://user-images.githubusercontent.com/58607093/73058872-d3efa000-3e94-11ea-9f72-c99ef1316e86.png)
![1_00:01:11 320](https://user-images.githubusercontent.com/58607093/73058879-d651fa00-3e94-11ea-95a5-490

[2020-01-24 09:41] justdan96 commented on #133
It looks like to enable transparency for QColorDialog we need to use QColorDialog::ShowAlphaChannel.

So for that I believe we could change this line:
https://github.com/justdan96/tsMuxer/blob/0702a4b353860830f4a6f42653a947b6c39d5381/tsMuxerGUI/tsmuxerwindow.cpp#L1884

To:
[code]

[2020-01-24 10:08] xavery commented on #126
@tymoxa Thanks a ton.

[2020-01-24 14:34] justdan96 commented on #149
No response from the author yet, NetBSD has full support for UDF 2.5 and 2.6 according to [Wikipedia](https://en.wikipedia.org/wiki/Universal_Disk_Format#Compatibility), the person that developed that functionality in NetBSD also developed a standalone program called [UDF Client](http://www.13thmonkey.org/udfclient/index.html) that works cross-platform. It appears that the code in NetBSD is newer

[2020-01-24 15:36] jcdr428 commented on #133
@justdan96 actually there is already transparency on the subtitles. But the transparency is applied on the whole subtitle instead of being applied on the outer border only.

[2020-01-24 19:26] justdan96 commented on #133
Oh I thought the alpha slider was missing from the dialog.

[2020-01-25 17:03] jcdr428 opened #165 "Enhancement: ability to select multiangle tracks"
When selecting a multiangled mpls, tsMuxer currently automatically selects the default tracks i.e. no possibility to select alternative angles.

tsMuxer should detect whether the selected mpls is multiangled, in which case the GUI (resp. the CLI) will offer the user the possibility of selecting an angle e.g. with a dropdown list (resp. "--angle=") parameter.

[2020-01-25 21:28] r0lZ commented on #165
I second this suggestion.

[2020-01-26 22:54] mariustrifan83 commented on #98
Install freetype on Mac OSX
1. Press Command+Space and type Terminal and press enter/return key.
2. Run in Terminal app:
    **ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)" <      /dev/null 2> /dev/null**
    and press enter/return key.
    If the screen prompts you to enter a password, please enter your Mac's user password to        continue. When you t

[2020-01-27 08:26] ImportTaste commented on #149
I've been looking for a reliable way to create UDF 2.5/2.6 ISOs for quite some time. The lack of support for UDF on linux in general has been frustrating. I did my best to try and get ImgBurn to work properly on Wine but it never seemed to want to take.

The closest I came was a long, complicated mkisofs that creates a ISO-9660/UDF hybrid but simply hides the ISO-9660 part from just about everythi

[2020-01-27 09:27] justdan96 commented on #149
I've started some of the work on putting the NetBSD code back into UDF Client but there is still a lot missing. Maybe I'll just put up the code I have so far and hope someone else can help out with it!

[2020-01-27 14:15] justdan96 commented on #133
Should we leave this one open to track remaining issues with subtitles or is this a "good enough" fix?

[2020-01-27 21:50] darekpro opened #166 "Enhancement: ability to detect language of audio/subtitle from BD folder"
Will be nice to see this enhancement in future
"ability to detect language of audio/subtitle from BD folder"

[2020-01-27 21:52] darekpro opened #167 "Enhancement: ability to detect playlists from BD folder"
Will be nice to see this enhancement in future
"ability to detect playlists from BD folder"

[2020-01-28 17:09] jcdr428 commented on #133
@justdan96 The fix has solved the irregular spacing between letters. It hasn't solved the lack of border or transparency problem raised by darekpro.
Maybe we can close this issue and open a specific one for border/transparency.

[2020-01-28 17:13] jcdr428 opened #168 "Enhancement: add AUD nal for hevc streams"
When AVC or HEVC streams are muxed in e.g. mp4 or mkv, the Access Unit Delimiter nals are removed.

tsMuxer already includes adding the missing AUD nals when muxing AVC streams.
The same option should be included for HEVC.

Excerpt of T-REC-H.222.0:
[code]
[code]

[2020-02-02 03:45] bouchnouk opened #170 "Can't find ttf file for font Arial"
Got an error code 254 with error message "Can't find ttf file for font Arial" on macOS 10.15.2 (Catalina) when I press "Start muxing" button. The font Gungseouche.ttf is not on my machine. However, the font AppleMyungjo.ttf is on the library/fonts directory. I tried to remove/rename the font but, as it is considered a "system font", I can't. I tried to deactivate the font but Tsmuxer still doesn't

[2020-02-02 05:03] jcdr428 commented on #170
@bouchnouk could you please copy your .meta file.

[2020-02-02 10:27] justdan96 commented on #170
Check in the subtitles font dialog. You should be able to select an alternative.

The error itself I had a similar sounding issue on Linux where a font family or OTF font was selected - it has to be specifically a TTF font. I started looking into providing a suitable default per platform but decided against it in the end.

[2020-02-03 00:21] bouchnouk commented on #170
Thank you. The asked metafile is joined. I tried several fonts (Helvetica, Monica, etc. for example) and the same error code is shown. I also tried with other files and the result is unfortunately the same. The selected fonts are displayed in another window under the "All fonts" category. I don't know what to do next.

<img width="445" alt="2020-02-02_19-19-49" src="https://user-images.githubuserc

[2020-02-03 05:21] abakum opened #172 "Problem at tsMuxerGUI with Non-ASCII char in path to .mpls in Windows 10 64bit"
![image](https://user-images.githubusercontent.com/18271863/73627448-cd63e400-465d-11ea-8ad2-475869f727d3.png)

[2020-02-03 07:08] abakum commented on #172
Not only cyrillic but Non-ASCII too
![image](https://user-images.githubusercontent.com/18271863/73632545-11121a00-466d-11ea-8fb8-9657f5137cf6.png)

[2020-02-03 07:26] abakum commented on #172
Not only tsMuxerGUI but tsMuxer too:
D:\YandexDisk\PortableApps\tsMuxeR>tsMuxeR.exe "d:\AV\2020\20200111 ДР Аллы\film\BD\BDMV\PLAYLIST\00001.mpls"
tsMuxeR version git-39bb829. github.com/justdan96/tsMuxer
Track ID:    4113
Stream type: H.264
Stream ID:   V_MPEG4/ISO/AVC
Stream info: Profile: High@4.2  Resolution: 1920:1080p  Frame rate: 50
Stream lang:

Track ID:    4352
Stream type: LPCM
Stream I

[2020-02-03 07:27] abakum commented on #172
D:\YandexDisk\PortableApps\tsMuxeR>tsMuxeR12.exe c:\AV\ä\BD\BDMV\STREAM\00001.m2ts
Network Optix tsMuxeR.  Version 2.6.12. www.networkoptix.com
Error: Can't open stream c:\AV\a\BD\BDMV\STREAM\00001.m2ts

D:\YandexDisk\PortableApps\tsMuxeR>tsMuxeR.exe c:\AV\ä\BD\BDMV\STREAM\00001.m2ts
tsMuxeR version git-39bb829. github.com/justdan96/tsMuxer
Error: Can't open stream c:\AV\a\BD\BDMV\STREAM\00001.m2t

[2020-02-03 07:43] justdan96 commented on #170
What fonts are listed if you run this in a terminal:
[code]
You can also try installing the GNU Freefont TTF files from http://ftp.gnu.org/gnu/freefont/ into User > Library > Fonts.

[2020-02-03 16:45] bouchnouk commented on #170
Thank you. Here is the result of the command:
/Library/Fonts/Arial Unicode.ttf
/Library/Fonts/MyriadWebPro-Bold.ttf
/Library/Fonts/MyriadWebPro-Condensed.ttf
/Library/Fonts/MyriadWebPro-CondensedIt.ttf
/Library/Fonts/MyriadWebPro-Italic.ttf
/Library/Fonts/MyriadWebPro.ttf
/Library/Fonts/OpenSans-Bold.ttf
/Library/Fonts/OpenSans-BoldItalic.ttf
/Library/Fonts/OpenSans-ExtraBold.ttf
/Library/Fonts/Op

[2020-02-03 17:02] justdan96 commented on #170
From the command output you should be able to use OpenSans font, if you could try that and let us know if it works.

[2020-02-03 17:41] bouchnouk commented on #170
Thank you. I can confirm that it works with OpenSans font.

[2020-02-03 17:46] justdan96 commented on #170
There's a wider question related to this - if Freetype supports multiple font formats why do we only use TTF? I might look into alternative ways of supporting fonts, to make issues like this one obsolete.

[2020-02-03 20:37] jcdr428 commented on #172
@abakum
- What font do you have in (regedit) HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Console\TrueTypeFont key "00", is it "Consolas" ?
- In the cmd console, when you type "chcp" command, which code type does it return ?

[2020-02-04 05:39] abakum commented on #172
1) Consolas
2) 866

[2020-02-04 05:45] abakum commented on #172
c:\AV\ä\BD\BDMV\PLAYLIST>chcp
Текущая кодовая страница: 866

c:\AV\ä\BD\BDMV\PLAYLIST>d:\YandexDisk\PortableApps\tsMuxeR\tsmuxer.exe 00001.mpls
tsMuxeR version git-39bb829. github.com/justdan96/tsMuxer
Error: Can't open stream 00001.m2ts

c:\AV\ä\BD\BDMV\PLAYLIST>d:\YandexDisk\PortableApps\tsMuxeR\tsmuxer12.exe 00001.mpls
Network Optix tsMuxeR.  Version 2.6.12. www.networkoptix.com
Error: Can't op

[2020-02-04 06:34] abakum commented on #172
c:>d:\YandexDisk\PortableApps\tsMuxeR\tsmuxer.exe c:\AV\ä\BD\BDMV\PLAYLIST\00001.mpls
tsMuxeR version git-39bb829. github.com/justdan96/tsMuxer

There is not even an error output!

[2020-02-04 09:37] justdan96 commented on #170
I think we can use this to update the documentation in the short term and look at better solutions for looking up font files in the long term.

Are you okay for the issue to be closed now?

[2020-02-04 09:57] justdan96 commented on #172
I'll see if I can reproduce this one, if it is literally just non-ASCII characters in the file paths should be relatively straightforward to reproduce.

[2020-02-04 14:02] bouchnouk commented on #170
Ok. I agree with that. The issue can be closed.

Thank you.

[2020-02-04 15:37] jcdr428 commented on #172
@justdan96 I can't reproduce with my Windows 10 : path such as ...\ä\BD\BDMV\PLAYLIST\00001.mpls works perfectly. Same story as the locale, hence the reason to suspect the font or code type -but the problem seems to be elsewhere.

[2020-02-04 16:58] justdan96 commented on #172
Odd - maybe try running procmon to figure out what is going on.

[2020-02-04 17:46] xavery commented on #172
Unfortunately, what you're trying to do will never work with the current code on Windows due to how tsMuxeR currently handles paths. The console application is not built with `UNICODE`, which means that the paths to be opened are converted via the `A`-variant of WinAPI functions, which means that converting any character outside the code page supported by the "active code page" is not possible.
@a

[2020-02-04 19:36] jcdr428 commented on #172
@xavery 🥇 great lecture !

[2020-02-04 23:15] #172 closed

[2020-02-05 17:06] #170 closed

[2020-02-07 14:54] abakum opened #185 "MUXOPT option --label for .iso does not work with non ASCII characters"
If iso.meta with
MUXOPT --blu-ray --label="20200111 ДР Аллы" --vbr --vbv-len=500
...
encoded in windows-1251 result after
tsMuxeR.exe iso.meta "20200111 ДР Аллы.iso"
like:
![2020-02-07_13-37-29](https://user-images.githubusercontent.com/18271863/74037937-62553d00-49d0-11ea-85f4-57b1f2e7dbca.png)
If iso.meta encoded in UTF-8 result like:
![2020-02-07_13-49-15](https://user-images.githubusercontent.

[2020-02-08 14:46] cob66 opened #187 "No HDR after remux Terminator 2 (Tag der Abrechnung )1991 UHD"
No HDR after remux Terminator 2 (Tag der Abrechnung )1991 UHD (German ver.)

[2020-02-08 15:36] xavery opened #188 "UI should be rewritten to use a custom model instead of stuffing everything in a QTableWidget"
The UI currently uses the `trackLV` member as the central point of information about all the available tracks, and `inputFilesLV` for information on the input files.
This means that a lot of the code in the UI must manually keep the relevant widgets in sync with the information available in the widget. Extending the code in any way easily becomes very cumbersome, as it requires adding custom code

[2020-02-08 15:38] xavery commented on #187
Could you provide some more details? Screenshots, console outputs? What did you get, what did you expect to get? How did you observe the bug?

[2020-02-08 17:27] jcdr428 commented on #187
@cob66 please also upload the tsMuxer mpls and clpi, and if possible a link for a m2ts sample containing HDR, 20 to 50 MB (!! not the whole movie contains HDR)

[2020-02-08 19:16] jcdr428 commented on #187
@cob66 Please try [this fork](https://github.com/jcdr428/tsMuxer/suites/445996907/artifacts/1681058) and confirm whether the problem has been fixed, thanks.

[2020-02-08 19:48] #126 closed

[2020-02-08 23:17] cob66 commented on #187
Cześć, może łatwiej po polsku? 😊

Zwróciłem uwagę, że tylko konkretnie ten tytuł ma problem z HDR10.

Po remuksie znika flaga HDR i kolory są nieprawidłowe

Pozdrawiam, Artur

From: Daniel Kamil Kozar <notifications@github.com>
Sent: Saturday, February 8, 2020 4:38 PM
To: justdan96/tsMuxer <tsMuxer@noreply.github.com>
Cc: cob66 <cobico@op.pl>; Author <author@noreply.github.com>
Subject: [SPAM] Re:

[2020-02-08 23:36] xavery commented on #187
Arturze, chętnie, ale na GitHubie musimy trzymać się angielskiego. :-) Dzięki za zgłoszenie, w miarę możliwości wypróbuj forka, bo @jcdr428 jest tutaj specem od wszelkich rzeczy związanych z HDR, HEVC, i całą tą resztą.

For our international readers : Artur reports that this particular title has problems with HDR10, and the HDR flag disappears after remuxing, resulting in invalid colours in the v

[2020-02-09 13:04] jcdr428 commented on #187
Fixed with proposed merge #189.

[2020-02-09 14:09] cob66 commented on #187
problem fixed, thanks :)

[2020-02-09 14:11] #187 closed

[2020-02-11 02:38] bouchnouk opened #190 "Subtitles display problem when not PGS"
Hi,

I tried to remux several MKV files with subtitles and I am getting nothing outputted whenever SRT type is in the file. When a subtitle with PGS format is in the file, the subtitles are displayed correctly when playing the video result. I am using default values in Subtitles tab. I am also using Open Sans font.

I am sending metafiles of MKV files with SRT subtitles giving incorrect output.

I

[2020-02-11 03:20] bouchnouk commented on #190
I did a lit bit more investigation and I found that the subtitles causing problems are in UTF-8 format. PGS format doesn't cause any trouble when playing the video on Bluray player or Mac.

<img width="700" alt="2020-02-10_22-18-47" src="https://user-images.githubusercontent.com/20449937/74208868-50cf9780-4c53-11ea-8bd2-5224fdce7377.png">

[2020-02-11 14:31] Nadahar commented on #108
We're using tsMuxer (I've been used to write tsMuxeR - is that "deprecated" now?) to mux video for a UPnP AV/DLNA server, and have had "strange experiences" with the output for years.

The "clients", called renderers, can be anything, and is often "hardware devices" like TVs, Blu-ray players or game consoles. While many renderers happily accept tsMuxer's output, some flat our reject them (claiming

[2020-02-11 14:42] justdan96 commented on #108
What project are you using tsMuxer in? We may be able to sync up on error reporting to ensure it is the same issue.

[2020-02-11 14:48] justdan96 commented on #190
#186 gave us support for UTF8 SRT files. Is there anything that is output to the console when you try to mux the file?

[2020-02-11 14:51] Nadahar commented on #108
I'm currently working on [Digital Media Server](https://github.com/DigitalMediaServer/DigitalMediaServer/) a fork of [Universal Media Server](https://github.com/UniversalMediaServer/UniversalMediaServer/) where I used to be a developer. Both are essentially continuations of [PS3 Media Server](https://github.com/ps3mediaserver/ps3mediaserver/).

There has been many issues over the years, the vast m

[2020-02-11 14:56] justdan96 commented on #149
Also apparently Nero Linux 4 can create UDF 2.5 ISOs but I haven't had much success with it!
https://en.m.wikipedia.org/wiki/Nero_Linux

[2020-02-11 14:58] justdan96 commented on #108
I'm familiar with UMS, will have to check out DMS! Maybe you could include the open source tsMuxer as an option in your software, it would be good to get some more user reports on what does and doesn't work.

[2020-02-11 15:02] Nadahar commented on #108
I certainly will when I get the time, but I’m currently bogged down with other issues so I don't know when I'll get there.

[2020-02-12 00:59] bouchnouk commented on #190
This is what I get when remuxing a file with UTF8 subtitles:

<img width="633" alt="2020-02-11_19-58-50" src="https://user-images.githubusercontent.com/20449937/74293469-ef6a0000-4d08-11ea-9710-8e157e2f5fc6.png">

[2020-02-12 01:03] bouchnouk commented on #190
This is the information of the MKV file with UTF8 subtitles. I have noticed that tsMuxer seems to see UTF8 subtitles as PGS. That's why we see "garbage" on the screen because the real content of the subtitles file is displayed (binary) instead of the subtitles text.

<img width="700" alt="2020-02-11_20-00-44" src="https://user-images.githubusercontent.com/20449937/74293551-335d0500-4d09-11ea-9223-

[2020-02-13 12:46] justdan96 commented on #190
@xavery any idea what's going on there?

[2020-02-13 14:04] mariustrifan83 opened #191 "Bluray iso ultra hd h265"
Hello! tsmuxer can we make him do bluray video iso ultra hd h265?

[2020-02-13 14:09] justdan96 commented on #191
Is this a duplicate of #149 ?

[2020-02-16 17:52] xavery commented on #190
The metafiles look okay to me, so I suspect this is somehow related to how the SRT tracks from the Matroska container are re-muxed into the transport stream. Perhaps some alternative code path is taken in this case, and I wasn't aware of this. I'll have to try and reproduce this myself first in order to say for sure.

[2020-02-18 07:33] #191 closed

[2020-02-18 18:08] tamplin opened #192 "Multi-language support！"
I wanna Chinese version

[2020-02-18 19:49] jcdr428 opened #193 "Detect streams in "fragmented MP4""
tsMuxer currently parses non-fragmented mp4 only.
See [here](https://stackoverflow.com/questions/35177797/what-exactly-is-fragmented-mp4fmp4-how-is-it-different-from-normal-mp4) for explanation on what is fragmented mp4.

Fragmented mp4 is common, especially for streaming purpose.

In brief, tsmuxer extracts chunks from the `moov` atom. If no chunks are detected, it currently shows 'can't detect s

[2020-02-18 19:51] jcdr428 commented on #193
@justdan96 @xavery I'll work on this, please assign to me.

[2020-02-19 18:28] justdan96 commented on #192
I guess for this we would need to collate translations and parse in the required messages depending on the user's language settings. I could take a look at the Qt5 code to see if we could swap out strings in a simple way.

[2020-02-19 18:32] justdan96 opened #194 "Pre-Built Packages for Linux"
Creating a tracker item for this one - I have set up tsMuxer on the Open Build Service and have started creating test packages for a few distributions:

https://build.opensuse.org/package/show/home:justdan96/tsMuxer

Repositories working so far:
- Ubuntu 19.10
- Debian Testing
- Fedora Rawhide
- Mageia Cauldron
- openSUSE Tumbleweed

What this should mean is that we can create packages for lots of

[2020-02-20 00:09] xavery commented on #192
Qt already supports all that. The only requirement is that translatable strings used inside the source files are passed through `QObject::tr`. Strings available in UI files are marked as "translatable" by default. Translatable strings are saved to `.ts` files which can then be translated into different languages. The `.ts` files are turned into `.qm` at build time, and are loaded by the applicatio

[2020-02-20 18:01] xavery opened #195 "Add an option for limiting the size of the output file"
As seen on Doom9 forums, users don't always know how to cut the size of the output file in order to deliver a sample for analysis. This can be just as well implemented in tsmuxer itself.

[2020-02-20 18:51] xavery commented on #190
This isn't related to UTF-8 or Matroska. I reproduced the issue with the MP4 version of BBB and [this subtitle file](https://www.opensubtitles.org/en/subtitles/8102110/mixed-ish-she-works-hard-for-the-money-en), using the following metafile :
[code]
[This](https://files.catbox.moe/qmrh0c.png) is the effect. The garbled subtitles can be seen in the lower bottom corner.

Bisecting leads to e58b4de12

[2020-02-20 22:13] xavery commented on #192
#196 is the first step to getting this done. It's not yet complete, since the compiled translations will have to be integrated with the binary and actually loaded in the main function. However, this can wait until we actually have any actual translations.

[2020-02-21 07:22] stanionascu opened #197 "Preserve the MPLS playlist item order and count"
Some mpls playlists can consist of multiple clpis and m2ts streams. Currently tsMuxer creates a single output m2ts / clip / mpls. Instead tsMuxer should have a mode when the order and number of playlist items is preserved.

[2020-02-21 08:45] jcdr428 commented on #190
@xavery should be solved with #198 .

Before e58b4de:
<img width="196" alt="a4f5a77" src="https://user-images.githubusercontent.com/56721609/75018098-004c0b80-5497-11ea-824f-9c12da2b98be.png">

After this commit:
<img width="183" alt="after commit" src="https://user-images.githubusercontent.com/56721609/75018221-283b6f00-5497-11ea-8f10-942f37fd8e38.png">

[2020-02-21 11:59] FilipeAmadeuO commented on #197
This could be interesting in order to keep the original structure

[2020-02-21 12:42] justdan96 commented on #194
Repositories now enabled:

- Ubuntu 19.10
- Ubuntu 18.10
- Ubuntu 18.03
- Debian 10
- Mageia 7
- Fedora 31
- openSUSE Leap 15.2
- openSUSE Tumbleweed

[2020-02-21 15:09] justdan96 commented on #195
We could also update the documentation to include commands for chopping up the output file, until this functionality can be added.

[2020-02-21 15:30] justdan96 opened #201 "tsMuxer Point Release Planning"
Related to #199 - we have made a huge number of changes to tsMuxer since version 2.6.15. We have been referring to these as 2.6.16 but since we are supposed to be following semantic versioning we should probably actually make the next proper release 2.7.0.

I don't believe we've made any incompatible API changes or made sweeping changes to large parts of the code base so a change to the minor vers

[2020-02-21 17:23] #190 closed

[2020-02-21 22:34] abakum opened #202 "Error while loading shared libraries: libstdc++-6.dll in static tsmuxer @MSYS2"
![image](https://user-images.githubusercontent.com/18271863/75077071-be60ab00-5512-11ea-97e2-6756a0fcda01.png)
Static tsmuxer @MINGW well run
![image](https://user-images.githubusercontent.com/18271863/75077262-4646b500-5513-11ea-9863-6adddd3d25f1.png)

[2020-02-22 09:11] jcdr428 commented on #108
@Nadahar as the release of 2.7 is approaching, it would be good to have a quick report of what issues you've met with tsMuxer, so that we can try to fix it before release of new version.

[2020-02-22 21:11] xavery opened #204 "Support passing parameters currently delivered via metafiles in the commandline"
Currently, doing any actual work in tsMuxeR requires creating a metafile which instructs the program on what actually needs to be done. This is rather unorthodox among existing programs, most notably `ffmpeg`, which uses the commandline as its main and only interface in order for users to instruct the program on the work to be done.
I think the same can, and should, be done in tsMuxeR, as the curr

[2020-02-22 21:58] jcdr428 commented on #204
I am totally for it. The current way of passing parameters via the meta file is quite unorthodox.

[2020-02-22 23:04] justdan96 commented on #204
Great idea!

[2020-02-23 08:47] abakum commented on #204
I tried to squeeze out everything that is possible from the concept of creating and editing a metafile. This approach does not at all cancel either tsMuxerGUI or what offers @xavery
Look https://github.com/abakum/tsMuxer/blob/abakum-py/tsMuxeR.py

[2020-02-23 09:56] abakum commented on #204
Sorry google for my english \8^)

[2020-02-23 14:43] #193 closed

[2020-02-23 15:31] justdan96 commented on #204
I think someone on the forums was asking about a batch mode, a fully command line mode would probably go some of the way to fulfil that.

[2020-02-23 15:45] xavery commented on #204
Maybe not explicitly, but it would definitely make using the program much more script-compatible. Thus, running batch workloads would be as simple as writing a for-loop in your favourite scripting language.

[2020-02-25 08:33] abakum commented on #110
@FilipeAmadeuO instead of tsmuxerGUI try https://github.com/abakum/tsmuxerCLI

[2020-02-25 22:53] Aleksoid1978 commented on #202
Confirm - linked dynamically
![tsMuxer_Dlls](https://user-images.githubusercontent.com/11625603/75294998-8096b600-5875-11ea-9dc6-8c70085e8d91.png)
.

[2020-02-26 10:17] abakum opened #208 "tsMuxeR version after git-a664fdc@Win10 64bit wrong make pgs in ts from srt in mkv"
![2020-02-26_13-09-29](https://user-images.githubusercontent.com/18271863/75335174-12181f00-589a-11ea-9655-69a1e4f09506.png)

Version 2.6.12 work well
![2020-02-26_13-06-11](https://user-images.githubusercontent.com/18271863/75335249-31af4780-589a-11ea-81cd-f5da433ed489.png)

[2020-02-26 11:16] abakum commented on #208
m2ts, blu-ray, avchd - work well with tsMuxeR version git-d817a09

[2020-02-26 12:16] abakum opened #209 "tsMuxeR version after git-7740bd5@Win10 64bit wrong detect mvc stream in mpls"
c:\msys64\home\Konstantin.Abakumov>tsMuxeR.exe "d:\AV\2019\20190617 Море\film\20190617 Море 102455 Привал\BDMV\PLAYLIST\00000.mpls"
tsMuxeR version git-d817a09. github.com/justdan96/tsMuxer
Track ID:    4113
Stream type: H.264
Stream ID:   V_MPEG4/ISO/AVC
Stream info: Profile: High@4.2  Resolution: 1920:1080p  Frame rate: 25
Stream lang:

Track ID:    4352
Stream type: LPCM
Stream ID:   A_LPCM
Str

[2020-02-26 12:17] abakum commented on #209
c:\msys64\home\Konstantin.Abakumov>tsMuxeR12.exe "d:\AV\2019\20190617 Море\film\20190617 Море 102455 Привал\BDMV\PLAYLIST\00000.mpls"
Network Optix tsMuxeR.  Version 2.6.12. www.networkoptix.com
Track ID:    4114
Stream type: MVC
Stream ID:   V_MPEG4/ISO/MVC
Stream info: H.264/MVC Views: 2 Profile: High@4.2  Resolution: 1920:1080p  Frame rate: 25
Stream lang:
Track ID:    4113
Stream type: H.264
S

[2020-02-26 12:24] abakum commented on #209
![image](https://user-images.githubusercontent.com/18271863/75344594-fddd1d80-58ab-11ea-8b46-b1b428813023.png)

[2020-02-26 12:35] abakum commented on #209
![image](https://user-images.githubusercontent.com/18271863/75345325-91631e00-58ad-11ea-9674-18df0c1b932a.png)

[2020-02-26 13:08] abakum commented on #209
Latest working version:  w64-nightly-2020-02-03--01-09-07.zip
tsMuxeR version git-7740bd5. github.com/justdan96/tsMuxer
Track ID:    4114
Stream type: MVC
Stream ID:   V_MPEG4/ISO/MVC
Stream info: H.264/MVC Views: 2 Profile: High@4.2  Resolution: 1920:1080p  Frame rate: 25
Stream lang:
Track ID:    4113
Stream type: H.264
Stream ID:   V_MPEG4/ISO/AVC
Stream info: Profile: High@4.2  Resolution: 192

[2020-02-26 13:40] abakum commented on #208
Well working w64-nightly-2020-02-22--01-09-04.zip
tsMuxeR version git-a664fdc. github.com/justdan96/tsMuxer
Wrong working w64-nightly-2020-02-23--01-10-39.zip
tsMuxeR version git-11f852a. github.com/justdan96/tsMuxer

[2020-02-26 19:55] jcdr428 commented on #209
@abakum unfortenately, I can't reproduce: everything is working fine on W64.
Tried with 3D samples from https://kodi.wiki/view/Samples#3D_Test_Clips:

[code]
The merge after 7740bd5 is the one line merge b8d9788 , which changes the GUI but not the CLI. So the change affecting the behavior of MVC would come from 2f20f31 ?

[2020-02-26 20:12] jcdr428 commented on #208
@abakum what do you mean by "wrong make srt from mkv to pgs" ? Can you demux the pgs, is it ill-formed ?
What is the output of mediainfo ?

[2020-02-26 20:40] abakum commented on #208
tsMuxeR version git-d817a09:
Look at left part of first screenshot - this mediainfo - PGS subtitle present
Look at center part of first screenshot - this MPC-HC info - NO PGS subtitle
Look at right part of first screenshot - this tsmuxer output and metafile content
Look at bottom of first screenshot this MPC-HC window - no subtitle

tsMuxeR version 2.6.12:
Look at left part of second screenshot -

[2020-02-26 21:02] abakum commented on #208
after demux sup file is ok
m2ts, blu-ray, avchd is ok with tsMuxeR version git-d817a09
but ts file without subtitle in MPC-HC and ffplay
![image](https://user-images.githubusercontent.com/18271863/75387426-664fed00-58f4-11ea-8c1a-bec3cabfdd66.png)

[2020-02-26 21:08] abakum commented on #208
![image](https://user-images.githubusercontent.com/18271863/75387998-44a33580-58f5-11ea-8f7d-3fb67ae3e0ce.png)

[2020-02-26 21:12] abakum commented on #208
https://drive.google.com/open?id=1fEVQKNZ2tmwOKgpR9ZBmDwHqXH4rZWQ0

[2020-02-26 21:22] abakum commented on #208
vlc
![image](https://user-images.githubusercontent.com/18271863/75389054-fe4ed600-58f6-11ea-97d0-79e55c15faaf.png)
![image](https://user-images.githubusercontent.com/18271863/75389208-39e9a000-58f7-11ea-9a85-85a4ad0f8402.png)

[2020-02-26 21:43] abakum commented on #209
Eureka!
After I removed all non-Latin letters from the path to mpls it worked!
![image](https://user-images.githubusercontent.com/18271863/75390853-170cbb00-58fa-11ea-8104-f4804fd41afc.png)

[2020-02-26 21:46] abakum commented on #209
Add letter я and again
![image](https://user-images.githubusercontent.com/18271863/75391129-94d0c680-58fa-11ea-87ba-2fcc09bf1f95.png)

[2020-02-26 21:55] justdan96 commented on #209
@xavery FYI

[2020-02-26 22:03] justdan96 commented on #202
Sorry are you saying it compiles fine in Mingw32 but not Msys2? My understanding of Msys2 was that there were the 3 subsystems, Msys2 for package management, Mingw32 for compiling 32-bit programs and Mingw64 for compiling 64-bit programs.

[2020-02-26 22:23] Aleksoid1978 commented on #202
Compile using msys2 + mingw32/64 can’t create static .dll/.exe, I checked it on other project.

[2020-02-27 00:32] qyot27 commented on #202
No, it appears what they're saying is that the so-called 'static' build is failing to run under the MSys2 main shell because they don't have GCC installed there.  They clearly do have it installed in the MinGW64 shell because it runs, but it's obvious this isn't actually a static build.

MSys2's repo builds of GCC are built shared, which means you have to explicitly use stuff like `-static-libstdc

[2020-02-27 02:35] Aleksoid1978 commented on #202
But in COMPILING.md write "run ./rebuild_linux.sh" and "This will create statically compiled versions of tsMuxer - so no external DLL files are required." It's wrong :)

[2020-02-27 05:17] jcdr428 commented on #208
@abakum ok, so the subtitle descriptors are not recognized. Problem is there doesn't seem to be any suitable descriptor available for PGS in T-REC.H222.0... And if we keep the m2ts HDMV descriptors as previous, the Dolby Vision DoVi descriptors won't be recongnized.
I'll see whether we can keep the HDMV descriptor only for PGS subtitles

[2020-02-27 05:32] abakum commented on #208
Please add an option like --DoVA that the user can choose whether he wants to make the correct descriptor for Dolby Vision DoVA or HDMV descriptor as previous for compatibility

[2020-02-27 07:34] AFriedo opened #210 "tsMuxer (after 54f59df) doesn't set the fps field correctly in HEVC"
In the example the fps (including the subtitles) were changed from 24000/1001 to 25fps. MPlayer Shows 25fps in file information and 23.976fps in stream information.
![file](https://user-images.githubusercontent.com/61536090/75421997-df266780-593b-11ea-8353-982a45ea2790.png)
![stream](https://user-images.githubusercontent.com/61536090/75421999-dfbefe00-593b-11ea-9d91-fdb02bf0708d.png)

[2020-02-27 16:31] jcdr428 commented on #210
@AFriedo I believe it has always been like this, even before 54f59df or 2.6.12 (I've just tested with both of them).

tsMuxer is a muxer, not an encoder: it changes the PCRs (program clock reference) in the packet headers, but it doesn't modify the streams.
Mpeg-TS fps is extracted from the gaps between PCR packets.
Video stream fps is extracted from the pps or sps of the video stream.

tsMuxer co

[2020-02-27 17:46] #209 closed

[2020-02-27 17:50] xavery commented on #209
This should be fixed now. Keep in mind that the console output will be borked due to the simple fact that the process' standard output is used by the GUI in the stream detection phase and thus must be encoded in UTF-8. The characters will not show up properly in the Windows console unless you switch it to UTF-8 manually.
Standard console :
![image](https://user-images.githubusercontent.com/127875/

[2020-02-27 18:04] justdan96 commented on #209
Is there an opportunity to update the documentation here as well, to reduce confusion?

[2020-02-27 18:10] justdan96 commented on #202
I think I remember getting shared binaries even with `-static` passed in, if any of the dependencies are only available as shared. I'm not sure if we need to update the documentation some more, there is a pull request open for some msys2 updates.

[2020-02-27 18:21] xavery commented on #209
@justdan96 Updated in e9d438bbbca90438916abfca90a4a67ff8cbf956.

[2020-02-27 18:30] abakum commented on #209
Thanks @xavery but bug not fixed :(
Track ID:    4114
Track ID:    4113
Track ID:    4352
...
![image](https://user-images.githubusercontent.com/18271863/75474003-36aded00-59a7-11ea-8303-24d764a07a80.png)
After add я to path tsmuxer stopped deteсt MVC tracks:
Track ID:    4114
Stream type: MVC
Stream ID:   V_MPEG4/ISO/MVC
Stream info: H.264/MVC Views: 2 Profile: High@4.1  Resolution: 1920:1080p  F

[2020-02-27 18:50] abakum commented on #202
Thanks @ qyot27 for truly static

[2020-02-27 18:58] abakum commented on #202
@justdan96 https://github.com/justdan96/tsMuxer/pull/184/commits/740c2d4047464741dcb2b58cedf858ffc687fc91

[2020-02-27 19:03] xavery commented on #209
Fascinating. I'll need to look into this once more, then.

[2020-02-27 19:13] abakum commented on #209
But non-Latin char in GUI fixed!
![image](https://user-images.githubusercontent.com/18271863/75477917-1170ad00-59ae-11ea-95c1-b8cc19ffa627.png)

[2020-02-27 21:25] xavery commented on #209
@abakum Please try again now - I've tested with the same example, and the results are the same regardless of whether the path contains `я` or not. The issue was with the Windows POSIX compatibility APIs reporting that the file doesn't exist because the character encoding was treated as ACP behind the scenes.

[2020-02-28 05:14] abakum commented on #209
Coooool! Thanks @xavery
![image](https://user-images.githubusercontent.com/18271863/75512321-119a9800-5a02-11ea-99ce-f4ba6eaa7b3e.png)

[2020-02-28 12:04] 775405984 opened #214 "Output to MP4"
It says here in your About page that tsMuxer support containers and formats like MP4/MOV.

But I can't seem to find the mp4 option in tsMuxerGUI output menu.

For me, the only way to turn .ts file to .mp4 file right now is Demux it with tsMuxer, and then remux the audio and video tracks with My MP4Box GUI. It's very inconvenient.

What am I missing here? Do I need to type in some code?

[2020-02-28 12:41] jcdr428 commented on #214
@775405984 "tsMuxer supports MP4/MOV" means tsMuxer can detect streams in MP4/MOV to mux them as TS/M2TS. Not the opposite ;)
The best option is to use MP4Box as command line, directly with the ts/m2ts file:
`MP4Box -add file.ts new_file.mp4`

[2020-02-28 12:52] #202 closed

[2020-02-28 14:19] justdan96 commented on #185
@xavery is this still the case?

[2020-02-28 16:54] abakum commented on #185
This problem was before switching to Unicode

[2020-02-28 17:04] xavery commented on #185
@justdan96 Unfortunately yes, this is completely unrelated to the changes I've made recently regarding Unicode handling around the application. However, implementing this properly wouldn't even be possible without them.
Anyhow, the issue is with how the code in `iso_writer.cpp` writes the strings in the UDF headers. They can use 8-bit and 16-bit Unicode encodings, with the 8-bit variant effectivel

[2020-02-28 20:54] abakum commented on #185
ImgBurn is not open source, but can InfraRecorder code help?https://sourceforge.net/p/infrarecorder/code/ci/master/tree/

[2020-02-28 21:19] abakum commented on #185
Maybe this will help?
https://www.mankier.com/8/udflabel
https://github.com/pali/udftools/tree/master/udflabel

[2020-02-28 21:25] xavery commented on #185
The actual code is not the problem, it's the integration with the existing codebase that gives me nightmares. 😅

[2020-02-28 21:26] abakum commented on #185
\8^)

[2020-02-28 21:51] abakum commented on #185
I have 3 different hardware players. I can check

[2020-03-01 18:49] justdan96 commented on #192
Please find the Russian translation here: https://github.com/justdan96/tsMuxer/blob/master/tsMuxerGUI/translations/tsmuxergui_ru.ts

Please feel free to contribute a Chinese translation!

[2020-03-01 21:48] jcdr428 commented on #208
HDMV is specific to m2ts and should not appear in ts files.
PGS and interweaved AC3/TrueHD are HDMV streams.
To my knowledge, no professional ts muxer accepts PGS or AC3/TrueHD.
Therefore to have PGS or AC3/TrueHD working, one has to mux to m2ts, not ts.

[2020-03-02 05:30] abakum commented on #208
Well, let the user for each specific case determine what he wants to see in this TS PGS or AC3/TrueHD

[2020-03-02 17:18] MarcoO74 opened #225 "Filenames with periods get truncated on demux"
If the input filename of a demux operation contains periods besides the last one then the filename gets truncated. For example "Trip to the U.S. West Coast.ts" becomes something like "Trip to the U.track_256.264" instead of "Trip to the U.S. West Coast.track_256.264", like any other file.

Since the filenames of the output of a demux operation can't be controlled then it's crucial that all files f

[2020-03-02 18:01] #214 closed

[2020-03-02 18:12] justdan96 commented on #210
I'll close this one off

[2020-03-02 18:12] #210 closed

[2020-03-03 14:00] abakum commented on #225
Maybe at the same time instead of --demux
let write --demux=foo then there will be foo.track_256.264

[2020-03-03 21:26] jcdr428 commented on #225
@justdan96 in type.cpp line 303, change
`endPos = i;`
to
`if (endPos == src.size())
     endPos = i;`

[2020-03-04 07:32] abakum commented on #108
Maybe how does ffmpeg write menu to the TS  (as it shows mediainfo):
Menu
ID                                       : 4096 (0x1000)
Menu ID                                  : 1 (0x1)
Duration                                 : 20 s 160 ms
List                                     : 256 (0x100) (AVC) / 257 (0x101) (AAC)
Service name                             : Service01
Service provider

[2020-03-04 15:18] justdan96 commented on #225
I just tested the change @jcdr428 suggested, I can't reproduce the issue after that.

[2020-03-04 15:22] justdan96 commented on #192
@tamplin I will be closing this one down since we now support multiple languages. Extra translations are highly welcome.

[2020-03-04 15:22] #192 closed

[2020-03-04 15:24] justdan96 commented on #194
#229 should resolve the final issue - nightly builds should now be correctly getting created in OBS.

[2020-03-04 15:24] #194 closed

[2020-03-04 16:26] #185 closed

[2020-03-04 18:19] Nadahar commented on #108
@jcdr428 Sorry, I missed the notification for some reason. As stated, we haven't been using the open-source version yet, so I don't even know if the previous issues still exist. In addition, I've been through, probably thousands, of user cases the last 5 years, so most of it is just a blur in my mind. Very few of these issues have been related to tsMuxer, so I simply can't come up with something c

[2020-03-04 19:26] abakum commented on #208
Users used tsmuxer to make TS with PGS instead of professional ts muxer. Now it does not work, and this is called not an bug, but an improvement?

[2020-03-04 19:28] justdan96 commented on #208
@jcdr428 How difficult would it be to add an option to allow the previous behaviour?

[2020-03-04 19:34] abakum commented on #208
Maybe it’s better to add an option to enable new functionality?

[2020-03-04 19:38] justdan96 commented on #208
I'm stuck between 2 ideas here: we don't break existing functionality; we don't want to add extra options for "correct" behaviour, but we can add an extra option for "incorrect" behaviour. @xavery what approach do you think is best here?

[2020-03-04 19:40] abakum commented on #208
Or easier - if there is PGS then compatibility mode

[2020-03-04 19:46] abakum commented on #208
UMS used TS as intermediate file

[2020-03-04 19:51] xavery commented on #208
I don't think I'm really the best person to answer this question. As far as I'm concerned, the only thing that's changed is the fact that I need to use M2TS instead of TS mode when testing things related to subtitles. However, I have to admit that as an end-user (of sorts) I was quite surprised when subtitles stopped working all of a sudden.

[2020-03-04 19:54] jcdr428 commented on #208
@abakum TS files now have H.222.0 compliant decriptors (and not bluray format descriptors) and can be now be read by an ATSC TS player, so yes it is a big enhancement.

I can look later at adding an option to produce non compliant TS with bluray streams as previous. However my priority is to finish the work on producing compliant ATSC streams, and it would be more logical to modify UMD open source

[2020-03-04 20:08] abakum commented on #208
UMD, DMS,  PMS, ...... and they all abandon new tsMuxer in favor of old tsMuxeR

[2020-03-04 20:14] jcdr428 commented on #208
@justdan96 so I'll quickly submit a patch to remove #203 TS Descriptors, and you'll have the choice to merge it or not.

[2020-03-04 20:18] abakum commented on #208
No need any option - if in META there is PGS or SRT then compatibility mode

[2020-03-04 20:38] abakum commented on #208
@jcdr428 excuse me please. I appreciate your contribution - you greatly improved the tsmuxer! Please make a little effort to ensure compatibility.

[2020-03-04 20:45] jcdr428 commented on #208
@abakum, no worries, I understand the issue.
Let's put the TS descriptors aside until solution has been found; the patch #231 is a one-line patch, easy to revert when we have the agreed and implemented the solution.

[2020-03-04 20:50] abakum commented on #208
uint32_t size = m_pmt.serialize(m_pmtBuffer + TSPacket::TS_HEADER_SIZE, 3864, !m_bluRayMode, **m_m2tsModeOrSUBinTS**);

[2020-03-04 21:00] xavery commented on #208
Purely from a programming perspective, providing correct behaviour (i.e. producing compliant streams) should be more important than keeping backwards compatibility. This is an API-breaking change and should be appropriately documented as such.
**However**, if transport streams containing PGS elementary streams are noncompliant by definition, then I don't see any reason why the solution suggested b

[2020-03-04 21:10] abakum commented on #208
I was probably mistaken when I thought that TS allows us to transfer more formats than M2TS

[2020-03-04 21:11] jcdr428 commented on #208
@xavery MPEG-TS has been there long time before M2TS, used by various broadcast standards: ATSC (System A), DVB (System B), IPTV...

M2TS has been created for Blu-rays, they have their own descriptors and streams. Yes the main difference is the 4 bytes arrivial time stamps to get rid of the filler packets, but streams such as PGS and hybrid TrueHD/AC3 formats have also been specifically created fo

[2020-03-04 21:20] abakum commented on #208
https://dvb.org/wp-content/uploads/2019/12/a009_dvb_bitmap_subtitles_nov_2017.pdf

[2020-03-04 21:24] jcdr428 commented on #208
@abakum Yes, this is the DVB subtitles bitmap format, which is not the same format as PGS -I've already tried to have the PGS working with the DVD subtitling descriptors...

[2020-03-04 21:37] abakum commented on #208
Have you tried it with such a descriptor?
![image](https://user-images.githubusercontent.com/18271863/75925162-429f2080-5e79-11ea-89a3-f1908e444801.png)

[2020-03-04 21:38] jcdr428 commented on #208
Yes. I've tried a LOT of things :)

[2020-03-04 21:56] abakum commented on #208
But if there is no PGS in TS then it will work even on LG

[2020-03-04 22:08] abakum commented on #208
let DV be priority, if there is DV, then a new mode
but if there is no DV and PGS is present - old mode

[2020-03-04 22:12] abakum commented on #208
@jcdr428 Agree! So the sheep are safe and the wolves are full

[2020-03-05 05:10] jcdr428 commented on #208
I'll work on it the coming week-end.

[2020-03-05 11:21] #225 closed

[2020-03-05 11:40] justdan96 commented on #197
Just to confirm, has this been resolved by #206 ?

[2020-03-05 17:11] jcdr428 commented on #197
@justdan96 Yes.

[2020-03-05 17:14] #197 closed

[2020-03-06 05:17] nabsltd commented on #204
Wouldn't a script still have to use some tool that returns info about the streams in the source file so that you could create the parameters for the tsMuxer command line?

In other words, how would the script know which input streams to map to which output streams unless it already knew something about the content of the source file(s)?  With that knowledge, it's easy to create the metafile, and t

[2020-03-06 08:24] abakum commented on #204
@nabsltd Look https://github.com/abakum/tsmuxerCLI#ex

[2020-03-06 08:33] abakum commented on #204
tsmuxerGUI and tsmuxerCLI use tsmuxer in detect mode to build .meta

[2020-03-06 21:19] stanionascu commented on #197
Sorry for the delay in the response. This "issue" was about playlists with multiple files. E.g.: at this time when remuxing a playlist (e.g. changing an audio track), tsMuxer will produce a single output playlist + clpi + m2ts file. Instead, this issue is requesting to maitain the count and order of the clips and m2ts streams from the playlist, to make re-authoring (fixing the audio / subtitle str

[2020-03-06 21:29] jcdr428 commented on #197
@stanionascu sorry I misunderstood the issue, it was initially preserving "the order and number of playlist items" -which was resolved by #206 and #159 .

If you want tsMuxer to output several clpi/m2ts, this would need substantial changes. Why not use a batch script ?

[2020-03-06 22:13] stanionascu commented on #197
Sometimes the audio or subtitle track can be a single continuous source while the playlist is composed of multiple. Using a batch file (hoping that there are no overlaps) would require cutting the extra track into the equivalent number and duration to match the playlist.

[2020-03-06 22:19] jcdr428 commented on #197
@stanionascu unless I mistanderstood again, you can use a batch file to output all the clpi and m2ts keeping the same numbers as original. Then you modify the mpls with BDEdit to change the list of playItem tracks as needed.

[2020-03-09 07:36] Eriz0Sexy opened #236 "Forced Subttiles Turned ON"
tsmuxer is wonderfull software, thank you very much for all work, but,, it´s possible add Turned ON por subttitles forced track?
I need this option for UHD. Thanks

[2020-03-09 20:49] sannies opened #239 "Format settings, GOP in mediainfo"
Hi,
I'm trying to generate a very specific format for a hardware decoder. The manufacturer tells me that he suspects it's not playing cause my TS file doesn't  show
`Format settings, GOP                     : M=4, N=12`
in mediainfo. My input MP4 shows exactly those Format settings, GOP value but after muxing via

[code]
(I'm currently on a locally patched version with https://github.com/justdan96

[2020-03-09 21:28] justdan96 commented on #239
I'll wait for others to weigh in on some of your points but for now I'll say the following command should show GOP values for all frames in a file, might be useful to check:

[code]
As variable GOP isn't that unusual from what I've read maybe it would be good to know if the hardware can handle variable GOP generally.

[2020-03-10 08:51] sannies commented on #239
Thanks for your response.
I got 1759 repetitions of the pattern:
[code]

in the file. At the end the pattern is obviously not complete as the frame count is not divisible by 12.

The hardware is a 20 year old screen in the backrest of an airplane. It's hard to get the specifics besides of what has been written down (in the confidential specs). I fear I must deliver what the manufacturer is asking

[2020-03-10 10:05] justdan96 commented on #239
I guess the sequence is supposed to be:
`I BBBP - I BBBP - I BBBP - I BBBP - I BBBP - I BBBP`

You may want to post on the [tsMuxer Doom9 thread](https://forum.doom9.org/showthread.php?t=176668), someone from that community may be able to help you with your question as I fear I just don't know enough about how the GOP is defined.

[2020-03-10 10:19] sannies commented on #239
The sequence is as it is supposed to be. Every 4th frame is a P, Every 12th frame an I. I just need this info conveyed in the MPEG2TS.
I'll post in the doom9 thread in 5 days when my waiting period is over (am I trying to buy a gun?)

[2020-03-12 03:03] binba2 opened #240 "Trying to import m4v... nothing happens"
tsmuxer nightly 2020-03-10--01-12-52 (version git-eecf6b0) on OS X 10.13.6
Installed homebrew, freetype and zlib.

1. Attempting to import an m4v file into tsmuxerGUI... nothing happens. Dragging into the input window, nothing happens. Via "add" button, choosing file, "open", nothing happens. (Open dialog closes, same behavior as if I hit "cancel").
Other (e.g. wav) files do open properly.

2. Tri

[2020-03-12 03:06] binba2 commented on #110
+1
Frankly I'm confused why there's not an "open project file" feature (in our case, "open meta file") in the software. I don't need to tell anybody here that it's a basic feature in many kinds of software. :)
Yes, you can feed it into the CLI utility, but that's not how GUI software works... Plus the convenience of modifying parameters after you "imported" your "saved project" back into the GUI.

[2020-03-12 05:52] RogueScholar opened #241 "[Nightly Debian package: Ubuntu 19.10]: Installation fault due to dependency on elogind package"
I can't speak to why tsMuxer has this dependency (editing the DEBIAN/control file manually to remove the dependency/change it to a Recommends or Suggests/add systemd as an alternate has seemingly no effect on tsMuxer's operability for me) but as libelogind0 conflicts with systemd (an essential Ubuntu package) I believe the issue warrants further investigation.

[2020-03-12 07:03] jcdr428 commented on #240
@binba2 can we please get a link to a sample of m4v not working.

[2020-03-13 13:15] jcdr428 commented on #239
@sannies could you please post a link to a TS correctly showing the GOP : M=4, N=12 in mediainfo, for analysis / comparison.

[2020-03-15 17:50] justdan96 commented on #239
#245 has now been merged

[2020-03-16 12:12] sannies commented on #239
Thank you for the heads up. It still doesn't show the "Format settings, GOP" correctly. I'm doing my best to get an example stream that shows M4 N12  but so far no luck. I only got a mediainfo screenshot :( as the content showing M4 N12 is production content.

I browsed some specs and to me it looks like this info is might be conveyed via the "IBP descriptor". I must admit that I'm completely clue

[2020-03-16 13:23] sannies commented on #239
Ok, I found an example. I got an m2v with M3N15 and that gets muxed into a TS retaining the fixed GOP information.
[code]

[example-M3N15.zip](https://github.com/justdan96/tsMuxer/files/4338342/example-M3N15.zip)

[2020-03-16 15:38] justdan96 commented on #241
Sorry that was me fiddling with the dependencies in OBS. For some reason it was always pulling in something to do with systemd. I'll try editing it and see if I can remove the dependency.

[2020-03-16 17:25] jcdr428 commented on #239
@sannies have you tested the file output from today's bintray version (with the new m2ts descriptor) on the hardware ?

[2020-03-16 20:40] justdan96 commented on #240
@binba2 Are you able to provide a sample file?

[2020-03-17 07:22] abakum opened #247 "timeshift for the SRT file and --cut-start sometimes reduced duration of the result to duration of SRT"
Sometimes using timeshift=Xms for the SRT file and --cut-start=Xms --cut-end=Yms
leads to the fact that the duration of the result is reduced to the duration of the SRT file
Download https://yadi.sk/d/td0NxxaLQQcy5Q run a.bat or a.sh and see duration_6_instead_of_10.ts
If you do not use SRT, the duration of the result is correct: not_srt-not_bug.ts
If you do not use timeshift=Xms for SRT, the dura

[2020-03-17 08:50] sannies commented on #239
Thank you for your support and your open ears.  I will close the ticket as I managed to get this M4 N12 info into the TS. I used ffmpeg to produce a raw m2v file like this and when packaged into a TS the info is corrected conveyed.

`ffmpeg -y -i input.mp4 -t 20 -c:v mpeg2video -profile:v 4 -level:v 8 -g 12 -bf 3 -flags +cgop -mpv_flags +strict_gop -pix_fmt yuv420p -b_strategy 0 -b:v 1500k -bufsiz

[2020-03-17 08:50] #239 closed

[2020-03-17 09:10] justdan96 commented on #239
@jcdr428 I'm still not sure how to categorise the issue - do you think it's a bug on our side or that an enhancement would be required to enable these settings?

[2020-03-17 09:18] sannies commented on #239
There are a few scenarios:

- It might be an issue on your side if we assume that the info is in the MP4 file but then not conveyed into the TS.
- It might be a mediainfo issue where mediainfo doesn't recognize fixed GOP structure when e.g. the last frame in a GOP is a B frame.
- But might also be a specification edge case where the fixed/variable GOP thing is defined slightly different in MP4 and

[2020-03-17 20:06] jcdr428 commented on #239
@sannies @justdan96 I don't believe that there is a bug in tsMuxer. The TOS m4v sample is definitely a variable GOP, this can be seen with ffprobe command line given above (see for example pictures 266, 267, 268 between two I-frames), or in the attached file.

The mpeg2 descriptor I've added is an HDMV descriptor, so it should work as long as framerate/(p or i) is Blu-ray compliant. When I have ti

[2020-03-17 20:11] RogueScholar commented on #241
Looks like you were successful on that front; apt pulled in the package for installation. But now dpkg is griping that the debian/control file in it lacks the Maintainer field. :unamused:

[2020-03-17 22:01] justdan96 commented on #241
Also the requirements list is really long - I'll have to look at how the spec file should look to resolve those issues.

[2020-03-17 23:53] binba2 commented on #240
Sorry for the delay. Here is a sample file:
[https://drive.google.com/open?id=1ZhffF6_5nXK0pzi4Iwx_2-gc1ITbtwzu]
Ignore the video playback, download the source m4v with the button in the top-right corner.

[2020-03-18 05:24] jcdr428 commented on #240
@binba2 the format of your sample is pure AVC. Simple rename the file extension from .m4v to .avc, .264 or .h264, and it will be detected by tsMuxer.

[2020-03-18 14:14] justdan96 commented on #241
I found that debbuild translates the Packager field to Maintainer - will add that in today.

[2020-03-18 18:34] justdan96 commented on #240
Are you okay to test this and confirm if the issue can be closed?

[2020-03-19 17:30] justdan96 commented on #241
@RogueScholar can you please check the [latest](https://build.opensuse.org/package/binaries/home:justdan96/tsMuxer/Ubuntu_debbuild_19.10)?

[2020-03-19 17:37] justdan96 commented on #247
Does the same behaviour occur with any TS file? Can you reproduce with the files from https://4kmedia.org/ or https://peach.blender.org/download/ ?

[2020-03-19 17:38] justdan96 commented on #236
Would you be able to provide a concept for what that would look like in the GUI?

[2020-03-19 18:46] abakum commented on #247
I came across this on files from AVCHD camcorder. In order not to download these personal videos, I reproduced their structure via ffmpeg. I think for any file you can choose such timings in SRT that an bug occurs. You managed to reproduce an bug with the files made by a.bat or a.sh?

[2020-03-19 18:58] abakum commented on #247
It seemed like a good idea to create test files rather than download them.
![image](https://user-images.githubusercontent.com/18271863/77104191-ad7d5980-6a2c-11ea-961e-a653e38a5805.png)

[2020-03-19 20:41] abakum commented on #240
http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_60fps_normal.mp4

tsmuxer.exe bbb_sunflower_1080p_60fps_normal.mp4
tsMuxeR version git-5e71110. github.com/justdan96/tsMuxer
Error: MP4/MOV error: Invalid H.264/AVC frame at position 2119182

tsmuxer12.exe bbb_sunflower_1080p_60fps_normal.mp4
Network Optix tsMuxeR.  Version 2.6.12. www.networkoptix.com
Track ID:    1
Stream

[2020-03-19 20:47] abakum commented on #240
http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_30fps_normal.mp4

tsmuxer.exe bbb_sunflower_1080p_30fps_normal.mp4
tsMuxeR version git-5e71110. github.com/justdan96/tsMuxer
Track ID:    1
Stream type: H.264
Stream ID:   V_MPEG4/ISO/AVC
Stream info: Profile: High@4.1  Resolution: 1920:1080p  Frame rate: 30
Stream lang: und

Track ID:    2
Stream type: MPEG-Audio
Stream ID:

[2020-03-19 21:27] abakum commented on #247
I download http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_30fps_normal.mp4
from
http://distribution.bbb3d.renderfarming.net/video/mp4/
to https://yadi.sk/d/td0NxxaLQQcy5Q
and add to a.bat and a.sh command:
```tsmuxer bbb_duration_6_instead_of_10.meta bbb_duration_6_instead_of_10.ts```
where bbb_duration_6_instead_of_10.meta:
[code]
and duration_6_instead_of_10.srt:
[code

[2020-03-20 10:14] jcdr428 commented on #240
@abakum you should have opened a new issue.
Fixed with #249 .

[2020-03-20 10:32] abakum commented on #240
![image](https://user-images.githubusercontent.com/18271863/77155685-f2e26b00-6aae-11ea-8b53-e4f8a1d37fc2.png)

[2020-03-20 10:34] abakum commented on #240
![image](https://user-images.githubusercontent.com/18271863/77156001-83b94680-6aaf-11ea-8550-92b94ea3bc9e.png)

[2020-03-20 18:37] jcdr428 commented on #208
@abakum could you please confirm that this issue can be closed.

[2020-03-20 18:41] jcdr428 commented on #195
@xavery there is already the option --cut-end in Split & Cut tab. Isn't it the same as what is proposed ?

[2020-03-20 18:41] abakum commented on #208
Thanks @jcdr428

[2020-03-20 18:41] #208 closed

[2020-03-20 19:12] jcdr428 commented on #166
@darekpro could you please clarify ? When a Blu-ray .m2ts is added to tsMuxer, language of audio/subtitle is already detected.

[2020-03-20 19:26] darekpro commented on #166
Not for me
https://i.imgur.com/q8IWHE7.png

[2020-03-20 19:33] darekpro commented on #166
and mkvtoolnix
https://i.imgur.com/TMgiuvb.png

[2020-03-20 19:46] Eriz0Sexy commented on #236
something like that, sorry for the bad drawing

https://i.imgur.com/2SntLHM.jpg

thank you

[2020-03-20 20:16] jcdr428 commented on #166
@darekpro please zip all files and send link. In STREAM folder only one file, the first 20MB of 00003.m2ts (in Linux cut with `head -c 19M 00003.m2ts > 00003cut.m2ts`)

[2020-03-21 08:34] darekpro commented on #166
[Shadow (2018).zip](https://github.com/justdan96/tsMuxer/files/4362592/Shadow.2018.zip)

:)

[2020-03-21 14:19] jcdr428 commented on #166
I can't help, no problems on Windows. @xavery @justdan96 do you have the same problem as @darekpro on Linux ?

![5e71110](https://user-images.githubusercontent.com/56721609/77228367-76738900-6b8f-11ea-88a2-dc18deca8a91.jpg)

[2020-03-22 09:33] lonecrane commented on #204
Great idea, I am looking forward to full CLI for a long time. Also I would like to suggest that in demux mode pids can be given via argvs directly and precisely, for example "0x1100,0x1101".

[2020-03-22 10:10] lonecrane opened #252 "Error: Bitstream exception std::exception when demuxing UHD"
I have some UHDs released by a group featuring DIY research. These UHDs works fine with player and other demux tools ffempg and 'DGDemux', but can not be processed by tsMuser. When opening the main mpls file with tsMuxerGUI, nothing happened as if I have not opened it. The result with command line version as belows:
[code]
The latest tsMuxer version which deals with this file correctly is found as

[2020-03-22 10:56] darekpro commented on #166
I checked on Windows and it's working but I checked also another notebook with linux and there is the same problem.

[2020-03-22 12:11] abakum commented on #204
For select track 0x1100 and track 0x1101 from a.ts use
```tsmuxer.py a.ts+ =track=4352 + =track=4353 dir_with_demuxed```
where 4352 is the decimal of the hexadecimal number 1100

[2020-03-22 12:57] lonecrane commented on #204
@abakum That's wonderful. I would use this nice script until tsMuser-CLI can directly deal with these parameters.

[2020-03-22 13:26] abakum commented on #204
@lonecrane look https://github.com/abakum/tsmuxerCLI/commit/c684df42576011cadd914224622e5000ce30ab7c

[2020-03-22 13:59] lonecrane commented on #204
@abakum Thanks, such a nice code. Now both decimal and hexadecimal parameters are OK.
However, take for example demux, what I exactly looking forward to is just choosing the needed streams with CLI, no other calculation or detection (such as time-shift value) needed. In the GUI version we just check some streams, don't we? It would be much better that tsMuxer-CLI behaves interactively as eac3to.

[2020-03-22 14:20] abakum commented on #204
Do not worry @lonecrane be happy:
```tsmuxer.py dir_with_demuxed a.ts+ =track=0x1100 + =track=0x1101 ! -```
demuxed track 0x1100 and track 0x1101 from a.ts to dir_with_demuxed
no calculation
no detection
no time-shift
no GUI
no tsMuxer-CLI
no interactively
no eac3to
no SARS-CoV-2
\8^)

[2020-03-22 17:47] jcdr428 commented on #252
@lonecrane please zip the files and send me the link. In STREAM folder please copy only one file -the first 20 MB of 00040.m2ts. You can cut the file with e.g. HxD hex editor -just Search->Goto offset 21000000, select data to the end, delete it and save the file under a new name.

[2020-03-22 21:50] justdan96 commented on #240
I will close this issue for now, @abakum please open a new one if your issue persists.

[2020-03-22 21:50] #240 closed

[2020-03-22 21:52] justdan96 commented on #201
@xavery @jcdr428 Is there anything you think we need to close off in terms of code before we release a 2.7.0?

[2020-03-22 21:55] jcdr428 commented on #201
@justdan96 maybe ask doom9 members to stress test latest eaf35b4 version and report for a couple of days, before release.

[2020-03-22 21:59] #158 closed

[2020-03-22 21:59] justdan96 commented on #158
Closing for now, just up for reference.

[2020-03-22 22:06] justdan96 commented on #201
Maybe we should also start categorising long-standing issues into medium and long term, or 2.8.0 and 3.0.0?

So I would guess these are medium term: #188 #165 #133 #110 #168
And these are long term: #129 #108 #141

If you disagree please shout out!

[2020-03-22 22:10] justdan96 commented on #252
@lonecrane Please test the nightly version that will be released tomorrow morning and let me know if the issue remains.

[2020-03-22 22:12] jcdr428 commented on #201
Looks good. I would add #247 to medium term.

[2020-03-23 01:11] lonecrane commented on #252
@jcdr428 Hi, many thanks.
The sample has been made as your instruction and uploaded to: https://www.mediafire.com/file/dx40ogunu0snomk/1917_2019_ULTRAHD_BluRay_2160p_HEVC_Atmos_TrueHD7.1-sGnb@CHDBits-Sample.rar/file

[2020-03-23 05:40] abakum commented on #240
All ok:
c:\msys64\home\Konstantin.Abakumov>tsmuxer.exe bbb_sunflower_1080p_60fps_normal.mp4
tsMuxeR version git-eaf35b4. github.com/justdan96/tsMuxer
Track ID:    1
Stream type: H.264
Stream ID:   V_MPEG4/ISO/AVC
Stream info: Profile: High@4.2  Resolution: 1920:1080p  Frame rate: 60
Stream lang: und

Track ID:    2
Stream type: MPEG-Audio
Stream ID:   A_MP3
Stream info: Bitrate: 160Kbps  Sample Ra

[2020-03-23 05:55] abakum commented on #252
tsMuxeR.exe "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits\BDMV\PLAYLIST\00040.mpls"
tsMuxeR version git-eaf35b4. github.com/justdan96/tsMuxer
HEVC muxing fps is not set. Get fps from stream. Value: 23.976
Error: Bitstream exception std::exception. It does not have to be! Please contact application support team for more information.

[2020-03-23 06:00] abakum commented on #252
tsmuxer12.exe "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits\BDMV\STREAM\00294.m2ts"
Network Optix tsMuxeR.  Version 2.6.12. www.networkoptix.com
Track ID:    4113
Stream type: HEVC
Stream ID:   V_MPEGH/ISO/HEVC
Stream info: Profile: Main10@5.1 Resolution: 3840:2160p Frame rate: 23.976
Stream lang:
Stream delay: 17
...
Duration: 02:28:52.802

tsmuxer.exe "1917 2019 ULTRAHD BluRa

[2020-03-23 08:10] abakum commented on #204
https://en.wikibooks.org/wiki/Eac3to/How_to_Use

STEP 1: By typing
eac3to.exe "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits"
the title playlist of the disc is generated:
1) 00040.mpls, 00294.m2ts, 1:58:59
   - Chapters, 20 chapters
   - h265/HEVC, 2160p24 /1.001 (16:9)
   - h265/HEVC, 1080p24 /1.001 (16:9) - Dolby Vision Enhancement Layer
   - TrueHD, English, multi-channel, 48

[2020-03-23 08:11] abakum commented on #204
STEP 2: By adding the title number you want, the above command changes to
eac3to.exe "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits" 1)
and the stream/track list of the specific title is generated:
M2TS, 2 video tracks, 5 audio tracks, 5 subtitle tracks, 0:00:04, 11.988p
1: Chapters, 20 chapters
2: h265/HEVC, 2160p24 /1.001 (16:9), 10 bits
3: h265/HEVC, 1080p24 /1.001 (16:9), 10

[2020-03-23 08:12] abakum commented on #204
STEP 3: Finally, choose the tracks that are going to be processed and output like this
eac3to "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits" 1) 2: ULTRAHD\00040.track_4113.hevc 3: ULTRAHD\00040.track_4117.hevc 4: ULTRAHD\00040.track_4352.ac3 9: ULTRAHD\00040.track_4768.sup
or by tsmuxerCLI:
tsmuxer.py ULTRAHD "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits\BDM

[2020-03-23 08:36] abakum commented on #204
or:
```tsmuxer.py tsmuxer12.exe ULTRAHD "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits\BDMV\PLAYLIST\00040.mpls"+ =V  ! -```
```tsmuxer.py tsmuxer12.exe ULTRAHD "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits\BDMV\PLAYLIST\00040.mpls"+ =A =1  ! -```
```tsmuxer.py tsmuxer12.exe ULTRAHD "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits\BDMV\PLAYLI

[2020-03-23 19:45] jcdr428 commented on #252
Thanks @abakum. Fixed by #255 .

[2020-03-24 05:24] lonecrane commented on #252
@jcdr428 The latest code works fine. Thanks a lot.

[2020-03-24 05:36] jcdr428 commented on #252
@lonecrane good. Could you please close the issue.

[2020-03-24 05:45] #252 closed

[2020-03-25 02:50] bouchnouk opened #256 "Problem with Dolby Atmos audio"
Hi,

I am getting an error when I try to demux a Dolby Atmos track. With MediaInfo, I see that the audio track is Dolby Atmos type.
<img width="700" alt="2020-03-24_22-33-52" src="https://user-images.githubusercontent.com/20449937/77496077-86ee6280-6e20-11ea-999b-648c2ebd80b6.png">
<img width="809" alt="2020-03-24_22-36-12" src="https://user-images.githubusercontent.com/20449937/77496088-8fdf3400-

[2020-03-25 06:04] jcdr428 commented on #256
@bouchnouk tsMuxer (and mpeg-ts generally) does not accept Dolby Atmos without AC3 core.
The problem is mkvtoolnix removing the AC3 core from Blu-rays. You can recreate a core with eac3to before muxing into txMuxer.

[2020-03-25 06:14] damkalan-uth opened #257 "Subtitle font size reset to 65 when relauching app"
Subtitle font size reset to 65 when relauching app

[2020-03-25 09:42] lonecrane opened #258 "Some demuxed audio streams are out of sync (maximum delay add up to -0.5s)"
Hi,

I've noticed obvious 'out of sync' issue for some audio streams demuxed from a BD. This is the 'WALL·E' UHD blu-ray produced by Disney, and the playlist 00800.mpls consists of 42 m2ts segments 56,61,57 and so one.  The audio streams out of sync include DTS-HD Master streams and Dolby ac3 streams, but with the exception of Dolby TrueHD. At the very beginning the V/A are in sync, but they lose

[2020-03-25 17:50] yannick-92 commented on #258
Hello

Amazing !!
It is true, and it is indeed a very old problem!
In my case, I have the same problem when I Demux an E-AC3 audio track to extract the Core AC3.
And when I remux this same .AC3 track in TSmuxer, I have a slight audio desynchronization when I watch the movie.
I did not have the courage to prove it for lack of skills and software to make the comparisons ...

Thx you so much for your

[2020-03-25 17:54] jcdr428 commented on #258
@lonecrane good work with Audacity. Frame rate for DTS HDMA is 93.750 fps, so a difference of 10.667 sec. is exactly one frame. Although between m2ts 61 and 57, the additional frame does not seem to be a repetition of the previous one.

[2020-03-26 02:26] bouchnouk commented on #256
Thank you for the answer. Sorry, I didn't know that. I tried to find tsMuxer documentation in order to find an answer but I didn't find anything.

The solution you're giving seems complicated. Anyway, I will try to find eac3to.

Sorry for the "false alarm". By the way, thank you for the outstanding work your team is doing with tsMuxer.

[2020-03-26 07:05] lonecrane commented on #258
@yannick-92 @jcdr428 Thanks. I have run some further tests.
I guess that this issue is related to the 'overlapped frame' so I try to cancel the removing detected overlapped frame by set the condition to constant false:
`if (/*m_demuxMode && */ m_mplsOffset > m_halfFrameLen) `
=>
`if (/*m_demuxMode && */ m_mplsOffset*0 > m_halfFrameLen`
in simplePacketizerReader.cpp), and results are shown below.
!

[2020-03-26 07:25] justdan96 commented on #256
The documentation could probably be updated to reflect this information.

[2020-03-26 10:31] justdan96 commented on #258
@lonecrane Thanks a lot for this detailed analysis!

[2020-03-26 10:45] lonecrane opened #259 "Enhancement request: Add time shift value to the demuxed audio files"
The time shift values are necessary when the demuxed audio files are packaged further. At present I have to manually check these value and note them in the file titles. It is not convenient and maybe introduce mistakes :( So it would be much better that tsmuxer note the value when automatically, such as '00800.track_4352_100ms.dts' and '00800.track_4352_-100ms.dts' (in the sense of delay). And I w

[2020-03-26 13:08] yannick-92 commented on #258
Very interesting !

In my case, I will try to explain where I get this delay during a remux of a full bluray disc, and then, the "DIY" solution that I found to work around the problem ...:

1): On a .ISO (full bluray), I open the .M2TS file of the main movie with TsMuxer 2.6.12.
In my case, I need to Demux the E-AC3 track to extract the Core AC3 because my old amplifier does not decode the E-AC3 a

[2020-03-26 13:14] abakum commented on #258
When I combine a movie from parts cut without transcoding for recording on BD, I record the sound of each part in LPCM, join the BD, demux the sound from BD, pack it for example to AC3 and replace the LPCM sound track of  BD with the AC3 sound track. Otherwise, so that there is lip sync, it is necessary that each part consists of an integer number of GOP of video and "FPS" of audio. The smaller th

[2020-03-26 15:27] jcdr428 opened #261 "[bug] Full path name is elided in source file column"
See https://forum.doom9.org/showthread.php?p=1904982#post1904982

[2020-03-26 23:18] bouchnouk commented on #256
I was not complaining about the documentation. However, your proposition seems very interesting in my humble opinion.

Thank you.

[2020-03-27 10:47] jcdr428 opened #262 "[bug] With multi-m2ts mpls, subtitles drift out of sync"
See notification of bug here https://forum.doom9.org/showthread.php?p=1905010#post1905010

[2020-03-27 13:59] FilipeAmadeuO commented on #262
The solution maybe would be for tsmuxer to mantain the multi m2ts (one mpls) struture and not join the multi m2ts in one big m2ts.
This way we could build one by one m2ts and keep the exact same struture as before.

[2020-03-27 14:06] jcdr428 commented on #262
@FilipeAmadeuO that would be nice, however this would be a substantial rewrite of the code as currently tsMuxer is set to write only one m2ts, clpi, mpls, and pre-defined index.bdmv and MovieObject.bdmv. Plus code writing for the ATCd seamless branching etc.

[2020-03-27 14:16] FilipeAmadeuO commented on #262
OK. Understood. Maybe a improvement for the future.

[2020-03-28 15:28] jcdr428 commented on #258
@lonecrane having analysed the files 56, 61 and 57:
- At the end of 00056, the last DTS audio frame has an advance of 7.76ms > half-frame, so the frame is discarded and a delay of -2.91ms is reported to the next track.
- At the end of 00061, the last DTS audio frame has an advance of 3.88 ms / cumulative advance of 3.88-2.91 = 0.97ms < half-frame, so the last frame must not be discarded.

What is

[2020-03-28 21:28] jcdr428 commented on #261
Fixed with #266 .
I suppose that QTableWidget WordWrap was off by default with qt4.

[2020-03-28 23:05] #258 closed

[2020-03-29 00:37] lonecrane commented on #262
According to the tests on the UHD BD 'WALL E', now subtitles are demuxed very precise.
Internal timestamp presented by player:
![fig 1-2](https://user-images.githubusercontent.com/36885830/77837079-606d5600-7197-11ea-8de0-6887b5b6f917.png)
The Demuxed timestamp with the latest version matches very precisely:
![fig 1-1](https://user-images.githubusercontent.com/36885830/77837083-63684680-7197-11ea-

[2020-03-29 06:15] jcdr428 commented on #257
@damkalan-uth which system ? On my Windows it is working ok, i.e. setting is saved and shown when relanching app.

[2020-03-29 13:22] jcdr428 opened #267 "[bug] Empty "About" tab at startup"
The "About" tab is empty unless and until a language is selected in the bottom left dropdown menu.
English should be the selected language by default.

Once selected, language should be saved in .ini file for next startup.

<img width="405" alt="EmptyAboutTab" src="https://user-images.githubusercontent.com/56721609/77850496-32a60280-71d3-11ea-912a-d9213dcce3f1.png">

[2020-03-29 13:23] jcdr428 commented on #267
@xavery could you please have a look at this one ?

[2020-03-29 13:26] #262 closed

[2020-03-29 13:26] #261 closed

[2020-03-29 13:30] jcdr428 commented on #256
@justdan96 @bouchnouk actually as this is a very common request, there is an enhancement possible: tsMuxer could interleave the TrueHD frames with empty 32kbit ac3 frames so that the track can be muxed / read by an HDMV player.

[2020-03-29 13:41] jcdr428 commented on #236
@Eriz0Sexy how is it different from the default track option already impemented ?

<img width="452" alt="DefaultTracks" src="https://user-images.githubusercontent.com/56721609/77850554-b06a0e00-71d3-11ea-8180-4b523783bc38.png">

[2020-03-29 17:14] dmiva opened #268 "Output path check for invalid characters"
I was making TS Muxing, and have forgot about invalid characters in Windows file names. So i specified output folder with file name "Alita: Battle Angel (2019).ts". After muxing completed, a file with name Alita was created in output folder. It's size was 0 bytes.
![image](https://user-images.githubusercontent.com/24508298/77855375-bd4d2880-71f8-11ea-9f35-9965559fe773.png)
![image](https://user-im

[2020-03-29 17:32] jcdr428 commented on #268
Good idea. From [MS doc](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#naming-conventions), the forbidden characters should be the nine<>:"/\|?* and ASCII 0 to 31. Any other for Linux or Mac platforms ?

[2020-03-29 18:18] dmiva commented on #268
According to [stackoverflow](https://stackoverflow.com/a/31976060), for Linux its forward slash ('/') and null ('\0'). For [mac os ](https://ss64.com/osx/syntax-filenames.html) looks like the same. Maybe it's worth considering making whitelist of characters, instead of checking the OS version.

[2020-03-29 19:14] justdan96 commented on #268
@xavery Can you weigh in on this?

[2020-03-29 19:29] justdan96 commented on #256
I've updated the documentation with the following commit - until an enhancement comes along: https://github.com/justdan96/tsMuxer/commit/9cb01b30f1494d3bdc598d7e6268b21dd9f6125b

[2020-03-29 19:29] justdan96 commented on #241
Will close due to aging.

[2020-03-29 23:58] bouchnouk commented on #256
@jcdr428 Would that have an impact on Atmos sound ? I mean, is it like Dolby Vision with 2 tracks : one for the video signal and the other one hidden contains the HDR information? I know that an Atmos signal needs 2 tracks. By emptying one track, do we lose something useful?

From a user perspective working on macOS, that would be a fantastic enhancement.

Best Regards.

[2020-03-30 06:07] jcdr428 commented on #256
@bouchnouk the ac3 track is needed only for compatibility reason, as reading TrueHD is not compulsory for Blu-ray players. Adding silence ac3 frames does not change anything to the TrueHD track. Indeed it would be better to transcode the TrueHD to obtain the ac3+thd -which eac3to already does- rather than having an empty track.

[2020-03-30 12:17] abakum commented on #201
For the new version, it would be nice to implement useful functionality at a low price.
Already now the muxer can make multi title disks using
--mplsOffset = 1 --m2tsOffset = 1
--mplsOffset = 2 --m2tsOffset = 2
...
It remains only to correct index.bdmv depending on the number of titles, the presence of Java and 3D
As you know, MovieObject.bdmv is a library of programs that controls, among other th

[2020-03-30 12:19] abakum commented on #201
index.json for single title not Java not 3D:
{
 "INDX": {
  "version_number": "0200",
  "reserved_header": [
   0
  ],
  "AppInfoBDMV": {
   "reserved01": 0,
   "initial_output_mode_preference": 0,
   "SS_content_exist_flag": 0,
   "reserved02": 0,
   "video_format": "0",
   "frame_rate": "0",
   "content_provider_user_data": [
    99,
    117,
    116,
    46,
    112,
    121,
    0,
    0,

[2020-03-30 12:20] abakum commented on #201
For single-title Java not 3D:
{
 "INDX": {
  "version_number": "0200",
  "reserved_header": [
   0
  ],
  "AppInfoBDMV": {
   "reserved01": 0,
   "initial_output_mode_preference": 0,
   "SS_content_exist_flag": 0,
   "reserved02": 0,
   "video_format": "0",
   "frame_rate": "0",
   "content_provider_user_data": [
    99,
    117,
    116,
    46,
    112,
    121,
    0,
    0,
    0,
    0,
    0

[2020-03-30 12:20] abakum commented on #201
For single-title non-Java 3D:
{
 "INDX": {
  "version_number": "0200",
  "reserved_header": [
   0
  ],
  "AppInfoBDMV": {
   "reserved01": 0,
   "initial_output_mode_preference": 1,
   "SS_content_exist_flag": 1,
   "reserved02": 0,
   "video_format": "0",
   "frame_rate": "0",
   "content_provider_user_data": [
    99,
    117,
    116,
    46,
    112,
    121,
    0,
    0,
    0,
    0,
    0

[2020-03-30 12:22] abakum commented on #201
For single-title Java 3D:
{
 "INDX": {
  "version_number": "0200",
  "reserved_header": [
   0
  ],
  "AppInfoBDMV": {
   "reserved01": 0,
   "initial_output_mode_preference": 1,
   "SS_content_exist_flag": 1,
   "reserved02": 0,
   "video_format": "0",
   "frame_rate": "0",
   "content_provider_user_data": [
    99,
    117,
    116,
    46,
    112,
    121,
    0,
    0,
    0,
    0,
    0,

[2020-03-30 12:30] abakum commented on #201
index.json for 3 title not Java 3D differs from single-title only in program for mobj_id_ref:
{
 "INDX": {
  "version_number": "0200",
  "reserved_header": [
   0
  ],
  "AppInfoBDMV": {
   "reserved01": 0,
   "initial_output_mode_preference": 1,
   "SS_content_exist_flag": 1,
   "reserved02": 0,
   "video_format": "0",
   "frame_rate": "0",
   "content_provider_user_data": [
    99,
    117,

[2020-03-30 12:55] abakum commented on #201
That is, in python:
mobj_id_ref = (2 if title<last else 3) + (3 if SS_content_exist_flag else 0)

[2020-03-30 12:57] justdan96 commented on #268
I've taken a look and there's a few things here:

1. I have added the invalid characters as a boolean function in https://github.com/justdan96/tsMuxer/blob/master/libmediation/fs/osdep/file_unix.cpp and https://github.com/justdan96/tsMuxer/blob/master/libmediation/fs/osdep/file_win32.cpp
2. We have to check both the folder names in the path and the filename, there is similar code we can reuse for

[2020-03-30 16:11] justdan96 commented on #268
Just tested the following branch successfully: https://github.com/justdan96/tsMuxer/tree/bug-check-for-invalid-chars-in-filename

![invalid_filename_error](https://user-images.githubusercontent.com/503722/77935503-63f10200-72a9-11ea-81a8-b7bd4efe9c74.png)

I will create a draft pull request with this functionality.

[2020-03-30 21:38] abakum commented on #201
look at b.bat from https://yadi.sk/d/GuJfK3SUpmWUPQ

[2020-03-30 23:35] bouchnouk commented on #256
@jcdr428 I understand. For macOS user, eac3to might be difficult to use. For the others, the use of eac3to should not be a problem. It's up to you to decide. But ,in my humble opinion, it seems an interesting enhancement.

Thank you.

[2020-03-31 12:03] abakum commented on #201
For 2-title not Java BD3D look at c.bat from https://yadi.sk/d/GuJfK3SUpmWUPQ
c.bat depends from a.bat

[2020-03-31 21:17] jcdr428 opened #270 "Enhancement: pure TrueHD muxing"
This is feasible by interleaving TrueHD frames with blank 32-kbit ac3 frames. The big minus is there would be no sound with this interleaved tack on players not reading TrueHD. This is a pis aller to proper ac3+thd encoding with eac3to. However this seems to be badly needed https://forum.doom9.org/showthread.php?p=1905727#post1905727

Would be a good enhancement for 2.7+.

[2020-03-31 21:23] jcdr428 opened #271 "Enhancement: Muxing dual track DV Blu-ray to single track DV"
Many DV SoCs for TV/STB/OTT do not read profile 7 -Dolby seems to limit this profile to Blu-ray player SoCs.

EL and RPU nals of the second hevc track can be transferred to the primary hevc track, creating a DV profile 6. Apparently welcomed https://forum.doom9.org/showthread.php?p=1905727#post1905727

Enhancement for 2.7+.

[2020-04-02 18:48] abakum commented on #201
[code]
glues 42.ts and 43.ts into the blu-ray directory `BD`
[code]
makes 2-title blu-ray directory `MT` where `tsmuxer.py MT` rebuild with help of MPLS2JSON.exe index.bdmv and MovieObject.bdmv
Also look bc.bat  from https://yadi.sk/d/GuJfK3SUpmWUPQ for 5-titles BD with both 2D and 3D titles

[2020-04-04 09:56] abakum commented on #167
Please look https://github.com/abakum/tsmuxerCLI
For make ```result.ts``` from first playlist in ```MT``` use:
```tsmuxer.py MT+ result.ts```
[code]

For make ```result.ts``` from all playlist in ```MT``` use:
```tsmuxer.py MT\BDMV\PLAYLIST\*.mpls+ result.ts```
[code]
For make ```result.ts``` from all .m2ts in ```MT``` use:
```tsmuxer.py MT\BDMV\STREAM\*.m2ts+ result.ts```
[code]

[2020-04-04 14:28] abakum commented on #167
If `MT` is BD3D then use `tsmuxer.py MT\BDMV\STREAM\*.m2ts+ result.ts` is a bad idea \8^)

[2020-04-04 15:54] abakum commented on #167
For linux use:
`tsmuxer.py "MT\BDMV\PLAYLIST\*.mpls" result.ts`
`tsmuxer.py "MT\BDMV\STREAM\*.m2ts" result.ts`

[2020-04-05 06:39] rena-minami opened #272 "An issue in the header of wav demuxed from blu-ray m2ts files"
When I encode the wav demuxed from a bluray pcm file, the flac encoder reports `ERROR: got partial sample`. While using the same track demuxed with eac3to, the encoder can proceed flawlessly.
Here are the differences highlighted:
<img width="484" alt="Screen Shot 2020-04-05 at 1 24 53 AM" src="https://user-images.githubusercontent.com/63141763/78468406-6e623000-76dd-11ea-9486-1525e0a589d4.png">
<i

[2020-04-06 19:14] jcdr428 opened #273 "[Enhancement] Force HDMV descriptors"
M2TS files should have HDMV descriptors by default.
TS files should have non-HDMV descriptors by default.

The checkbox "Generate HDMV compatible TS" already exists under the General tab.
For the TS it should be off by default, and checked by the user if he wants HDMV descriptors for the TS file.
For the non-bluray M2TS it should fe on by default, and unchecked by the user if he does not want HDMV

[2020-04-07 09:03] justdan96 commented on #267
Xavery is taking a bit of a break, I'll see if I can pick this one up.

[2020-04-07 09:05] justdan96 commented on #272
@jcdr428 can you reproduce this issue?

[2020-04-07 09:06] #241 closed

[2020-04-08 18:56] jcdr428 commented on #272
@rena-minami the "ffffffff" is normaly replaced at end of reading with file size in method `beforeFileCloseEvent(File& file)` on line 721. It is working as it should on my W64. If you can debug / trace on your system, please see what happens when in this method.

@justdan96 however this has allowed me to discover a new bug in the lpcm to wav, I'll push the fix.

[2020-04-08 19:52] rena-minami commented on #272
@jcdr428 Thanks for the reply. After some testing, I can confirm that, the wav extracted on windows is perfectly correct, however, on macOS (10.15.4) and ubuntu (18.04), the issue can be reproduced. I will try to see what happened exactly later today.
FYI, I found the prebuilt linux binaries does not lunch (directly returns silently), I had to build from source for both tsMuxeR and the GUI.

[2020-04-08 20:23] jcdr428 commented on #272
@rena-minami so the issue must come from file_linux.cpp . I can't debug linux on my side.

[2020-04-09 12:39] rena-minami commented on #272
@jcdr428 I have found what's happening.

First, in `singleFileMuxer.cpp`, line 205, the file is opened with  flag `File::ofAppend`. This, in `file_unix.cpp`, adds `O_APPEND` to the system call `open`. When `open` is given such a flag, it always writes to the end of the file no matter where the current seek position is. So, the seek calls in `beforeFileCloseEvent` is successful, but useless in this

[2020-04-09 13:53] justdan96 commented on #149
Response from the developer "option would be to use NetBSDs 'makefs -t udf' where I added
support for creating (non bootable) UDF disc images as part of the UDF support. It will create fully populated UDF discs and it should be able to create UDF 2.50 BluRay disc images for BD-RE and BD-ROMs." I'd have to take a look at how to port NetBSD's makefs onto other platforms but I'm not sure I have the s

[2020-04-09 17:55] jcdr428 commented on #272
@rena-minami good catch. Please add the two lines
[code]
before the line 207
[code]
It does not break anything on Windows, so if you confirm it works for Linux and Mac, then I will push the commit.

[2020-04-09 22:07] rena-minami commented on #272
@jcdr428
I made a mistake, it is not the place around line 207 that caused the bug, the code invoked the `beforeFileCloseEvent` function is actually line 296 in this case. But I think that both places need fixes, since essentially they have the exact same issue.

Also, due to the logic in `file_unix.cpp`, it automatically adds `O_TRUNC` to the flags by default which deletes the whole file if exist

[2020-04-10 08:05] jcdr428 commented on #272
@rena-minami fix #277 pushed. Must be merged by @justdan96 .
Yes, file flags in Windows and  have different behaviors. Roman (SMLabs) was working essentially on Windows and the bug did not show -surprising it was never raised till now..

[2020-04-10 11:22] woodzki opened #278 "Delay for video streams"
My plan is to insert the dolby vision part from an different bluray. For that it would be usefull to be able to set a delay for the video streams, just like for audio. Any chance this could be added as an option?

[2020-04-12 15:15] mukarator opened #279 "[Request] Keep original timestamps"
Add an option for preserving the original timestamps and audio start time, without altering them in any way during the muxing process.

[2020-04-13 05:59] jcdr428 commented on #279
@mukarator could you please add an example and/or sample where tsMuxer alter the original timestamp / audio start time, thanks.

[2020-04-15 17:29] #272 closed

[2020-04-16 06:30] jcdr428 commented on #201
@justdan96 when will you release 2.7.0 ? I will start working on the proposed enhancements after release.

[2020-04-17 20:19] justdan96 commented on #201
Sorry I've been a bit slowed under recently. I'll start on it soon.

[2020-04-18 11:36] xavery commented on #201
Just as a reminder, the main `CMakeLists.txt` (`VERSION_NUMBER` should be set to the appropriate string and `TSMUXER_RELEASE` should be set to true) and `tsMuxerGUI/tsMuxerGUI.pro` (`version_num` and `tsmuxer_release` variables) both need to be changed in order to make a "proper" release build by using the official versioning scheme instead of treating the build as a developer one and optionally g

[2020-04-18 11:38] xavery commented on #149
As mentioned in #201, support for nerocmd could be integrated into tsMuxer without a lot of effort, but full UDF 2.50 support would require significantly more time. @justdan96 If you agree with this approach, I guess it would make most sense to split this issue into two and track progress separately.

[2020-04-18 14:26] #267 closed

[2020-04-18 15:33] #166 closed

[2020-04-18 15:34] xavery commented on #166
As usual in the "works on Windows, doesn't on anything else" genre, file name case sensitivity was the culprit.

[2020-04-18 18:41] darekpro commented on #166
Thank you!

[2020-04-18 20:44] jcdr428 commented on #273
@abakum you can try commit #282 .

[2020-04-19 05:30] xingchenli1996 opened #283 "“Not enough buffer to parse video frame” occurred constantly when encoding a large UHD MP4 file to AVCHD-FOLDER"
I have made a large UHD 3840x2160 original MP4 file from something like Adobe Premiere Pro CC 2019. When I extract the MPEG4-ISO-AVC-H264 Track from the video clip with FFMPEG and re-encode to AVCHD-FOLDER via TSMUXERGUI-git-ac9b47c, it continuously report an issue called "Not enough buffer to parse video frame" This annoyed me much because I don't want to downgrade and smaller my original video c

[2020-04-19 06:00] jcdr428 commented on #283
@xingchenli1996 please give a link to a <50MB sample -you can cut the ta e.g. with an hex editor.

[2020-04-19 07:41] xingchenli1996 commented on #283
I wonder which kind of file type is the one I should give you. For example a file copied from my hex editor or one of any 50MB part of my original file or something else？

[2020-04-19 11:15] JohnLBergqvist opened #284 "VOB file does not load if it contains an (what it thinks is an invalid?) dvd_subtitle track"
If my VOB file contains a subtitle track (stream 0x20 in the below example from FFMPEG)
[code]

The file just simply refuses to be added in TSMuxer (`git-97d49e4`) If I remove the subtitle track from the VOB, TSMuxer sees the file and I can then mux fine

Can you not just detect the presence of the subtitle track and ignore it, rather than simply giving up silently?

Update: It seems this is faili

[2020-04-19 14:41] jcdr428 commented on #283
@xingchenli1996 you can give sample of either your .h264 or the remuxed .ts; as long as I can reproduce the bug it is fine.

[2020-04-19 15:36] oshbo opened #285 "tsMuxeR input file size limited"
I am using tsMuxeR to mux Blu-ray compatible 1920 x 1080 mp4 video with embedded AC-3 audio into a Blu-ray folder structure.  For testing purposes, I am using the GUI version of tsMuxer (vs. using line command).  My issue is that the largest video file size I am able to add is <4GB, otherwise the program crashes.  I am able to "add" multiple video segments as long as they are <4GB but only the fir

[2020-04-19 17:14] xingchenli1996 commented on #283
OK, later I will upload several h264 frames from the middle of the original MP4 where errors has occurred to my webdisk

[2020-04-19 19:04] jcdr428 commented on #285
@oshbo as I understand, for data > 4GB, there is a "wide" atom right after the "moov" atom, to extend the data lenght field from 4 to 8 bytes. I guess tsMuxer does not take this "wide" atom into account, I'll have a look.

[2020-04-19 20:23] ferraript opened #286 "File naming at demux"
Please change file naming of output files when using demux option.
I'll rather explain this using example:
Lets say I have three episodes of the same TV show. Names are like this:
TV.Show.S01.E01.mp4
TV.Show.S01.E02.mp4
TV.Show.S01.E03.mp4

If I demux audio track from first file, I get file TV.track_2.ac3.
Now if I demux audio track from next input files, the same file TV.track_2.ac3 is being over

[2020-04-19 20:25] jcdr428 commented on #286
@ferraript please advise which tsMuxer version you are using, thanks.

[2020-04-19 21:47] ferraript commented on #286
I was using version from 2019/12/30.
As I can see, it's solved in latest version.
I'm an idiot. Sorry for bothering.

[2020-04-19 21:47] #286 closed

[2020-04-20 04:33] xingchenli1996 commented on #283
https://1drv.ms/u/s!Agvg88mocIyRhkvP6wk36lEze2Cj?e=xe5hQQ

[2020-04-20 06:44] jcdr428 commented on #286
@ferraript no worries.

[2020-04-20 11:59] jcdr428 commented on #285
@oshbo please try [this W64 build](https://github.com/jcdr428/tsMuxer/suites/611960754/artifacts/4687470) or [this Linux build](https://github.com/jcdr428/tsMuxer/suites/611960760/artifacts/4687438) to see whether it solves the issue. If it does, I will push the fix.

[2020-04-20 13:25] xingchenli1996 commented on #283
when can this problem be solved?  It annoyed me so much when dealing with large MP4/MOV Files produced by DaVinci Resolve 16.2 or Adobe Premiere Pro CC 2019 with out a downgrade-second-time-transcoding.

[2020-04-20 14:06] jcdr428 commented on #283
@xingchenli1996 tsMuxer is open source, you just have to wait for somebody volonteering to solve this on his free time.
I've had a look at your sample: 18 successive large I-frames, so whatever the size of the video buffer it is likely to overload it. What is the aim of having no B or P-frame ?

[2020-04-20 14:36] xingchenli1996 commented on #283
With B or P frame can cause my re-encode Video become a picture of mosaic

[2020-04-20 19:41] ktmf01 opened #287 "Mono PCM not muxed mono?"
Hi,

To conserve quite a stack of Video8 tapes, I'm digitalizing them and putting them on Blu-ray discs. However, the audio on those tapes is mono. As I'm not 100% sure of ffmpegs AC3 codec, I'd like to keep the audio as PCM.

However, mono PCM, 16 bit, 48kHz has a datarate of 768kb/s. When I add this to tsMuxer, the datarate is displayed as 1536kb/s, that of a stereo stream. The GUI says 'mono' t

[2020-04-21 08:53] ktmf01 commented on #287
I just found this bit of code in LPCMStreamReader::convertLPCMToWAV

` int mch = m_channels + (m_channels % 2 == 1 ? 1 : 0);`

It looks like only an even number of channels is accepted? There is no commentary explaining this sadly.

[2020-04-21 11:55] oshbo commented on #285
**@jcdr428** Thanks for looking at this.  tsMuxeR is perfect for my project so I am very motivated to get it working.

I have not tried your fix yet because I cannot get the command line method to work using the original "tsMuxeR.exe" or your fix.  I get the return message "Can't detect stream type".  I have only used the GUI version until now so I am sure that I am doing something wrong.   I crea

[2020-04-21 14:35] oshbo commented on #285
**@jcdr428** In addition to above, the output for **D:\tsmuxer>tsmuxer test.mp4** is below.  This tells me that tsmuxer can detect the stream type.

Network Optix tsMuxeR.  Version 2.6.12. www.networkoptix.com
Track ID:    1
Stream type: H.264
Stream ID:   V_MPEG4/ISO/AVC
Stream info: Profile: High@4.2  Resolution: 1920:1080p  Frame rate: 60
Stream lang: und

Track ID:    2
Stream type: AC3
Stream

[2020-04-21 15:55] oshbo commented on #285
**@jcdr428** I got your fix to work.  I was able to mux one 9GB file into the Blu-ray structure.  Thanks!  I am going to continue to test joining files etc. If I encounter any problems I will let you know.  The problem I had in my 2 previous posts is that I did not specify the output location.  Thanks again.

[2020-04-21 19:15] oshbo commented on #285
**@jcdr428** The next test I ran was to join 5 files approximately 1GB in size.  The process started but terminated at 19.7% with a "moov atom not found" error.  Based on the percent completed, it appears that the error occurred after the first file was muxed.  Since there is only 2 tracks (1 video, 1 audio) named in the meta file, my assumption is that the video segments may be joined before the

[2020-04-21 19:24] jcdr428 commented on #287
@ktmf01 this comes from the "Blu-ray Disc™ Read-Only Format Part 3: Audio Visual Basic Specifications":
HDMV LPCM audio streams for Primary audio
Number of channels shall be 2, 4, 6 or 8 channels. All the channels shall be sampled simultaneously on sampling phase.

[2020-04-21 19:29] jcdr428 commented on #284
@JohnLBergqvist I haven't managed to reproduce the issue. Could you please provide samples of VTS_02_PGC_01 and VTS_02_PGC_02 which contain subtitles and provoke this bug.
Please cut the VTS files e.g. with an hex editor to reduce them preferably below 50MB each.

[2020-04-21 19:50] oshbo commented on #285
**@jcdr428** For the third test, I added 5x 1GB video files to the queue and started the muxing process.  The process completed successfully.  However, it produced a single 5GB m2ts file in the "bdmv/stream" folder but the play length was equivalent one of the input files (presumably the first file in the queue).  There were also a lot of artifacts in the video.  I am not sure what the output shou

[2020-04-21 20:11] ktmf01 commented on #287
Okay, that is very clear. Thank you for your comment. I'm going to reconsider using AC3 then, because 2-channel PCM is probably a bit too space consuming for my project.

[2020-04-21 20:11] #287 closed

[2020-04-21 20:17] jcdr428 commented on #287
@ktmf01 do you really need to keep a BDMV format to play in a Blu-Ray player ? Otherwise AAC VBR would be the best by far.

[2020-04-21 20:36] oshbo commented on #285
Closed by mistake?

[2020-04-22 11:29] ktmf01 commented on #287
Yes, I'm going to burn these to Blu-ray M-discs and hand them out to family members, of which two have a Blu-ray player connected to their TV but not a Blu-ray drive in their PC's. That is the lowest common denominator, so I'll stick with that.

Sticking to a standard also gives me more confidence that these discs might still be (easily) playable 20 years from now. DVD would be even better from a

[2020-04-23 17:08] jcdr428 commented on #285
@oshbo the second/third test is a different bug, you should open a new issue if somebody else wants to work on it.
I'll push the fix for this issue.

[2020-04-23 18:03] oshbo commented on #285
@jcdr428  Thanks for the fix!

[2020-04-23 18:17] oshbo opened #289 "Process terminates prematurely when joining files"
Using tsmuxerGUI, added (add button) the first file and joined (join button) 4 additional files... each file was approximately 1GB each in size.  Started the process using the Blu-ray folder option. The process started but terminated at 19.7% with a "moov atom not found" error. Based on the percent completed, it appears that the error occurred after the first file was muxed.  Please advise. Here i

[2020-04-23 20:53] #285 closed

[2020-04-25 23:03] #273 closed

[2020-04-27 14:32] pwacooijmans opened #290 "Separate DTS file will not load in version 24-04 and 26-04 works fine in 30-03 nightly"
Dear justdan96,

Seperate DTS files will not load in version 24-04 nightly and 26-04 nightly but works fine in 30-03 nightly.

Kind Regards,

Pieter Cooijmans

[2020-04-27 15:00] jcdr428 commented on #290
@xavery just tested, DTS are accepted in 2020-04-16 bintray version but not in 2020-04-19. So it comes from the 18-04 commits, could you please have a look ?

[2020-04-27 16:51] xavery commented on #290
Thanks, bisecting reveals that 97d49e4d1ea2c849ce6996f273c94426fc6bfb3d caused this. I'll have a look.

[2020-04-27 17:00] jcdr428 commented on #290
@xavery actually the error comes from `if (strEndWith(tmpname, ".ts")) demuxer = new TSDemuxer(readManager, "");` replaced by `if (strEndWith(tmpname, "ts"))` : this includes .dts files !!

[2020-04-27 17:06] xavery commented on #290
Yes. What a stupid mistake on my part. The commit is already on its way.

[2020-04-27 17:11] #290 closed

[2020-04-27 20:00] moderndeveloperllc opened #292 "HEVC stream reader - Out of Bounds comparison"
Looking through the compilation build logs for another issue I saw this:
[code]
Looks to be the last comparison of the if/else tree to set DV `level`. Seems like `pixelrate` needs to be 64 bit?

[2020-04-27 20:10] jcdr428 commented on #292
@moderndeveloperllc or at least unsigned int. Good catch, I'll change that.

[2020-04-28 10:21] justdan96 commented on #257
@damkalan-uth if you can't provide an update I will close the issue due to ageing.

[2020-04-28 12:31] justdan96 opened #293 "Issues with Qt and Open Source"
You may have read in the news that "the Qt Company is evaluating restricting new releases to paying customers for 12 months". This is generating significant discussion in the open source community, you can see an example on the KDE Mailing List below:

https://mail.kde.org/pipermail/kde-community/2020q2/006098.html

There is already some discussion of forking Qt (I should add there is already a fo

[2020-04-28 12:36] justdan96 commented on #278
Do you mean to add an option to add a delay at the start of a video stream?

[2020-04-28 12:37] justdan96 commented on #289
Can you reproduce the issue with smaller files (~20MB each)?

[2020-04-28 12:48] justdan96 commented on #283
@jcdr428 This is overflowing the temporary buffer, then? Can we see what the overall impact is of changing that number? I am just thinking if the only impact is (say) memory usage then we might be able to add an option for the user to override the value on the command-line or something like that.

[2020-04-28 14:49] jcdr428 commented on #283
@justdan96 I'm not too sure of the impacts of changing the temp buffer size. The situation here (succession of large I-frames) is uncommon, not sure it is worth taking the risk.

[2020-04-28 14:51] woodzki commented on #278
yes exactly, this same function just for video streams.

![tsmuxer](https://user-images.githubusercontent.com/63453744/80502082-804b9180-8970-11ea-9917-cac4cf33ee4b.jpg)

[2020-04-28 15:04] oshbo commented on #289
Sure and I had the same issue with 20MB files.   I attached jpgs of the input and output windows.

I went into the BD folder to look at the m2ts file and it was 9 sec in length.  Each of the 20M input files were 26 sec in length so it appears that the process terminated before the first file was fully muxed.

![Input](https://user-images.githubusercontent.com/63965648/80502645-e7505280-893e-11ea-9

[2020-04-28 21:14] #292 closed

[2020-04-29 09:48] roboluzzo opened #295 "error-3 in mux ts"
Hi, I have a problem with the tsmuxer version of 29-04-2020, in practice I try to mux a hevc 60 fps file with a truehd audio file, everything runs smoothly up to about 84% after which it gives me error -3. I am attaching a printshot which summarizes the situation.
I forgot the hevc file is a 68.4 gb single layer dolby vision to which the audio track is added which is about 4 gb.
Thank you, Roberto

[2020-04-29 10:05] pwacooijmans opened #296 "DTS doesn't show when loading the playlist from an ISO file."
Dear Justdan96,

DTS does not show when loading the playlist of an ISO file created with tsMuxer.
Secondly since a few months the subtitles all have an unknown language in the latest version of KODI (leia) when opening directly from ISO created with tsMuxer. This was not the case a while ago.
This was tested with version 28-04 nightly.

Kind Regards and thanks in advance for fixing this,

Pieter C

[2020-04-29 13:09] jcdr428 commented on #295
@roboluzzo what is your OS, and which is the latest bintray version without this error, e.g. 2020-04-28?

[2020-04-29 13:26] roboluzzo commented on #295
Hi, windows 10, I am currently using the Nightly of 29-04 but the problem with the versions that I have tried, from 10 days to today, has always been there, except with films that do not exceed 60 gb.
Thank you, Roberto.
________________________________
Da: jcdr428 <notifications@github.com>
Inviato: mercoledì 29 aprile 2020 13:15
A: justdan96/tsMuxer <tsMuxer@noreply.github.com>
Cc: roberto <robo

[2020-04-30 12:35] justdan96 commented on #296
Could you give a screenshot of the issue, along with steps to reproduce with some files <20MB? Just to be clear if these are 2 separate issues it's better to raise them as such, so we can track each individually.

[2020-04-30 13:08] pwacooijmans commented on #296
I shall ask my college who is using tsMuxer if he can deliver the
screenshots

Op do 30 apr. 2020 14:35 schreef Dan <notifications@github.com>:

[2020-04-30 16:05] pwacooijmans commented on #296
Issue has been fixed with the latest version, nevermind this issue :) You can close it sorry for the inconvenience.

[2020-04-30 18:17] xavery commented on #296
Alright, I'm closing the issue in this case.

[2020-04-30 18:17] #296 closed

[2020-05-01 08:29] hyllm opened #298 "ability to put track language and audio delay to file name"
ability to put track language and audio delay to file name when demuxing.

[2020-05-02 20:37] hyllm opened #299 "audio and subtitles not completely demuxed when demuxing together with video"
when demuxing together with video, last bytes of audio and subs are not demuxed... when demuxing, audio and subs separately, all is demuxed correctly...

[2020-05-02 20:39] jcdr428 commented on #299
@hyllm could you please test previous versions, and advise from which version we can see this behavior?

[2020-05-02 21:11] hyllm commented on #299
will try today. :)

[2020-05-02 22:00] hyllm commented on #299
ok.. so version "w64-nightly-2020-04-14--02-13-14" demuxes everything OK

[2020-05-03 18:07] jcdr428 commented on #299
@justdan96 is it possible to delete version w64-nightly-2020-04-14--02-13-14 from bintray ? There has been no commit on 13 April, I can't understand why this version is on bintray / to which code it corresponds. It is ennoying because several users have referred to this version to mention bugs.

[2020-05-03 18:15] hyllm commented on #299
by git-version, it's the same as 2020-04-07

[2020-05-03 18:53] jcdr428 commented on #299
@hyllm yes but it does not give the same results https://forum.doom9.org/showthread.php?p=1907745#post1907745 so not the same version as 2020-04-07.
This is why it would be better to delete 2020-04-14.

[2020-05-10 14:32] jcdr428 commented on #299
@hyllm bug solved with commit #300, could you please close the issue.

[2020-05-14 22:07] vandenk opened #301 "Muxing 2 * (Bluray-3D) : errors"
Hello,

I managed to muxer 2 bluray-3d titanic and also 2 bluray-3d hobbit 1, everything is fine.

But impossible to muxer hobbit 2 and hobit 3 !
Tested tsmuxer64-2020-04-30 and tsmuxer64-2020-05-09
![HOBBIT_DESOLATION_OF_SMAUG_PT2](https://user-images.githubusercontent.com/11425010/81990622-ca569780-963f-11ea-9761-354302b07291.jpg)
![HOBBIT_BATTLE_FIVE_ARMIES_PT3](https://user-images.githubuserco

[2020-05-14 22:12] vandenk commented on #301
Hobbit2: stops after first disc
Hobbit3: the part of the second disc jerks strongly

[2020-05-15 07:25] #299 closed

[2020-05-15 07:31] jcdr428 commented on #301
@vandenk Is it the same behavior with tsMuxer 2.6.12 ?
You should unselect "Insert SEI and VUI data" and "Continually insert SPS/PPS".

[2020-05-15 09:43] vandenk commented on #301
I did not test tsmuxer 2.6.12 because it planted Titanic ...
I tested Hobbit 3 with tsmuxer64-2020-04-30 and tsmuxer64-2020-05-09 by unchecking "Continually insert SPS/PPS" but did not touch "Insert SEI and VUI data": same result.
I just tested Hobbit 3 with tsmuxer64-2020-05-09 by unchecking "Continually insert SPS/PPS" and "Insert SEI and VUI data": same result.
![HOBBIT_BATTLE_FIVE_ARMIES_PT3-2

[2020-05-15 09:50] jcdr428 commented on #301
@vendenk could you please test with 2.6.12, so that we know whether it is a bug introduced by open-source commits (in which case you will have to test other intermediate versions to identify commit creating the bug), or it was old behavior (in which case the fault can also come from incorrectly remuxed H264).
Is it an original Bluray, or a compressed version by e.g. DVDFab ?

[2020-05-15 11:14] vandenk commented on #301
Hobbit 3
Ok tested with 2.6.12 : no messages, same problem.
Even by reading the 00000.m2ts (2D), same problem.
![HOBBIT_BATTLE_FIVE_ARMIES_PT3-3](https://user-images.githubusercontent.com/11425010/82044206-37544680-96ad-11ea-951d-2b87855def96.jpg)
I just tested Hobbit 3 with tsmuxer64-2020-05-09 by unchecking "Continually insert SPS/PPS" and "Insert SEI and VUI data" in H264/MVC : same result.
![H

[2020-05-15 16:38] jcdr428 commented on #301
@vandenk your file is not the original bluray and has been re-encoded: pic_order_cnt_lsb is the frame number in the GOP, and in a 23.976p Bluray it does not go above 24 = 1 second. The problem may be with the encode, you should try to mux from the original Bluray.

[2020-05-16 17:01] vandenk commented on #301
Hobbit 2 disque 1 (english, french DTS-HD MA 7.1) : 22,7 Go
Hobbit 2 disque 2 (english, french DTS-HD MA 7.1) : 30,7 Go

Hobbit 3 disque 1 (english, french DTS-HD MA 7.1 + AC3 Hindi) : 29,8 Go
Hobbit 3 disque 2 (english, french DTS-HD MA 7.1 + AC3 Hindi) : 22.1 Go

I'm going to download another version to see ...

[2020-05-16 17:15] vandenk commented on #301
New Hobbit 2 disque 1 :  34.25 Go
Disc Size:      36,763,419,161 bytes
Protection:     AACS
BD-Java:        Yes
Extras:         Blu-ray 3D
BDInfo:         0.5.8
PLAYLIST REPORT:
Name:                   00099.MPLS
Length:                 1:36:05.676 (h:m:s.ms)
Size:                   33,850,171,392 bytes
Total Bitrate:          46.97 Mbps
VIDEO:
Codec                   Bitrate             Descripti

[2020-05-19 15:28] pwacooijmans opened #302 "A standard track selection for 1 audio file and 1 subtitle."
Dear Justdan96,

Hereby I would like to ask for a feature request that adds the ability to select 1 audio and 1 subtitle file in a blu-ray iso for h265 and h264/avc to play automaticly upon starting the blu-ray.
This USED to be possible by placing the first audio track on the top of the list just below the Video track and the subtitle just below that one but it doesn't work anymore. So maybe you c

[2020-05-20 16:58] xavery commented on #302
This is already implemented on master in the "Default tracks" section in the "Blu-ray" tab :
![image](https://user-images.githubusercontent.com/127875/82474838-eb9a0680-9acb-11ea-98e1-ed8147b0f9b4.png)

[2020-05-20 17:02] pwacooijmans commented on #302
Thanks a lot :)

Op wo 20 mei 2020 18:59 schreef Daniel Kamil Kozar <notifications@github.com

[2020-05-20 17:12] pwacooijmans commented on #302
Sorry for that stupid question...really amazed that you guys think of
everything :)

Op wo 20 mei 2020 19:02 schreef Pieter Cooijmans <pwacooijmans@gmail.com>:

[2020-05-20 17:53] xavery commented on #302
This was actually suggested over at the Doom9 forums, but thanks!

[2020-05-21 07:44] xavery commented on #302
Closing this - feel free to open a new issue if you experience problems or have further suggestions.

[2020-05-21 07:44] #302 closed

[2020-05-25 18:46] sgmihai commented on #149
@justdan96 Can you confirm you managed to write an actual BD video image with nerocmd ?
I tried with both the nerolinux 3.5 from the Arch user repo, and the 4.0b pkgbuild found here:https://aur.archlinux.org/cgit/aur.git/tree/?h=nerolinux

With the gui I was only able to get it to write the image if running as root, and editing .nero/config to allow DVD overburn past 4600MB which is the default (c

[2020-05-25 19:12] justdan96 commented on #149
That command should be correct, I never had to burn anything bigger than 16GB so can't comment on that. The only open source solution for getting UDF 2.6 support (I think) would be to port NetBSDs 'makefs -t udf'.

[2020-05-25 20:01] sgmihai commented on #149
@justdan96 Can you check your command syntax against a whole folder with files, subfolders, etc and see if it works for you ? I fail to see the use case of making an .iso with a single file in it.

[2020-05-26 08:13] jcdr428 commented on #149
@justdan96 I know nothing about Linux, but doesn't [newfs_udf](https://www.unix.com/man-page/netbsd/8/newfs_udf/) support UDF 2.50 ?
[code]

[2020-05-28 20:11] vandenk commented on #301
Hobbit 3 disque 1 (english, french DTS-HD MA 7.1 + AC3 Hindi) : 29,8 Go
MPEG-4 AVC Video 25937 kbps Left Eye / 1080p / 23.976 fps / 16:9 / High Profile 4.1
MPEG-4 MVC Video 11954 kbps Right Eye
DTS-HD Master Audio English 4811 kbps 7.1 / 48 kHz / 4811 kbps / 24-bit (DTS Core: 5.1 / 48 kHz / 1509 kbps / 24-bit)
DTS-HD Master Audio French 2782 kbps 7.1 / 48 kHz / 2782 kbps / 16-bit (DTS Core: 5.1 /

[2020-05-29 16:03] roboluzzo opened #303 "w64-nightly 30-04 problem with wine on debian server"
Hi justdan96, I am trying to use tsMuxeR on a Debian server via wine, but, while older versions are starting, the latest releases do not start. Can you give me some advice?
Thanks, Roberto.
![tsMuxeR problem on debian with wine](https://user-images.githubusercontent.com/35394610/83280281-b0d45480-a1d6-11ea-851b-3bcd7b20e932.jpg)

[2020-05-29 17:45] xavery commented on #303
You do know that we have a Linux build, right?

[2020-05-29 17:48] jcdr428 commented on #301
@vandenk thanks, could you please close the issue if solved.

[2020-05-30 12:30] roboluzzo commented on #303
Yes i know, but appimage from 09-05 on my debian server won't start

[2020-05-30 16:32] xavery commented on #303
This is caused by the Docker image used to build the Linux using Ubuntu 19.04, which has a newer version of the C library, and the produced binaries in turn have dependencies to that version. I have [reported this](https://github.com/justdan96/tsmuxer_build/issues/1), but I don't think that went anywhere because there was simply never a real reason to do anything about it.

Anyhow, while I can't s

[2020-05-30 18:49] vandenk commented on #301
ok

[2020-05-30 18:49] #301 closed

[2020-06-02 11:56] Viking55 commented on #165
Is this ever going to be implemented? It's one of the points on the Todo list since the beginning. Anyway, I'm not clear on what's meant here. Is it only an option to choose an angle when muxing or to include all angles to choose from when watching the film? If the latter, would some pop-up show when there's an alternative angle available?

[2020-06-02 19:34] r0lZ commented on #165
Hi,

Thanks for considering working on that problem.

Personally, I am interested only in the demuxing capabilities of tsMuxeR.
I don't use it to mux anything.

Currently, when you demux a multi-angle MPLS, you cannot select the angle
you want.  It's always the default angle that is assumed.  If you really
want to demux another angle, you have to analyse the MPLS to find out the
list of the M2TS p

[2020-06-03 21:08] jcdr428 commented on #165
Hi @r0lZ , I still intend to work on this... but only after v2.7 has been issued, as I don't want it to be a reason to delay the new release.

[2020-06-03 21:15] r0lZ commented on #165
OK for me.  As I wrote, I'm waiting v2.7 too.
Thanks

On Wed, Jun 3, 2020 at 11:08 PM jcdr428 <notifications@github.com> wrote:

[2020-06-09 20:19] justdan96 commented on #303
You could try the build for Debian from: https://build.opensuse.org/repositories/home:justdan96/tsMuxer

[2020-06-09 20:21] justdan96 commented on #298
Could you give an example of what this would look like?

[2020-06-09 20:30] justdan96 commented on #295
I don't have any files that are that large to be able to test with - but if you are able to share the full details from mediainfo and ffprobe of a file, or possibly even the file itself, over email to myself at justdan96@gmail.com I might be able to reproduce the problem.

[2020-06-09 20:44] justdan96 commented on #299
I've deleted the files from this version from Bintray.

[2020-06-09 21:55] justdan96 commented on #289
Can you share those files < 20MB? We can try to reproduce the same issue.

[2020-06-09 23:13] oshbo commented on #289
I do not have the original file but I created an AVC/AC3 file with a similar size.  The audio track is null so no sound but it is there.  Open the attached file and make 5 additional copies.  This is how I ran the original test (above).  Thanks.

[test20M (1).zip](https://github.com/justdan96/tsMuxer/files/4755326/test20M.1.zip)

[2020-06-10 05:56] hyllm commented on #298
for example...

00800_track_4554_[eng]_DELAY 11ms.ac3
00800_track_4555_[ger]_DELAY 0ms.ac3
00800_track_4554_[fre]_DELAY -8ms.ac3