[2020-06-19 21:07] jcdr428 opened #304 "[bug] Proposed file extension for saving meta file is not .meta"
See https://forum.doom9.org/showthread.php?p=1916110#post1916110 :
[code]

[2020-06-19 21:14] jcdr428 commented on #304
@xavery the bug seems to come from the following change in commit ce05c5d :
[code]

[2020-06-24 18:00] #304 closed

[2020-06-24 18:00] xavery commented on #304
Thanks, another embarrassing mistake on my part...

[2020-06-24 18:13] jcdr428 commented on #304
@xavery as we say in France, "you cannot make an omelette without breaking some eggs" ;-)

[2020-06-25 16:21] Nemesh64 opened #306 "Cheat Season 1 Audio problem"
Problem with audio after muxing.
1. I load the playlist from episode 1.
2. De-select the English subtitle
3. Select: Do not change SEI and VUI data.
4. Mux to new directory as BDMV folder.

So I keep Video+Audio.

tsMuxeR version git-0fa0738. github.com/justdan96/tsMuxer
Decoding H264 stream (track 1): Profile: High@4.1  Resolution: 1920:1080i  Frame rate: 25
H.264 muxing fps is not set. Get fps f

[2020-06-26 21:33] #268 closed

[2020-06-30 18:34] Nemesh64 opened #307 "Muxing to .ISO results in unplayable file."
TsMuxer Nightly 25-06-2020 muxing a 4K/UHD movie  directly to a .ISO results in a unplayable .ISO
For playback with Windows MediaPlayer Classic I mounted the .ISO in Virtual CloneDrive 5.5.0.0
However, neither Windows MediaPlayer Classic or my Dune HD 4K Pro will play the file.
If I mux the same files to a Blu-Ray Folder everything plays fine.
Then I switched back to TsMuxer Nightly 25-06-2020 and

[2020-07-01 14:17] lbnascimento commented on #307
This is happening because tsMuxer is incorrectly placing the M2TS file in the root directory of the image, instead of placing it in BDMV/STREAM.

[2020-07-01 16:04] #307 closed

[2020-07-01 16:04] xavery commented on #307
Sorry about this - will be fine in tomorrow's nightly build.

[2020-07-01 22:13] xavery commented on #257
Judging from the code, font size/face changes are always supposed to trigger saving the settings if the font settings were changed successfully. However, not all GUI elements triggered saving the settings file, so I fixed this by explicitly saving them when the application shuts down, which should prevent similar problems in the future.

[2020-07-01 22:13] #257 closed

[2020-07-02 06:33] jcdr428 commented on #306
@Nemesh64 can you please provide a 40-50mb sample of the m2ts. You can cut the original m2ts with an hex editor eg HxD.

[2020-07-10 09:58] tormento opened #311 "17-bit XLL storage resolution is not implemented error"
After demuxing DTS-HDMA from Onward BD, I use FFMPEG to convert to AC3.

I get the error: 17-bit XLL storage resolution is not implemented. Update your FFmpeg version to the newest one from Git.

This leads to shorter AC3 than the original DTS-HDMA.

The same doesn't occur when demuxing using other tools (i,e, MakeMKV and then demux from MKV).

[2020-07-11 11:28] 775405984 opened #312 "Demux error if filename has emoji"
@justdan96 @xavery

[2020-07-11 20:06] jcdr428 commented on #312
@775405984 [ : < > \ " / | ? \ * are forbidden characters for filenames in tsMuxer.

[2020-07-11 21:45] xavery commented on #312
Works for me with current master :
[code]
Metafile :
[code]
Results :
[code]

[2020-07-12 18:06] jcdr428 commented on #311
@tormento can you please provide the first 20 mb of DTS-HDMA file produced by tsMuxer, and the same with file produced by MakeMKV.

[2020-07-12 19:23] tormento commented on #311
Unfortunately it happens at the end.

I don't know if DTS-HDMA is a "raw" format I can cut such as m2ts with no problems and it works with no "header". If you have a ftp, I can upload whole files.

[2020-07-12 19:30] richardpl commented on #311
Yes, share DTS-HDMA samples, this is trivial to fix in ffmpeg decoder.

[2020-07-14 09:41] tormento commented on #311
I located the error in the 12th of 250MB split files. Notice that the two files are not identical because Onward mpls contains multiple M2TS and the two softwares process gaps in different ways.

Here are the file TSMuxer and MakeMKV files:

[https://www.mediafire.com/file/l1hwc3lqyjvsaa3/Onward_HDMA.rar/file](url)

Here is the log:

`tsMuxeR version git-632b6e4. github.com/justdan96/tsMuxer
Decod

[2020-07-15 21:33] Nemesh64 commented on #306
Sorry for the very late reply but have been away for work some time.
I don't know how to do that... sorry...
But I can send the whole BD by a file transfer service.
But were must I send the link to?
Have attatched a screenshot on this reply.
Also, the video freezes after 10 seconds, no audio and a jump, then freezes again etc. etc.
Source is original BD.
Hope to hear from you and with regards,
Nem

[2020-07-16 16:30] jcdr428 commented on #306
@Nemesh64 if you upload the whole BD as an archive file, I won't be the one looking at the issue as I am on a metered connection... You could upload the m2ts only (I can download only part of it), or alternatively you can cut the m2ts file with an Hex editor, eg [HxD](https://mh-nexus.de/en/hxd/).

[2020-07-17 02:11] xingchenli1996 opened #313 "Mistakenly detect a MPEG4-AVC H.264 encoded file as HDR10"
Sometimes when I convert my original mp4 video clip with tsmuxer, the original file isn't HDR file at all, but the muxer itself mistakenly add an HDR10 information to the converted clip and make the clip unreadable on Scenarist and some other BLURAY-PLAYER

[2020-07-17 02:14] xingchenli1996 commented on #313
Video
ID                                       : 1
Format                                   : AVC
Format/Info                              : Advanced Video Codec
Format profile                           : High@L5.1
Format settings                          : CABAC
Format settings, CABAC                   : Yes
Format settings, GOP                     : N=1
Codec ID                                 :

[2020-07-17 02:15] xingchenli1996 commented on #313
Video
ID                                       : 4113 (0x1011)
Menu ID                                  : 1 (0x1)
Format                                   : AVC
Format/Info                              : Advanced Video Codec
Format profile                           : High@L5.1
HDR format                               : SMPTE ST 2086, HDR10 compatible
Format settings                          : CABA

[2020-07-17 07:35] jcdr428 commented on #313
@xingchenli1996 please provide a sample of the original m2ts.

[2020-07-17 10:27] Nemesh64 commented on #306
The M2TS file from Episode 1 is 11.08GB.
I can split it with WinRAr and use a file-send service.
1. How big (max) can be each file?
2. To what email adress can I send the link for download?
I think splitting with the Hexeditor or WinRAR is the same.
If not, then please explain to me in detail how to use the HexEdit.
With regards,

Nemesh

[2020-07-17 10:34] jcdr428 commented on #306
@Nemesh64 I thought you would need all WinRAR files to uncompress the first file.
If not the case, you can split in 100 MB files and post the link here for the first file.

For HxD: see [picture](https://mh-nexus.de/en/graphics/HxDShotLarge.png)
You drag & drop your file in HxD, select the part you want to cut/discard, hit 'Delete' on the keyboard, and save the file with a new name.

[2020-07-17 11:52] Nemesh64 commented on #306
How large can I make each file?
Remember, episode 1 is 11,08 GB.

[2020-07-17 14:47] xingchenli1996 commented on #313
the original file is a little bit large and I need to take times to upload it somewhere

[2020-07-17 14:49] jcdr428 commented on #313
@xingchenli1996 I guess the 4mn 6s mp4 file on which you posted the mediainfo should be enough ?

[2020-07-18 12:15] Nemesh64 commented on #306
All right......
Episode 1 is 11.08GB and a total of 22 RAR, ech file 500 MB.
Part 1: https://fil.email/ubiyfBwB

[2020-07-18 14:17] jcdr428 commented on #306
@Nemesh64 yes I could download the part 1. I don't need the other parts.
The bug is effectively existing since 2.6.12... I will see if I can do something.

[2020-07-19 11:16] Nemesh64 commented on #306
Many thank Jcdr, I hope you can do something about it.
As I wrote above, when I rip the episode from the BD with CloneBD there is no playback issue.
However, I can't add a subtitle.
With much regards,

Nemesh

[2020-07-19 11:28] xavery commented on #312
No further comments after a week - closing. Please reopen if necessary.

[2020-07-19 11:28] #312 closed

[2020-07-26 21:06] chadady opened #316 "BluRay m2ts failure for linux 64-bit tsMuxeR"
Compiled for 32-bit works fine.  The GUI will report error 254.  This is the CLI output:

linuxbox:/dc$ ~/tsMuxer/bin/tsMuxeR Terminator_Genisys.meta Terminator_Genisys.m2ts
tsMuxeR version git-c61c002. github.com/justdan96/tsMuxer
Decoding H264 stream (track 1): Profile: High@4.1  Resolution: 1920:1080p  Frame rate: 23.976
H.264 muxing fps is not set. Get fps from stream. Value: 23.976
0.0% compl

[2020-07-26 23:00] xavery commented on #316
It certainly wasn't and we can't really be 100% sure that it is now. A few fixes were needed to even get it to compile, and a few more to stop it from crashing once it did. I suspect you might've hit one of the many places where unplanned truncation happens or a (possibly indirectly) expected overflow condition doesn't happen because of the extra width.

I'm afraid this can't be investigated furth

[2020-07-29 03:54] lonecrane opened #317 "disk track information is only partially parsed"
Hi, I have encountered a blu-ray disk that cannot be parsed correctly by tsmuxer. Its subtitle trackers are not recognized by the latest tsmuxer but BDInfo can show the correct information.
![tsmuxer-1](https://user-images.githubusercontent.com/36885830/88754416-305bb100-d191-11ea-8aa4-3be7a516ff44.png)
![tsmuxer-2](https://user-images.githubusercontent.com/36885830/88754427-35b8fb80-d191-11ea-84f

[2020-08-04 20:45] xavery commented on #317
Unfortunately this doesn't seem resolvable without a full copy of the original BD, and I wasn't able to reproduce this with my own copy, as it's most probably simply a different release.
I'm going to leave this one unassigned if there's anyone else willing to do some work here.

[2020-08-06 01:06] lonecrane commented on #317
@xavery Thanks a lot. Actually it is a DIYed BD released by a famous group, and I have encountered another BD with similar problem. Maybe the sample file is so short that it doesn't even contain any subtitle data. I am ready to upload a larger sample or even the full copy if you are willing to give it further study.

[2020-08-09 17:57] jcdr428 commented on #317
@lonecrane this is not a bug from tsMuxer. The 00000.mpls playlist does not include any subtitle track: when analysing the mpls with an hex editor or BDEdit, you will see that the number of PG files in the STN table is actually 0 !
The subtitle tracks are part of the clpi and m2ts but are "hidden", i.e. not accessible via the Blu-ray menu.

[2020-08-10 12:28] lonecrane commented on #317
@jcdr428 Thanks a lot. The new sample including other relevant m2ts files and with a larger size of 128M has been uploaded to
[http://www.mediafire.com/file/h3vnotge4e2xaku/Parasite_2019_B%2526W_Version_Sample-128M.rar/file](url). I am uploading another larger sample in case of any need. When it is ready I will update this reply.

[2020-08-12 20:22] Viking55 opened #318 "Option to add name to audio- and sub tracks."
Option to name the tracks like in MKV Merge where there's a box "Track name" in which one can describe the track, e.g. AC3-5.1, color of subtitle, SDH, sup or srt etc. It's helpful when having several audio and/or sub tracks. What's written in that box shows up in VLC when choosing tracks. It's not showing on my Zidoo Z9S though, but that's a different issue I guess.

[2020-08-15 23:59] chadady commented on #316
I found the problem and can provide a patch.

[0001-Use-memmove-when-buffers-can-overlap.patch.gz](https://github.com/justdan96/tsMuxer/files/5079765/0001-Use-memmove-when-buffers-can-overlap.patch.gz)

[2020-08-16 06:53] xavery commented on #316
What a great catch. How did you figure out that it might be `memcpy`/`memmove` causing the bug?

[2020-08-16 12:42] chadady commented on #316
The tool worked fine compiled 32-bit, so I added a lot of debug and ran it as 64-bit/32-bit to try to understand how data moved around and why it was failing.  I don't know much about C++ so I found it difficult to understand how data was read and then dispatched to the proper reader.  The tool is impressive in how it manages input files, using threads to manage them.  Data is asynchronously read

[2020-08-17 15:10] #316 closed

[2020-08-18 14:12] blackjack4494 opened #321 "Subtitle language"
For some reason when there are multiple subtitles only the first 5 subtitles have a language flag added. All those after the 5th subtitle do not. BDInfo shows me the language of all subtitles. The playlist file is totally fine and containing language flags for the subtitles.

Also noteworthy there are 5 audio tracks.

However if I check other Movies with 5 audio tracks there are more than 5 subtit

[2020-08-19 16:28] jcdr428 commented on #321
@blackjack4494 Can you put some screenshots to clarify the issue. On my side I can output ts/m2ts/blurays that have 15 subtitle languages without problems.

[2020-08-23 22:00] blackjack4494 commented on #321
![tsmuxer](https://user-images.githubusercontent.com/4406639/90989787-b276a400-e59c-11ea-8142-0a37f7c97d20.png)

One example. @jcdr428
I have other files with exact same problem. BDInfo, Handbrake etc all show everything right but tsmuxer.

[2020-08-24 05:21] jcdr428 commented on #321
@blackjack4494 I need a ~50MB sample of the m2ts to test.
You can cut the M2TS with an hex editor eg HxD: select data from address 0320 000 to the end, delete the data and save the file.

[2020-08-24 21:00] jcdr428 commented on #313
@xingchenli1996 I would really like to have a sample of the H264 track, to understand how a HDR_metadata can end up in the stream.

[2020-08-25 20:34] FRtranslator opened #323 "Adding French language to tsMuxeR"
Hi,
I would like to contribute by sending the French translation of tsMuxeR.
I did my best.
As I can't send files to the repo (unless you give me push/write access), I post them here.

Enjoy! :)
[french.zip](https://github.com/justdan96/tsMuxer/files/5126150/french.zip)

[2020-08-25 21:07] xavery commented on #323
Merged in #324, thanks a lot!

[2020-08-25 21:07] #323 closed

[2020-08-26 07:41] FRtranslator opened #325 "UI still in english with French language selected"
When you select the French language, the UI is still shown in English.
Whereas the text (HTML) inside the About tab is in French.

[2020-08-26 12:16] xavery commented on #325
Yes, I forgot to update the list of available translations in the `tsMuxer

[2020-08-27 07:39] xavery commented on #325
Fixed in `2020-08-27--02-15-59` build, closing.

[2020-08-27 07:39] #325 closed

[2020-08-27 08:50] FRtranslator opened #326 "Fixed little mistake in French translation"
Hey :)

I fixed a little typo in the French translation. Double-checked now, everything looks good.
Sorry guys ;)

[tsmuxergui_fr.zip](https://github.com/justdan96/tsMuxer/files/5135203/tsmuxergui_fr.zip)

[2020-08-27 19:10] xavery commented on #326
Fixed in 818f916e7c0e803037e08def8a578fce12f77630, thanks.

[2020-08-27 19:10] #326 closed

[2020-08-28 08:53] jcdr428 commented on #236
@xavery this issue should be closed.

[2020-08-28 17:36] xavery commented on #236
@jcdr428 Thanks, closing as requested.

[2020-08-28 17:36] #236 closed

[2020-08-28 18:02] jcdr428 commented on #295
@justdan96 as there has been no answer from @roboluzzo to privide the required info, we should close the issue. @roboluzzo still has the option to request reopening.

[2020-08-28 18:11] #295 closed

[2020-08-28 20:36] jcdr428 commented on #321
@xavery no answer from @blackjack4494. You can close this issue, the bug relates to tsMuxer 2.6.12.

[2020-08-28 21:03] jcdr428 commented on #318
@Viking55 IMO this is not feasible. Each MPEG-TS descriptor for video, audio or subtitle is standardized in ISO/IEC 13818-1.

[2020-08-28 21:18] blackjack4494 commented on #321
@jcdr428 Sorry I forgot this issue. Yes I downloaded the nighlty build and everything worked there. However where can you get 2.6.15? The latest official I can find is 2.6.12 all after this version seems to be nightly builds.

[2020-08-28 21:21] jcdr428 commented on #321
@blackjack4494 yes there is no official version yet working with UHD. You'll have to put pressure on @justdan96 to release 2.6.17 ;)

[2020-08-29 13:46] Selur opened #328 "MacOS nightly builds,..."
downloaded latest nightly build and got
[code]
the nightly build should be a .app file build with macdeployqt like the 'build_macos_native.sh' does so that the needed libraries are shipped with the binary. (or alternatively a static build)

Cu Selur

[2020-08-29 14:14] justdan96 commented on #303
Closing this as alternative has been given and the issue is quite aged now

[2020-08-29 14:15] #303 closed

[2020-08-29 14:16] justdan96 commented on #328
Can you suggest how the existing script should be amended?

[2020-08-29 14:19] justdan96 commented on #313
I guess a 20MB slice of the file should suffice?

[2020-08-29 15:35] xavery commented on #328
Neither of us are MacOS developers so if you have any advice on how to make a fully static build for that platform, we're all ears.

[2020-08-29 16:30] Selur commented on #328
Before I start let me tell you that I haven't used a mac for ~2years and I never really liked the environment, that said since I started using one in a VM environment again here's my 2cents.

Fully static is probably not feasible for tsMuxeRGUI since I think the open source Qt license wouldn't allow it + it would require that you compile your Qt binaries statically from source. It's a real hassle.

[2020-08-29 18:05] xavery commented on #328
Thanks for all the tips. I'm sure this will be useful once one of us gets a macOS development environment running. The general idea seems to be strikingly similar to the `RPATH` thing used in ELF binaries.

Actually, Qt is licensed under GPL2/GPL3/LGPL3, all of which are compatible with Apache, which is the licence that tsMuxer is using, so this is a non-issue. Thanks for staying ahead of the game

[2020-08-29 18:07] Selur commented on #328
[code]
Same here. :)

[2020-08-29 19:50] #321 closed

[2020-08-30 22:20] xavery commented on #328
I just pushed 7888bc65d891ccad70b10ebdbee61d2112ba1e93 that should fix this : the libraries that the main tsMuxeR binary depends on will now be copied into the generated zip package, and the library search paths stored inside the binary are appropriately fixed up to be `@executable_path/particular_lib.dylib`. I tested it on my MacOS VM with `freetype` uninstalled, and the new build worked, as oppo

[2020-08-31 06:38] xavery commented on #328
@Selur The new build is [now available](https://bintray.com/justdan96/tsMuxer/download_file?file_path=mac-nightly-2020-08-31--02-13-44.zip), please test and report back.

[2020-08-31 06:43] Selur commented on #328
Will test and report back this evening.

Daniel Kamil Kozar <notifications@github.com> schrieb am Mo., 31. Aug.
2020, 08:38:

[2020-08-31 13:01] moderndeveloperllc commented on #328
I get it open. There are extra copies of the libs in the directory alongside the CLI binary and GUI. Also missing the Info.plist fixes from `build_macos_native.sh`, but I'm guessing that just hasn't been moved over yet.

<img width="392" alt="ScreenShot 2020-08-31 at 8 01 00 AM" src="https://user-images.githubusercontent.com/1920405/91722610-1f230d00-eb60-11ea-947d-9208b0865e62.png">

[2020-08-31 14:57] Selur commented on #328
close,... running otool -l on the libraries shows that they also have dependencies :/
so those dependencies also need to be copied and the libraries too need to be patched ;)

[2020-09-01 07:20] darekpro commented on #167
Thx but I mean "auto" enhancement detect playlists like example MKVToolNix can after selecting file index.bdmv .

![Zrzut ekranu z 2020-09-01 09-17-50](https://user-images.githubusercontent.com/58607093/91814345-46e3a500-ec34-11ea-95d2-b83212e8a269.png)

[2020-09-01 09:40] darekpro opened #329 "audio track with delay +21000 " not recognized and ignored""
Hello,

When I want create new blu-ray folder and I adding new audio track with delay +21000 after creating folder the same folder can not be open again in tsmuxer.

BDMV sample
https://drive.google.com/file/d/1ahX4_jtOihYTAyVKXj2hmAGg7jKRfVEx/view?usp=sharing

![Zrzut ekranu z 2020-09-01 11-32-39](https://user-images.githubusercontent.com/58607093/91833340-de51f380-ec46-11ea-8b11-36e830fb47d5.png

[2020-09-01 16:26] jcdr428 commented on #329
@darekpro you need to grant access to your drive link.

[2020-09-01 16:27] darekpro commented on #329
Upsss sorry :) done

[2020-09-01 17:05] jcdr428 commented on #329
tsMuxer scans the beginning of the m2ts to analyze the tracks. The size of the analyzed chunk is DETECT_STREAM_BUFFER_SIZE = 16 MB (line 42 of vod_common.h). With your delay of 21 ms, the AC3 track starts after this 16 MB chunk, so is not detected.

One solution would be to increase the buffer size, with the detrimental effect of increasing memory need / time needed to scan. An audio starting 21 s

[2020-09-01 17:16] darekpro commented on #329
"in such situation it would be preferable to append a 21 sec. "silence" AC3 before your AC3 track."
True but not with DTS-MA, TRUEHD itd :P

[2020-09-01 17:20] jcdr428 commented on #329
@darekpro True... I'll propose the one-line patch to increase buffer to 64 MB, let's see what @xavery thinks about this.

[2020-09-01 22:21] xavery commented on #329
Sounds okay, the whole algorithm should start with a small-ish value and gradually work its way up to larger ones anyway. However, since we have no real performance/memory usage targets, and no real way to compare memory usage across changes or versions, simply increasing the buffer size here is the natural way to go.

[2020-09-01 23:43] xavery commented on #328
The `osxcross` package that the container uses for building OSX binaries on Linux does not provide the `defaults` or `plutil` programs needed for performing the necessary actions on the manifest, so this cannot be moved over until we switch to making the nightly build on a native MacOS system.

[2020-09-02 16:43] jcdr428 commented on #329
Thanks @xavery.
@darekpro could you please test latest bintray nightly, and close the issue if your problem is fixed.

[2020-09-02 16:47] darekpro commented on #329
Perfect now everything it is ok. Thank you.

[2020-09-02 18:27] #329 closed

[2020-09-03 20:23] xavery commented on #328
Okay, this should be fixed with the 2020-09-03 nightly. All the dependent libraries are copied and the paths changed to refer to `@executable_path` :
[code]
`install_name_tool` doesn't seem capable of changing the paths of the libraries themselves, i.e. `libfreetype.6.dylib` still refers to `/opt/local/lib/libfreetype.6.dylib` and it seems like there's no way of changing that. Since my MacOS VM bl

[2020-09-04 02:48] Selur commented on #328
will test this evening after work and report back

[2020-09-04 13:37] Selur commented on #328
Seems to work fine.

[2020-09-04 15:50] xavery commented on #328
Thanks, closing in this case.

[2020-09-04 15:50] #328 closed

[2020-09-04 22:03] Viking55 commented on #318
Is there any possibility of "customization"? I'm way out of my league here, but, is everything else according to standardization?
Either way, I have to thank you all that have worked, and still do, on getting ts Muxer up to date. I understand that you have put in a lot of time and effort in getting here. Amazing job!

![Bow](https://user-images.githubusercontent.com/58627166/92287611-71837580-ef34

[2020-09-04 22:08] xavery commented on #318
@Viking55 The difference lies in the file format. Matroska natively supports stuff like custom names for tracks, while MPEG-TS does not. Even if we added a "custom" descriptor to the streams tsMuxer produces, it would be essentially useless, since no other device/program would be able to read it.

[2020-09-05 09:50] #317 closed

[2020-09-08 21:16] antgiant opened #335 "Windows Build Broken Since 8/31/2020"
I just tried the x64 version of the Windows nightly builds and working backwards from the most current version it took till the 8/31/2020 build before it would run on my Windows 10 Machine. All of the ones more recent than that would not do anything. Looking in Task manager the executable loaded and then immediately, and silently closed. It did not throw any error messages or write to any log file

[2020-09-09 05:27] jcdr428 commented on #335
@antgiant there has been three commits pushed on 02/09, after the 31/8 nightly release and before the 02/09 nightly, in the following order:

99e193c: https://github.com/justdan96/tsMuxer/suites/1129918356/artifacts/16095060
ba409fa: https://github.com/justdan96/tsMuxer/suites/1130160362/artifacts/16101624
c139668: https://github.com/justdan96/tsMuxer/suites/1134511353/artifacts/16208279

Can you

[2020-09-09 08:38] ettorps opened #336 "GUI crashes sometimes when removing a track or an input file"
In some cases the GUI crashes (segmentation fault) when clicking on either remove button from "Input files" or "Tracks".
Not every "remove" triggers the crash. If you have multiple input files, for example, it seems not to happen when you remove the files from bottom to top. Having only a single input file and removing it seems to trigger the crash in almost all cases.
In the "Tracks" section the

[2020-09-09 09:43] ettorps commented on #336
Commit 31d39b60a79f5b39cf357cdb91f42a17b737b4fe indeed introduced this problem.
I just built the GUI from commit 0035efb243a72a085c67c965e1fcf9637a998593 and there the GUI is not crashing, whereas in a Build from commit 31d39b60a79f5b39cf357cdb91f42a17b737b4fe the GUI crashes.

[2020-09-09 21:13] #318 closed

[2020-09-09 21:28] xavery commented on #335
There have been no meaningful changes to the build scripts or the Docker container that could influence the build. For the record, the latest builds work fine on my Windows 10 machine, both x86 and x64. Running the GUI makes Windows activate the SmartScreen alert, but other than that it works okay.
@antgiant Please test the builds @jcdr428 linked and report back.

[2020-09-12 20:53] jcdr428 commented on #313
@justdan96 without news / answer from @xingchenli1996, I believe we can close that issue. @xingchenli1996 can re-open if he comes again.

[2020-09-13 09:49] #313 closed

[2020-09-13 20:22] jcdr428 commented on #306
@Nemesh64 please try https://github.com/jcdr428/tsMuxer/suites/1186063535/artifacts/17400781 and report whether it has solved your issue, thanks.

[2020-09-17 01:26] xavery commented on #336
@ettorps This should be fixed in [`2020-09-17--02-22-29`](https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2020-09-17--02-22-29#files), please test and report back.

[2020-09-17 11:32] Selur commented on #293
I think the static build thing is a more general problem on Mac and Linux and I doubt it would be easier using boost or other frameworks.
Personally I wouldn't have a problem with the open source branch hanging ~12month behind the normal releases, since the main stuff I use qt for, which is mainly basic gui stuff is kind of stable and hasn't changed much the last 10 years.

[2020-09-17 18:59] ettorps commented on #336
@xavery: awesome, I just gave the new nightly build a try. The crash seems gone.
I could not produce any crash anymore.

But the default track select boxes still behave a little weird.
For example I just added a MKV file with 4 audio tracks. When I removed the first one, the "default audio" box still had 4 entries.
After I removed the 2nd track (still 2 audio tracks there) the "default audio" box

[2020-09-17 21:08] xavery commented on #336
I admit this is not my finest work. I found it really tricky to integrate this functionality with the existing code, so I'm sure there are still bugs here and there. I'll look into this.

[2020-09-17 23:24] xavery commented on #336
@ettorps I just pushed a change that should fix what you're describing. It will be included in the 2020-09-18 nightly which should run in about two hours.

[2020-09-18 15:30] ettorps commented on #336
Yes, it seems the select boxes are updated correctly.
Awesome, thank you for the effort to fix that.

[2020-09-18 16:48] ettorps opened #346 "random delay is added to audio tracks"
It seems that commit 78cfc4c14910af6b260ac3ed5a764fb537698102 introduced a bug where a random delay is added to all audio tracks.
Using the exact same .meta file (without any timeshift= option), tsMuxeR from Linux nightly build 2020-09-08--02-21-37 works fine (mode Blu-Ray v3 ISO), but tsMuxeR from Linux nightly build 2020-09-13--02-21-33 adds the delay (also mode Blu-Ray v3  ISO).

I did not test

[2020-09-18 18:16] #336 closed

[2020-09-19 06:50] jcdr428 commented on #346
Sorry, I did not test enough before pushing #337 .
All should be fixed with patch #347 .

[2020-09-20 13:16] 55trucker opened #349 "Version 2.6 removes writing library entry"
Hello:

came across an issue where version 2.6 will remove the h.264 writing library entry & also the encoder settings entry.
When viewed with Mediainfo the project *before* muxing & *after* muxing show this result.

Is there anything that can be done to correct this issue?

I use 2.6 for all of my *demuxing* needs but because of this behavior I have to use the older 1.10 to *remux* my projects to

[2020-09-20 14:53] 775405984 opened #350 "Support set Output filetype as MP4"
I mean, come on. That's the only reason I use this software.

thx

[2020-09-20 16:42] jcdr428 commented on #350
@775405984 tsMuxer is a ts Muxer, i.e. muxing only to mpeg transport stream.

[2020-09-20 16:55] jcdr428 commented on #349
@55trucker please try [latest nightly](https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/_latestVersion#files), not 2.6.12.

[2020-09-20 19:55] xavery commented on #350
This is out of the scope of this project.

[2020-09-20 19:57] #350 closed

[2020-09-20 21:48] jcdr428 commented on #346
@ettorps please confirm whether the issue is fixed, thanks.

[2020-09-20 21:48] jcdr428 commented on #306
@Nemesh64 please confirm whether the issue is fixed, thanks.

[2020-09-20 21:49] jcdr428 commented on #335
@antgiant please confirm whether the issue is fixed, thanks.

[2020-09-20 23:08] 55trucker commented on #349
Hello:

tried as you suggested, the latest nightly does precisely the same, removes both the writing library entry & the encoder settings entry.
This not something that is new, I first came across this anomaly when version 2.6 first appeared....what was it ...3 years ago?

[2020-09-21 05:21] jcdr428 commented on #349
@55trucker with the few files I've tries, Mediainfo shows these parameters for the ts muxed files.
So I need a 20-50 MB mkv sample of a problematic file to determine cause of issue. Thanks.

[2020-09-21 09:49] Nemesh64 commented on #306
Hello jcdr,

Look almost every day here but I only now saw you request and I am deeply ashed of myself that I only saw you reply after 8 days.
Give you my sincere apologies and will try the build immediatly.
Will report back a.s.a.p.
With much regards,

Nemesh

[2020-09-21 09:53] ettorps commented on #346
yes, the audio delay issue is fixed

I tested the ISO creation with option --constant-iso-hdr from commit bb3263f9fc01dcdf850b827b78e58a0f4b8d7a14 (before introduction of this issue) and commit 6fb457b961734fbdf20d95fc65623563480bc176 (your fix) and the ISO files differed. Is this expected because of other changes in the meantime?

[2020-09-21 09:57] Nemesh64 commented on #306
Just test on Cheat Season 1 Episode 1.
Works like a charm and no more problems with audio & video.
Many, many thank Jcdr.
With much regards,

Nemesh

[2020-09-21 12:44] 55trucker commented on #349
Well.......here's 2 screenshots of the same movie I have been working on....a before & after TsMuxer
![Bullitt before tsmuxer](https://user-images.githubusercontent.com/32821797/93767934-9dfee900-fbe6-11ea-897a-8ba3f5301aa2.jpg)
![Bullitt before tsmuxer](https://user-images.githubusercontent.com/32821797/93767952-a525f700-fbe6-11ea-8ced-83f8c5c6d817.jpg)

[2020-09-21 14:34] #306 closed

[2020-09-21 16:44] jcdr428 commented on #349
@55trucker as stated previously, I don't have this issue with any muxed ts/m2ts, see below example. So unless you provide a sample of a file having the issue I won't be able to help.
There might not be any problem with your file, but the bug could be specific to the file.

![Untitled](https://user-images.githubusercontent.com/56721609/93795797-32df0200-fc3a-11ea-9773-527301b19e07.jpg)

[2020-09-21 18:27] jcdr428 commented on #346
@ettorps if there is a message "b-pyramid detected" then yes, the files will be different.

[2020-09-21 20:47] 55trucker commented on #349
Ok, trying to send will be an issue ......the forum will not accept anything larger than 10mb.....the clip I made is 45mb.......but that's only 16secs long

[2020-09-21 20:49] jcdr428 commented on #349
@55trucker please just send a link eg onedrive, dropbox, wetransfer...

[2020-09-22 01:25] 55trucker commented on #349
Let's try this.....haven't used Dropbox in years

https://www.dropbox.com/s/yqkhuxrl5lkfv8f/bullitt%20exerpt.mkv?dl=0

[2020-09-22 05:20] jcdr428 commented on #349
@55trucker Thanks, I have the sample. So the bug has something to do with the "insert SEI and VUI data if absent". I will look at it.
I always uncheck this option and the "continually insert SPS/PPS", for what purpose do you need to use this option?

[2020-09-22 06:29] Stalem360 commented on #346
What does B-pyramid level 1 detected. Shift DTS to 2 frames or B-pyramid level 2 detected. Shift DTS to 3 frames exactly do?

[2020-09-22 11:36] 55trucker commented on #349
Actually none,
that is the default setting when installed.....I've never has reason to alter it.....apparently now I do.....lol

[2020-09-22 12:00] 55trucker commented on #349
Cool! it worked!
I altered the *Insert SEI* to *Do not alter* & the issue is gone. I had no idea that this little alteration would solve this minor issue.

One other question.......the default size of the program window when opened is quite large, I can manually decrease the physical size but when one shuts down the program to come back to it later the default large window is there again. Is there

[2020-09-22 19:12] jcdr428 commented on #349
@55trucker commit #352 should fix the bug. Once pushed, please test before closing the issue.
You'll have to open a new issue for the enhancement request (include window size info in init file).

[2020-09-22 19:28] jcdr428 commented on #346
@Stalem360 this is the frame depth, i.e. how many frames the DTS / decoded picture order count is behind the PTS / encoded picture order count. The more B-frames between the P-frames, the higher the frame depth.

@ettorps please close the issue if fixed, thanks.

[2020-09-22 19:30] jcdr428 commented on #335
@xavery no answer from @antgiant I believe we can close this issue and antgiant can re-open if needed.

[2020-09-22 19:33] jcdr428 commented on #284
@xavery no answer from @JohnLBergqvist for five months, the issue cannot be reproduced without sample.
I suggest we close this issue, JohnLBergqvist can reopen if needed.

[2020-09-22 19:35] jcdr428 commented on #279
@mukarator could you please provide details. Without details or sample we cannot work on the issue, and we will have to close it.

[2020-09-22 19:51] #335 closed

[2020-09-22 20:05] #284 closed

[2020-09-23 06:59] #346 closed

[2020-09-23 12:42] lonecrane opened #354 "Enhancement: pure TrueHD demuxing enhancement"
In the case of TrueHD stream, tsmuxer always yields a audio file consisting of thd+ac3 streams. Could tsmuxer provide more choices such as pure thd? My situation is that I usually use ffmpeg to deal with the audio files dexmued by tsmuxer. However, ffmpeg can only accept pure. If fed with thd+ac3, it will report inconsistant timestamp.
Here is a possible reference from another software:
![Untitled

[2020-09-30 19:24] jcdr428 commented on #279
@xavery no details /answer, I believe we can close the issue. @mukarator can reopen if needed.

[2020-09-30 22:52] #279 closed

[2020-10-01 16:44] Nemesh64 opened #356 "Olympus Has Fallen - B-Pyramid now with 4K"
Have overhere the 4K version from Olympus Has Fallen.
Like the bug I previously reported for Cheat Blu-Ray,
I also get the same problem with this 4K.
The audio is not in sync.
Have made a screenshot:

![Screenshot1](https://user-images.githubusercontent.com/23451125/94838997-ae993580-0416-11eb-924e-1927bcbba149.jpg)

l also added sample file (250MB): https://fil.email/3hGnsSEG

With much regards,

[2020-10-02 15:29] Xavi1987 opened #357 "Problem muxing files"
Hello,
I'm trying to mux 2 subtitle tracks and I get the following error.

I'm using macOS version

Thanks in advance.

![Captura de pantalla 2020-10-02 a las 17 22 53](https://user-images.githubusercontent.com/72267656/94941135-c800b700-04d4-11eb-9540-223b81ced246.png)

[2020-10-02 16:20] xavery commented on #357
Have you tried a current version? The screenshot says you're using 2.6.11.

[2020-10-02 17:28] jcdr428 commented on #356
@Nemesh64 c139668 is 02/09 version, bug has been fixed 12/09. Simply use latest version.

[2020-10-03 00:41] Nemesh64 commented on #356
Got it.
Works fine now.
Downloaded the wrong version.
Best regards,

Nemesh

[2020-10-03 05:50] jcdr428 commented on #356
@Nemesh64 yes the b-pyramid message is normal.
Could you please close the issue, thanks.

[2020-10-03 11:11] #356 closed

[2020-10-03 14:40] jcdr428 commented on #349
@55trucker please confirm the issue has been fixed and close the issue, thanks.

[2020-10-04 11:50] 55trucker commented on #349
Hello Dan:

issue appears to be resolved.......thx very much for your assistance

[2020-10-04 11:50] #349 closed

[2020-10-04 11:53] justdan96 commented on #349
Don't thank me thank @jcdr428 😀

[2020-10-04 12:02] 55trucker opened #358 "shrink Tsmuxer window to smaller default size"
Hello Dan:

how does one shrink the program window size to a something smaller & retain that smaller window size whenever one opens the program?, the older versions 1 have this ability.

In the attached pic is the *adjusted* window size, close the program & reopen it & the window is near twice the size.

thx
![Tsmuxer window](https://user-images.githubusercontent.com/32821797/95014884-ecb17780-061

[2020-10-05 01:51] xavery commented on #358
Should be fixed by 03ecfba796215d0e9c97cd3453d8b27cba948693 , which will be included in tomorrow's nightly build.

[2020-10-05 19:03] jcdr428 opened #360 "[bug] meta file not updated when moving tracks up or down"
From https://forum.doom9.org/showthread.php?p=1925000#post1925000:
[code]

@xavery it seems `disableUpdatesCnt--;` should be moved before `updateMetaLines();` in tsmuxerwindows.cpp
However I do not fully understand the necessity/results of this disableUpdatesCnt, so it would be nice if you can have a look at this issue.

[2020-10-05 20:05] xavery commented on #360
Me neither. I've avoided touching it until now to avoid breaking stuff, but it seems like it's inevitable now. :-)

[2020-10-06 02:25] 55trucker commented on #358
Thx very much

[2020-10-06 05:42] #358 closed

[2020-10-06 17:23] #360 closed

[2020-10-06 17:30] xavery commented on #360
I "fixed" it by moving the decrement like you suggested, which makes `updateMetaLines()` do what it says. The main point of using this variable seems to be limiting the number of recomputations of the metafile - because a lot of `changed` signals in the GUI are supposed to change the metafile, they (usually indirectly) end up calling `updateMetaLines()`.
However, completely removing all references

[2020-10-06 18:13] xavery commented on #289
@jcdr428 Can you have a look? The error still appears with the current master, and ffmpeg doesn't throw any errors while processing this file.

[2020-10-07 14:12] lonecrane commented on #204
@abakum Hi, what's the tsmuxer12.exe in your code? I would like to use your nice code to generate the meta file for a blu-ray media source.

[2020-10-07 14:44] abakum commented on #204
Hi @lonecrane There is no tsmuxer12.exe in the code, but if you rename tsmuxer.py to tsmuxer12.py then instead run tsmuxer.exe  will run tsmuxer12.exe on Windows

[2020-10-08 00:17] lonecrane commented on #204
@abakum Here is your example usage code:
`tsmuxer.py tsmuxer12.exe ULTRAHD "1917 2019 ULTRAHD BluRay 2160p HEVC Atmos TrueHD7.1-sGnb@CHDBits\BDMV\PLAYLIST\00040.mpls"+ =track=4113 + =track=4117 + =track=4352 + =track=4768 ! -
`
Here 'tsmuxer12.exe' appears.
And I would like to generate the meta file for a blu-ray disc, enabling all the streams of the disc. Could you kindly give me the correspoding

[2020-10-08 05:47] xavery commented on #204
After giving it some thought, I decided that it's actually pointless exactly due to the reasons @nabsltd listed. Closing.

[2020-10-08 05:47] #204 closed

[2020-10-08 06:29] abakum commented on #354
Off topic:  @lonecrane welcome to [tsmuxerCLI](https://github.com/abakum/tsmuxerCLI/issues)

[2020-10-11 01:07] antgiant commented on #335
Sorry I didn't respond earlier. You are correct that this turned out to be machine specific. My AV was being especially evil to me. Sorry for the false report.

[2020-10-13 00:24] xavery commented on #357
No reply for 10 days, closing.

[2020-10-13 00:24] #357 closed

[2020-10-14 12:26] 55trucker opened #363 "Tsmuxer default output folder location"
Hi there Dan:

the changes you've made have improved the user friendly flexibility of the program. I've come across one more small niggle, everything else functions great...

the default output folder that Tsmuxer processes the file into...... by default that would be the folder where Tsmuxer is actually placed.
The program has two alternatives for placing the completed work elsewhere  1. use the

[2020-10-22 17:30] mfraser opened #364 "Unsupported media type 135 for AVCHD/Blu-ray muxing"
Trying to remux a ts file into a blu-ray ISO, I'm getting the above error.

tsMuxeR version git-2d378f2. github.com/justdan96/tsMuxer
HEVC muxing fps is not set. Get fps from stream. Value: 23.976
B-pyramid level 2 detected. Shift DTS to 3 frames
Decoding E-AC3 (DD+) stream (track 2): Bitrate: 768Kbps (core 0Kbps) Sample Rate: 48KHz Channels: 5.1
Processed 1786 video frames
Flushing write buffer
C

[2020-10-22 22:31] jcdr428 commented on #364
@mfraser this is not a bug. Pure E-AC3 audio is not a Blu-ray media type, the E-AC3 must be interleaved with AC3.

[2020-10-25 20:08] poldon opened #365 "Add menu creation to Blu-ray discs."
It seems that menu creation on Blu-ray discs isn't very easy, but it would be great to have the ability to at least have a simple menu where I could just choose from the separate videos on my regular Blu-ray player.  I'm guessing AVCHD may be a good option also, but I don't see a way in txMuxeR to specify that the input videos are not different tracks of the same program.

All I'm looking for is a

[2020-10-29 08:58] craiglichtenstein opened #366 "Custom chapters don't work when writing .mkv file to Bluray disc"
I'm producing a Bluray ISO from a single MKV file as input. In the Bluray tab, I am entering a list of 61 custom chapters. But when the ISO is produced and I play the m2ts file in VLC, no chapters are present. The arguments being used by tsmuxer (according to tsmuxer gui) are these:

MUXOPT --no-pcr-on-video-pid --new-audio-pes --hdmv-descriptors --blu-ray --vbr  --custom-chapters=00:00:00.000;00:

[2020-10-29 15:22] jcdr428 commented on #366
@craiglichtenstein strange... I've just tried on my side and it is working.
Just to make sure:
- you mount the .iso as a BD-ROM drive
- VLC Media ->Open Disk -> Blu-ray -> Play
- Change chapter in Media -> Chapter
Is this correct ?

[2020-10-29 15:31] craiglichtenstein commented on #366
When I tried that approach, I saw the chapter list in VLC. However, there are two problems:

1. Despite the video starting from the beginning, VLC's chapter menu (via Playback menu -> Chapter) shows the last chapter selected.
2. If I choose any chapter, the video just starts from the beginning.

[2020-10-29 15:37] jcdr428 commented on #366
@craiglichtenstein your mkv likely does not have AUD (access unit delimiters). Try to mux with insertSEI and contSPS and see if it works.

[2020-10-29 17:26] craiglichtenstein commented on #366
The ISO worked with those settings. I'm burning the ISO to disc to see if it will playback in my LG Bluray player.

[2020-10-29 19:32] craiglichtenstein commented on #366
To close the thread, the disc played perfectly. Guess the solution was a combo of updating tsmuxer to the latest build and the steps proposed by @jcdr428. @jcdr428  - thanks for the help.

[2020-10-29 19:32] #366 closed

[2020-10-29 23:28] bouchnouk opened #367 "Skip problems with UHD discs"
Hi,

I am having a problem with Tsmuxer when I remux some UHD movies. When I burn the resulting ISO image on a Bluray disc and I read it on a Panasonic Bluray player UB820, the movie doesn't begin at 0:00. For example, the movie Extraction begins around 1:30, the movie 6 underground begins around 2:30. It is impossible to begin the playback at 0:00. Is it a bug?

Thanks in advance.

[Archive.zip](

[2020-10-29 23:35] bouchnouk opened #368 "UHD Discs impossible to play on a Bluray player"
Hi,

I am having problems when an UHD movie is remuxed with Tsmuxer. Hercules, Gladiator, Greyhound, The Banker and Roger Waters Live Concert can't be played when burned on a Bluray disc and played on a Panasonic UB820 Bluray player. The disc starts but stalls and aborts after a short while. The timer always shows 0:00 before aborting. No image is shown on the tv. I don't know what is wrong becaus

[2020-10-31 01:07] bouchnouk commented on #368
Hi,

Thank you for this answer. Tsmuxer doesn't give me the options to insert SEI and contSPS. Is it normal?

Sorry for the question. I am not an expert with mkv muxing.

<img width="1258" alt="2020-10-30_21-04-29" src="https://user-images.githubusercontent.com/20449937/97767634-b4f0ff00-1af3-11eb-8774-2d45b78d25b0.png">

[2020-10-31 15:52] efraim-il opened #369 "Question about extracting TrueHD audio"
Hi,

I noticed a note the main page: "please note TrueHD must have the AC3 core intact"
Can you please explain what it means? How can I know if the TrueHD track on a Bluray has AC3 core?
Thank you

[2020-10-31 17:09] jcdr428 commented on #369
Hi @efraim-il , all Blu-rays have interleaved AC-3/TrueHD frames -pure TrueHD (without ac3 frames) is not compatible with Blu-ray. So when you extract the TrueHD track from a Blu-ray with tsMuxer, it always have interleaved AC-3 frames.

[2020-11-01 02:40] bouchnouk commented on #368
Hi,

In the documentation it is written that insertSEI and contSPS are to be used with h264 videos only. The files that I am using are HEVC (H265). That would explain why those options are disabled. So, which directives should I follow?

Thanks in advance.

[2020-11-01 05:18] jcdr428 commented on #368
@bouchnouk sorry my mistake, you're right, the option to add AUD/SPS/PPS does not exit (yet) with HEVC.

Please give a link to download one of non-working mkv, thanks.

[2020-11-01 17:18] jcdr428 commented on #368
@bouchnouk I have analysed one of the mkv files, and as expected it is missing the AUD nal units. For whatever reason (to gain few KBs I suppose), these "Access Unit Delimiters" are deleted by mkvtoolnix.

See #168 : the enhancement for tsMuxer to add the AUD nal units to HEVC streams will be implemented once version 2.7 has been released.

In the meantime, you can simply remux your mkv to ts with

[2020-11-02 01:24] bouchnouk commented on #368
Hi,

No problem. Thank you for the information about ffmpeg. I will look forward to the next major release of Tsmuxer.

Thank you.

Best Regards.

[2020-11-02 01:53] leleobhz opened #370 "Minor issue concerning Ubuntu 20.10"
Hello!

I'm using tsMuxer with Ubuntu 20.10 with same repo as 20.04, but libicu66 (And the icu source) only exists on 20.04 - as signaled in page https://packages.ubuntu.com/source/focal/icu and in the missing page of https://packages.ubuntu.com/source/groovy/icu

Installing libicu66 manually from Ubuntu mirror worked very well but I dont know if the solution is to tsMuxer provide the libicu or if

[2020-11-02 07:51] xavery commented on #370
Just to clarify : are you using the provided package/binary, or do you compile tsMuxer yourself?

[2020-11-02 20:35] jcdr428 commented on #368
@bouchnouk avec plaisir.
Please let us know whether the prior muxing with ffmpeg solves your problem.

[2020-11-04 18:16] xavery commented on #370
I wasn't able to reproduce this with a vanilla Ubuntu 20.10 running off the install CD.
tsMuxer doesn't use ICU directly : the only ICU dependency that might exist is the one introduced by Qt, which may be compiled to use ICU in order to better support codepage conversions and provide more information about Unicode characters. However, if there are issues with Qt loading ICU libraries, then the pr

[2020-11-05 20:28] darekpro commented on #167
bump :)

[2020-11-09 18:48] leleobhz commented on #370
Hello @xavery

Sorry by the late. I'm using from the repo of 20.04 - since 20.10 isnt ready:

[code]

And libicu66 is a direct dependency of the tsmuxer package:

[code]

As the time bug got reported, libicu isn't ported to groovy but now its on version 67.1 - and in debian/control of 67 version does not replaces libicu66:

[code]

Within my Ubuntu 20.10 the issue persists:

[code]

As the package

[2020-11-09 20:25] xavery commented on #370
Oh snap, I forgot about the OBS packages that we provide. I guess it would be best to simply add 20.10 to the available repositories. Pinging @justdan96 since he's maintaining these.

[2020-11-09 22:13] justdan96 commented on #370
Bit of an odd one but I can't seem to "block" dependencies so I will just try to get the 20.10 repo up and running.

[2020-11-09 23:05] xavery commented on #370
Yup, I'm quite sure adding 20.10 to the available versions should fix this so that the package is built against the Qt packages available in 20.10. Just summing up in case I wasn't being clear :
* `libqt5core5a` in [20.04](https://packages.ubuntu.com/focal/libqt5core5a) depends on [`libicu66`](https://packages.ubuntu.com/focal/libicu66).
* `libqt5core5a` in [20.10](https://packages.ubuntu.com/groo

[2020-11-12 15:12] wang7000 opened #371 "Issue Adding Audio Track with Long Delay Time"
感谢作者大大的辛勤工作，用这个软件很长时间了，非常感谢！！！
最近用这个软件为视频添加音轨的时候发现了一个问题：新添加的音轨如果延迟时间过长（大约是超过7842ms），视频合成后，添加的音轨无法被播放软件识别，提示是“some track not recognized”。

English translation: Thanks to the author for his hard work. I have used this software for a long time. Thank you very much! ! ! I recently discovered a problem when using this software to add audio tracks to videos: if the delay time of the newly added audio tr

[2020-11-12 15:51] justdan96 commented on #371
Sorry @wang7000 I hope you don't mind but I translated your issue. Can you provide a sample under 20MB?

[2020-11-14 19:26] Viking55 commented on #363
And to be picky, the **_a_** could be dropped in _a input folder._ If not, it should say **an**.

[2020-11-14 19:57] Viking55 opened #372 "tsMuxer removing file name after clicking "browse", leaving the box empty."

[2020-11-15 03:45] Mattrak opened #373 "macOS 11.0 Big Sur"
The app won't open at all, and stuck forever at start

[2020-11-15 06:38] glc650 commented on #373
Same here.

[2020-11-15 18:50] justdan96 commented on #370
Unfortunately this is blocked until Ubuntu debbuild functionality for Ubuntu 20.10 is added in the openSUSE Open Build Service. I posted a message to IRC to ask when it would be available but no response yet.

[2020-11-15 18:53] justdan96 commented on #373
I don't have a copy of Big Sur to test with, can you please try to open the command line version of tsMuxer? You need to extract the .app file, maybe Keka can do it? https://www.keka.io/en/

[2020-11-15 20:03] glc650 commented on #373
You are talking about the "tsMuxeR" file inside of tsMuxerGUI.app?  You can get to that and the rest of the contents of tsMuxerGUI.app by right clicking and selecting Show Contents.  Where do I extract it to and what flags do I run with it?

[2020-11-15 20:15] glc650 commented on #373
sudo /Users/garrett/Downloads/tsMuxeR --version
tsMuxeR version git-5e7ca8a. github.com/justdan96/tsMuxer

[2020-11-16 11:21] justdan96 commented on #370
That was a quick turnaround from the openSUSE guys: https://build.opensuse.org/package/binaries/home:justdan96/tsMuxer/Ubuntu_debbuild_20.10

Please try out this package and repo and let me know how it goes.

[2020-11-16 11:22] justdan96 commented on #373
Can you please try to run tsMuxerGUI from the command line as well?

[2020-11-16 11:25] justdan96 commented on #370
@xavery Looks like we need to update the README to mention we support versions 18.04 - 20.10 of Ubuntu

[2020-11-16 14:22] moderndeveloperllc commented on #373
@justdan96 I can the "native" build running fine i.e., the artifact found here: https://github.com/justdan96/tsMuxer/actions/runs/346066234. @glc650 Can you try that one and see? It's better as it recognizes high DPI screens, and also light/dark mode.

The tabs along the top aren't the newer style, but that's just visual.
<img width="462" alt="ScreenShot 2020-11-16 at 8 21 20 AM" src="https://user

[2020-11-16 14:58] glc650 commented on #373
That one loads for me (haven't actually tried using it yet though)

[2020-11-16 15:24] xavery commented on #370
Works great in my Ubuntu VM. I'll update the documentation and close the issue after @leleobhz confirms that things are OK on their end as well.

[2020-11-16 16:13] leleobhz commented on #370
Hello!

[code]

And for GUI:

![image](https://user-images.githubusercontent.com/201189/99278205-84a4a280-280d-11eb-93ad-4ce770b8f90f.png)

Ready to close! Thank so much @xavery  and @justdan96 !

[2020-11-16 17:08] xavery commented on #370
README updated, closing.

[2020-11-16 17:08] #370 closed

[2020-11-17 02:57] Mattrak commented on #373
Yes that one works for me too

[2020-11-17 10:06] dfgweb commented on #149
Just fyi, under Linux with Wine, I've used ImgBurn (http://www.imgburn.com/) to build UDF2.50 images and burn them.

[2020-11-17 14:19] glc650 commented on #373
Just saw the 11/17 release and tried it but it's still broken.  So far only the release above works with Big Sur.

[2020-11-26 13:39] bernard0105 opened #374 "tsMuxeR failed to open TS files recorded by nextPVR"
Hi,
I am testing nextPVR to replace WMC in my HTPC. NextPVR records TV shows in .ts files. Those files can be read by VLC, by Kodi etc. Mediainfo can also display the media structure within the files.
I plan to use tsMuxeR as a tool to cut begin and end of the record, and sometime also to join splitted records.
Unfortunately, tsMuxer is failling to open the files.
With those versions tsMuxer_w64-n

[2020-11-26 14:02] bernard0105 commented on #374
Here are the links on pCloud :
- [5mn video](https://u.pcloud.link/publink/show?code=XZd5iRXZz0SYET4zEozgi5cuA3Dei8dKwD0y)
- [long video](https://u.pcloud.link/publink/show?code=XZuJiRXZB3MCabYdaph2xM0W33UrazBmeESV)

[2020-11-26 22:07] MarkerB commented on #256
I'd love to be able to have tsMuxer read Atmos tracks, but I don't see how what's been discussed in this thread could be right.  I've read over and over again that TrueHD cannot have an AC3 core; that a core is only something DTS-HD has.

Maybe I'm just too thick to get this.

Like... What would the procedure be to create a tsMuxer-readble Atmos track, if I have a "coreless" TrueHD/Atmos track, an

[2020-11-27 01:05] MarkerB commented on #256
I guess I believed a lot of misinformed people about TrueHD not being able to have a core!

The following thread goes into specific detail of how to use eac3to to create a TrueHd/AC3 combo track: [](http://forum.doom9.org/showthread.php?t=163296)

This seemed to work.

[2020-11-27 01:33] Mattrak commented on #373
This solution suits me

[2020-11-27 14:21] moderndeveloperllc commented on #373
@justdan96 Not sure this should have been closed if the most readily available file is not working.

[2020-11-28 11:46] justdan96 commented on #373
We use [this](https://github.com/justdan96/tsmuxer_build) Docker image to build the nightlies in Bintray, which uses osxcross to generate the OSX builds. To help us diagnose the issue can you try running the GUI with `strace`?

Meanwhile I am trying to set up a Big Sur VM today, so hopefully I can try to reproduce the issue myself.

[2020-12-01 14:25] justdan96 commented on #373
I have reproduced the issue when using the releases from Bintray. The same issue does not appear with the Mac native version. Even with the Mac native version the GUI looks a little odd - I think it is due to this issue: https://bugreports.qt.io/browse/QTBUG-85546. I can try updating Qt in the Docker container but it is actually slightly newer than the Mac native one is being built on.

It might b

[2020-12-01 14:44] moderndeveloperllc commented on #373
@justdan96 Thanks for looking into this. Only about [10% of the macOS users worldwide](https://gs.statcounter.com/macos-version-market-share/desktop/worldwide) are using something less than 10.13 and Apple is no longer doing security fixes for less than 10.13 - basically anything lower is EOL. Honestly, if I were in your shoes I would put the time into seeing if you can, as a finishing step in the

[2020-12-02 16:32] justdan96 commented on #373
I said 10.13 as that is still officially supported, we can move up through the versions as they go out of official support. I'm reticent to switch to the MacOS native build officially as the idea was that we can use one Docker container to produce all of our Windows/Mac/Linux releases. This allows offline creation of builds as well, so we aren't solely dependant on GitHub Actions.

Switching to na

[2020-12-05 19:01] xavery commented on #373
Alright, the first Mac native nightly build is now available : https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2020-12-05#files . Unfortunately, the rest is missing due to me screwing up and forgetting to make `bintray_nightly_check.sh` executable, which resulted in the "docker" part of the build failing too early.
Things should be back to normal with 2020-12-06, which will be triggered d

[2020-12-05 23:28] xavery commented on #372
Cannot reproduce : clicking the "Browse" button does not clear the input field where the file name is supposed to appear. The field is also not cleared when the "Save file" dialog is dismissed by clicking "Cancel".

[2020-12-06 02:06] xavery commented on #373
Alright, tonight's build has just finished successfully. I think this can be closed once somebody confirms that the Mac build available [at Bintray](https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2020-12-06#files) runs okay on 11.0.

[2020-12-06 11:21] glc650 commented on #373
It launches fine for me but I haven't tested any further than that.

[2020-12-06 20:43] justdan96 commented on #373
I will be soon pushing an update to the Docker container, I've made some changes so the produced executables will be compatible with MacOS 13.0-16.0.

@xavery anything else I should update in the Docker container while I'm at it?

[2020-12-07 09:16] xavery commented on #373
@justdan96 Not really. The question is, do you want to go back to Docker-based nightly builds for the Mac platform?

[2020-12-07 17:22] Viking55 commented on #372
Hi,
even though you've closed the issue, I'd like to show you how it looks on my laptop.
Screenshot enclosed.
// Michael
Closed #372.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-12-07 18:14] xavery commented on #372
Please use the website to attach the screenshot, as it seems like mail attachments are ignored - nothing got attached to the issue. Thanks!

[2020-12-08 10:10] petef19 opened #377 "Muxed UHD HDR stream is darker than original"
Hello,

I posted this on the makemkv forums and tagged your username, but did not get a response.

I remuxed the new LOTR UHD DV to m2ts file (and also a BDMV folder) via latest tsmuxer w64-nightly-2020-11-17--01-21-46 (did a 3 mins trim of disc 1), and the resulting m2ts file is **slightly less bright** in the highlights than the original UHD disc (same goes for the m2ts in the BDMV folder mux).

[2020-12-08 11:27] Viking55 commented on #372
Here's a screenshot of how it looks on my laptop.
![Save](https://user-images.githubusercontent.com/58627166/101478267-027a4a80-3983-11eb-8d89-afc6011319ab.jpg)

[2020-12-08 21:56] #372 closed

[2020-12-08 21:57] xavery commented on #372
Thanks for the clarification - I honestly had no idea which box you meant in the original description. Should be okay now.

[2020-12-09 15:34] Viking55 commented on #372
Yes, it's ok now. Thanks. I should have included the screenshot to begin with of course. Next time, ok.

[2020-12-11 09:29] xterran commented on #364
It is not true. Do not mislead users. E-AC3, also known as Dolby Digital Plus, is the standard audio codec for Blu-Ray.
Read the specifications:
https://en.wikipedia.org/wiki/Blu-ray#Audio
For this reason, E-AC3 is used without problems when using MUX on an old version of tsmuxer, for example 1.10.6.
Problems with the e-AC3 codec on the current version (from December 7, 2020) - this is a bug that

[2020-12-12 15:19] jcdr428 commented on #364
@xterran Wikipedia is not the specs. Below is an excerpt of the specs: Blu-ray DD+ is composed of interleaved AC3 frames (bsid=6 or 8) and E-AC3 frames (bsid=16).

<img width="251" alt="Blu-ray spec 9 9 5" src="https://user-images.githubusercontent.com/56721609/101987598-6bb8d100-3c95-11eb-884b-ba3bc23de37e.png">

[2020-12-13 04:35] quinnmjcj opened #379 "DV HEVC issue - secondary stream video frame timecode differs by xxxx ms"
Using tsmuxer from 12/12/20 daily build (git-943a735) - but earlier builds exhibit this also.
Get a dolby video UDH 4K disk (doesn't matter - seems to happen on them all).
If you use makemkv to create an mkv - everything works fine.
Now - use tsmuxer and demux the 2 video streams.
Then - use tsmuxer to remux the 2 streams into a bluray disk.
Now use makemkv to extract an mkv from that disk - You g

[2020-12-13 19:31] quinnmjcj commented on #379
Update - if I extract the streams (using tsmuxer) from this re-created bluray - they're exactly the same as the original streams that were used to mux the bluray (as one would expect).  So this means there's something slightly different about the muxed bluray that makemkv sees as timecode variances (I'm assuming somehow the timecodes of the 4K and the 1080p streams got out of sync), but how they'r

[2020-12-13 20:49] jcdr428 commented on #377
Hello @petef19, is this also the case for this frame (muxed less bright than original) if you remux the whole of the movie ?

[2020-12-14 11:25] petef19 commented on #377
@jcdr428

I just remuxed the entire movie (LOTR UHD HDR Disc 1), once from the playlist and once directly from the main m2ts file.

Both of the full movie remuxes match the brightness of the original movie in full tv-led DV.

so it seems the trim introduced the change in brightness, and just to note the brightness change was throughout the entire 3 mins trim, as I tested 5 different scenes...

is

[2020-12-14 17:20] jcdr428 commented on #377
@petef19 I was expecting this. Each sequence in the stream contains the HDR max & min "display_mastering_luminance" info, which can vary along the movie.
When you mux the whole movie, the max and min is calculated on all sequences.
When you mux only a small part, the max and min is calculated on this part only.
The only way to solve this would be for tsMuxer to scan the whole stream before muxing,

[2020-12-14 18:27] jcdr428 commented on #377
@petef19 I was expecting this. Each sequence in the stream contains the HDR10 max & min "Display Mastering Luminance" info (and the max "Content Light Level" and "Frame Average Light Level" info for HDR10+), which can vary along the movie.
When you mux the whole movie, those max and min are calculated on all sequences.
When you mux only a small part, those max and min are calculated on this part o

[2020-12-14 22:35] petef19 commented on #377
no worries, this was just a test, and good to know that for trims of HDR content this will be affected

why do you re-calculate the max/min when the entire movie is muxed ? can you not just copy the original values ?

Thanks.

[2020-12-15 05:27] jcdr428 commented on #377
The values are extracted from the raw stream, so that it is independent of the container.
Indeed, tsMuxer could first check whether the format is Blu-ray, and if there are already HDR info values in the mpls.

[2020-12-15 12:58] petef19 commented on #377
yeah agreed, if output is BDMV folder (and no trim/split/cut), then the original data should be untouched as much as possible

[2020-12-15 20:01] jcdr428 commented on #374
Bonjour @bernard0105, aside from the fact that the detection of DVB subtitles does not work (yet), the error seems to be due to the DVB stream been falsely detected as a hevc stream, resulting in tsMuxer crashing without warning.
Please try again once the fix #380 has been merged, and report.
Merci !

[2020-12-15 23:24] xterran commented on #364
@jcdr428

Ok. And what?
As I see DD+ used in Blu-ray. So Tsmuxer must work with it. And Tsmuxer 1.10.6 (old) work normaly. 2.6.12 - not work.
What is the obvious conclusion?

[2020-12-19 13:17] jcdr428 commented on #364
Obvious conclusion is 1.10.6 was accepting non-compliant E-AC3 streams for Blu-ray muxing, and this bug has been fixed by Roman in 2.6.12.
Why would you want to be able to output non-compliant Blu-rays ?

[2020-12-19 15:32] xterran commented on #364
1. Do you want to say that an article about such a well-known standard as blu-ray on wikipedia (which is read by tens (if not hundreds) of millions of people a year) contains incorrect information? Such an event is almost impossible. otherwise, the error would have been noticed and corrected 15 years ago (and then another 10,000 times annually). why didn't you file a complaint about the article (w

[2020-12-19 19:19] xavery commented on #364
Adding my 2¢ as a third party observer who does not know anything about Blu-ray specs : the paragraph you cited (grossly out of context, I may add) is *exactly* why what you want to be implemented does not follow the specification.

The beginning of the paragraph clarifies that a "Dolby Digital Plus audio stream" (as far as the BD specs are concerned) means :

What the substreams should contain is

[2020-12-19 20:07] xterran commented on #364
It's very good that we found out.
Now the next question is: which version of Tsmuxer can correctly determine whether a DD+ track meets the special requirements of the BD specification.
Let's say I have a DD+ file and it is normally muxed in 1.10.6 and then works on players, but it is not muxed in version 2.6.12.
What does this mean?

[2020-12-19 20:09] jcdr428 commented on #364
@xterran Please supply a link to download the DD+.

[2020-12-24 17:02] bairradino opened #386 "TsMuxer muxing blu-ray iso"
I tried to get a Blu-ray iso from my UHD-HLG mp4 video file but when starting muxing I get "tsMuxer finished with error code -1073741819" error.
What am I doing wrong? Here the characteristics of my video file:

General
Complete name : E:\Blu-Ray\Casamento_UHD.mp4
Format : MPEG-4
Format profile : Base Media / Version 2
Codec ID : mp42 (isom/mp42)
File size : 16.2 GiB
Duration : 38 min 22 s
Overall

[2020-12-24 17:36] jcdr428 commented on #386
@bairradino can you please give a link to download a sample  (20-50 MB is enough) of the hevc stream -not of the mp4 file.

Also, were the previous tsMuxer versions working ?

[2020-12-26 10:52] bairradino commented on #386
I didn't try older versions.
I Demuxed the mp4 file with tsMuxer, and then tried to Mux to Blu-ray Iso.
Here the files:
https://1drv.ms/u/s!AuYcZ0yHv3DtbTSqlQUJnUbe55c?e=Y2M0CD

[2020-12-26 11:34] jcdr428 commented on #374
@bernard0105 please try the latest bintray version and report, thanks.

[2020-12-26 17:24] jcdr428 commented on #386
Ok. Thanks @bairradino for the sample, this is the first time I try a HLG stream with tsMuxer !

Should be fixed with #387 , please wait for it to be merged then report to confirm whether this has solved the issue.

[2020-12-26 19:48] bairradino commented on #386
I must wait for the new release, right (not the one of today)?
Can I continue to use the GUI or I must use the command line (is not to friendly for me)?

[2020-12-26 19:55] jcdr428 commented on #386
Just watch #387 , when the top left green "Open" becomes a blue "Merged" then you can download the [Bintray nightly](https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/_latestVersion#files) (including GUI) the next morning.

[2020-12-26 20:03] bairradino commented on #386
Wonderful.
Thanks.

[2020-12-27 19:21] bairradino commented on #386
I tried with Bintray nightly of today, and didn´t work with samples I gave you.
Same error.

[2020-12-27 19:26] jcdr428 commented on #386
@bairradino you have to wait for the fix #387 to be merged by @xavery to the master branch.

[2020-12-28 16:48] jcdr428 commented on #386
@bairradino the patch has been merged, please try the Bintray 29-12 tomorrow.

[2021-01-03 15:24] DreckSoft commented on #364
I encountered the same issue. What I did as a workaround. Mux one time without the DD+ track and a second time with the DD+ track and then edit the playlist file (the one from the first mux) with BDEdit.

In general: Why don't you just offer a "Create non standard-compliant Blu-Ray" option. I sometimes mux MP2 soundtracks (from SAT recordings) using the workaround above. I just also want to keep t

[2021-01-04 11:14] bairradino commented on #386
It seems to work.
I'm not sure about color rending but I will test it more careful when having material long enough.

[2021-01-04 11:18] bairradino opened #388 "Importing MP4 vídeos with 5.1 AC3 audio"
It seems that tsMuxer is not able to read 5.1 ac3 encoded audio...
I tried to demux several mp4 files with 5.1 ac3 audio and tsMuxer did note open them, but no errors.

[2021-01-04 16:35] jcdr428 commented on #386
Ok. @bairradino please close this issue, and you can open a new issue if there is a problem with the HLG color rendering.

[2021-01-04 19:26] jcdr428 commented on #388
Bizarre... No problems on my side. Please provide a link to a problematic mp4 (sample < 50 MB).

[2021-01-04 21:58] xterran commented on #364
BD https://rutracker.org/forum/viewtopic.php?t=5669914
+ Rus DUB netflix E-AC3 5.1
+ eng commentary E-AC3 2.0
https://rutracker.org/forum/viewtopic.php?t=5901932
or https://yadi.sk/d/eIslGwioCChalw

The old muxer 1.10.6. collects normally.
New muxer 2.6.12 (December 7, 2020) buggy: once you collect something normal, next time - no sound. It seems that the muxer does not remember the position of th

[2021-01-05 19:40] jcdr428 commented on #364
@xterran can you please open another issue, thanks.

[2021-01-06 18:55] xterran commented on #364
@jcdr428
Rus DUB netflix E-AC3 5.1
eng commentary E-AC3 2.0
added to BD. What is not clear?
Why do I need a new issue?

[2021-01-06 19:10] jcdr428 commented on #364
@xterran I still don't follow: first link is a BD with DTS-HDMA audio, second link is a mkv with E-AC3 audio. What is your point, what is the relation with the current issue ?

[2021-01-08 04:00] bouchnouk opened #389 "Problem importing video into Tsmuxer: Error track 0 was not recognized"
Hi,

Since 2-3 days, I am having problems with Tsmuxer when I import a video from a MKV file. I am getting an error message: "Track 0 was not recognized and ignored". This message never occurred before with previous version of Tsmuxer. Please see the images. Has a bug sneaked in?

I am on MacOS Catalina 10.15.7 using Tsmuxer version of January 7th, 2021.

Thanks in advance.

<img width="1256" alt=

[2021-01-08 14:48] xterran commented on #364
@jcdr428, what do you do on this forum if you don't understand what tsmuxer is and what it was created for?
https://yadi.sk/i/L3l0rdb8Qr1xWA

[2021-01-08 15:01] GREMeZ opened #390 "Incorrect Codec ID and Codec configuration box values for Dolby Vision profile 8 mux"
Accordint to "Dolby Vision Streams Within the ISO Base Media File Format Version 2.1.2 specification" for DV p8, converted from UHD BR, values should be:
Codec configuration box : hvcC+dvvC
Codec ID : hev1

tsmuxer sets only Codec ID: 36 and skip mandatory "Codec configuration box"

[2021-01-09 13:24] jcdr428 commented on #390
@GREMeZ "Dolby Vision Streams Within the ISO Base Media File Format Version 2.1" specification is for ISO MP4 files.

Please have a look at "Dolby Vision Streams Within the Mpeg-2 Transport Stream Format  Version 1.2" specification for Mpeg-TS: the value of stream_type (= Codec ID) is 0x24 = 36 for HDR or SDR compliant BL, or 6 otherwise.

[2021-01-09 17:02] GREMeZ commented on #390
Thanks for clarification

[2021-01-09 17:02] #390 closed

[2021-01-10 21:49] jcdr428 commented on #389
@bouchnouk should be fixed by #391, please wait for this fix to be merged.

[2021-01-11 00:04] bouchnouk commented on #389
Understood. Thank you.

Best Regards.

[2021-01-11 10:20] darekpro commented on #389
Heh funny because just I wanted write the same thread with problem.

[2021-01-11 17:12] jcdr428 commented on #389
@bouchnouk @darekpro could you please confirm that the issue is solved with [latest nightly](https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly/2021-01-11#files) ?

[2021-01-11 17:18] jcdr428 commented on #388
@bairradino thanks for the link: it is an interesting mp4 with several mdat (media data) boxes, which is allowed by the ISO standard but rather unusual for non-fragmented mp4. tsMuxer does not cope yet with these kinds of mp4, I'll try to see if I can make it work when I have time.

[2021-01-11 17:21] darekpro commented on #389
Yes ofc for my is fine now.

[2021-01-11 18:16] bairradino commented on #388
Thanks for your effort.Enviado do meu Galaxy
-------- Mensagem original --------De : jcdr428 <notifications@github.com> Data: 11/01/21  17:18  (GMT+00:00) Para: justdan96/tsMuxer <tsMuxer@noreply.github.com> Cc: bairradino <mfborras@gmail.com>, Mention <mention@noreply.github.com> Assunto: Re: [justdan96/tsMuxer] Importing MP4 vídeos with 5.1 AC3 audio (#388)
@bairradino thanks for the link: it is

[2021-01-12 00:03] bouchnouk commented on #389
Hi,

Problem solved. That was fast! Thank you very much.

Best Regards.

[2021-01-12 17:04] jcdr428 commented on #389
@bouchnouk y'a pas de quoi ;) Please close the issue, thanks.

[2021-01-13 03:00] #389 closed

[2021-01-13 16:39] jcdr428 commented on #364
@xavery this "non-issue" can be closed.

[2021-01-13 16:40] jcdr428 commented on #386
@xavery this issue can be closed.

[2021-01-13 16:43] jcdr428 commented on #374
@xavery despite @bernard0105 not coming back, I believe the patch fixed the issue and the issue can be closed. @bernard0105 can request to re-open if needed.

[2021-01-20 12:59] #386 closed

[2021-01-27 19:54] jcdr428 commented on #388
@bairradino Unfortunately too complicated for me. tsMuxer currently processes mp4 having a single mdat with interleaved track chunks/samples, however your mp4 has a separate mdat box for each track (audio and video). The changes to be made to tsMuxer are above my coding capabilities...
Until somebody pushes a fix, you can simply remux the mp4 with ffmpeg or mp4box before processing with tsMuxer.

[2021-02-03 07:49] NigelX opened #395 "heap-buffer-overflow tsmuxer"
hello，guys.I use afl-fuzz to test tsMuxer.I found a crash.

[code]

tsMuxer: 2.6.16
OS:ubuntu 20.04

[poc.zip](https://github.com/justdan96/tsMuxer/files/5916863/poc.zip)

Asan log
[code]

gdb
[code]

[2021-02-03 16:48] jcdr428 commented on #395
@NigelX your poc.wav is actually an incomplete mp4 file, is this intentional ?

[2021-02-03 19:07] xavery commented on #395
I'd say so, given how it's actually the fuzzers' job to generate almost-valid-but-not-really data. The extension is irrelevant in this case.

[2021-02-03 19:29] #395 closed

[2021-02-04 00:09] xavery opened #397 "Bintray is shutting down"
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Bintray will not be accepting any new submissions (I'm assuming this also means new package versions) after the 28th of February.
We should probably move to use GitHub Releases for hosting the nightly builds : appropriate actions (for example [create-release](https://github.com/actions/create-release)) in the workflo

[2021-02-04 01:04] NigelX commented on #395
Thanks for the fix

[2021-02-06 01:10] xavery commented on #397
All nightly builds are now available as GitHub Releases. Each commit which was used as the source of a nightly build is also tagged with a `nightly-xxx` tag.

[2021-02-06 11:59] jcdr428 commented on #397
Very good.
We'll have the usual complaints and conspiracy theories on Doom9 regarding the fact that people need to log in to GitHub.

[2021-02-06 12:55] xavery commented on #397
Actually, no. Downloading *releases* (as opposed to build artifacts from workflow runs) does not require an account on GitHub. Try going to the [tsMuxer releases site](https://github.com/justdan96/tsMuxer/releases) in incognito mode and see for yourself. :-)

[2021-02-06 15:54] nstephenh opened #398 "Audio Conversion from E-AC3(DD+) to AC3 removes sound"
This could be user error, but I've been trying to author a disk for a while now and VLC won't play any of the ISOs I've made. I decided to poke around in it a bit and the stream directory is populated as expected and the file plays properly, but there are no files in the playlist directory. Do I need to trigger the creation of these files somehow, or is this a glitch or a problem with my source fi

[2021-02-06 16:13] jcdr428 commented on #398
@nstephenh can you please post a link for a sample of the source file ?

[2021-02-06 17:43] nstephenh commented on #398
Update:
Video I ripped from youtube generates a playlist file, so its definitely a me/my file problem. Also, using folder mode and doing a failed conversion
The file is encoded with E-AC3(DD+) audio. Apparently I was getting an error marked as "Unsupported media type 135 for AVCHD/Blu-ray muxing" which I assumed was a warning that it may not properly play on some players. This is apparently the re

[2021-02-06 17:47] jcdr428 commented on #398
@nstephenh yes the problem comes from the fact that theBlu-ray spec does not support pure DD+ (E-AC3).
You would have to convert your pure DD+ to a DD+ with DD(AC3) core or to a DD, with ffmpeg or eac3to, before muxing with tsMuxer.

[2021-02-06 18:46] nstephenh commented on #398
Alright then, I'll put my solution here for the next person to stumble across. This was just the first solution I found when googling, if there are settings I could change to get a better output result please let me know.

[code]

I do think the error should be made more distinct, and perhaps remove the output file so that someone like me doesn't try to use the unusable output.
Another thing would

[2021-02-07 20:30] justdan96 commented on #397
Great to see us resolving this so quickly! I thought we'd be looking at alternatives for ages :smile:

[2021-02-09 20:23] xavery commented on #397
The builds failed due to a `Skip output 'upload_url' since it may contain secret` error, most probably caused by the repository's set of secrets. @justdan96 was notified about this, since he's the only one who can access and/or remove secrets.

[2021-02-11 12:04] ValZapod commented on #311
I cannot reproduce on your samples. I use latest ffmpeg from here: https://github.com/BtbN/FFmpeg-Builds/releases

[2021-02-11 12:06] ValZapod commented on #377
For HDR10. HDR10+ is completely different level of metadata. Static metadata is also allowed to change.

[2021-02-12 17:22] #397 closed

[2021-02-12 17:25] xavery commented on #397
The README now points to the GitHub releases page, and both builds yesterday passed - as such, this can be closed and we can now consider ourselves fully migrated.

[2021-02-14 17:43] jcdr428 commented on #311
@tormento on my side I have transcoded the two provided files to ac3 with ffmpeg, and both ac3 have the exact same length.
I don't think the issue comes from the "17-bit XLL" ffmpeg warning. As you pointed out, tsMuxer and MakeMKV might have different ways of detecting/removing overlapping frames.
What is the exact length (in bytes) of the resulting AC3 file, from tsMuxer and from MakeMKV ?

[2021-02-16 00:32] O77T opened #401 "How to remove Delay (in ms): -43 for audio after export into UHD video ?"
my original video was mt2t 4K UHD, where the audio was not out of sync with the video after i recorded it using VLC player but after i exported on latest tsmuxer GUI git-a50c2c5 to create UHD video the audio is out of sync. I could only add the .m2ts file to TSmuxer as .ts file which i renamed since it could not recognize the file as .m2ts. Anyone know how to i can create UHD video with audio not

[2021-02-16 00:35] O77T commented on #401
The media info is the original m2ts file with the specs of the video and with audio

[2021-02-17 16:17] jcdr428 commented on #401
@O77T can you please upload and give a link to a sample of the original m2ts file.

[2021-02-17 18:16] O77T commented on #401
Actually my mistake the original files is .ts not .m2ts

[2021-02-17 18:18] O77T commented on #401
Do you want the ts file uploaded there is no link for it

[2021-02-17 18:44] jcdr428 commented on #401
Yes please upload part of the TS to a cloud service and provide the link.

[2021-02-18 03:33] O77T commented on #401
I don't know how to do that can i just email you the ts file its only 740.2MB size and FYI the original audio is in sync with video . After I exported as UHD video on Ts muxer the audio is out of sync with video.

[2021-02-18 05:27] jcdr428 commented on #401
@O77T it would better to use a file sharing service (eg OneDrive, Google Drive, Dropbox, Webtransfer, Mega etc) to allow anybody to look at the issue and/or work on it.

[2021-02-19 03:26] O77T commented on #401
Here is the link to the ts file https://mega.nz/file/YpEThKhQ#9gSc2dMmbTkbrzRt7uuHOxnjoDOo77_GBpyH-frOooY

[2021-02-21 20:00] jcdr428 commented on #401
@O77T the error comes from the fact that the beginning of the hevc stream is full of errors. Fromm ffprobe:
[code]
If you transmux with ffmpeg (ffmpeg -i "Melbourne 2021.ts" -c:v copy -c:a copy éMelbourne 2021.m2ts"), you will see that ffmpeg will produce the same audio delay.

[2021-02-22 02:43] O77T commented on #401
were you able to fix this delay problem or no?

[2021-02-22 18:56] jcdr428 commented on #401
Just mux the m2ts with 0ms timeshift.

[2021-02-23 05:27] jcdr428 commented on #401
No. tsMuxer is not foolproof or robust enough, you have to use correct inputs to obtain correct outputs.

[2021-03-03 09:07] dav1977 opened #402 "not support codec"
not support AURO-3D

[2021-03-03 15:47] xavery commented on #402
Information about this format is scarce. Could you provide a specification?

[2021-03-08 13:23] michaelsft opened #403 "AVCHD same as UHD Blu-Ray option?"
Hi there, sorry if this is totally the wrong place to ask this but I saw some screenshots on here that had an option to create UHD files but when I look at my copy of tsMuxer (a recent nightly build) it only has AVCHD. Is this the same thing? I've a 4k mkv that I want to put on a BDXL but getting it from mkv to UHD is challenging as the information I've found is a little hard to come by and vague.

[2021-03-10 16:14] michaelsft commented on #368
Hi there, I am trying the prior mixing with ffmpeg now. In order to preserve audio, subs and chapters I added the new ts file in and unticked the single audio track and then dropped in the original mkv and unticked it's video track effectively combing both. I am presuming of course that the AUD units are only required on the video stream as I have no idea what they are!

Is there a tool available

[2021-03-10 21:22] jcdr428 commented on #403
@michaelsft AVCHD is a different format than Blu-ray.
Just select Blu-ray (ISO or Files) and it will detect UHD automatically.

[2021-03-11 10:07] michaelsft commented on #403
Got it, thanks jcdr. I'll create a BD ISO and use ImgBurn and hopefully everything will work out just fine.

[2021-03-22 00:11] cob66 opened #404 "3D issue in 64bit Windows ver"
There is a bug in 3D muxing. ISO file is played as 4K 2D instead of 1080 3D.
32bit version works well.

[2021-03-24 05:38] SeaDaddytheRed opened #405 "Can't open file (MacBook Air M1)"
Hello, I followed the dependency instructions in the readme but I am still unable to open any files.  I get the following error.

`dyld: Library not loaded: /usr/local/opt/freetype/lib/libfreetype.6.dylib
  Referenced from: /Volumes/WD500/nightly 2021-02-13/tsMuxerGUI.app/Contents/MacOS/tsmuxer
  Reason: image not found`

[2021-03-24 09:10] michaelsft opened #406 "Force BD-ROM V3 - UHD Compliant"
Hi there, I've been advised that by checking this box I can make my 4k MKV 'UHD Compliant' when exporting as either an iso or folders. I was also told it was make the iso UDF 2.60 but in ImgBurn it still comes out as UDF 2.50 and the video skips in my Panasonic UB450 (which can play BDXL discs). In ImgBurn I can add the folders in and set the UDF to 2.60 manually but the disc shows up as the folde

[2021-04-09 18:09] bouchnouk commented on #368
@jcdr428 It seems to solve the problem unless Dolby Vision is used. Ffmpeg seems to destroy Dolby Vision information. That's unfortunate.

Best Regards.

[2021-04-12 06:45] Slava46 opened #407 "Don't open file (DV .mp4)"
Last tsMuxer version just ignored this .mp4 file with Dolby Vision and just nothing happened. Different files with DV opening fine.

MediaInfo:
[code]

[2021-04-12 19:47] jcdr428 commented on #407
@Slava46 if you try to load the hevc stream only into tsMuxer, does it work ?

[2021-04-12 19:50] Slava46 commented on #407
How to extract .hevc from .mp4 without loss Dolby Vision metadata?

[2021-04-12 20:17] jcdr428 commented on #407
The DV metadata is part of the hevc stream. You can extract e.g. with ffmpeg in a cmd console:
`ffmpeg.exe -i input.mp4 -c:v copy output.hevc`

[2021-04-13 07:18] Slava46 commented on #407
Yes, like that tsMuxer eat .hevc fine. Thx.

[2021-04-24 19:14] dikonov opened #408 "Ability to split by chapter"
There are several almost useless split options, but no option to split output by chapter boundaries. Please, add!

Maybe, it is even possible to extract some meaningful human names for individual titles and chapters on a BD...

[2021-04-25 05:48] NigelX opened #409 "Crash of tsmuxer of hevcStreamReader.cpp in function HEVCStreamReader::updateStreamFps"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

tsMuxeR version git-a50c2c5

------------------------------------------
Verification steps：
1.Get the source code of tsMuxer
2.Compile the tsMuxer
[code]
3.run poc
[code]
file: [poc.zip](https://github.com/justdan96/tsMuxer/files/6371318/1.tsmuxer_HEVCStreamReader_poc.wav.zip)

asan info:
[code]
Thanks

[2021-04-25 05:50] NigelX opened #410 "heap-buffer-overflow of tsmuxer of bitStream.h in function BitStreamReader::getCurVal"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

tsMuxeR version git-a50c2c5

commit : a50c2c5a169546beaa6fff93f1be785b3b8aed68

------------------------------------------
Verification steps：
1.Get the source code of tsMuxer
2.Compile the tsMuxer
[code]
3.run poc
[code]
file:
[poc.zip](https://github.com/justdan96/tsMuxer/files/6371321/2.tsmuxer_BitStreamReader_poc

[2021-04-25 05:52] NigelX opened #411 "heap-buffer-overflow of tsmuxer of hevc.cpp in function HevcSpsUnit::short_term_ref_pic_set(int)"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

tsMuxeR version git-a50c2c5

commit：a50c2c5a169546beaa6fff93f1be785b3b8aed68

------------------------------------------
Verification steps：
1.Get the source code of tsMuxer
2.Compile the tsMuxer
[code]
3.run poc
[code]
file:
[poc.zip](https://github.com/justdan96/tsMuxer/files/6371327/3.tsmuxerHevcSpsUnit_short_term

[2021-04-25 16:34] jcdr428 commented on #408
@dikonov +1 splitting by chapter is a good idea.
Most of the distributors use images rather than text for chapter names, IMHO extracting these names would be difficult.

[2021-04-25 17:10] jcdr428 commented on #407
@Slava46 if you provide a link to download your mp4, I can have a look.

[2021-04-26 19:22] vandenk opened #414 "Bug with Nightly build from 2021-02-13-01-46-27"
Stereoscopic Player 2.5.1 sees no subtitle !
it's ok with versions tsmuxer64-2020-11-05--01-21-49 and tsmuxer64-2020-10-07--02-32-42 ...

3D blu-ray remux.
Windows64.

[2021-04-26 21:30] jcdr428 commented on #410
@NigelX I cannot reproduce this one on Windows 10 64-bit.

[2021-04-26 21:39] jcdr428 commented on #414
@vandenk can you test various builds and identify which build created this bug ?

[2021-04-27 00:26] NigelX commented on #410
@jcdr428  I compiled it on ubuntu20.04 but have not compiled it in windows. Can you tell me the steps?

[2021-04-27 00:30] NigelX commented on #410
@jcdr428  I added -DCMAKE_BUILD_TYPE=Release when compiling

[2021-04-27 18:56] jcdr428 commented on #410
@NigelX on Windows I use the Visual Studio Community sotware. Generating the required .sln solution file via `CMake -G "Visual Studio 16"` for VS 2019.

[2021-04-27 22:37] jcdr428 commented on #403
@michaelsft or @xavery please close the issue, thanks.

[2021-04-27 22:51] xavery commented on #403
Closing as requested.

[2021-04-27 22:51] #403 closed

[2021-04-27 22:53] jcdr428 commented on #401
@O77T or @xavery please close, thanks.

[2021-04-27 22:53] xavery commented on #401
Closing as requested.

[2021-04-27 22:53] #401 closed

[2021-04-28 10:04] dikonov commented on #408
Even if it turns to be impossible to get the names, splitting by nameless numbered chapters would still be useful.

[2021-04-29 09:43] #409 closed

[2021-04-29 09:48] #411 closed

[2021-04-29 13:35] vandenk commented on #414
Yes I download : https://www4.yggtorrent.li/torrent/film-video/film/331272-skyscraper+2018+multi+3d+full+bluray+1080p+avc+truehd+atmos+7+1-hodl

After download I put in DVDFab 11.0.8.5 (film principal) : save in .iso

Open the new .iso with tsmuxer64-2021-02-13-01-46-27 remove VFQ and add VFF (eac3) and remux : Stereoscopic Player 2.5.1 sees no subtitle.

I also opened the new .iso with tsmuxer64-

[2021-04-29 17:03] xavery commented on #408
@jcdr428 It looks like the Blu-Ray structures themselves don't have any information about chapter names. I can't see any code in `libbluray` which would allow retrieving names. Similarly, `mkvtoolnix` (which has its own Blu-Ray parsing code as far as I remember) doesn't transfer chapter names when remuxing from BD to MKV.
If you have any information about where to find names in the structures, ple

[2021-04-29 21:43] jcdr428 commented on #408
Hi @xavery, some distributors such as Criterion or Masters of Cinemas include the chapter names in text files inside the JAR folder -see e.g. [eng_us.txt](https://github.com/justdan96/tsMuxer/files/6401735/eng_us.txt) from "Rosemary's Baby".

The way Criterion builds his menus via xml/txt files is interesting: much simpler than the BD-Java used by most large distributors; this would need a bit of

[2021-05-10 05:04] huntr-helper opened #415 "🚨 Potential Classic Buffer Overflow (CWE-120)"
👋 Hello, @justdan96 - a potential high severity Classic Buffer Overflow (CWE-120) vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-justdan96/tsMuxer** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️⃣ Propose a patch or outsource it to ou

[2021-05-10 20:01] justdan96 commented on #415
fixes have already been pushed to the repo, #396 #412 #413

[2021-05-10 20:07] #364 closed

[2021-05-10 21:23] huntr-helper commented on #415
📦 A patch has been submitted for this report. 🔗 Check the patch (https://github.com/justdan96/tsMuxer/compare/HEAD...justdan96:fix-obs-trigger) or visit the advisory page (https://huntr.dev/bounties/1-other-justdan96/tsMuxer) for more information.

[2021-05-11 10:28] justdan96 commented on #406
Can you attach the log from when you are creating the file?

[2021-05-13 08:46] adam-nygate commented on #415
Hi @justdan96 I've now closed this report on our end. Thanks for your prompt response on this :)

[2021-05-13 17:49] jcdr428 commented on #406
@michaelsft You have to burn Blu-ray movies with UDF 2.5. Use 2.6 for file storage.
A UHD BD-Rom 100GB has a transfer rate of up to 128 Mbps, so you have to use BDXL with 4x read speed on the whole of the disk -not e.g. a 2x-4x which will achieve the 4x on the external side of the disk.

[2021-05-13 17:58] vandenk opened #416 "Is there a way to add the option "3d-pg-planes: 32" MVC ?"
PGS subtitle problem in 2D (iso 3D AVC MVC).

Reading the .mpls file we see that there is a problem with the MVC track, it is missing "3d-pg-planes: 32", the subtitles not the "plane #" option ...
![Tsmuxer1](https://user-images.githubusercontent.com/11425010/118166172-6e2a7d00-b425-11eb-8542-445832f411a6.png)
Same in the .ssif
![Tsmuxer2](https://user-images.githubusercontent.com/11425010/1181661

[2021-05-19 08:33] NigelX opened #417 "heap-buffer-overflow of bitStream.h in function getCurVal"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

tsMuxeR version git-5a9adef

------------------------------------------
Verification steps：
1.Get the source code of tsMuxer
2.Compile the tsMuxer
[code]
3.run poc
[code]
file:
[poc.zip](https://github.com/justdan96/tsMuxer/files/6507109/poc1.zip)

info:
[code]
Thanks

[2021-05-19 08:35] NigelX opened #418 "heap-buffer-overflow of hevc.cpp in function updateBits"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

tsMuxeR version git-5a9adef

------------------------------------------
Verification steps：
1.Get the source code of tsMuxer
2.Compile the tsMuxer
[code]
3.run poc
[code]
file:
[poc.zip](https://github.com/justdan96/tsMuxer/files/6507119/poc2.zip)

 info:
[code]
Thanks

[2021-05-19 08:36] NigelX opened #419 "overflow of bitStream.h in function putBits"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

tsMuxeR version git-5a9adef

------------------------------------------
Verification steps：
1.Get the source code of tsMuxer
2.Compile the tsMuxer
[code]
3.run poc
[code]
file:
[poc.zip](https://github.com/justdan96/tsMuxer/files/6507130/poc3.zip)

 info:
[code]
Thanks

[2021-05-19 08:37] NigelX opened #420 "overflow of hevc.cpp in function updateBits"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 10.0.0 , gcc 9.3.0

tsMuxeR version git-5a9adef

------------------------------------------
Verification steps：
1.Get the source code of tsMuxer
2.Compile the tsMuxer
[code]
3.run poc
[code]
file:
[poc.zip](https://github.com/justdan96/tsMuxer/files/6507141/poc4.zip)

 info:
[code]
Thanks

[2021-05-20 12:38] #415 closed

[2021-05-22 16:27] cemonatk opened #423 "heap-buffer-overflow in SEIUnit::deserialize"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

System info：
Ubuntu 21.04
tsMuxeR version git-f6ab2a2

To run PoC:

[code]

Asan output:
[code]

[2021-05-22 16:27] cemonatk opened #424 "heap-buffer-overflow in BitStreamWriter::flushBits"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

System info：
Ubuntu 21.04
tsMuxeR version git-f6ab2a2

To run PoC:

[code]

[code]

[2021-05-22 16:28] cemonatk commented on #424
[crash_2.zip](https://github.com/justdan96/tsMuxer/files/6526788/crash_2.zip)

[2021-05-22 17:00] cemonatk commented on #423
[crash_17.zip](https://github.com/justdan96/tsMuxer/files/6526839/crash_17.zip)

[2021-05-23 16:57] jcdr428 commented on #416
@vandenk as explained on doom9.org, the 3D planes are detected from the metadata in the clpi and in the m2ts. There is no point giving the option to select a plane number for which there is no corresponding metadata.

[2021-05-23 17:20] jcdr428 commented on #414
@vandenk most of us don't have 3D / Stereoscopic Player.
There are too many versions between 2020-11-05 and 2021-02-13.
Please download the tsMuxer versions on https://bintray.com/justdan96/tsMuxer/tsMuxerGUI-Nightly, and try to find out which version / commit resulted in the subtitles not working in the player.
E.g. version 2020-31-12 is working => try version 2021-01-15. Not working => try versi

[2021-05-23 17:23] jcdr428 commented on #407
@Slava46 if we don't have the mp4 sample, we cannot debug the issue and we will have to close it.

[2021-05-23 17:35] jcdr428 commented on #404
@cob66 I cannot reproduce. Can you please upload the buggy 64bit output iso and the working 32bit output iso.
Preferrably a small sample.

[2021-05-23 18:25] jcdr428 commented on #402
@dav1977 what do you mean AURO-3D not supported ? The Auro-3D channels are embedded in the audio track, and a priori those channels are not omitted by tsMuxer.

[2021-05-24 13:22] cemonatk opened #426 "Out-of-bounds Read in VC1SequenceHeader::decode_sequence_header_adv of vc1Parser.cpp"
Greetings,

tsMuxer has an Out-of-bounds Read issue whenever runs with the PoC sample.

Found by **Cem Onat Karagun of Diesec**

System info：
[code]

To run PoC after unzip:

[code]

[global_oob.zip](https://github.com/justdan96/tsMuxer/files/6532598/global_oob.zip)

Chronological Function-Call Trace:

1. detectStreamReader(char const*, MPLSParser*, bool) /src/build/../tsMuxer/main.cpp:120:34
2. M

[2021-05-24 18:09] cemonatk opened #427 "heap-buffer-overflow in SEIUnit::mvc_scalable_nesting"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

System info：

[code]

To run PoC after unzip:
[code]
[scalable_nesting_poc.zip](https://github.com/justdan96/tsMuxer/files/6534179/scalable_nesting_poc.zip)

Asan output:

[code]

[2021-05-24 18:10] cemonatk opened #428 "Divide-by-zero in AC3Codec::decodeDtsHdFrame"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**.

System info：
[code]

To run PoC after unzip:
[code]

[decoder_poc.zip](https://github.com/justdan96/tsMuxer/files/6534193/decoder_poc.zip)

### References:
[https://cwe.mitre.org/data/definitions/369.html](https://cwe.mitre.org/data/definitions/369.html)

ASAN output:

[code]

[2021-05-24 20:46] jcdr428 commented on #426
Hi @cemonatk , thank you for all these bug busting ;)
The code actually comes from ffmpeg
https://ffmpeg.org/doxygen/2.7/vc1data_8c_source.html#l00087
https://ffmpeg.org/doxygen/2.7/vc1_8c_source.html#l00479

I will push the fix accordingly.

[2021-05-24 22:44] cemonatk commented on #426
Hi @jcdr428 , you are welcome. Oh, I see... quite interesting one.
I'm glad it's fixed atm.

[2021-05-27 22:01] cemonatk opened #430 "heap-buffer-overflow in bitStream.h:58:21"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

As you can see on backtrace

[code]

System info：

[code]

To run PoC after unzip:

[getCurVal_1.zip](https://github.com/justdan96/tsMuxer/files/6557042/getCurVal_1.zip)

[code]

Asan output:

[code]

[2021-05-27 22:02] cemonatk opened #431 "heap-buffer-overflow in bitStream.h:58:41"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

As you can see on backtrace

[code]

System info：

[code]

To run PoC after unzip:

[getCurVal_2.zip](https://github.com/justdan96/tsMuxer/files/6557044/getCurVal_2.zip)

[code]

Asan output:

[code]

[2021-05-27 22:03] cemonatk opened #432 "heap-buffer-overflow in bitStream.h:58:61"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

As you can see on backtrace

[code]

System info：

[code]

To run PoC after unzip:
[getCurVal_3.zip](https://github.com/justdan96/tsMuxer/files/6557051/getCurVal_3.zip)

[code]

Asan output:

[code]

[2021-05-27 22:04] cemonatk opened #433 "heap-buffer-overflow in bitStream.h:60:21"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

As you can see on backtrace

[code]

System info：

[code]

To run PoC after unzip:

[getCurVal_4.zip](https://github.com/justdan96/tsMuxer/files/6557052/getCurVal_4.zip)

[code]

Asan output:

[code]

[2021-05-27 22:04] cemonatk opened #434 "heap-buffer-overflow in bitStream.h:60:41"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

As you can see on backtrace

[code]

System info：

[code]

To run PoC after unzip:

[getCurVal_5.zip](https://github.com/justdan96/tsMuxer/files/6557055/getCurVal_5.zip)

[code]

Asan output:

[code]

[2021-05-27 22:05] cemonatk opened #435 "heap-buffer-overflow in bitStream.h:62:20"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

As you can see on backtrace

[code]

System info：

[code]

To run PoC after unzip:

[getCurVal_6.zip](https://github.com/justdan96/tsMuxer/files/6557057/getCurVal_6.zip)

[code]

Asan output:

[code]

[2021-05-27 22:06] cemonatk opened #436 "heap-buffer-overflow in hevc.cpp:502:37"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

As you can see on backtrace

[code]

System info：

[code]

To run PoC after unzip:

[short_term_1.zip](https://github.com/justdan96/tsMuxer/files/6557058/short_term_1.zip)

[code]

Asan output:

[code]

[2021-05-27 22:06] cemonatk opened #437 "heap-buffer-overflow in hevc.cpp:592:55"
Hi, please see asan output and poc file below.

Found by **Cem Onat Karagun of Diesec**

As you can see on backtrace

[code]

System info：

[code]

To run PoC after unzip:

[short_term_2.zip](https://github.com/justdan96/tsMuxer/files/6557061/short_term_2.zip)

[code]

Asan output:

[code]

[2021-05-29 20:09] jcdr428 commented on #431
@cemonatk good find. There was indeed a big bug in `getCurVal()`.

[2021-05-31 11:55] ValZapod commented on #369
Also while ac3 is not uses to decode TrueHD, like in DTS MA, it is used to decode EAC3, if it is present.

"E-AC3 on Blu-ray is not a full E-AC3 stream. It uses an ordinary 5.1 AC3 stream and a second E-AC3 extension stream that contains 4 channels which are supposed to replace the back channel from the AC3 5.1, and add two more channel for a 7.1 mix."

[2021-06-01 09:40] vandenk commented on #416
Ok

[2021-06-01 09:40] #416 closed

[2021-06-01 21:59] DocteurLo opened #440 "Muxing stuck at 10.7%"
Hello,

While muxing a mkv 1080p file to a Blu-ray iso, the muxing stops at 10,7%.
It's a h264 video with 3 AC3 audio tracks and 2 subtitle tracks.
I tried many combinations: without subtitles, with only one audio track, without any audio and even without the video track.
I tried changing the vbv buffer size.

Whatever I did, the muxing stops around 10,7 or 10,9%.
I got this problem before and it

[2021-06-02 05:57] jcdr428 commented on #440
@DocteurLo can you please upload the mkv to a cloud service (e.g. your Google or Microsoft Drive) and provide the link ? I will have a look.

[2021-06-02 06:27] NigelX opened #441 "crash of tsmuxer of nalUnits.cpp:110 in function encodeNAL"
Hi
I found an crash error.

System info：
Ubuntu 20.04 : clang 11.0.0 , gcc 9.3.0

tsMuxeR version git-f6ab2a2

------------------------------------------
Verification steps：
1.Get the source code of tsMuxer
2.Compile the tsMuxer
[code]
3.run poc
[code]
file:
[poc.zip](https://github.com/justdan96/tsMuxer/files/6582427/poc.zip)

 info:
[code]
Please confirm.

Thanks

[2021-06-02 12:22] DocteurLo commented on #440
OK. Meanwhile I give you some information about the media.
<img width="812" alt="Capture d’écran 2021-06-02 à 14 19 39" src="https://user-images.githubusercontent.com/85199483/120479192-f3161000-c3ad-11eb-93cd-88212fa6c703.png">
<img width="407" alt="Capture d’écran 2021-06-02 à 14 20 55" src="https://user-images.githubusercontent.com/85199483/120479194-f4473d00-c3ad-11eb-9437-141ed7b5b6bd.png

[2021-06-02 12:36] DocteurLo commented on #440
It's a 10Gb file. It's uploading. 40 minutes to go...
I'll send you the link by PM.
Thanks.

[2021-06-02 13:26] DocteurLo commented on #440
I don't want to put the link in public.
How can I send you a private message?  I don't see where I can send you a PM.

[2021-06-02 18:12] jcdr428 commented on #440
@DocteurLo you can PM me on doom9, user a5180007

[2021-06-02 19:15] DocteurLo commented on #440
OK. I just created an account on doom9, but I'm still waiting for the activation email. It was half an hour ago so I'm worried I never receive it.
Furthermore, they say the new accounts remain limited for five days...
So we'll have to wait a little for this PM. :-/

[2021-06-02 19:42] ValZapod commented on #398
BTW, does Atmos EAC3 on Blu-ray also use dependent streams? No, AFAIK.

Alas, ffmpeg does not support 7.1 EAC3 encoding, only decoding, including with AC3 core. See:
https://trac.ffmpeg.org/ticket/3595

[2021-06-03 20:42] DocteurLo commented on #440
@jcdr428 Hi, the registering on doom9 doesn't seem to work. I didn't receive any email, so I cannot confirm it. And I don't see any way to ask to resend this verification email. May I message you otherwise ?

[2021-06-03 21:17] jcdr428 commented on #440
@DocteurLo please send me an email now on ikd43404@zwoho.com (10min. email).

[2021-06-04 08:18] ValZapod commented on #354
ffmpeg -f ac3 -i TrueHDAC3.thd should still work.

[2021-06-04 08:26] ValZapod commented on #313
Newer file is also not HDR file. Overflown metadata is a bug in mediainfo but the point here is that transfer of BT.709 is SDR.

[2021-06-04 17:38] DocteurLo commented on #440
@jcdr428 ok, I sent you the link.
Please tell me when you're done with it, so I can delete it.
Thanks.

[2021-06-05 20:39] jcdr428 commented on #441
@NigelX I believe it is fixed by the previous patches, I'll wait for them to be pushed before looking at other fsanitize crashes.

[2021-06-08 16:34] DocteurLo commented on #440
@jcdr428 Hi, Do you think this bug is fixable?
How is it possible that the blocksize = 0 ? May I modify the file in a way that change this blocksize?
Thanks again for your help.

[2021-06-08 18:41] jcdr428 commented on #440
@DocteurLo yes the bug is fixed with the proposed patch, you just have to wait for the patch to be merged by @xavery -or compile yourself if you know how to do it.

[2021-06-09 15:48] DocteurLo commented on #440
Ok, thanks for the info. Now I understand.
Do you know when the next release will be out?
Or do you have a link to "how to patch"?..
Or a Mac software name that could help me edit this "matroskaParser.cpp" according to the fix ? I tried XCode but without success...

[2021-06-09 15:59] DocteurLo commented on #440
@jcdr428 Ok, I found the file already compiled in the bug thread. Sorry, I'm new to this.
Thanks for the quick solving. It seems to work (muxing still going on). Thanks a lot!

[2021-06-09 16:38] #418 closed

[2021-06-09 16:39] #419 closed

[2021-06-09 16:39] #420 closed

[2021-06-09 16:39] #424 closed

[2021-06-09 16:39] #436 closed

[2021-06-09 16:39] #437 closed

[2021-06-09 16:39] #417 closed

[2021-06-09 16:39] #428 closed

[2021-06-09 16:45] #423 closed

[2021-06-09 16:45] #427 closed

[2021-06-09 16:45] #430 closed

[2021-06-09 16:45] #433 closed

[2021-06-09 16:48] #426 closed

[2021-06-09 16:50] #431 closed

[2021-06-09 16:50] #434 closed

[2021-06-09 16:50] #435 closed

[2021-06-09 16:53] #432 closed

[2021-06-09 16:54] #440 closed

[2021-06-09 16:55] xavery commented on #441
Not an issue with current master anymore, closing.

[2021-06-09 16:55] #441 closed

[2021-06-09 16:56] xavery commented on #410
Fixed in master by one of the merged PRs.

[2021-06-09 16:56] #410 closed

[2021-06-09 18:06] jcdr428 commented on #440
@DocteurLo Avec plaisir. Thank you for reporting the bug !

[2021-06-09 18:13] jcdr428 commented on #441
@NigelX can you please test latest master ?

[2021-06-09 21:29] jcdr428 commented on #410
@NigelX can you please confirm that this is fixed in the latest master?

[2021-06-10 00:44] NigelX commented on #441
@jcdr428 The latest version does not have this problem

[2021-06-15 13:22] #374 closed

[2021-06-15 13:23] justdan96 commented on #405
Can you confirm your OS version and if the issue still exists with the latest versions?

[2021-06-15 13:24] justdan96 commented on #407
@Slava46 are you able to share a sample?

[2021-06-15 13:28] justdan96 commented on #398
@jcdr428 is it detecting that the E-AC3 is present? If not is that something that would be straightforward to do?

[2021-06-15 13:32] justdan96 commented on #369
@jcdr428, @ValZapod should we look at updating the documentation? It seems like we get questions similar to this quite a bit.

[2021-06-15 13:33] justdan96 commented on #311
Closing due to age.

[2021-06-15 13:33] #311 closed

[2021-06-15 13:36] ValZapod commented on #369
It is on wikipedia, LOL. I wrote it there, people who really wanted to know would have just visited it. BTW, what do you know about gap processing of truehd on segment boundaries? See this http://rationalqm.us/board/viewtopic.php?f=16&t=793&p=11193&hilit=Tsmuxer#p11193critics:

[2021-06-15 13:36] #363 closed

[2021-06-15 13:37] ValZapod commented on #311
Files are still there. https://www.mediafire.com/file/l1hwc3lqyjvsaa3/Onward_HDMA.rar/file

[2021-06-15 13:38] justdan96 commented on #373
The Mac builds we have have been working for a while, closing this one.

[2021-06-15 13:38] #373 closed

[2021-06-15 13:39] justdan96 commented on #379
@quinnmjcj can you confirm this is still an issue with the latest build?

[2021-06-15 13:40] ValZapod commented on #402
It **is** DTS MA. Facepalm. There is just an extra substream that encides metadata. Just like for Atmos, but Atmos is public standard (EAC3, not in TrueHD).

[2021-06-15 13:44] ValZapod commented on #407
It can be done by

https://github.com/DolbyLaboratories/dlb_mp4base
https://github.com/quietvoid/dovi_tool
https://gitlab.com/mbunkus/mkvtoolnix/-/merge_requests/2232

[2021-06-15 14:02] jcdr428 commented on #402
Thank you @ValZapod
@justdan96 so Auro3D is supported / metadata not omitted by tsMuxer. Issue closed.

[2021-06-15 14:04] #406 closed

[2021-06-15 14:17] SeaDaddytheRed commented on #405
I'm on 11.4 and just tried you latest release.  Got the following error.

dyld: Library not loaded: /usr/local/opt/freetype/lib/libfreetype.6.dylib
  Referenced from: /private/var/folders/62/5wkppw817r1b739s9p2y5fyr0000gn/T/AppTranslocation/4F827057-0A1E-450E-BA4C-0E50FBFB0E0D/d/tsMuxerGUI.app/Contents/MacOS/tsmuxer
  Reason: image not found

[2021-06-15 14:21] ValZapod commented on #402
That is how it looks like (on btdig search for MANDO_DIAO_AELITA_AURO-3D):

[code]

[2021-06-19 12:37] jcdr428 commented on #407
No sample provided, can't debug. Closing.

[2021-06-19 12:37] #407 closed

[2021-06-19 12:38] jcdr428 commented on #404
No sample provided, can't debug. Closing.

[2021-06-19 12:38] #404 closed

[2021-06-19 13:31] jcdr428 commented on #398
@justdan96 pretty straightforward, fixed in commit 2aa293b

[2021-07-14 08:41] SubJunk opened #443 "Library not found on macOS"
Hi, I'm trying to resolve a problem reported by users of Universal Media Server, which is this error on macOS:

[code]

Is there a reason why these builds are not fully static, when the original ones were?

[2021-07-14 12:13] justdan96 commented on #443
There is a variable to turn on static linking, but from the looks of it "true" static linking isn't possible on Mac, see here: https://stackoverflow.com/questions/3801011/ld-library-not-found-for-lcrt0-o-on-osx-10-6-with-gcc-clang-static-flag

From the looks of the old Makefile for Mac the static freetype library was explicitly linked, this may be why there wasn't a dependency:
https://github.com/

[2021-07-14 20:42] SubJunk commented on #443
Ah yeah I remember the same thing when compiling MPlayer on macOS too, it is never fully static. But I managed to get to the point where the remaining dependencies are ones that are included with macOS. This is that build in case it's useful to compare:
http://sourceforge.net/projects/mplayer-sb/files/MPlayerMEncoder-SB67-macOS.zip/download

[2021-07-14 20:49] justdan96 commented on #443
I've figured out how to reduce the dependencies down to the below when compiling in osxcross:

[code]

To push this out requires a change to [the Docker container we are using](https://github.com/justdan96/tsmuxer_build), the CMakelist file for tsMuxer and the bash scripts for generating the builds - so it might take a little time to coordinate.

[2021-07-14 20:52] SubJunk commented on #443
That's great, thank you! I will look forward to its release and will do a UMS release to coincide with it

[2021-07-16 10:28] justdan96 commented on #149
I successfully created a BD folder in tsMuxer, then created the ISO in the command line with:

[code]

[2021-07-16 20:51] jcdr428 commented on #149
Hi @justdan96, but then if you use UDF 2.6 the Blu-ray player should only show the folders, not play the movie.

[2021-07-17 18:03] justdan96 commented on #149
@jcdr428 sorry I didn't quite understand you there? To be fair it would still need further testing and I don't have a Blu-ray player to really test it with, or even a Blu-ray drive for me to try to back up my existing disks and compare the files against the nerocmd output.

[2021-07-21 18:00] AlbertOpen opened #444 "Can't open H.266 (VVC) TS file - track 0 was not recognized and ignored"
Good day
File is TransportRecord11973-59130659.ts (94 MB) https://disk.yandex.ru/d/eQseiH5X73uZyQ
Tried with tsMuxer 2021-06-20-02-13-48 in Win7x64

[2021-08-05 11:59] MeowPerth opened #445 "Mux CBR does not work"
Why did I tick Mux CBR after，
But the TS generated is still VBR？

[2021-08-08 10:33] jcdr428 commented on #444
Hi @AlbertOpen, the revision of UIT-T H.222.0 | ISO/CEI 13818-1:2019/DAmd 2 (Carriage of VVC in MPEG-2 Systems) is not public yet:
https://www.itu.int/rec/T-REC-H.222.0-202106-P
https://www.iso.org/standard/80754.html

Unless somebody can provide, we cannot work on inclusion of VVC in tsMuxer yet.

[2021-08-08 10:54] jcdr428 commented on #445
@MeowPerth please provide sample of faulty cbr output.

[2021-08-18 09:21] ccho111 commented on #444
13818-1 8th edition is now FDIS (Final Draft Int. Standard), waiting for voting and becoming public standard.
However, the access right of the document is limited to MPEG members.

https://www.mpegstandards.org/meetings/mpeg-134/

[2021-08-22 05:18] ValZapod commented on #108
Did you see https://patchwork.ffmpeg.org/project/ffmpeg/patch/Hld3RVCojMUWQ2IXngnngo5wsLPOg7i1rVgrJRcCVnH8B-9j1Drk5rMxDWaHommrh7g8YLdcNZf7lLb8syKHXLCUITZ6zwg_6Dt-4iRP0aE=@protonmail.com/?

[2021-08-26 12:56] Nemesh64 opened #446 "Can I send a email to justdan96"
I have a issue but before I open the issue here I need so send you some
additional information I can't post here.
I still have your email from a previous issue.
Is it all right that I write a email to you?
With regards,

Nemesh

[2021-08-31 20:59] MastaG opened #447 "TrueHD with Atmos track inside MKV is not recognized"
Hi there,

I used makemkv to remux the bluray disc of John Wick 3 (with dolby vision) to mkv.
I have chosen to only retain the AC3 5.1 and TrueHD/Atmos tracks.
The mediainfo shows like:
[code]

However when I try to import this into the tsmuxer gui, it says:
[code]
Only the video and first AC3 audio track are there.
I'd like to remux both audio tracks into a .TS container (AC3 5.1 being the first

[2021-09-01 09:45] LsnmxNB opened #448 "when LPCM extracts WAV over 4G"
Hello, when LPCM extracts WAV over 4G, it will be divided into two WAVs. Can you provide w64 output options?

[2021-09-01 11:41] #446 closed

[2021-09-01 15:47] justdan96 commented on #443
Please check if this artefact is working okay for you: https://github.com/justdan96/tsMuxer/actions/runs/1190840503

[2021-09-01 15:50] justdan96 commented on #414
If there is no reply I'll close due to aging

[2021-09-01 15:54] justdan96 commented on #447
Can you confirm if it does not work if you isolate just one audio track of Dolby TrueHD with Dolby Atmos?

[2021-09-01 15:56] justdan96 commented on #444
When will that information be available publicly?

[2021-09-01 15:56] justdan96 commented on #448
Can you please confirm which build this affects?

[2021-09-01 15:57] justdan96 commented on #405
Might be related to #443

[2021-09-01 17:49] jcdr428 commented on #444
@justdan96 the ITU Recommendation might never get public as it is also an ISO standard. It is not really a priority as there is no player able to play VVC yet, let's wait and see how ffmpeg or mkvtoolnix will do this.

[2021-09-01 17:52] jcdr428 commented on #448
@LsnmxNB what do you mean by "LPCM extracts WAV over 4G" ?

[2021-09-01 19:04] justdan96 commented on #444
@jcdr428 thanks, I'm happy for this to be on the back burner until it has wide adoption then.

[2021-09-02 18:27] MastaG commented on #447
Hi @justdan96 ,

Yes then it's the same case.
git rev: 2aa293b5136321e2d88cd45bd2a8e09499d4a69a

Here's the mediainfo of the mkv with only the TrueHD/Atmos track:
[code]

I just open up makemkv 1.16.4, I open my John Wick disc and select only the main video (which is Dolby Vision) and the TrueHD audio track.
Here's the first 50MB of the file: https://mega.nz/file/b4EAlRhZ#eKmTuE5MjfSAzgrUKd8PxRCoP

[2021-09-02 19:22] jcdr428 commented on #447
See #270 . @justdan96 I will work on muxing / demuxing pure TrueHD when version 2.7 is out.

[2021-09-02 20:51] SubJunk commented on #443
@justdan96 yes that seems to work for me. The output of `otool -L` is:

[code]

Thanks!

[2021-09-03 07:57] MastaG commented on #447
Hi @jcdr428
That would be very nice.
Then perhaps we could have an option to split the core_ac3 and TrueHD in the GUI to have them muxed as two separate tracks/pids.

[2021-09-03 15:30] MastaG opened #450 "Remux STDL Dolby Vision from MKV doesn't work"
Hi,

I can use yusesope's tool, to merge both BL+EL layers from the original bluray disc into a single hevc file.
When I open this hevc file and mux this into a .TS file, it will trigger DV on my LG TV.

This is a bit cumbersome as the python tool is a bit slow and it requires extra space to first extract both layers form the disc, then merge them togerther into a single file.

I can also use make

[2021-09-03 15:37] MastaG commented on #450
Here's the first 200MB from the .TS file created using the hevc file from yusesope's tool:
https://mega.nz/file/X09DXKYS#MSncO4lcoGK8Rj2jC7VS7CrpsyEqgDnGlIbTKto-CQg

Here's the first 200MV from the .TS file created by remuxing the MKV created by makemkv (from the same disc):
https://mega.nz/file/mkkBWQBQ#tlh2drUG55mhotsVdL5QwzE_yN4CsigoCNR0MrwZUj8

Like I said before, both contain the dual layer D

[2021-09-04 15:31] jcdr428 commented on #450
This is not an issue related to tsMuxer.
MakeMKV simply forgets to add the Access Unit Delimiters -whch yusesope tool does correctly.

[2021-09-04 15:31] #450 closed

[2021-09-04 15:35] #414 closed

[2021-09-04 17:15] MastaG commented on #450
Ah thanks for explaining bro.
Should I report this to the makemkv devs then?

[2021-09-04 17:24] jcdr428 commented on #450
Yes, Mike should be able to fix this.

[2021-09-04 17:32] jcdr428 commented on #371
Closed due to lack of answer / sample.

[2021-09-04 17:32] #371 closed

[2021-09-06 13:50] KSSW opened #452 "Can you add a title function to the coding and language in tsmuxrr"
Can you add a title function to the coding and language in tsmuxrr

[2021-09-06 16:11] asxzwang opened #453 "Can you add sorting function？"
Hello, developers,Can the sorting function be added? For example, I import 95 M2TS files and then demux PGs files. At present, the operation needs to find PGs for each file to check demux.

[2021-09-06 17:31] jcdr428 commented on #452
@KSSW can you please expand ? I don't understand the request.

[2021-09-07 02:50] KSSW commented on #452
please expand ：https://www.youtube.com/watch?v=vHVpV2ZD6B0

[2021-09-07 06:34] lonecrane opened #454 "Detected lang information becomes void since nightly w64-Nightly-2021-09-05-02-02-28"
Hi. I find that the latest nightly w64-Nightly-2021-09-05-02-02-28 and w64-nightly-2021-09-06-02-05-02 cannot properly detect the lang information for some sources (but not all the ones).

The generated result with void language information by w64-Nightly-2021-09-05-02-02-28:
[code]

The generated result with correct language information by the close previous version w64-Nightly-2021-09-04-02-01-2

[2021-09-07 07:04] lonecrane commented on #454
The first 20M of the 00006.m2ts has been sampled and uploaded to:
[https://www.mediafire.com/file/9o8liupl1469b2e/Parasite.2019.2160p.UHD.Blu-ray.HEVC.Atmos.TrueHD.7.1-1.rar/file](url)

[2021-09-07 12:38] lonecrane opened #455 "Can't detect non-compliant AC3 stream"
Hi, I have encounted a strange bd source whose track makes tsMuxeR says "Can't detect stream type".
Track ID:    4354
The sample file has been uploaded to [sample](https://www.mediafire.com/file/f032nq6gfs2wukd/sample_BD.rar/file)
The lastest version makes no difference.
Thanks in advance for any help.

[code]

[2021-09-07 19:46] #454 closed

[2021-09-07 19:47] jcdr428 commented on #454
@lonecrane fixed. Stupid mistake...

[2021-09-07 19:59] jcdr428 commented on #455
@lonecrane this is not the original BD. The track 4352 (AC3 core+TrueHD) seems to have been split by the ripper into two tracks 4353 (AC3) and 4354 (MLP/TrueHD). A Blu-ray cannot have MLP/TrueHD tracks without an AC3 core.

[2021-09-08 08:10] #443 closed

[2021-09-11 16:11] lonecrane commented on #455
It seems that the track is a thd+ac3 track rather than a pure thd one. Is it possible for you to have a look into it?

The info of this track reported by BDinfo:
`Dolby TrueHD Audio              Chinese         2603 kbps       7.1 / 48 kHz / 2155 kbps / 16-bit (AC3 Core: 5.1 / 48 kHz / 448 kbps)`

In addition, with another demux tool (dgdemux), this track is extracted as test.thd, and eac3to.exe a

[2021-09-12 11:00] pali commented on #149
Hello! Just one important note: Neither udftools nor udfclient nor NetBSD makefs/newfs_udf/ support ISO. All these tools supports only UDF. So if you are targeting ISO as written in the first comment then none of these tools helps and I think that ISO support into these tools would be never integrated (as aim of these tools is not ISO, but UDF).

Anyway, if somebody here is interested in developin

[2021-09-12 20:45] jcdr428 commented on #455
@lonecrane I have analysed the stream 4354 in more detail: it is an ac3+thd stream, however the ac3 stream is non-compliant i.e. there is a syncword 0x0B77 which is not where it should be. This is why the stream is not detected as AC3 neither by MediaInfo not by tsMuxer.
As mentionned before, the bluray is not original, this can be seen in the playlist where all chinese streams don't appear nad ha

[2021-09-13 03:20] lonecrane commented on #455
@jcdr428 This disc is indeed a DIY one by a local group. There are some other discs with this stream type. As far as I know, these discs can be played normally by some popular players and boxes such as DVDFab player5.0.1.1、PD17.0.2101.62、Egreat A5/A10、OPPO203 and so on. Although I know that always tens of issues are calling for your help, could it be possible to make tsmuxer recognize this non-com

[2021-09-13 08:54] justdan96 commented on #405
Just out of curiosity, what error do you get if you try to open the tsMuxer executable from this artefact: https://github.com/justdan96/tsMuxer/actions/runs/1215042189 ?

[2021-09-13 21:08] jcdr428 commented on #455
@lonecrane personally I won't look at it as I am not keen in allowing txMuxer to mux non-compliant streams; I will leave the issue open as somebody else might want to look at this issue.

[2021-09-14 00:23] SeaDaddytheRed commented on #405
Sorry, but I don't know how to download from that link.  If I click txmuxer at the bottom it downloads a zip but once I open it I am not sure what to do with the file.  It's not an app file.

[2021-09-14 12:53] clibanarius01 opened #456 "Error muxing of some MKV"
Some MKV are muxed in BDMV with an error and when playing on a Samsung blu-ray player, the video is jerky and brake, although everything on a PC is done without jerks. Only video stream transcoding helps. Perhaps the problem is related to the open GOP or b-pyramid in H264 stream. Is it possible to fix this?

[2021-09-14 19:03] jcdr428 commented on #456
@clibanarius01 can you please provide a sample.

[2021-09-14 23:10] clibanarius01 commented on #456
Sample: https://disk.yandex.ru/d/u7gZWCBw0l3TmA

Please note that video slows down and jerks only when played on a blu-ray player, but PC video players like Windows media player, MPC-HC (х64) play without bugs. Also, the original MKV file play by the blue-ray player normal to, only BDMV file is damaged after muxing in tsMuxeR.

Muxing information for the sample:

MUXOPT --no-pcr-on-video-pid --new

[2021-09-15 16:23] Selur opened #457 "Missing subtitles since nightly-2020-04-26--02-12-05"
I use the folloxing meta file:
[code]
and [special characters.zip](https://github.com/justdan96/tsMuxer/files/7171576/special.characters.zip) as subtitle file.
and this call: `tsMuxeR "E:\Output\tsMuxerMeta_2021-09-15@17_43_48_0110__04.meta" "E:\Output\[Final8]Senyuu - 02 (BD 10-bit 1280x720 x264 AAC)[4ACE10B1].m2ts"`

as output I get:
[code]
sadly the output does not show any subtitle streams in

[2021-09-15 18:41] justdan96 commented on #405
I have borrowed an M1 Mac - the artefact is the tsMuxer binary executable and I wasn't expecting it to run.

If I check the file and its architecture:
[code]

This must mean we are both running the file with Rosetta 2:
https://www.macrumors.com/how-to/install-rosetta-m1-apple-silicon-mac/

[code]

It would be good to get a native executable but for now it appears Rosetta 2 is a decent workaround.

[2021-09-15 19:15] jcdr428 commented on #457
Hi @Selur, you need to leave the --hdmv-descriptor option checked -it is checked by default in m2ts mode.

[2021-09-15 19:20] Selur commented on #457
I use tsMuxeR through the command line so there is nothing to uncheck.

that does not seem to be true when the command line is used,...

[2021-09-15 19:28] jcdr428 commented on #457
@Selur indeed the checkbox is in the GUI.
Just add --hdmv-descriptor after the --new-audio-pes in the command line.

[2021-09-15 19:34] Selur commented on #457
Thanks! That helped!

[2021-09-15 19:56] #457 closed

[2021-09-15 20:52] radioproektor opened #458 "Global Error on macOS 10.14.6"
I got this pop-up error message window on file load:
[code]
![Screen Shot 2021-09-15 at 11 32 01 PM](https://user-images.githubusercontent.com/35053925/133517567-df6c4741-4b0e-4e26-b4e7-e0b9c042ca62.png)

I scrolled back and randomly checked few versions and seems they all produce same pop-up window. Is it some global mistake in releases from start? Or is it just my macOS 10.14.6 system unsupporte

[2021-09-15 20:58] jcdr428 commented on #456
@clibanarius01 the jerking is certainly due to issues #108 and #141 : the recording rate on a BD-ROM is normally limited to 48 mbps. Due to the high bitrate, your sample starts at 53.7 mbps: the disc simply does not turn fast enough to read such a high bitrate...
No problems with a hard disk on a PC which does not have the same limitation.

The bug is still to be solved. This means introducing a p

[2021-09-15 22:06] clibanarius01 commented on #456
**@jcdr428** however, this problem does not appear on other files with the same high bitrate! This would mean that all high bitrate files would have this error. However, if the same file is rebuilt from bdmv in tsMuxeR, and not from MKV, then there is no problem! It seems to me that the point here is all the same in some kind of video stream settings, which are changed by programs either when crea

[2021-09-16 06:37] jcdr428 commented on #456
@clibanarius01 then this might come from the way tsMuxer adds the access unit delimiters nals. Could you provide two small samples, one m2ts->tsMuxer with no problems, and the other m2ts->mkv->tsMuxer with problems ? I will do an analysis and comparison of both streams.

[2021-09-16 11:01] justdan96 commented on #458
Please see #405

[2021-09-16 11:36] radioproektor commented on #458
If it helps here is a fix for form Selur:
https://forum.selur.net/thread-1495-post-13379.html#pid13379

Okay, I figured that out.
if you call 'oTool' it will reinstall it, it you use 'otool' it works,.. Angry

okay using:
install_name_tool -change /usr/local/opt/freetype/lib/libfreetype.6.dylib @executable_path/lib/libfreetype.6.dylib tsMuxeR
sadly did not work, it gives me:
dyld: Library not load

[2021-09-16 11:45] justdan96 commented on #458
The tsMuxer binaries created through osxcross are statically linked now, so it won't look for those libraries at all. Check the binary created here: https://github.com/justdan96/tsMuxer/actions/runs/1215042189

[2021-09-16 12:10] radioproektor commented on #458
Ok. Version from that link works well.

[2021-09-16 13:36] Selur opened #459 "MacOS: Can't find ttf file for font ..."
On MacOS Big Sur I get: "Can't find ttf file for font Arial"
in the GUI in the "Subittle->Font->Select Font dialog" Arial is shown.
`ls /Library/Fonts/*.ttf`
just shows:
[code]

using:
[code]
aborts with "Can't find ttf file for font Arial"
and
[code]
aborts with "Can't find ttf file for font Arial Unicode"

Cu Selur

Ps.: used the latest nightly and patched tsMuxeR, libfreetype.6 and libpng16.16

[2021-09-16 14:05] justdan96 commented on #459
Can you try running it with `strace`? It looks like `/Library/Fonts/` is the correct folder, can you also check if it errors out with any other fonts?

[2021-09-16 14:18] Selur commented on #459
Nope, since at least on my MacOS system there is no strace. :)

I tried:
`sudo dtruss  "/Users/selur/workspace/Hybrid/Hybrid.app/Contents/MacOS/tsMuxeR" "/Users/selur/Desktop/temp/tsMuxerMeta_2021-09-16@16_08_34_4710__03.meta" "/Users/selur/Desktop/[Vivid-Asenshi] Violet Evergarden - 01 [B58CEB69] (1)-001.m2ts` but the output doesn't seem useful: https://pastebin.com/YiBgLaxa

I also tried:
[code]

[2021-09-16 14:24] Selur commented on #459
I could also try dtrace in case someone can tell me how to.
[code]
only gave me:
[code]

[2021-09-16 15:11] Selur commented on #459
not sure whether it helps but these are the contents of my fons folders:
[code]
[code]

~/Library/Fonts/ is empty.

[2021-09-16 15:33] radioproektor commented on #459
There are 3 places on macOS where fonts are located:
/System/Library/Fonts contains system fonts. That folder usually remains untouched.
/Library/Fonts contains additional fonts and fonts installed by different apps. User can install fonts to that folder. There is an Arial Unicode.ttf font in that folder.
~/Library/Fonts/ is usually empty by default. User can install fonts to that folder.

[2021-09-16 16:03] clibanarius01 commented on #456
**@jcdr428**  MKV sample (MKV ->tsMuxeR->BDMV) mux with jerking:
https://disk.yandex.ru/d/GEpBkkRgoGLqCA
BDMV sample (BDMV ->tsMuxeR->BDMV) no problem mux:
https://disk.yandex.ru/d/T-3ADfIG1nTO2A
Only H264 stream are presented, since the problem persists without other tracks.

[2021-09-16 19:16] jcdr428 commented on #459
@justdan96 looks similar to #170.

[2021-09-16 19:26] Selur commented on #459
Yeah looks similar, but why does 'Arial Unicode' then not work? (since it's already in /Library/Fonts ?

[2021-09-16 21:37] jcdr428 commented on #459
@Selur just a thought: can you try lower case "arial unicode" ?

[2021-09-17 05:12] Selur commented on #459
nope, neither `arial unicode` nor `arial unicode.ttf` or `Arial Unicode.ttf` works
Also tried `"Arial Unicode.ttf"`.

[2021-09-17 05:47] Selur commented on #459
Here's the output of `system_profiler SPFontsDataType`
[fonts.txt](https://github.com/justdan96/tsMuxer/files/7182891/fonts.txt)

Does the routine filling m_fontNameToFile also collect files from symlinks? Since "Arial Unicode.ttf" is a symlink:
`Arial` Unicode.ttf -> /System/Library/Fonts/Supplemental/Arial Unicode.ttf`

Nope that isn't the issue, copied `/System/Library/Fonts/Supplemental/Arial

[2021-09-17 07:05] Selur commented on #459
I had a quick look at the source code.

m_fontNameToFile is a map which maps fontFamiles to file names (1:1).
[code]
https://github.com/justdan96/tsMuxer/blob/8474c6b01d0ce416b26b2a4f35258e8803a9bc36/tsMuxer/osdep/textSubtitlesRenderFT.cpp#L99

So '/Library/Fonts/Arial Narrow Bold.ttf', would be saved as:
[code]
-> The name fontNameToFile is misleading as it should be "m_fontFamilyToFile".

Proble

[2021-09-17 16:26] StefanR71 opened #460 "Muxing 3D content to BD ISO creates broken m2ts files"
I tested manny tsMuxer builds and i figured out, that the version w64-nightly-2019-12-30--01-10-40 is the last working version.

When i create a Blu-ray ISO from a "3D" MKV file with a newer version and open this ISO with MakeMKV i get the following error:

001003:0020 DEBUG: Code 266257 at E-SUWZ;L!g{q.+K5H;9D:29395563
004004:0000 The source file '/BDMV/STREAM/00000.m2ts' is corrupt or invalid at

[2021-09-17 20:33] justdan96 commented on #459
Thanks for checking that. Is there a default font on MacOS which has that `fontName=fontFamily=fileName` pattern?

[2021-09-17 20:34] #458 closed

[2021-09-17 20:36] justdan96 commented on #455
@jcdr428 Would you be able to suggest a new title for this issue?

[2021-09-17 20:40] jcdr428 commented on #455
@justdan96 What about "Can't detect non-compliant AC3 stream" ?

[2021-09-17 20:48] radioproektor commented on #459
Problem could be due font file name vs actual font name used inside font file. For example if you open at Arial Unicode font in system Font Book app - it give you some additional info about real font name. So you may try to use **Arial Unicode MS** or **ArialUnicodeMS**
![Screen Shot 2021-09-17 at 11 40 57 PM](https://user-images.githubusercontent.com/35053925/133851378-599e2e49-7688-4daf-b1a7-e9b

[2021-09-17 20:49] Selur commented on #459
Looking over the fonts.txt I attached above https://github.com/justdan96/tsMuxer/issues/459#issuecomment-921516926
There seem to be a few.

[code]

[code]

[code]

[code]

[code]

But those seem to come from Catalina, where they were in another folder,..
see also: https://www.macworld.com/article/233868/font-chaos-in-macos-catalina-and-how-to-deal-with-it.html

My guess is the best way would proba

[2021-09-17 21:15] jcdr428 commented on #459
@Selur Maybe replace:
[code]
with:
[code]
I can't test on Windows.

[2021-09-17 21:26] Selur commented on #459
@jcdr428 :  that's only the collecting part. The main problem is than in setFont(..) the code assumes that the file name does hold any meaning. So your idea to save the files with "Family+Full Name" is only one part of the solution. One would also have to access the m_fontNameToFile map accordingly. Also there should either be an option do specify a custom font folder, or all the default font fold

[2021-09-17 21:58] jcdr428 commented on #459
@Selur can you please try artifact https://github.com/jcdr428/tsMuxer/suites/3802883975/artifacts/93922869

One thing at a time :)

[2021-09-17 22:15] Selur commented on #459
Will test tomorrow and report back. Already on my way to bed ;)

[2021-09-18 00:33] radioproektor commented on #459
jcdr428, Artifact https://github.com/jcdr428/tsMuxer/suites/3802883975/artifacts/93922869 will not work because it also needs a fix with statically linked libraries. Problem was already fixed in this thread https://github.com/justdan96/tsMuxer/issues/458#issuecomment-920830284

[2021-09-18 07:27] jcdr428 commented on #459
@radioproektor this is a docker build, from #458 I understood that those builds don't have the issue ?

[2021-09-18 07:56] Selur commented on #459
@jcdr428 : Okay, which artifact should I try and what value for 'font-name=' should I use in the .meta file?

[2021-09-18 08:08] Selur commented on #459
I tried: https://github.com/jcdr428/tsMuxer/suites/3802883975/artifacts/93922869
with 'Arial Unicode' and got
`Can't find ttf file for font Arial Unicode`
analog for 'Arial', 'Arial Narrow', 'Arial Narrow Bold', 'Arial Unicode MS'
i copied "/System/Library/Fonts/Supplemental/Arial Narrow.ttf" to "/Library/Fonts/" and called 'Arial Narrow', but that didn't help either.

[2021-09-18 08:27] jcdr428 commented on #459
@Selur :( as I don't have access to a Mac I can't trace. All I can do is include some debug messages so that you can report the console output.

[2021-09-18 08:32] Selur commented on #459
@jcdr428: I'm happy to run some build with debug messages and share the output if you create the artifacts. :)

[2021-09-18 21:41] jcdr428 commented on #459
@Selur having played around with the fonts:
As stated by @radioproektor, `font-name=` must be the familly name.

To use file `Arial Unicode.ttf`, set in meta file `font-name=Arial Unicode MS`

tsMuxer selects the file with the shortest length, so if you have `Arial Narrow.ttf`, `Arial Narrow Bold.ttf` and `Arial Narrow Italic.ttf`, tsMuxer will select `Arial Narrow.ttf`.

Use the charset as define

[2021-09-19 06:59] Selur commented on #459
Sorry, but I do not get it. Either I miss something or this does not work on Catalina and newer MacOS.
Note that radioproektor is using and old 10.14 Mac OS.
macOS 10.14: Mojave - 24 September 2018
macOS 10.15: Catalina - 7 October 2019
macOS 11: Big Sur - 12 November 2020

using: https://github.com/jcdr428/tsMuxer/suites/3802883975/artifacts/93922869
`ls -la /Library/Fonts `
[code]
and using:
[co

[2021-09-19 07:42] jcdr428 commented on #459
@Selur forget my patch, just use the latest justdan release https://github.com/justdan96/tsMuxer/suites/3717847453/artifacts/90910984

[2021-09-19 08:06] Selur commented on #459
@jcdr428:
Okay, I downloaded https://github.com/justdan96/tsMuxer/suites/3717847453/artifacts/90910984 and patched it to be usable (freetype&co).
I used
[code]
and  got:
[code]

I then deleted "/Library/Fonts/Arial Unicode.ttf" (this symlink was created by macOS not me) and copied "/System/Library/Fonts/Supplemental/Arial Unicode.ttf" to "/Library/Fonts/"
that gave me:
[code]
Subtitles are there a

[2021-09-19 08:50] jcdr428 commented on #459
@Selur Ok quick and dirty solution, in textSubtitlesRenderFT.cpp we could change:
[code]
with:
[code]

[2021-09-19 09:00] Selur commented on #459
additionally you should replace:
`m_fontNameToFile[fontName] = fileList[i];`
with
`m_fontNameToFile[fontName] = QDir(fileList[i]).canonicalPath();`
to always get the real path not some symlink or similar.

[2021-09-19 14:12] jcdr428 commented on #459
@Selur please try https://github.com/jcdr428/tsMuxer/suites/3810222232/artifacts/94165951

Note that because of the error:
[code]
I had to increase the OS version to macOS 10.15.

[2021-09-19 14:33] Selur commented on #459
@jcdr428 : works fine here 👍
@radioproektor: can you try whether this works still in macOS 10.14?
@jcdr428: can you make a statically linked version for radioproektor, since I assume he might not know how to patch tsMuxeR, libfreetype and libpng to get the non statically linked version running.

[2021-09-19 15:37] radioproektor commented on #459
So it will not run on macOS 10.14 will even if patch it to statically linked version?
_P.S. yes, i don't know how to patch it to linked version_

[2021-09-19 15:40] Selur commented on #459
The static linking is unrelated to the macOS10.15 change.
It might still work on macOS10.14, Apple isn't there totally precise,..

[2021-09-19 15:58] jcdr428 commented on #459
@Selur ok I'll push the part related to the folders.
As for the simlink, I won't push for the moment, pending an alternative solution to the filesystem canonical class to convert to absolute paths. @justdan96, maybe you know how to do this without breaking compatibility with MacOS 13 ?

[2021-09-19 16:25] radioproektor commented on #459
_I just wonder why developers change things from statically linked version to external libraries. This only adds complexity and confusion. Older tsMuxer versions where statically linked and all worked fine from single executable file._

[2021-09-19 16:27] jcdr428 commented on #459
@radioproektor I'll leave @justdan96 to fix the static linking, I don't know how to fix it.

[2021-09-19 17:45] jcdr428 opened #462 "Static linking of zlib and freetype libraries for MacOS"
The zlib and freetype libraries are statically linked in the docker builds, however are not statically linked in the builds made directly from the code.

[2021-09-19 17:48] jcdr428 opened #463 "symlink ttf fonts are not recognized"
For MacOS and Linux systems, the ttf fonts in the font folders are not recognized by tsMuxer.

[2021-09-19 17:49] #459 closed

[2021-09-19 17:53] jcdr428 commented on #463
@justdan one solution is to replace in textSubtitlesREnderFT.cpp:
`m_fontNameToFile[fontFamily] = fileList[i];`
with :
`m_fontNameToFile[fontFamily] = std::filesystem::canonical(fileList[i]).string();`

However this supposes to move MacOS SDK to 10.15 for the `canonical` method.
Plus Linux is ok with `std::filesystem::`, however MacOS requests `std::__fs::filesystem::`

[2021-09-19 19:15] justdan96 commented on #463
I thought the SDK in the Docker container was at 10.15 already but I can check and see if we can make a code change.

[2021-09-19 19:20] justdan96 commented on #459
@radioproektor the versions of tsMuxer built in the Docker container are statically linked, the Mac native builds are dynamically linked as I haven't got around to looking at fixing those yet.

[2021-09-19 19:43] jcdr428 commented on #463
@justdan96 yes no problems to change to 10.15 in the .sh files.
Any idea how to sort out the MacOS std::__fs::filesystem:: vs Linux std::filesystem::  thing ?

[2021-09-20 16:50] justdan96 commented on #463
It should just be a DEFINE, same as we use elsewhere - I think `#if defined(__APPLE__) && defined(__MACH__)` is the line we use.

[2021-09-20 19:46] jcdr428 commented on #463
@justdan96 Thanks.  Linux build not working, `undefined reference to 'std::filesystem'`.
From what I read I need to "link with `-lstdc++fs`" : how do I do that ?

[2021-09-21 07:53] justdan96 commented on #463
Are you including the header file `<filesystem>`?

[2021-09-21 18:11] jcdr428 commented on #463
Yes I did. I've also tried `<experimental/filesystem>` and `<boost/filesystem>` libraries, no luck.

[2021-09-22 10:31] justdan96 commented on #463
It looks like those are a part of C++17, I need to check how we can enable that.

[2021-09-22 11:32] jcdr428 commented on #463
I've been trying to upgrade to C++17 but I am struggling with the new std::byte conflicting with the Windows byte type.

[2021-09-22 21:58] #463 closed

[2021-09-23 19:24] probonopd opened #467 "Is an AppImage available for download?"
Is an AppImage (`tsMuxerGUI-$VERSION-x86_64.AppImage`) available for download? If so, we'd like to add it to https://github.com/AppImage/appimage.github.io.
Thanks.

Reference:
* https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages/cc2441518975caca23e9ce2dba6f08a22c678d1e#common-mistake

[2021-09-24 20:32] francescomannarino commented on #405
I keep getting the same error on my Air M1, despite trying to use the last available nightly.
i also tried to replace the artifact i found in the thread, but it doesn't work in that case either.

dyld: Library not loaded: /opt/local/lib/libfreetype.6.dylib
  Referenced from: /private/var/folders/l9/mqhyycws6bd738k0b63ntrqm0000gn/T/AppTranslocation/C7CAE32E-8422-4C18-A43B-F74406FDA609/d/tsMuxerGUI.

[2021-09-25 06:23] KSSW commented on #452
@jcdr428 Then add a Chinese and add these two words Mandarin and Cantonese

[2021-09-25 15:06] jcdr428 commented on #456
@clibanarius01 OK I've spottecthe problem: the AUD nals are added by tsMuxer after the PPS instead of before.
Now I have to see how we can sort this...

[2021-09-26 07:46] quamt opened #468 "Unable to import audio AC3 / EAC3"
Hello,

I am converting video and audio via NVEnc.
`https://github.com/rigaya/NVEnc`
However, when selecting AC3 / EAC3  as audio I am not able to import it into TSmuxer.

Error message unsupported format.

Output in MediaInfo for Audio EAC3
[code]

Output in MediaInfo for Audio AC3

[code]

[2021-09-26 08:40] jcdr428 commented on #468
@quamt please give samples.

[2021-09-26 09:00] quamt commented on #468
@jcdr428
I seem to have found the issue.

It is now working. As long as the input file is *.TS, it is importing it without issues.

I attached a sample file.

[TEST2.zip](https://github.com/justdan96/tsMuxer/files/7231054/TEST2.zip)

[2021-09-26 09:03] #468 closed

[2021-09-26 09:22] clibanarius01 commented on #456
**@jcdr428** Thanks! It would be great if the problem could be solved, as there are more and more such MKV files lately.

[2021-09-26 22:45] justdan96 commented on #467
The AppImage is there - but I have to admit I'm not 100% happy with it. The command line executable is compiled as statically linked but as we are using Qt the AppImage includes lots of dynamic links. These have dependencies on GlibC and as we are using the Ubuntu:Latest Docker base this means it doesn't work on on the majority of Linux distributions out there.

I'd hoped to be able to figure out

[2021-09-27 01:44] zywu31 opened #469 "Does TS MUX support UDP reception and output"
Hi，
      Does TS MUX support UDP reception and output

[2021-09-27 18:24] probonopd commented on #467
Not exactly sure what you mean by this. You can put a statically linked binary into an AppDir, and hence AppImage, just fine and it will not cause additional stuff to be bundled.

Can you elaborate?

[2021-09-29 12:27] justdan96 commented on #467
tsMuxerGUI is basically just a GUI layer over the command-line program tsMuxer. Generating a statically linked tsMuxer is no problem at all, that ensures it is portable across distributions. The problem is with tsMuxerGUI specifically. There are just so many dependencies, one attempt to reduce them produced an executable with dependencies like the below:

[code]
Given the sheer number of dependenc

[2021-10-09 17:17] jcdr428 commented on #456
@clibanarius01 please test several files and containers with [https://github.com/jcdr428/tsMuxer/suites/4007323135/artifacts/101142923](https://github.com/jcdr428/tsMuxer/suites/4007323135/artifacts/101142923)

[2021-10-09 19:56] clibanarius01 commented on #456
**jcdr428** I will do, but I need also new **tsMuxerGUI** for this version!

[2021-10-10 13:50] Selur opened #471 "/osdep/textSubtitlesRenderFT.cpp: "#include <filesystem>" no such file or directory,..."
I'm on Ubuntu 18.04 trying to build tsMuxeR
[code]
(happens while using https://github.com/Selur/hybrid-vapoursynth-addon -> build-tools.sh)

Am I missing some dependency?

Cu Selur

[2021-10-10 15:08] jcdr428 commented on #456
Ok. It is strange that this bug went under the radar for so long (since first tsMuxer versions actually) without being reported.
I also need to test whether the contSPS and insertSEI are still working as intended before merging the fix into the master.

[2021-10-10 19:35] clibanarius01 commented on #456
I noticed this bug back in 2013, but did not know who can fix it. When checking new version yesterday, I unchecked contSPS and insertSEI, because I read somewhere that it is better not to use these functions when forming a blu-ray disc.

[2021-10-11 19:30] jcdr428 commented on #456
@clibanarius01 ok thank you, so I don't need to test then ;) I'll push the fix.

[2021-10-12 08:03] jcdr428 commented on #460
@StefanR71 just put tsMuxer.exe in the same folder as the tsMuxerGui you have.

[2021-10-13 16:10] quinnmjcj commented on #379
Seems to work ok - probably take a few more movies to be sure, but so far, so good.

[2021-10-14 08:52] LsnmxNB commented on #448
Hello, there is no optional wav64 output in the 2021-10-13-02-08-11 version

[2021-10-14 15:34] justdan96 commented on #471
From this SO: https://askubuntu.com/questions/1256440/how-to-get-libstdc-with-c17-filesystem-headers-on-ubuntu-18-bionic

It looks like there is a solution for Ubuntu 18:
[code]

[2021-10-14 16:00] qyot27 commented on #471
Short of calling in https://github.com/gulrak/filesystem as a git submodule.  That's what we do for AviSynth+ on OSes that use GCC 7* (GCC 8 merely requires linking in libstdc++fs; GCC 9 mainlined it into the normal libstdc++).

*older Ubuntu LTSes, as above, or Tigerbrew on PPC Macs.  I think one of the *BSDs also still ships with GCC 7 as its default compiler as well, or that it may use a newer

[2021-10-17 05:00] Selur commented on #471
Okay, installing gcc-9 and g++9 did not really help,...
Now I got:
gcc           gcc-9         gcc-ar-7      gcc-nm        gcc-nm-9      gcc-ranlib-7
gcc-7         gcc-ar        gcc-ar-9      gcc-nm-7      gcc-ranlib    gcc-ranlib-9
and
g++    g++-7  g++-9
on my system, but calling './rebuild_linux.sh' still fails with the same error sind the default gcc is gcc-7 and not 9.
Adding `export CXX=gcc-

[2021-10-18 13:58] AugJujube opened #475 "heap-buffer-overflow in hevc.cpp:593"
Hi, I found a heap-buffer-overflow error.

**Some info**:
[code]

**To reproduce**
1. Compile tsMuxer
2. run tsmuxer
[code]

**POC**
[poc.zip](https://github.com/justdan96/tsMuxer/files/7365464/poc.zip)

**ASAN output**:
[code]

[2021-10-18 14:21] aug5t7 opened #477 "overflow in BitStreamReader::getCurVal"
Hi, I found a crash error.

**System info:**
[code]
**To reproduce**
1. Compile tsMuxer
2. Run tsmuxer
[code]
**POC**
[poc.zip](https://github.com/justdan96/tsMuxer/files/7365681/poc.zip)

**gdb output**
[code]

[2021-10-18 14:29] AugJujube opened #478 "Assertion Failed in bitStream.h:132 BitStreamReader::skipBits"
Hi, I Found an Assertion Failed error.

**Some info:**
[code]
**To reproduce**
1. Compile tsMuxer
2. Run tsmuxer
[code]
**POC**
[poc.zip](https://github.com/justdan96/tsMuxer/files/7365749/poc.zip)

**gdb output**
[code]

[2021-10-19 07:59] #475 closed

[2021-10-23 12:59] anhlinhp4 opened #482 "Subtitle font size in tsMuxer Nightly versions always get back to default font size "65". Why?"
In tsMuxer old versions, when I set a new font size for subtitle in "Subtitles" tab, tsMuxer will remember that new font size (for example, I set from "Arial, size 65" to "Arial, size: 50", tsMuxer will remember "size: 50" for re-opening it afterrward).
But a tsMuxer Nightly version does not keep that function. It always keeps back its default subtitle font "size 65" and I have to set my style of

[2021-10-31 10:37] jcdr428 commented on #482
@justdan96 I have traced the origin of the bug to commit #226 , however I can't see how this commit has created the bug / how to solve.

[2021-10-31 11:30] jcdr428 commented on #482
@xavery as you are the author of commit ce05c5d, it would be nice if you have time to look at this bug.

[2021-10-31 17:01] xavery commented on #482
There's something really fishy going on with the code using `QSettings`. I don't have access to my Windows box at the moment, so this was just tested under Linux so far, however I'd suspect something similar going on under Windows. I could reproduce this with 9994ee5f444ef5f71bf21ce7220b66d55dc33633 as well, so I guess this has been an issue for quite a long time, at least under Linux.

The INI fi

[2021-10-31 18:27] jcdr428 commented on #482
@xavery nice to see you back on tsMuxer.

Your ini file looks like the `[main]` group has not been closed before calling the next group, therefore the other groups are nested. I can't see how this can happen in the code...

On Windows I don't have the same behavior. If I create a blank tsMuxerGUI.ini file, by modifying the font size I obtain:
[code]
So the size is correctly written in the [subtitl

[2021-10-31 22:49] xavery commented on #482
Okay, turns out this has nothing to do with how the INI files are written or how our code interacts with `QSettings`. While it's possible that there's still something wrong about it (after all, if everything was okay, we wouldn't have a weird INI file on our hands), it doesn't seem immediately related to this particular issue.

The issue is caused by `retranslateUi` being called after the language

[2021-11-01 15:24] #482 closed

[2021-11-01 16:18] justdan96 commented on #469
If I am understanding your requirements correctly you may want to look at Univeral Media Server.

[2021-11-01 16:19] justdan96 commented on #462
I may change the release scripts for MacOS so the command line executable is created from Docker and the GUI is created from native MacOS.

[2021-11-01 17:45] justdan96 commented on #444
@jcdr428 what does #451 change about this issue?

[2021-11-02 16:10] xavery commented on #482
@anhlinhp4 This should be fixed in [the latest nightly](https://github.com/justdan96/tsMuxer/releases/tag/nightly-2021-11-02-02-05-05), please check and reopen if the bug still occurs.

[2021-11-04 23:06] axledentaldj opened #486 "unsupported for MacOS 11.6.1 Arm/M1"
Its source doesn't want to build. I get build errors and even the Nightly builds as of late still spit out the dylib libfreetype.6.dylib requires 25.0.0 or later and I have 24.0.0. is it that hard to get source to be compatible for MacOS M1 Arm?
<img width="795" alt="Screen Shot 2021-11-04 at 6 54 26 PM" src="https://user-images.githubusercontent.com/91437698/140431412-968638c1-8a31-44a3-b435-7372

[2021-11-05 12:57] jcdr428 commented on #444
@justdan96 #451 allows VVC tracks to be recognized by tsMuxer. However this is WIP as the output TS stream is still not compliant: up to now some elements such as the VVC stream_id were not public.

The good news is that the updated MPEG-TS standard was made public yesterday: https://www.itu.int/rec/T-REC-H.222.0-202106-I/en . This should allow to finalize compatibility of ts-Muxer with VVC.

Note

[2021-11-05 17:43] justdan96 commented on #486
As mentioned in #405 the osxcross binaries are now compiled as statically linked so you won't get dependency errors from them. I'm working on getting those packaged along with the Mac native GUI but I don't have a lot of spare time at the moment. For the time being you can pick up the binary from here: https://github.com/justdan96/tsMuxer/actions/workflows/mac_native.yml

Can you please paste here

[2021-11-05 17:44] #469 closed

[2021-11-05 22:30] axledentaldj commented on #486
I’m a newbie when it comes to compiling.

I can’t get osxcross to even start to build. It wants a directory.

WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested
/usr/bin/bash: rebuild_osxcross_with_gui_docker: No such file or directory

Your binary build from the url link you gave me still does the

[2021-11-06 10:21] justdan96 commented on #486
You don't need to build from a Docker container, you can use the following script on Mac: https://github.com/justdan96/tsMuxer/blob/master/build_macos_native.sh

[2021-11-06 11:17] axledentaldj commented on #486
Oh I tried it that way before, 1st ha to sudo chmod +x the script. So, I did it again:

Last login: Fri Nov  5 18:03:23 on ttys000
***@***.*** ~ % sudo chmox +x /Users/darrensolomon/Downloads/build_macos_native.sh
Password:
sudo: chmox: command not found
***@***.*** ~ % sudo chmod +x /Users/darrensolomon/Downloads/build_macos_native.sh
***@***.*** ~ % /Users/darrensolomon/Downloads/build_macos_nat

[2021-11-06 15:18] xavery commented on #486
The issue is right here. For some reason, the `sysctl` call fails so the script doesn't know what the number of cores is. The standard output returned is empty, so make ends up being called with single `-j`, which means that it will try to spawn as many tasks as physically possible. To quote the [GNU make manual](https://www.gnu.org/software/make/manual/html_node/Options-Summary.html#Options-Summa

[2021-11-06 15:41] xavery commented on #486
This script was written with the GitHub runners in mind and assumes that [certain packages are already installed](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md). It won't work out of the box on a "normal" Mac installation due to missing packages like cmake (like shown above) and/or the compiler, among many others, probably.

I don't have access to an

[2021-11-06 18:54] axledentaldj commented on #486
I tried this one and editing that make line to just make and get this:

***@***.*** tsmuxer_build % /Users/darrensolomon/tsmuxer_build/build_macos_native.sh
+ set -e
+ export MACOSX_DEPLOYMENT_TARGET=10.15
+ MACOSX_DEPLOYMENT_TARGET=10.15
+ brew install pkg-config
Warning: pkg-config 0.29.2_3 is already installed and up-to-date.
To reinstall 0.29.2_3, run:
  brew reinstall pkg-config
+ brew instal

[2021-11-06 19:03] axledentaldj commented on #486
Hold on, I had to brew install cmake

[2021-11-06 20:16] axledentaldj commented on #486
This might be beyond the scope of my
knowledge. I Brew installed ***@***.***

and still get the error on red about qt5 and its widget path needed for cmake:

***@***.*** tsmuxer_build % /Users/darrensolomon/tsmuxer_build/build_macos_native.sh
+ set -e
+ export MACOSX_DEPLOYMENT_TARGET=10.15
+ MACOSX_DEPLOYMENT_TARGET=10.15
+ brew install pkg-config
Warning: pkg-config 0.29.2_3 is already installed

[2021-11-06 23:27] justdan96 commented on #486
I think you are close, maybe validating your Xcode installation and then try the steps below:

Install Qt5: `brew install qt5`
Install pkg-config: `brew install pkg-config`
Add Qt’s binaries to your path: `export PATH='brew --prefix'/opt/qt5/bin:$PATH`

And then try compiling again.

[2021-11-06 23:30] axledentaldj commented on #486
Thats the problem. I always get so close and then I saw, this is Bullshit.

I AM using latest Xcode.

I have re-installed many times qt5 and pkg-config

I even signed up for qt dev and that still produces same red error.

Only thing I haven’t done was :

Working on figuring out that. Yet I am limited in my knowledge in MacOS compiling.

Thanks

Darren

[2021-11-06 23:32] axledentaldj commented on #486
Where in tsmuxerGUI cmakelists.txt:

cmake_minimum_required (VERSION 3.1)
project(tsMuxerGUI CXX)

set(CMAKE_AUTOMOC ON)
set(CMAKE_AUTORCC ON)
set(CMAKE_AUTOUIC ON)

if(CMAKE_VERSION VERSION_LESS "3.7.0")
  set(CMAKE_INCLUDE_CURRENT_DIR ON)
endif()

find_package(Qt5 COMPONENTS Widgets Multimedia LinguistTools REQUIRED)

set(lang_qrc "translations.qrc")
configure_file(${lang_qrc} ${lang_qrc} COPYON

[2021-11-06 23:45] axledentaldj commented on #486
I actually found it in finder:
But do NOT know what script text is correct:
export PATH="(/opt/homebrew/opt/qt5/bin:$PATH)”

[2021-11-08 15:11] axledentaldj commented on #486
I got further, added Paths in the native_build_mac.sh script and the tsmuxerguild builds but the tsmuxer executable doesn't:
darrensolomon@DARRENs-Mac-mini tsmuxer_build % /Users/darrensolomon/tsmuxer_build/build_macos_native.sh
+ set -e
+ export MACOSX_DEPLOYMENT_TARGET=10.15
+ MACOSX_DEPLOYMENT_TARGET=10.15
+ builddir=/Users/darrensolomon/tsmuxer_build
+ PATH='/opt/homebrew/opt/qt5/bin:/opt/loca

[2021-11-08 16:04] xavery commented on #486
This one's on us. We've been ignoring these warnings in the MacOS build for too long :
[code]

Looks like macOS 11 finally removes these functions. Good riddance.

[2021-11-08 18:21] justdan96 commented on #486
Thanks @xavery for working on #488, @axledentaldj can you please try it again?

[2021-11-08 19:28] axledentaldj commented on #486
It finally build with the tsmuxer executable. But tsmuxergui quits unexpectedly right after it launches.
So I used my previous tsmuxer gui and
put in this tsmuxer executable. and it works!!!

darrensolomon@DARRENs-Mac-mini tsmuxer_build % /Users/darrensolomon/tsmuxer_build/build_macos_native.sh
+ set -e
+ export MACOSX_DEPLOYMENT_TARGET=10.15
+ MACOSX_DEPLOYMENT_TARGET=10.15
+ builddir=/Users/darr

[2021-11-08 20:50] justdan96 commented on #486
Great that we finally got a successful build - thanks a lot to @xavery for his help! - but I'd still be interested in why the GUI crashed. Can you try running the GUI from a command-line to see if it outputs any error messages to the console?

[2021-11-08 22:42] axledentaldj commented on #486
We have way more problems once its half built.
1. will not parse or accept H.264/Hevc BD ISO or mkv. If I attempt to drag n drop a 00001.m2ts (hevc 4K BD ISO file), it kernel panics/ crashes my Mac mini M1 2020 (16Gb SDram)and then it reboots.
2. Deleted folder contents for tsmuxer_build and re-downloaded tsMuxer-master.zip and pasted those contents back into my tsmuxer_build folder an edited my b

[2021-11-08 23:11] xavery commented on #486
Sounds like a segfault gone really wrong. I'm afraid we can't really debug this further without :

- console output from `tsMuxeR`, if any,
- a sample of the file in order to test whether the issue is reproducible with x86-64 builds,
- if not, the actual ARM hardware to test and debug what actually happens.

I don't think anybody's ever tried running tsMuxeR on anything else than x86-64, but I mig

[2021-11-08 23:26] axledentaldj commented on #486
I'll try and give you the MacOS 11.6.1 Problem report which is what the Consul app shows too:

Process:               tsMuxerGUI [2649]
Path:                  /Users/USER/Downloads/*/tsMuxerGUI.app/Contents/MacOS/tsMuxerGUI
Identifier:            ???
Version:               ??? (???)
Code Type:             ARM-64 (Native)
Parent Process:        ??? [1]
Responsible:           tsMuxerGUI [2649]
User

[2021-11-08 23:38] xavery opened #489 "GUI fails to load with a custom Mac build on a M1 Mac Mini"
Follow-up from #486. After being built with `build_macos_native.sh`, the GUI fails to start with the following error(s) :

[code]

[2021-11-08 23:38] xavery commented on #486
Let's track this in #489.

[2021-11-08 23:38] #486 closed

[2021-11-08 23:40] xavery commented on #486
@axledentaldj This report is for the GUI executable, as it shows a problem while loading Qt libraries. The same report couldn't have been produced for the actual tsMuxeR executable as it does not use Qt at all - can you verify if there's a similar crash log for tsMuxeR itself?

[2021-11-08 23:41] axledentaldj commented on #489
Thanks and here's the binary if anyone wants to try it on the MacOS as Intel, but should really try it on Arm:

https://mega.nz/file/lMwCyCBR#nrIwkVX5x1NDo91XMVbWMJ18YCdsjXLPHV5GCf466FI

[2021-11-09 09:39] justdan96 commented on #489
I might be able to borrow an M1 Mac to try this on, I'll try to capture a trace with valgrind. The reboot sounds especially alarming!

[2021-11-10 20:27] vandenk opened #490 "1 ms of difference"
Hello,

it's weird I tested with the 2021-11-07-02-04-56 and the 2021-10-13.
When I shift (in -) an audio track (-834 ms) when I re-open there is always 1 ms of difference
![TS1](https://user-images.githubusercontent.com/11425010/141188084-9c0c6a13-8108-4d0c-9df7-90d2ad504a4a.jpg)
Results :
![TS2](https://user-images.githubusercontent.com/11425010/141188102-219510e2-e94e-4197-8599-4c61844c8fe5.jpg

[2021-11-10 23:41] axledentaldj commented on #489
News, while I was tinkering with the build_macos_native_paths.sh script code and my macOS terminal. I figured Id do a Brew update. And there was updates!

So I ran build_macos_native_paths.sh, and it only built the tsmuxerGUI with some errors but the GUI launched!

So, I edited my build_macos_native_paths.sh to onbly build the tsmuxer executable. And I got a build of the executable with no errors!

[2021-11-11 00:06] xavery commented on #489
Glad to hear that.

I can also confirm that the issue doesn't seem to be related to building tsMuxer for ARM64, as I set up an ARM64 virtual machine with Debian via qemu (using [this](https://wiki.debian.org/Arm64Qemu)) and stuff pretty much worked. It wasn't even as slow as I had hoped, as qemu needed "only" two minutes to remux a 1.5-hour long 480p MKV video to TS.

[2021-11-11 02:32] axledentaldj commented on #489
Well, I used my tsmuxer dev build and remuxed  a full 4K BDMV into a main movie BD ISO
and still get the not playable on my Oppo-203 "File is Not supported error". Same usual error I get
sometimes because tsmuxer doesn't always make a UHD BD compliant ISO. It does this on nightly builds for MacOS Intel and on Windows builds. So, Im used that problem. I use other tools to remux main movies out. tsm

[2021-11-11 10:21] justdan96 commented on #489
It's interesting that the builds are being so temperamental, I'll try to test some of your builds today to at least try to narrow down what is erroring.

[2021-11-11 22:13] axledentaldj commented on #489
Using the three different branches of source code, it seems the tsMuxer-enhancement-reduce-osxcross-deps is the one that builds a tsmuxerGUI that runs. It does give these errors in Terminal:

`darrensolomon@DARRENs-Mac-mini tsmuxer_build % /Users/darrensolomon/tsmuxer_build/build_macos_native.sh
+ set -e
+ export MACOSX_DEPLOYMENT_TARGET=10.13
+ MACOSX_DEPLOYMENT_TARGET=10.13
+ builddir=/Users/dar

[2021-11-11 23:30] xavery commented on #489
That branch was merged two months ago and contains no modifications to the script you're using.

It does not, however, have the fix for the `stat64` error which was fixed recently, which is why `tsmuxer` itself fails to build.

[2021-11-12 01:28] axledentaldj commented on #489
OK, then I'll stick with master source code folder zip.

But then why does the tsmuxerGUI get framework deflated stuff in the compiling process if set to TRUE in my build_macos_native.sh? The tsmuxerGUI becomes a 42.1MB application that crashes upon launching it. But the other branches build the tsmuxerGUI with errors but launches and is only 2.1MB size application.

`darrensolomon@DARRENs-Mac-min

[2021-11-13 23:16] xavery commented on #489
It's hard to say, as the problem doesn't seem to be reproducible with Intel MacOS installations. The only difference now between the GitHub runner and your machine - except the CPU architecture - is the fact that you seem to be running homebrew-provided Qt, while the runner uses official Qt releases downloaded from download.qt.io.

Sadly, I have no idea what kind of difference that might make or w

[2021-11-14 00:05] axledentaldj commented on #489
I already have QT creator and Dev installed. So, I uninstalled that and ran brew uninstall qt and qt@6 both uninstalled.
I need to know the specifics installer/dmg of qt that will shut the compiler up or point it to the other qt creators dev packed that's installed in again:

`darrensolomon@DARRENs-Mac-mini tsmuxer_build % /Users/darrensolomon/tsmuxer_build/build_macos_native.sh
+ set -e
+ export

[2021-11-14 01:29] xavery commented on #489
You have to point CMake to your Qt installation so it can properly configure the build. Additionally, building the GUI with Qt 6 is non-standard but supported thanks to some recent changes. All in all, your cmake command should be something like this :
[code]
The last argument should be adjusted according to where your Qt installation is. If you didn't change it from the default in the installer,

[2021-11-14 06:12] cd4053 opened #494 "Can't detect stream type"
tsMuxeR fails to detect the streams from [this file](https://www.mediafire.com/file/nulavhf215mjg5j/isdb4.ts).

File recorded from a set top box for [ISDB-Tb/ISDB-T International](https://en.wikipedia.org/wiki/ISDB-T_International) system.

[code]

[2021-11-14 16:26] xavery commented on #494
tsMuxer requires Transport Streams to have a PAT and PMT. As far as I'm aware, there's no "autodetection" of PIDs where video/audio streams might exist.

[2021-11-14 22:29] cd4053 commented on #494
Hi, sorry. I'm just reporting.

Regarding autodetection, are you aware of [mpegts_demux](https://github.com/mmoanis/mpegts_demux)? It detects and demux all streams it can find inside the TS, handbrake also can detect the streams, don't know how it does it, this is the handbrake log.

I hope it helps.
[handbrake.log](https://github.com/justdan96/tsMuxer/files/7534804/handbrake.log)

[2021-11-15 00:24] axledentaldj commented on #489
Ive tinkered with removing tsmuxer build files from my tsmuxer_build folder, and putting in fresh source code master, and other branches and back and forth and messing with the cake path you suggest, it doesn't change the error in terminal, but a last attempt of deleting out tsmuxer_build source code files and re-dwonloading todays master code. I don't get errors but a 42.1 MD tsmuxerGUI that stil

[2021-11-15 02:13] xavery commented on #494
Sure, I'm well aware that this can be done technically - question is whether tsMuxer should do this as well. I'm going to leave this question open for people much more involved with transport streams to answer. Maybe @jcdr428 ?

[2021-11-15 10:50] justdan96 commented on #489
Thanks for your patience with this. My partner has an M1 Mac but has been really busy with work and study. I'll try to wrestle it away from her for a couple of hours to try this out!

[2021-11-20 20:19] vandenk commented on #490
is this 1ms difference normal ?

[2021-11-21 01:27] xavery commented on #462
zlib is system-provided and there's no reason why we shouldn't use it. In fact, homebrew has been issuing a warning about this for some time now, which led me to remove the `brew install zlib` line from the native build script.

Anyhow, #495 contains the solution to this, though admittedly not the best there is : it just builds freetype and libpng (freetype's dependency) before building tsmuxer, i

[2021-11-21 12:27] justdan96 commented on #462
I've done some initial testing on an M1 Mac and hopefully soon I can update the build instructions for Mac as it was a bit more involved than in the docs. Also I received the crash when using Homebrew's Qt5 so there does seem to be a code signing issue there, again I need to update the documentation on how to get Qt5 installed from the official repo.

Regarding the PR, Homebrew installs statically

[2021-11-21 14:55] xavery commented on #462
I wish I had known that yesterday, as it pretty much makes my changes completely unnecessary. #496 contains a better approach which uses the installed static libraries.

[2021-11-29 23:12] SugaryHull opened #497 "tsMuxerGUI fails to build in Debian 11 after 1a1b771"
Qt version: 5.15.2
Kernel version: 5.10.70-1

Problem: tsMuxerGUI fails to build on Debian 11 for me. tsMuxer itself is unaffected by this and still builds.

I suspect it was the change to model-view for font settings. All commits after 1a1b771e1462f823a8fd4a5c29d82be8e78eba19 fail to build with the following error:
[code]

[2021-11-30 06:57] xavery commented on #497
It looks like `ui_tsmuxerwindow.h` wasn't regenerated in your build. Have you tried running qmake/cmake from scratch?

[2021-11-30 17:22] SugaryHull commented on #497
This was from a fresh build directory

[2021-12-01 07:55] xavery commented on #497
Sorry, can't reproduce this with my Debian 11 system : the build works just fine.
Also, our automated builds start out with a clean directory as well and use Qt 5.15.2 too, so we would've caught this failure before the commit in question was even merged.

[2021-12-01 14:42] SugaryHull commented on #497
I'll try building in a chroot environment. I suspect that it's my Debian install that's at fault.

[2021-12-01 19:04] SugaryHull commented on #497
It builds just fine when running qmake and make in the tsMuxerGUI directory on my main Debian install. Running CMake after that didn't return the same error, so I'll go ahead and close this issue. Apologies for the false alarm

[2021-12-01 19:04] #497 closed

[2021-12-02 00:11] caelar commented on #489
Hey there, wondering if you've made any head way here? Just got my M1 MBP and TS is about the only thing I can get working unfortunately :/ Ive tried to build as you have outlined and no luck. For the time being I'm just running TS in a windows VM on my server, which gets the job done. But would love to be able to get things working on the new Mac if possible! Thanks so much in advance.

[2021-12-02 01:09] axledentaldj commented on #489
No new updates. I can build the GUI with the errors from a different branch, and it has a dependency of a stupid qt5 widget dll file it nows in my homebrew folder.

Ive tinkered what Avery was doing last week. Still broken source code and or compiling script code for Mac m1.

DO you want some of my builds? Do you want me to re-compile some things and keep you in the loop on my findings?

Thanks

D

[2021-12-02 20:40] Randrianasulu commented on #149
@pali, @justdan96 @xavery - from https://github.com/justdan96/tsMuxer/blob/master/tsMuxer/iso_writer.cpp it seems _some_ support for this metadata file/partition was coded into tsmuxer. Not with bitmap file (so no support for adding/removing any file at any time), but some basics of filewriting.. I am on termux /android arm 32 bit environment right now, so I can't test real big files.

my hacks on

[2021-12-02 21:40] Randrianasulu commented on #149
according to source
https://github.com/NetBSD/src/blob/trunk/usr.sbin/makefs/udf.c

and man
https://man.netbsd.org/makefs.8

max version of udf fs for makefs is just 2.01 (

[2021-12-02 23:41] Nadahar commented on #208
Even though this issue has been resolved, I'd just like to add as a current DMS developer and a former UMS developer that that's not quite accurate.

DMS still use the "old" tsMuxeR, but that's simply because I haven't had the time to figure out what has changed so that I don't break anything when upgrading. I'm in fact reading through this issue as a part of trying to figure out what has changed,

[2021-12-03 01:41] Randrianasulu commented on #149
i mashed together makefs_udf for linux (termux)

https://github.com/Randrianasulu/makefs_termux

[2021-12-03 07:08] Randrianasulu commented on #149
[here](https://lists.cinelerra-gg.org/pipermail/cin/2021-December/004242.html) we can see udfinfo output from tsmuxer-created iso burned to dvd... so yeah it contain some fs claiming to be udf 2.50

[2021-12-03 16:53] Randrianasulu opened #498 "some udf errors from udf_test (udf verifier)"
there is interesting application from 2007 called udf verifier

https://www.lscdweb.com/registered/udf_verifier.html

Our user Terje created udf image with tsmuxer from appimage (hopefully recent enough, exact version in output) and run said udf verifier on it.

Some errors were reported. not sure how to paste/attach big logs here, I'll try link to pastebin.

https://paste.debian.net/1221837/

mai

[2021-12-03 17:38] jcdr428 commented on #498
@Randrianasulu very interesting. I'll dig into the UDF 2.50 specs to try and understand these errors.

[2021-12-04 12:31] wtuemura opened #499 "Fail to detect all streams for ISDB-Tb"
tsMuxer fails to detect all streams, it detects video but not audio (and other streams). This is a [raw TS](https://mega.nz/file/m9AQkLrY#ukIITgIlIXtS_6DPPgLK7WwgBC1vQDr9lQdHyEBy3lA) capture and this is the [full ISDB-Tb specs](https://mega.nz/file/nwJExBgK#r8w4GLH0_rwpUrywmfXD8R6vSw6hwVOn2-JHCjVy_j0) in english.

Extra info about the raw ts:
[PSI-SI.txt](https://github.com/justdan96/tsMuxer/files

[2021-12-04 14:12] jcdr428 commented on #499
@wtuemura tsMuxer does not detect multiplexed (LATM) AAC, nor ARIB captions.
Somebody might include these codecs in tsMuxer if he is interested.

[2021-12-04 14:36] jcdr428 commented on #494
@cd4053 tsMuxer does not detect multiplexed (LATM) AAC, nor ARIB captions.
Maybe somebody interested will work on including these codecs later on.

[2021-12-04 20:01] justdan96 commented on #149
@Randrianasulu that's really good work, I can see a lot of people using that!

[2021-12-05 10:29] wtuemura commented on #499
Thank you for your feedback @jcdr428.
The file structure from #494 is different, my file is a full dump from the FTA service, it includes PAT/PMT among others, anyway.

Looking forward for tsMuxer to be able to demux the streams.

Thank you.

[2021-12-05 11:08] jcdr428 commented on #499
@wtuemura the issue in #494 is actually the same -the video stream is detected despite the absence of PAT/PMT, the real issue is non-detection of LATM AAC and ARIB captions.
Anyway yes let's hope somebody will work on the issue in a near future.

[2021-12-07 07:40] jcdr428 commented on #498
udf_tester logs for ISO output from tsMuxer and ImgBurn, made from the same BDMV:
[tsMuxer.log](https://github.com/justdan96/tsMuxer/files/7666332/tsMuxer.log)
[ImgBurn.log](https://github.com/justdan96/tsMuxer/files/7666331/ImgBurn.log)

The first thing to fix would be the non-zero byte padding in the FID.
Zero-byte padding is written in line 362 of [iso_writer.cpp](https://github.com/justdan96/t

[2021-12-08 07:47] jcdr428 commented on #498
@Randrianasulu
[code]
fixed by commit 281d87f

[2021-12-09 20:35] Nadahar opened #502 "Create releases once in a while"
I'm developing [Digital Media Server](https://github.com/DigitalMediaServer/DigitalMediaServer/) and I'm trying to "prepare" it for being able to use the newer versions of tsMuxer. The lack of (meaningful) version numbers is a problem. Not all versions support H.265 for example, and I have no other way that I know than to look at the version number to determine if it has H.265 support or not.

The

[2021-12-10 11:00] justdan96 commented on #502
We were looking at creating point releases for a while but it became less of a priority as we could refer to the git hash and date to trace issues, etc. I'd still agree that a point release is overdue, perhaps I can create one at the end of this year.

[2021-12-10 23:02] Nadahar commented on #502
That would be very helpful.

[2021-12-11 00:27] Nadahar opened #503 "Understanding vbv-len and maxbitrate"
I'm trying to understand how to generate compliant streams, and controlling the virtual buffer size is key. I don't quite understand the impact of these parameters when using tsMuxer though.

Using some theoretical model to control "bit flow" is common among the MPEG video codecs (MPEG-2 video/H.262, MPEG-4 Visual, AVC/H.264 and HEVC/H.265). In MPEG-2 video and MPEG-4 Visual it's called Video Buff

[2021-12-11 09:53] jcdr428 commented on #503
@Nadahar the ts/m2ts stream is made of 188/192 bytes packets.
From what I can understand, --vbv-len will fix the maximum offset between the packet reading PCR and the presentation time PTS, and --maxbitrate will fix the minimum timegap between packet PCR timestamps / reading.

[2021-12-11 10:28] #379 closed

[2021-12-11 16:18] Nadahar commented on #503
@jcdr428 Thanks, I'll so some reading in 13818-1. I didn't know that the "VBV concept" was used in the standard for TS, I thought it was for video codecs only. However, I still wonder exactly how these parameters should be used, and I think it would be preferable if the documentation gave some information that didn't require "everyone" to acquire and read the standard.

I'll come back once I've st

[2021-12-11 18:01] jcdr428 commented on #498
@Randrianasulu UniqueID errors should be fixed by commit 7d58796.

Please test latest release for UDF2.50 from tomorrow.

[2021-12-12 07:31] Randrianasulu commented on #498
no errors on short udf anymore! thanks!

[2021-12-12 07:40] Randrianasulu opened #505 "segfault with cli demuxing m2ts if track parameter absent"
using nightly-2021-12-12-02-06-49 with hand-crafted meta file i got segfault if I forgot to specify track parameter in meta file.

this meta works:

$ cat bd.meta
MUXOPT --blu-ray --no-asyncio
V_MPEG4/ISO/AVC, /data/data/com.termux/files/home/tmp/bd_20211123-061432/bd.m2ts, fps=29,97, track=4113
A_MP3, /data/data/com.termux/files/home/tmp/bd_20211123-061432/stream.mp3
$

remove track param = segfa

[2021-12-12 08:04] jcdr428 commented on #149
@sgmihai @Randrianasulu please test latest release, to see whether the fixes are enough for a standalone player to recognize the ISOs as proper UDF 2.50.

[2021-12-12 08:21] jcdr428 commented on #505
@Randrianasulu I can't reproduce the issue: if I remove track param from .meta, I have message error "For streams inside TS/M2TS container need track parameter".
Can we please have a sample creating this fault ?

Have you tried replacing the "29,97" with "29.97" in the .meta ?

[2021-12-12 08:54] jcdr428 commented on #498
@Randrianasulu can you please post a log with errors on long UDF ? Just drag and drop on the console, no need to use paste in

[2021-12-12 11:24] Randrianasulu commented on #505
On Sunday, December 12, 2021, jcdr428 ***@***.***> wrote:

yes, i'll upload to somecloud in a moment...

yes, i completely missed fact ',' used as element separator...
no problem with rounded 29 if I use '.' as separator in fps value...

[2021-12-12 11:34] Randrianasulu commented on #505
https://cloud.mail.ru/public/ZxY9/x7M4N7FyN

bd.m2ts and bd.meta (I can upload arm binary of tsmuxer too... but I guess it will be harder to debug cross-arch)

[2021-12-13 03:57] Randrianasulu commented on #498
@jcdr428 https://cloud.mail.ru/public/4tj4/uF1VPW6Qd

still few errors:

	AVDP at 256	(MVDS: 32, RVDS: 233504)
	First Tag Serial Number: 3
24438527	read block
	AVDP at N-256	(MVDS: 32, RVDS: 24438464)
	AVDP 2   Warning: Tag Descriptor Version: 2.
		 First occurrence of Descriptor Version 2 and 3 mix.
		 Found so far: value 2: 1 time, value 3: 1 time,
		 ECMA-167 3rd edition 3/7.2.2, 4/7.2.2.
	Erro

[2021-12-13 06:56] Randrianasulu commented on #498
additional info from tester (Terje) :

Just to add:

tsmuxer and disc burning with K3b Version 20.04.2 run on openSUSE Leap 15.3
All udf disc tests run on current openSUSE Tumbleweed

and mentione additionally warnings from udfinfo

    udfinfo /dev/sr0 > /run/media/terje/KINGSTON/udfinfo-23_BD50-RE
    udfinfo: Warning: Device '/dev/sr0' is busy, udfinfo may report bogus information
    udfinfo:

[2021-12-13 07:11] Nadahar commented on #503
I've read what seems to be the relevant parts multiple times, but it's hard to grasp all this without being intimately familiar with the details of a transport stream. It seems to me that there is two "modes" for transport streams, the `leak` method and the `vbv_delay` method. Below are some definitions that seems relevant.

Defined only for video elementary streams.

used. Defined only for video

[2021-12-13 21:33] toxa454 opened #506 "language tags in m2ts file"
Sorry for my english. If I understand correctly, in the latest versions of the program language tags are located in 00000.clpi file in  CLIPINF and \BACKUP\CLIPINF folders. Are there options to make them in the m2ts file, as it was in the version 1.10.6? The plex media server, for example, does not have support for the BDMV structure, but it understands single m2ts, however, the voice languages ar

[2021-12-14 01:30] Nadahar commented on #503
From `2.4.2.7` Buffer management:

ISO/IEC 14496 is what is otherwise known as MPEG-4, which contains two video codecs: MPEG-4 Visual (part 2) and AVH/H.264 (part 10). ISO/IEC 23008-2 is HEVC/H.265, ISO/IEC 23090-3 is VVC/H.266 and ISO/IEC 23094-1 is MPEG-5 EVC.

The way I understand this is that for MPEG-1 video and MPEG-2 video/H.262, the buffer size shouldn't be bigger than what represents once

[2021-12-14 06:29] Nadahar commented on #503
It also seems to me like both buffer size and maximum bitrate should be specified in different headers/descriptors/metadata. I couldn't find references in the code to where these parameters are used for this. If so, what information is used there instead?

It might be that I'm mixing the buffer and rate information for the elementary streams with the equivalent information for the transport stream

[2021-12-14 12:02] Randrianasulu commented on #108
@xavery @jcdr428 @justdan96 there is also https://github.com/kierank/libmpegts

[2021-12-14 12:14] Randrianasulu commented on #365
@jcdr428  see also 4-patch series on libav ml:
https://lists.libav.org/pipermail/libav-devel/2012-June/029064.html

[2021-12-14 13:13] jcdr428 commented on #506
@toxa454 current tsMuxer works the same way as 1.10.6: when you select m2ts (i.e. not Blu-ray or ISO), the language tags are written in the m2ts.

[2021-12-14 14:02] jcdr428 commented on #498
@Randrianasulu I can't reproduce the issue. Can you post the meta file ?

[2021-12-14 14:49] Randrianasulu commented on #365
also, probably well-known utility (pgssup 0.1) but for more complete picture...
https://github.com/magiruuvelvet/jimaku-editor/blob/master/pgs-encoder/main.c

[2021-12-14 14:51] Randrianasulu commented on #498
I'll ask Terje for sources (I think he used termuxGUI)

[2021-12-14 14:56] Randrianasulu commented on #108
also see five (unmerged from few days ago look) commits at
https://github.com/cus/ffmpeg/commits/mpegts2
(Marton Balint's personal repo)

especially
https://github.com/cus/ffmpeg/commit/5fbf34b3409094e13aaf9d0f8f6f0314da9fc1a4 (emulate CBR in m2ts mode)?

[2021-12-14 16:58] Nadahar commented on #108
I'd just like to add that while scanning VBR streams first is a possibility when muxing content not for "immediate consumption", it would be impossible to combine with how DMS and UMS is using it. There's simply no time to do a scan before starting to mux. UPnP AV/DLNA implements seeking in such a way that renderers will send the server a request for playback from a new time position where "time z

[2021-12-14 17:00] Nadahar commented on #503
When going back and looking at #108, it seems that many of my questions are at least partly answered. It's still not quite clear to me exactly what these parameters do, but it seems clear that at this point, making a compliant stream with tsMuxer isn't really possible.

[2021-12-14 17:14] toxa454 commented on #506
@jcdr428 nope, I have a large personal collection of BDMV remuxes created by tsmuxer, now checked on 3 different films - in the latest night versions of tsmuxer, if I move m2ts from BDMV\STREAM\ or move (or delete) BDMV\BACKUP\CLIPINF\00000.clpi and BDMV\CLIPINF\00000.clpi, language tags in the Media Player Classic disappear. remuxes created in version 1.10.6 do not have this problem. I attach scr

[2021-12-14 18:19] Randrianasulu commented on #498
@jcdr428 https://cloud.mail.ru/public/FPJ2/viS6rqqrj

or may be just cat'ed from terminal (sorry no easy dnd from Android 10):
$ cat ~/storage/downloads/Browser/dv28_25mbps.meta.txt
MUXOPT --no-pcr-on-video-pid --new-audio-pes --hdmv-descriptors --blu-ray --vbr  --auto-chapters=5 --vbv-len=500
V_MPEG-2, "/run/media/terje/video/BD-M2TS/SD_Blu-ray/dv28_25mbps.mpg", track=224
A_LPCM, "/run/media/terj

[2021-12-14 19:27] jcdr428 commented on #498
Ok, thanks.
Looking at [iso_writer.cpp lines 905](https://github.com/justdan96/tsMuxer/blob/master/tsMuxer/iso_writer.cpp#L905), 912 and 924, I can't see how the first AVDP (Anchor Volume Descriptor Pointer) can be different from the second and the third AVDP.
I need the `dv28_25mbps.mpg` file to be able to reproduce the issue and debug/trace.

[2021-12-14 19:48] Randrianasulu commented on #498
@jcdr428  sorry for tying your time up with this problem..

can  this procedure be enough for making your own file?

=====================================================

Blu-ray compliant MPEG-2 SD video with LPCM audio
-------------------------------------------------

1) Encode DV to MPEG-2 video and copy PCM audio as is to a VOB/MPG format:

ffmpeg -i dv28.dv -c:v mpeg2video -refs 1 -bf 2 -b:

[2021-12-14 19:49] jcdr428 commented on #503
@Nadahar yes there is still substantial work to be done on the buffer management of the elemental streams...

[2021-12-14 19:50] jcdr428 commented on #498
Thanks @Randrianasulu , I'll try this.

[2021-12-15 16:53] Randrianasulu commented on #365
igstools (python3) - decode only.. but apparently can decode IGS (menu stream/packets) from m2ts file..
https://github.com/SAPikachu/igstools

bd-j development resource (a bit more current)
http://www.blu-play.com/news

bluray demo disks (unpacked)
https://www.avsforum.com/threads/demonstration-content-blu-ray-discs-from-avs-and-more.3220988/

[2021-12-15 19:08] jcdr428 commented on #498
@Randrianasulu I believe the errors on AVDP are created by k3b. From https://github.com/KDE/k3b :
[code]
So unless there are other errors from HDD output, the issue can be closed.

[2021-12-15 23:22] Randrianasulu commented on #365
patches from David Girault applicable to this rev. of avconv/libav:

https://github.com/libav/libav/tree/d6251368772a170987387bdc508433c8fcf54cda

$ ./avconv -codecs | grep HDMV
avconv version 0.8, Copyright (c) 2000-2012 the Libav developers
  built on Dec 16 2021 01:48:47 with clang 13.0.0
 D ?    igsmenu         HDMV Interactive Graphic Stream menus
 D S    pgssub          HDMV Presentation Gra

[2021-12-16 14:37] priitv8 opened #507 "tsMuxeR on macOS - unable to change subtitle font color"
On macOS (macOS 12.1 (21C52)) - i am unable to change the color of subtitles generated from SRT file.
Whatever I set in both font color dialog and/or color dialog, has no effect, even though the color code is changed in UI.
Generated PGS subtitles are always of some turquoise color, see the linked screenshots below.
Also, closing the color picker dialog in the font dialog crashes tsMuxeR GUI compl

[2021-12-19 17:59] jcdr428 commented on #506
@toxa454 I thought you meant when muxing as m2ts or ts.
If you mux as Blu-ray or Iso, then the language descriptors are not part of the m2ts: this has been like this since version 1.12 / Sept-2013. The TS language decriptors are not authorized by the Blu-ray standards.

[2021-12-19 18:06] #498 closed

[2021-12-19 18:14] jcdr428 commented on #149
@sgmihai tsMuxer now outputs compliant UDF2.5 ISOs (cf. issue #498).
I close this issue: to convert a folder to ISO is the purpose of an app such as imgburn or Nero, rather than tsMuxer.

[2021-12-19 18:36] xterran commented on #506
I confirm that there is a problem.
Currently, track languages ​​in remixes compiled via tmuxer 4K are stored in * .clpi files:
for languages ​​to be detected, these files must be present in at least one of the two folders:
or in \ BDMV \ CLIPINF
either to \ BDMV \ BACKUP \ CLIPINF
Then languages ​​are detected without problems:
https://ibb.co/SQd5tBZ

If all *.clpi files (or CLIPINF folders with t

[2021-12-19 18:43] jcdr428 commented on #506
@xterran yes the "problem" exists also with all original Blu-ray structures, and as you point out, this is "laid down" by the standard: in a Blu-ray disk, the language is read from the clpi files, not from the m2ts files.
I don't use plex so I might have misunderstood the issue: if you need to leave only 00000.m2ts, why don't you mux directly to m2ts -which will then include the language descripto

[2021-12-19 19:40] ImportTaste commented on #149
Won't you please reconsider? Sometimes I have Bluray data in a folder that needs to be made into an ISO. While Randrianasulu did present a nice solution, it would be much more reassuring for a well-maintained program like tsMuxer to offer the functionality without having to rely on a netbsd fork that probably won't receive the long-term support that this project will.

[2021-12-19 19:48] jcdr428 commented on #149
@sgmihai tsMuxer is fully coded to read files. It would imply really substantial changes to read folders.
As @Randrianasulu suggested, under Linux you can use k3b to create iso from folder. Best solution would remain to use imgburn with wine.

[2021-12-19 20:11] ImportTaste commented on #149
I see. That's a shame.

k3b relies on creating a virtual block device/loopback device, and unfortunately, those are restricted on my remote server because of the security risks those present.

I know that's not your problem, but that's my reason for so badly wanting tsMuxer to have folder-to-ISO functionality.

[2021-12-19 20:28] #490 closed

[2021-12-19 20:39] jcdr428 commented on #505
@Randrianasulu sorry I can't help, no segfault or other issues with Windows / Visual Studio.
I've never explored debugging cross-arch...

[2021-12-19 20:51] xterran commented on #506
@jcdr428
"if you need to leave only 00000.m2ts, why don't you mux directly to m2ts"
I have different players, not just Plex. And the standard for all players has long been chosen - BDMV. Do you provide yourself with the scope of remixing several thousand ready-made BDMVs into m2ts, instead of simply taking out the finished m2ts with languages from the BDMV structure?
Please make a check mark (swit

[2021-12-19 21:16] #503 closed

[2021-12-19 21:28] jcdr428 commented on #471
Hi @Selur , have you sorted out the issue ?

[2021-12-21 08:06] aug5t7 opened #509 "heap-buffer-overflow in hevc.cpp:76 HevcUnit::updateBits"
Hi, I found a heap-buffer-overflow error.

**Some Info**
[code]

**To reproduce**

1. Compile tsMuxer
2. run tsmuxer
[code]

**Asan output**

[code]

**POC**
[poc.zip](https://github.com/justdan96/tsMuxer/files/7750590/poc.zip)

[2021-12-21 08:53] aug5t7 opened #510 "An Integer Overflow in DTSStreamReader::findFrame()"
Hi, I found a integer overflow in DTSStreamReader::findFrame()

https://github.com/justdan96/tsMuxer/blob/380cca33a2fc68b1f9e7a7c79302b13274ededcd/tsMuxer/dtsStreamReader.cpp#L204-L212

**POC**
[poc.zip](https://github.com/justdan96/tsMuxer/files/7750896/poc.zip)

With this poc, the buffer is too small but the condition on line 206 results true.

**gdb**
[code]

[2021-12-21 19:54] #510 closed

[2021-12-21 22:00] #509 closed

[2021-12-22 07:57] Selur commented on #471
Nope, still stuck where I stopped on 27th of October.

[2021-12-22 20:10] jcdr428 commented on #477
@aug5t7 can you please test with latest release, to see whether this error is still there.

[2021-12-23 08:58] aug5t7 commented on #477
still crash with a segmentation fault on Linux...
[code]
I found that `int rez = VvcUnit::deserialize();` in vvc.cpp:209 do not set the buffer of `this->m_vps_hrd->m_reader`, but `VvcHrdUnit::general_timing_hrd_parameters->BitStreamReader::getBits` invokes to `m_vps_hrd->m_reader->m_buffer` which cause a invalid memory access resulting crash.

I don’t know much about the code details.
here's part

[2021-12-25 09:09] xterran commented on #506
@jcdr428, please make a separate (not for release) non-updatable "beta" version of tsmuxer 4K with languages added to m2ts in the BDMV structure. It is very much needed. I'm willing to pay.
email: full-hd@yandex.ru

[2021-12-25 13:46] jcdr428 commented on #506
@xterran
Windows 64: https://github.com/jcdr428/tsMuxer/suites/4759779782/artifacts/132127013
Linux: https://github.com/jcdr428/tsMuxer/suites/4759778546/artifacts/132126756

[2021-12-25 18:45] xterran commented on #506
grate thanks!

[2021-12-25 19:32] #506 closed

[2021-12-27 02:02] frakman1 opened #513 "FEATURE REQUEST: Add option to encrypt channel"
Given a key, allow user to encrypt a channel including the correct MPEG headers/PIDS that describe an encrypted channel.

[2021-12-27 14:54] xavery commented on #513
Do you want us to use Nagravision, Conax, or Viaccess?

[2021-12-27 17:15] frakman1 commented on #513
Thank you for following up.
Is each one a completely different implementation or just a difference in the headers?
I was thinking of the one corresponding to CA-ID 0xE00. Formerly Scientific Atlanta, currently Synamedia.

[2021-12-29 14:39] czappiotr opened #515 "FLAC support"
Hello
Is it possible for tsMuxer to see the FLAC audio decoder. ???

There are a lot of old blu-ray movies with a FLAC audio decoder and now the program cannot see them. It rejects this decoder.

It's nice if tsMuxer can see and mux with this audio decoder.
greetings

[2021-12-29 16:51] xavery commented on #515
The only way to incorporate FLAC into tsMuxer's Blu-Ray output (if I understand your request correctly) is to decode FLAC to PCM before its inclusion in the Blu-Ray transport stream.
I don't think there's any way to stuff FLAC into a normal transport stream, let alone a Blu-Ray one - that codec is (sadly) completely unknown to the BR specification and thus even if we made TSes with FLAC audio trac

[2021-12-29 16:56] xavery commented on #513
As far as I'm aware, the specifications for encryption parameters and algorithms used by CA systems are not public. Furthermore, the TS spec does not define the content of the CA descriptor (according to Table 2-61 of ISO/IEC 13818-1:2021) contains just `private_data_byte`s, so there's not much to work with.

Unless you can supply the specification for your CA, I'm afraid this cannot move any furt

[2021-12-29 17:45] czappiotr commented on #515
Oh, I understand.
In fact, when I rip from the original, it is then PCM.
The FLAC decoder appears in BDremux in the MKV format.

The question is whether tsMuxer can decode from FLAC to PCM and that the output should be PCM Decoder?

[2021-12-29 18:23] #513 closed

[2021-12-29 22:17] jcdr428 commented on #515
Hi @czappiotr, tsMuxer is a muxer, not a transcoder. You can transcode the Flac stream to LPCM with ffmpeg, then mux into the m2ts with tsMuxer.

[2021-12-29 23:42] czappiotr commented on #515
thank you
but I can't run it.
I downloaded the file but I don't have any application. I don't know how to convert to PCM.
Can you help

[2021-12-30 17:27] xavery commented on #515
Just use the command line to execute `ffmpeg -i foobar.flac foobar.wav`. If the FLAC track that you're trying to include is in a MKV container already, then you can just run `ffmpeg -i foobar.mkv foobar.wav` and ffmpeg will select the first audio track and decode it. Assuming that the first audio track in your MKV is the FLAC one that you're interested in, this will work. Otherwise, you'll have to

[2022-01-02 00:55] xavery commented on #513
[tsduck](https://github.com/tsduck/tsduck) is apparently capable of producing scrambled streams, perhaps look into it for what you need.

[2022-01-02 13:21] GrzeWier opened #533 "Support for *.ec3 file extension [E-AC3]"
Hi
Please add .ec3 file extension to the dropdown for "AC3/E-AC3"
.ec3 is the "proper" extension for E-AC3 files as defined by Dolby in their mp4muxer
https://github.com/DolbyLaboratories/dlb_mp4base
(.eac3 or .ddp is not recognized at all)

Demuxed E-AC3 files should be given .ec3 extension as well.

Side note:
When "All supported media files" is selected .ddp files are not included

[2022-01-02 23:18] #533 closed

[2022-01-02 23:19] xavery commented on #533
Thanks, feel free to reopen if you're not satisfied with the solution. The `2022-01-03` nightly will include these changes.

[2022-01-03 18:00] #195 closed

[2022-01-03 18:28] xavery commented on #505
No repro on Linux either. Running with the same metafile with the `track` parameter removed doesn't even cause Valgrind to report any invalid reads/writes which could've hinted at the underlying problem. All references to the `track` parameter also seem to be guarded with `if`s in order to handle the case that it might not exist.

A stack trace would be useful, as it would at least point to a spec

[2022-01-03 22:07] xavery commented on #507
Can confirm this one. The selected colour was a greenish `0xff2cd814` [here](https://user-images.githubusercontent.com/127875/147985165-00696b25-0111-4689-86b3-4d78df312b19.png).

Not reproducible on my 12.1/21C52 VM with the latest nightly at the time of writing (`2022-01-03-02-08-49`).

[2022-01-03 23:46] #507 closed

[2022-01-03 23:48] xavery commented on #507
Thanks. The fix for the colour issue will be included in today's (`2022-01-04`) nightly. Please open a new issue for opening the picker dialogue if the problem persists with the latest build.